
@import '../../../../../ui.scss';

.wrapper {
  box-sizing: border-box;
  padding: 12px;
}

.date {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $medium-font;
}

.caretButton {
  width: 30px !important;
  &:hover {
    color: var(--primaryColor);
  }
}
