@import '../../../ui.scss';

@mixin formContainer-mixin() {
  width: auto;
  min-width: 0;
  height: 100%;
}

.body {
  overflow: visible;
}

.formContainer {
  position: relative;
  width: 443px;
  min-width: 443px;
  height: 540px;
  @media screen and (max-width: 700px) {
    @include formContainer-mixin();
  }
}

.dropDownList {
  max-height: 190px;
}

.formContainerMobile {
  @include formContainer-mixin();
}

.header {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  border-bottom: 0;
  height: 43px;
  padding: 10px 20px;
  background-color: #313843;
  font-size: 18px;
  color: $primary-white;
  width: 100%;
  justify-content: space-between;
  composes: fontMedium from 'sass-loader!../../../fonts.scss';
}

.footer {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  border-top: 1px solid $primary-grey;
}

.searchContainer {
  height: 60px;
}

.searchInput {
  composes: fontDefault from 'sass-loader!../../../fonts.scss';

  > input {
    width: 100%;
    box-sizing: border-box;
  }

  input::placeholder {
    color: #a7a9ac;
    font-size: 15px;
    font-family: $dashboard-font;
  }
}

.searchDropDownBar {
  padding: 0 20px;
  box-sizing: border-box;
}

.inputStyle {
  &:focus ~ label {
    //display: none;
  }
}

.inputStyleAuto {
  &:focus ~ label {
    display: none;
  }
}

.groupAuto {
  padding: 20px;
}

.errorStyle {
  height: 20px;
  left: 20px;
}

.suggestionContainer {
  display: flex;
  align-items: center;
  color: $primary-dark;
  padding: 10px;

  &_details {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    composes: fontDefault from 'sass-loader!../../../fonts.scss';
    color: #a7a9ac;
    line-height: 1.3;
  }

  &_fullName {
    font-size: 12px;
    color: $primary-dark;
  }

  &_date {
    font-size: 10px;
  }
}

.iconAuto {
  font-size: 1em !important;
  margin-right: 20px;
  padding-bottom: 3px;
  color: #2f3844;
  opacity: 1;
}

.labelAuto {
  font-size: 15px;
  top: 30px;
}

.dropDownWrapper {
  //padding: 0px;
}

.dropDownValueStyle {
  composes: fontMedium from 'sass-loader!../../../fonts.scss';
}

.grid {
  padding: 10px 20px 0;
  box-sizing: border-box;
}

.row {
  display: flex;
  align-items: center;
}

.rowTextArea {
  align-items: center;
}

.rowPatient {
  margin-bottom: 5px;
}
.col {
  display: flex;
  align-items: center;
}

.colConfirmCancel {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;
}

.colConfirmCancelMobile {
  @extend .colConfirmCancel;
  justify-content: flex-start;
}

.colLeft {
  padding-right: 20px;
}

.button {
  &_cancel {
    margin-right: 10px;
  }
}

.displayCenterFlex {
  justify-content: center;
  align-items: center;
  display: flex;
}

.colDropDown {
}

.confirmCancel {
  display: inline-block;
  align-items: center;
  composes: fontMedium from 'sass-loader!../../../fonts.scss';
  font-size: 10px;

  &_label {
    composes: fontMedium from 'sass-loader!../../../fonts.scss';
    color: #3d4956;
    font-size: 12px;
    padding-bottom: 1px;

    label {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.trashIcon {
  margin-left: auto;

  &:hover {
    cursor: pointer;
  }
}

.textAreaContainer {
  padding-top: 10px;
}

.textArea {
  > textarea {
    padding: 10px;
    height: 80px;
    color: black;
    background-color: #f4f4f4;
    border-bottom: 0;
  }

  label {
    font-family: $dashboard-font !important;
  }
}

.checkBox {
  &:before {
    border-radius: 3px !important;
    width: 10px !important;
    height: 10px !important;
    border-color: $primary-dark !important;
  }
}

.patientContainer {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid $primary-grey;
  cursor: pointer;

  &_name {
    padding-left: 10px;
    composes: fontMedium from 'sass-loader!../../../fonts.scss';
    font-size: 15px;
  }

  &_icon {
    margin-left: auto;
    font-size: 1em !important;
    color: #2f3844;
  }
}

.addNewPatient {
  width: 100%;
  background-color: #efefef;
  padding: 10px 20px;
  box-sizing: border-box;
  color: #929293;
  composes: fontMedium from 'sass-loader!../../../fonts.scss';
  display: flex;
  align-items: center;
  height: 35px;
  cursor: pointer;
  border: none;
}

.noPatient {
  display: none;
}

.close {
  margin-left: auto;
  cursor: pointer;
  padding: 0;
  background: none;
}

.hideLabel {
  display: none;
}

.valueFont {
  composes: fontMedium from 'sass-loader!../../../fonts.scss';
}

.hidden {
  display: none;
}
