@import '../../../styles/ui.scss';

@mixin formContainer-mixin() {
  height: 100%;
  min-width: 0;
  width: auto;
}

.body {
  overflow: visible;
}

.formContainer {
  height: 540px;
  min-width: 443px;
  position: relative;
  width: 443px;
  @media screen and (max-width: 700px) {
    @include formContainer-mixin();
  }
}

.dropDownList {
  max-height: 190px;
}

.formContainerMobile {
  @include formContainer-mixin();
}

.header {
  align-items: center;
  background-color: #313843;
  border-bottom: 0;
  box-sizing: border-box;
  color: $primary-white;
  composes: fontMedium from '../../../styles/fonts.scss';
  display: flex;
  font-size: 18px;
  height: 43px;
  justify-content: space-between;
  padding: 10px 20px;
  width: 100%;
}

.footer {
  border-top: 1px solid $primary-grey;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.searchContainer {
  height: 60px;
}

.searchInput {
  composes: fontDefault from '../../../styles/fonts.scss';

  > input {
    box-sizing: border-box;
    width: 100%;
  }

  input::placeholder {
    color: #a7a9ac;
    font-family: $dashboard-font;
    font-size: 15px;
  }
}

.searchDropDownBar {
  box-sizing: border-box;
  padding: 0 20px;
}

.inputStyle {
  &:focus ~ label {
    //display: none;
  }
}

.inputStyleAuto {
  &:focus ~ label {
    display: none;
  }
}

.groupAuto {
  padding: 20px;
}

.errorStyle {
  height: 20px;
  left: 20px;
}

.suggestionContainer {
  align-items: center;
  color: $primary-dark;
  display: flex;
  padding: 10px;

  &_details {
    color: #a7a9ac;
    composes: fontDefault from '../../../styles/fonts.scss';
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    padding-left: 10px;
  }

  &_fullName {
    color: $primary-dark;
    font-size: 12px;
  }

  &_date {
    font-size: 10px;
  }
}

.iconAuto {
  color: #2f3844;
  font-size: 1em !important;
  margin-right: 20px;
  opacity: 1;
  padding-bottom: 3px;
}

.labelAuto {
  font-size: 15px;
  top: 30px;
}

.dropDownWrapper {
  //padding: 0px;
}

.dropDownValueStyle {
  composes: fontMedium from '../../../styles/fonts.scss';
}

.grid {
  box-sizing: border-box;
  padding: 10px 20px 0;
}

.row {
  align-items: center;
  display: flex;
}

.rowTextArea {
  align-items: center;
}

.rowPatient {
  margin-bottom: 5px;
}
.col {
  align-items: center;
  display: flex;
}

.colConfirmCancel {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;
}

.colConfirmCancelMobile {
  @extend .colConfirmCancel;
  justify-content: flex-start;
}

.colLeft {
  padding-right: 20px;
}

.button {
  &_cancel {
    margin-right: 10px;
  }
}

.displayCenterFlex {
  align-items: center;
  display: flex;
  justify-content: center;
}

.colDropDown {
}

.confirmCancel {
  align-items: center;
  composes: fontMedium from '../../../styles/fonts.scss';
  display: inline-block;
  font-size: 10px;

  &_label {
    color: #3d4956;
    composes: fontMedium from '../../../styles/fonts.scss';
    font-size: 12px;
    padding-bottom: 1px;

    label {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.trashIcon {
  margin-left: auto;

  &:hover {
    cursor: pointer;
  }
}

.textAreaContainer {
  padding-top: 10px;
}

.textArea {
  > textarea {
    background-color: #f4f4f4;
    border-bottom: 0;
    color: black;
    height: 80px;
    padding: 10px;
  }

  label {
    font-family: $dashboard-font !important;
  }
}

.checkBox {
  &:before {
    border-color: $primary-dark !important;
    border-radius: 3px !important;
    height: 10px !important;
    width: 10px !important;
  }
}

.patientContainer {
  align-items: center;
  border-bottom: 1px solid $primary-grey;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  padding: 10px 20px;
  width: 100%;

  &_name {
    composes: fontMedium from '../../../styles/fonts.scss';
    font-size: 15px;
    padding-left: 10px;
  }

  &_icon {
    color: #2f3844;
    font-size: 1em !important;
    margin-left: auto;
  }
}

.addNewPatient {
  align-items: center;
  background-color: #efefef;
  border: none;
  box-sizing: border-box;
  color: #929293;
  composes: fontMedium from '../../../styles/fonts.scss';
  cursor: pointer;
  display: flex;
  height: 35px;
  padding: 10px 20px;
  width: 100%;
}

.noPatient {
  display: none;
}

.close {
  background: none;
  cursor: pointer;
  margin-left: auto;
  padding: 0;
}

.hideLabel {
  display: none;
}

.valueFont {
  composes: fontMedium from '../../../styles/fonts.scss';
}

.hidden {
  display: none;
}
