@import '../../../../ui';

.card {
  display: flex;
}

.text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  composes: fontMedium from 'sass-loader!../../../../fonts.scss';
  color: $primary-darkgrey;

  &_edit {
    opacity: 0.6;
    cursor: pointer;
    &:hover {
      color: darken($primary-darkgrey, 10%);
    }
  }

  &_icon {
    padding-right: 5px;
  }
}

.editModal {
  width: 600px;
  //padding-top: 15px;
  background: $primary-white;
}

.editModalBody {
  padding: 0;
  overflow: unset;
}

.header {
  display: flex;
  align-items: center;
  padding-left: 15px;
  composes: fontMedium from 'sass-loader!../../../../fonts.scss';

  &_closeIcon {
    font-size: 1rem;
    color: $primary-darkgrey;
    font-weight: 900;
    margin-left: auto;
    cursor: pointer;
    &:hover {
      color: darken($primary-darkgrey, 10%);
    }
  }
}

.content {
  background: #FFFFFF;
  nav {
    background: $primary-white;
    font-weight: $large-weight;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.grid {
  box-sizing: border-box;
  padding-bottom: 5px;
}

.row {
  align-items: center;
  //border-bottom: 1px solid $primary-grey;
  margin-bottom: 20px;

  @media screen and (max-width: 1100px) {
    margin-bottom: 0px;
  }
}

.row:last-child {
  border-bottom: 0px;
  margin-bottom: 10px;
}

.colLeft {
  padding-right: 20px;
}

.colRightDropDown {
  padding-bottom: 6px;
}

.colToggle {
  padding-bottom: 15px;
}

.colRight {
  padding-right: 5px;
  padding-bottom: 10px;
}

.formHeader {
  composes: fontMedium from 'sass-loader!../../../../fonts.scss';
  color: $primary-dark-grey;
  font-size: 15px;
  @media screen and (max-width: 800px) {
    display: none;
  }
}

.formContainer {
  height: 520px;
  max-height: 520px;
  background: #FFFFFF;
  padding: 35px 40px 25px 40px;
}

.remoteSubmit {
  display: flex;
  justify-content: flex-end;
  background: #FFFFFF;

  &_buttonDelete {
    padding-right: 10px;
  }
}

.disabledPage {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  composes: fontMedium from 'sass-loader!../../../../fonts.scss';
  color: $primary-dark-grey;
  font-size: $extra-small-size;
  opacity: 0.6;
}

.toggleContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  &_label {
    composes: fontMedium from 'sass-loader!../../../../fonts.scss';
    color: $primary-dark;
  }
}

.topPadding {
  padding-top: 0px;
}

.inputGroup {
  padding-bottom: 10px !important;
}

.inputBarStyle {
}

.toggleDivStyle {
}
