@import '../../../../ui';

.card {
  display: flex;
}

.text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  composes: fontMedium from '../../../../fonts.scss';
  color: $primary-darkgrey;

  &_edit {
    opacity: 0.6;
    cursor: pointer;
    &:hover {
      color: darken($primary-darkgrey, 10%);
    }
  }

  &_icon {
    padding-right: 5px;
  }
}

.editModal {
}

.editModalBody {
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  width: 600px;
  background: $primary-white;

  nav {
    background: $primary-white;
    font-weight: $large-weight;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media screen and (max-width: 576px) {
    width: auto;
    overflow-y: auto;

    form {
      padding: 0;
      max-height: none;
      min-height: initial;
      height: auto;
    }
  }
}

.header {
  display: flex;
  align-items: center;
  padding-left: 15px;
  composes: fontMedium from '../../../../fonts.scss';

  &_closeIcon {
    font-size: 1rem;
    color: $primary-darkgrey;
    font-weight: 900;
    margin-left: auto;
    cursor: pointer;
    &:hover {
      color: darken($primary-darkgrey, 10%);
    }
  }
}

.content {
  background: #ffffff;
  nav {
    background: $primary-white;
    font-weight: $large-weight;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.grid {
  box-sizing: border-box;
  padding-bottom: 5px;
}

.row {
  align-items: center;
  //border-bottom: 1px solid $primary-grey;
  margin-bottom: 20px;

  @media screen and (max-width: 1100px) {
    margin-bottom: 0;
  }
}

.row:last-child {
  border-bottom: 0;
  margin-bottom: 10px;
}

.colLeft {
  padding-right: 20px;
}

.colRightDropDown {
  padding-bottom: 6px;
}

.colToggle {
  padding-bottom: 15px;
}

.colRight {
  padding-right: 5px;
  padding-bottom: 10px;
}

.formHeader {
  composes: fontMedium from '../../../../fonts.scss';
  color: $primary-dark;
  font-size: 15px;
  @media screen and (max-width: 800px) {
    display: none;
  }
}

.settingsHeader {
  @extend .formHeader;
  padding-bottom: 15px;
}

.formContainer {
  min-height: 460px;
  background: #ffffff;
  padding: 35px 40px 25px;
  overflow: auto;

  @media screen and (max-width: 576px) {
    min-height: unset;
    height: auto;
  }
}

.remoteSubmit {
  display: flex;
  justify-content: flex-end;
  background: #ffffff;

  &_buttonDelete {
    padding-right: 10px;
  }
}

.disabledPage {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  composes: fontMedium from '../../../../fonts.scss';
  color: $primary-dark-grey;
  font-size: $extra-small-size;
  opacity: 0.6;
  min-height: 460px;

  @media screen and (max-width: 576px) {
    padding-bottom: 15px;
    min-height: unset;
  }
}

.toggleContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  &_label {
    composes: fontMedium from '../../../../fonts.scss';
    color: $primary-dark-grey;
  }
}

.topPadding {
  padding-top: 0;
}

.inputGroup {
  padding-bottom: 10px !important;
}

.inputBarStyle {
}

.toggleDivStyle {
}

.omitFormWrapper {
  padding: 0 0 0 10px;
  margin-bottom: 15px;
  border-left: 1px solid $card-border-color;
}

.omitToggleWrapper {
  padding: 7px 0 0;
  font-size: 11px;
  color: $clr-dark-grey;
}
