@import './ui';

.letterSpacing {
  letter-spacing: 0.5px;
}

.font-header-title {
  font-family: $medium-font;
  font-size: $title-size;
  color: $primary-dark;
  @extend .letterSpacing;
}
.font-header-title-white {
  font-size: $title-size;
  color: $primary-white;
  @extend .letterSpacing;
}

.font-large {
  font-size: $large-size;
  font-weight: $large-weight;
  @extend .letterSpacing;
}
.font-small {
  font-size: $small-size;
  font-weight: $small-weight;
  @extend .letterSpacing;
}

.font-jumbo {
  font-family: $medium-font;
  font-size: $jumbo-size;
  font-weight: $jumbo-weight;
  letter-spacing: 2px;
  @extend .letterSpacing;
}

.font-jumbo-thin {
  font-size: $jumbo-size;
  font-weight: $jumbo-weight;
  letter-spacing: 2px;
  @extend .letterSpacing;
}

.font-medium {
  font-family: $medium-font;
  font-size: $medium-size;
  font-weight: $medium-weight;
  color: $primary-dark;
  @extend .letterSpacing;
}

.font-medium-noFont {
  font-size: $medium-size;
  font-weight: $medium-weight;
  @extend .letterSpacing;
}

.font-jumbo-dark {
  @extend .font-jumbo;
  color: $primary-dark;
  @extend .letterSpacing;
}

.font-jumbo-white {
  @extend .font-jumbo;
  color: $primary-white;
  @extend .letterSpacing;
}

.font-large-dark {
  @extend .font-large;
  color: $primary-dark;
  @extend .letterSpacing;
}

.font-medium-dark {
  @extend .font-medium;
  color: $primary-dark;
  @extend .letterSpacing;
}

.font-small-dark {
  @extend .font-small;
  color: $primary-dark;
  @extend .letterSpacing;
}

.font-medium-grey {
  @extend .font-medium;
  color: $inactive-color;
  @extend .letterSpacing;
}

.font-small-grey {
  @extend .font-small;
  color: $inactive-color;
  @extend .letterSpacing;
}

.fontDefault {
  font-family: Gotham-Book;
  @extend .letterSpacing;
}

.fontBold {
  font-family: Gotham-Bold;
  @extend .letterSpacing;
}

.fontExtraSmall {
  font-size: $extra-small-size;
  font-weight: $small-weight;
  @extend .letterSpacing;
}

.fontSmall {
  font-size: $small-size;
  font-weight: $small-weight;
  @extend .letterSpacing;
}

.fontMedium {
  font-family: Gotham-Medium;
  @extend .letterSpacing;
}

.fontJumbo {
  @extend .font-jumbo;
  @extend .letterSpacing;
}

.fontJumboThin {
  font-size: $jumbo-size;
  font-weight: $jumbo-weight;
  letter-spacing: 2px;
  @extend .letterSpacing;
}

.fontLarge {
  font-size: $large-size;
  font-weight: $large-weight;
  @extend .letterSpacing;
}

.fontMediumSize {
  font-size: $medium-size;
  font-weight: $large-weight;
  @extend .letterSpacing;
}

.fontMediumPlusSize {
  font-size: $medium-plus-size;
  font-weight: $medium-weight;
  @extend .fontMedium;
  @extend .letterSpacing;
}

.fontMediumLarge {
  font-size: $extra-medium-size;
  font-weight: $large-weight;
  @extend .letterSpacing;
}

.fontExtraLarge {
  font-size: $x-large-size;
  font-weight: $large-weight;
  @extend .letterSpacing;
}

.fontExtraMediumLarge {
  font-size: $x-mediumLarge-size;
  font-weight: $large-weight;
  @extend .letterSpacing;
}

.cardHeaderTitle {
  font-size: $title-size;
  color: $primary-dark;
  @extend .letterSpacing;
  @extend .fontMedium;
}

.cardHeaderCount {
  font-size: $count-size;
  font-weight: 800;
  @extend .letterSpacing;
  @extend .fontMedium;
}

.listItemHeader {
  color: $primary-dark;
  @extend .letterSpacing;
  @extend .fontMedium;
}

.header {
  font-size: $header-size;
  font-weight: $jumbo-weight;
  @extend .letterSpacing;
}

.headerImportant {
  font-size: $header-size !important;
  font-weight: $jumbo-weight !important;
  @extend .letterSpacing;
}

.subHeader {
  color: $empty-grey;
  @extend .letterSpacing;
}
.subHeaderSmall {
  color: $primary-darkgrey;
  font-size: $small-size;
  @extend .letterSpacing;
}
.subHeaderExtraSmall {
  color: $primary-darkgrey;
  font-size: $extra-small-size;
  @extend .letterSpacing;
}

.subHeaderMedium {
  color: darken($primary-grey, 15%);
  @extend .letterSpacing;
  @extend .fontMedium;
}
.subHeaderMediumSmall {
  font-size: $small-size;
  color: $primary-darkgrey;
  @extend .letterSpacing;
  @extend .fontMedium;
}

.tab {
  color: $primary-darkgrey;
  @extend .letterSpacing;
}

.textPreviews {
}
