@import './ui';

//font-headers
.font-header-title {
  font-family: $medium-font;
  font-size: $title-size;
  color: $primary-dark;
}
.font-header-title-white{
  font-size: $title-size;
  color: $primary-white;
}


.font-large {
  font-size: $large-size;
  font-weight: $large-weight;
}
.font-small {
  font-size: $small-size;
  font-weight: $small-weight;
}

//Font-sizes-weights
.font-jumbo {
  font-family: $medium-font;
  font-size: $jumbo-size;
  font-weight: $jumbo-weight;
  letter-spacing: 2px;
}

.font-jumbo-thin {
  font-size: $jumbo-size;
  font-weight: $jumbo-weight;
  letter-spacing: 2px;
}



.font-medium {
  font-family: $medium-font;
  font-size: $medium-size;
  font-weight: $medium-weight;
}

.font-medium-noFont{
  font-size: $medium-size;
  font-weight: $medium-weight;
}


//Font-sizes-weights-colors
.font-jumbo-dark {
  @extend .font-jumbo;
  color: $primary-dark;
}

.font-jumbo-white {
  @extend .font-jumbo;
  color: $primary-white;
}

.font-large-dark {
  @extend .font-large;
  color: $primary-dark;
}

.font-medium-dark {
  @extend .font-medium;
  color: $primary-dark;
}

.font-small-dark {
  @extend .font-small;
  color: $primary-dark;
}

.font-medium-grey {
  @extend .font-medium;
  color: $inactive-color;
}

.font-small-grey {
  @extend .font-small;
  color: $inactive-color;
}


//New Camel Case Class Structure

.letterSpacing {
  letter-spacing: 0.5px;
}

.fontMedium {
  @extend .font-medium;
  @extend .letterSpacing;
}

.fontJumbo {
  @extend .font-jumbo;
  @extend .letterSpacing;
}

.fontLarge {
  font-size: $large-size;
  font-weight: $large-weight;
  @extend .letterSpacing;

}

.fontExtraLarge {
  font-size: $x-large-size;
  font-weight: $large-weight;
  @extend .letterSpacing;
}

.fontMediumLarge {
  font-size: $extra-medium-size;
  font-weight: $large-weight;
  @extend .letterSpacing;

}

.fontMediumSize {
  font-size: $medium-size;
  font-weight: $large-weight;
  @extend .letterSpacing;
}

.cardHeaderTitle {
  font-family: $medium-font;
  font-size: $title-size;
  color: $primary-dark;
  @extend .letterSpacing;
}

.cardHeaderCount {
  font-family: $medium-font;
  font-size: $count-size;
  font-weight: 800;
  @extend .letterSpacing;
}


.listItemHeader {
  font-family: $medium-font;
  color: $primary-dark;
  //font-weight: $jumbo-weight;
  @extend .letterSpacing;
}

.header {
  font-size: $header-size;
  font-weight: $jumbo-weight;
  @extend .letterSpacing;
}

.subHeader {
  color: $empty-grey;
  @extend .letterSpacing;
}
.subHeaderSmall {
  color: $primary-darkgrey;
  font-size: $small-size;
  @extend .letterSpacing;
}
.subHeaderExtraSmall {
  color: $primary-darkgrey;
  font-size: $extra-small-size;
  @extend .letterSpacing;
}

.subHeaderMedium {
  font-family: $medium-font;
  color: darken($primary-grey, 15%);
  @extend .letterSpacing;
}
.subHeaderMediumSmall {
  font-family: $medium-font;
  font-size: $small-size;
  color: $primary-darkgrey;
  @extend .letterSpacing;
}

.tab {
  //font-family: $medium-font;
  color: $primary-darkgrey;
  @extend .letterSpacing;
}

.textPreviews {

}
