
$color-black: rgb(0,0,0);
$color-white: rgb(255,255,255);

$primary-color: #FF715A;
$primary-color-hover: darken($primary-color, 5%);

$secondary-color1: #CAEBF2;
$secondary-color2: #CAEBF2;
$primary-yellow: #ffc45a;
$primary-blue: #8CBCD6;
$primary-green: #2CC4A7;
$primary-dark-blue: #3a5199;

$primary-dark: #2e3845;
$inactive-color: #b4b4b5;
$primary-darkgrey: #959596;
$primary-grey: #efefef;
$primary-lightgrey: #f0f0f0;
$primary-white: #fafafa;
$background-color: #E6E6E6;
$primary-red: #FF715C;
// $primary-color-dark: black;
$disabled-color: lighten($primary-darkgrey, 25%);

// Feedback Colors
$danger-color: red;
$info-color: blue;
$warning-color: yellow;

$font-size: 14px;

$top-nav-height: 65px;
$side-nav-width: 222px;
$mini-side-nav-width: 85px;

$small-screen-width: 400px;
$medium-screen-width: 700px;
$large-screen-width: 1000px;

$card-border-size: 5px solid;
$selection-border: 3px solid;

$dashboard-font: Gotham-Book;

$medium-font: Gotham-Medium;

//header-sizes
$count-size: 36px;
$title-size: 16px;

//Font-sizes
$extra-large-size: 82px;
$jumbo-size: 55px;
$x-large-size: 48px;
$large-size: 34px;

$extra-medium-size: 24px;
$medium-size: 14px;
$small-size: 12px;
$extra-small-size: 10px;

//Font-weights
$jumbo-weight: 600;
$large-weight: 700;
$medium-weight: 500;
$small-weight: 400;
$normall-weight: 200;
