
$color-black: rgb(0,0,0);
$color-white: rgb(255,255,255);

$primary-color: #FF715A;
$primary-color-hover: darken($primary-color, 5%);

$secondary-color1: #CAEBF2;
$secondary-color2: #CAEBF2;

$primary-dark: #2e3845;
$inactive-color: #b4b4b5;
$primary-darkgrey: #959596;
$primary-grey: #efefef;
$primary-lightgrey: #f0f0f0;
$primary-white: #fafafa;
// $primary-color-dark: black;

$font-size: 14px;

$top-nav-height: 65px;
$side-nav-width: 222px;

$small-screen-width: 400px;
$medium-screen-width: 700px;
$large-screen-width: 1000px;

// Feedback Colors
$danger-color: red;
$info-color: blue;
$warning-color: yellow;

$card-border-size: 5px solid;
$selection-border: 3px solid;
