
$container-padding: 10px 15px 0px 10px;

$color-black: rgb(0,0,0);
$color-white: rgb(255,255,255);

$primary-color: #FF715A;
$primary-color-hover: darken($primary-color, 5%);

$widget-primary-color: var(--bookingWidgetPrimaryColor);

$secondary-color1: #CAEBF2;
$secondary-color2: #CAEBF2;
$primary-yellow: #ffc45a;
$primary-blue: #206477;
$primary-green: #2CC4A7;
$primary-dark-blue: #3a5199;
$primary-navy-blue: #518493;
$primary-light-blue: #8CBCD6;

$clr-border: #DEDEDE;
$clr-bg-dark-grey: #CDCDCD;
$clr-dark-grey: #808080;
$clr-dark-blue: #29313c;

$clr-table-grey: #757575;
$clr-table-light-grey: #c6c6c6;
$clr-table-border: #f2f2f2;
$clr-table-header-icons: #eff2f3;

$primary-blue-green: #206477;

$primary-dark: #2e3845;
$inactive-color: #b4b4b5;
$primary-darkgrey: #959596;
$primary-grey: #efefef;
$primary-lightgrey: #f0f0f0;
$primary-white: #fafafa;
$background-color: #E6E6E6;
$primary-red: #FF715C;
$primary-star: #FBF174;
// $primary-color-dark: black;
$box-shadow: 1px 1px 16px 0.1px rgba(0,0,0,0.3);
$widget-box-shadow: 0 1px rgba(0,0,0,0.05);
$disabled-color: lighten($primary-darkgrey, 25%);
$empty-grey: darken(lightgrey, 5%);


// Feedback Colors
$danger-color: red;
$info-color: blue;
$warning-color: yellow;

$font-size: 14px;

$top-nav-height: 65px;
$side-nav-width: 222px;
$mini-side-nav-width: 85px;

$small-screen-width: 400px;
$medium-screen-width: 700px;
$large-screen-width: 1000px;

$card-border-size: 5px solid;
$selection-border: 3px solid;
$card-border-radius: 10px;

$dashboard-font: Gotham-Book;

$medium-font: Gotham-Medium;

$padding-card-base: 30px;

//header-sizes
$count-size: 36px;
$title-size: 16px;
$header-size: 25px;

//Font-sizes
$extra-large-size: 66px;
$jumbo-size: 53px;
$x-large-size: 48px;
$large-size: 34px;

$extra-medium-size: 24px;
$medium-size: 14px;
$small-size: 12px;
$extra-small-size: 10px;

//Font-weights
$jumbo-weight: 600;
$large-weight: 700;
$medium-weight: 500;
$small-weight: 400;
$normall-weight: 200;

// Facebook Colors
$fb-bg-color: #3b5998;
$fb-fg-color: #fff;

$browser-context: 14;

@function em($pixels, $context: $browser-context) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1em;
}
