@import "../../../styles/ui";
@import "../../../styles/fonts";


.tags {
  align-items: baseline;
  background: $inactive-color;
  color: $primary-dark;
  display: flex;
  line-height: 1;
  margin: 0 5px;
  padding: 2px 5px;
  position: relative;
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
  &_icon {
    margin-right: 5px;
  }
  &_text {
    color: $color-white;
    margin-left: 5px;
    margin-right: 20px;
    @extend .font-small;
  }
  &_close {
    color: $color-white;
    cursor: pointer;
    margin-right: 0!important;
    position: absolute;
    right: 5px;
    &:hover {
      color: $primary-color;
    }
  }
}
