@import '../../../../ui';

.mainContainer {
  display: inline-block;
  width: 100%;
}

.header {
  border-bottom: 1px solid;
  border-bottom-color: $primary-lightgrey;
}

.formContainer {
  padding-top: 20px;
  &_pickerField {
    margin-right: 10px;
  }

  &_intervalField {
    width: 185px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.preferencesForm {
}
.snippetContainer {
  display: inline-block;
}

.label {
  padding-top: 15px;
  color: $primary-dark;
  font-weight: $large-weight;
  font-size: $medium-font;
  padding-bottom: 5px;
}
