@import '../../../../styles/ui.scss';

.patientSub {
  //padding-left: 35px;
  background: #fafafa;
  border-top: 1px solid $primary-lightgrey;
  box-sizing: border-box;
  height: 100%;
  min-width: 550px;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  height: 650px;
  width: 100%;
}

.dataTable {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 460px;
  padding-bottom: 15px;
  padding-left: 35px;
  width: 40%;
}

.timeLineTable {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  padding-bottom: 15px;
  padding-left: 8px;
}

.card {
  border-top: 0;
  height: 450px;
  margin-left: 35px;
  margin-right: 7.5px;
}

.eventsCard {
  border-top: 0;
  height: 100%;
  margin-left: 7.5px;
  margin-right: 35px;
  overflow: auto;
}

.header {
  align-items: center;
  display: flex;
  height: 60px;
}

.headerText {
  color: $primary-dark;
  composes: fontMedium from '../../../../styles/fonts.scss';
  font-size: 16px;
}

.timeLineHeader {
  @extend .header;
  @extend .headerText;
  margin-left: 7.5px;
  padding-bottom: 10px;
  padding-top: 20px;
}

.patientInfoHeader {
  @extend .header;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 20px;

  &_title {
    @extend .headerText;
  }
}

.eventsContainer {
  height: 100%;
  width: 100%;
}

.lineEventContainer {
  position: relative;
}

.lineEventContainer:last-child {
  div.verticalLine {
    display: none;
  }
}

.verticalLine {
  border-left: 1px dashed darken($primary-grey, 10%);
  height: 100%;
  left: 14px;
  position: absolute;
  top: 24px;
  z-index: 0;
}

.eventsList {
  padding: 20px 35px 35px;
  width: 100%;
  z-index: 2;
}

.subHeader {
  color: $primary-darkgrey;
  composes: fontMedium from '../../../../styles/fonts.scss';
  padding-top: 20px;
}

.subHeaderSmall {
  color: $primary-darkgrey;
  composes: fontExtraSmall from '../../../../styles/fonts.scss';
  font-style: italic;
  padding-top: 10px;
}

.subHeader:first-child {
  padding-top: 0;
}

.grid {
  box-sizing: border-box;
  height: 100%;
  margin-top: 10px;
  padding: 20px 35px 10px;
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-top: 25px;
}

.col {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  padding-top: 25px;
}

.row:first-child {
  padding-top: 0;
}

.row:last-child {
  border-bottom: 0;
}

.paddingCol {
  padding-bottom: 20px;
}

.disclaimer {
  height: 100%;
  overflow: hidden;
  position: relative;

  &_text {
    color: $inactive-color;
    font-size: 12px;
    left: 50%;
    line-height: 1.5em;
    margin: 0;
    margin-right: -50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.loadingBox {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 100%;
}

.signal {

  animation: pulsate 0.7s ease-out;
  animation-iteration-count: infinite;
  border: 5px solid $primary-dark;
  border-radius: 30px;
  height: 30px;
  //left: 50%;
  //margin: -15px 0 0 -15px;
  opacity: 0;
  //position: absolute;
  //top: 50%;
  width: 30px;
}

@keyframes pulsate {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1.2);
  }
}

.infoDump {
  margin-right: 10px;
}

.loaderStyle {
  height: 2px !important;
}

.lastAppointmentSection {
  padding-top: 20px;
}

.actionsButton {
  align-items: center;
  display: flex;
  margin-left: 0;
  margin-right: 0;
  margin-top: 5px;
  padding: 12px 18px;
  width: 170px;

  > i {
    margin-left: auto;
  }
}

.actionsButtonNormal {
  font-size: 12px !important;
  margin-top: 0;
  padding: 8px 12px !important;
  width: 120px;
}

.actionsButtonSmall {
  background: none;
  font-size: 12px;
  margin-top: 0;
  padding: 8px 12px;
  width: 40px;
}

.actionText {
  display: flex;
  flex: 1;
}

.actionIcon {
  display: flex;
  margin: auto;
  padding: 0px 4px;
}

.containerClass {
  border-top: 0;
}
