@import '../../../../ui.scss';

.patientSub {
  width: 100%;
  height: 100%;
  //padding-left: 35px;
  background: #fafafa;
  border-top: 1px solid $primary-lightgrey;
  min-width: 550px;
  box-sizing: border-box;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.dataTable {
  display: flex;
  flex-direction: column;
  width: 40%;
  min-width: 460px;
  padding-bottom: 15px;
  height: 100%;
}

.timeLineTable {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-bottom: 15px;
}

.card {
  margin-right: 7.5px;
  margin-left: 35px;
  height: 450px;
  border-top: 0;
}

.eventsCard {
  margin-right: 35px;
  margin-left: 7.5px;
  overflow: auto;
  height: 450px;
  border-top: 0;
}

.header {
  display: flex;
  align-items: center;
  height: 60px;
}

.headerText {
  composes: fontMedium from 'sass-loader!../../../../fonts.scss';
  color: $primary-dark;
  font-size: 16px;
}

.timeLineHeader {
  @extend .header;
  @extend .headerText;
  padding-top: 20px;
  margin-left: 7.5px;
  padding-bottom: 10px;
}

.patientInfoHeader {
  @extend .header;
  padding-top: 20px;
  padding-left: 35px;
  padding-bottom: 10px;

  &_title {
    @extend .headerText;
  }
}

.eventsContainer {
  width: 100%;
  height: 100%;
}

.lineEventContainer {
  position: relative;
}
.lineEventContainer:last-child {
  div.verticalLine {
    display: none;
  }
}

.verticalLine {
  position: absolute;
  left: 14px;
  top: 24px;
  height: 100%;
  z-index: 0;
  border-left: 1px dashed darken($primary-grey, 10%);
}

.eventsList {
  z-index: 2;
  width: 100%;
  padding: 20px 35px 35px;
}

.subHeader {
  composes: fontMedium from 'sass-loader!../../../../fonts.scss';
  color: $primary-darkgrey;
  padding-top: 20px;
}

.subHeaderSmall {
  composes: fontExtraSmall from 'sass-loader!../../../../fonts.scss';
  color: $primary-darkgrey;
  font-style: italic;
  padding-top: 10px;
}

.subHeader:first-child {
  padding-top: 0;
}

.grid {
  box-sizing: border-box;
  padding: 20px 35px 10px;
  margin-top: 10px;
  width: 100%;
  height: 100%;
}

.row {
  padding-top: 25px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.col {
  padding-top: 25px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.row:first-child {
  padding-top: 0;
}
.row:last-child {
  border-bottom: 0;
}

.paddingCol {
  padding-bottom: 20px;
}

.disclaimer {
  height: 100%;
  position: relative;
  overflow: hidden;
  &_text {
    font-size: 12px;
    line-height: 1.5em;
    color: $inactive-color;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
}

.loadingBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.signal {
  border: 5px solid $primary-dark;
  border-radius: 30px;
  height: 30px;
  //left: 50%;
  //margin: -15px 0 0 -15px;
  opacity: 0;
  //position: absolute;
  //top: 50%;
  width: 30px;

  animation: pulsate 0.7s ease-out;
  animation-iteration-count: infinite;
}

@keyframes pulsate {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

.infoDump {
  margin-right: 10px;
}

.loaderStyle {
  height: 2px !important;
}

.lastAppointmentSection {
  padding-top: 20px;
}
