@import '../../../../styles/ui-reskin.scss';

.patientSub {
  background: $super-white;
  box-sizing: border-box;
  height: 100%;
  min-width: 550px;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  height: 650px;
  width: 100%;
}

.dataTable {
  display: flex;
  flex: 1 2;
  flex-direction: column;
  margin: 16px;
  padding: 0 16px 16px 16px;
}

.timeLineTable {
  display: flex;
  flex: 2 1;
  flex-direction: column;
  margin: 16px;
}

.card {
  border-top: 0;
  height: 450px;
  margin-left: 35px;
  margin-right: 7.5px;
}

.eventsCard {
  background-color: $super-white-100;
  border: none;
  border-top: 1px solid $color-grey-150;
  height: 100%;
  overflow: auto;
}

.header {
  align-items: center;
  display: flex;
  height: 60px;
}

.headerText {
  color: $color-grey-400;
  font-size: $x-medium-size;
  font-weight: $medium-weight;
  line-height: 30px;
}

.timeLineHeader {
  @extend .header;
  @extend .headerText;
  margin-left: 7.5px;
  padding-bottom: 10px;
  padding-top: 20px;
}

.timelineTitle {
  @extend .headerText;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.patientInfoHeader {
  @extend .header;
  align-items: center;
  justify-content: space-between;

  &_title {
    @extend .headerText;
  }
}

.eventsContainer {
  height: 100%;
  width: 100%;
}

.lineEventContainer {
  position: relative;
}

.eventSectionContainer {
  position: relative;
}
.eventVerticalLineTop {
  background-image: linear-gradient($color-purple-300 33%, rgba(255, 255, 255, 0) 0%);
  background-size: 3px 10px;
  height: 85px;
  left: 19px;
  position: absolute;
  top: -8px;
  width: 2px;
  &_invisible {
    width: 0;
  }
}
.eventVerticalLineBottom {
  background-image: linear-gradient($color-purple-300 33%, rgba(255, 255, 255, 0) 0%);
  background-size: 3px 11px;
  bottom: 8px;
  height: 66px;
  left: 19px;
  position: absolute;
  width: 2px;
  &_invisible {
    width: 0;
  }
}

.eventsList {
  padding: 20px 35px 35px;
  width: 100%;
  z-index: 2;
}

.subHeaderSmall {
  color: $color-grey-400;
  font-style: italic;
  padding-top: 10px;
}

.subHeader:first-child {
  padding-top: 0;
}

.grid {
  box-sizing: border-box;
  height: 100%;
  margin-top: 10px;
  padding: 20px 35px 10px;
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-top: 25px;
}

.col {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  padding-top: 25px;
}

.row:first-child {
  padding-top: 0;
}

.row:last-child {
  border-bottom: 0;
}

.paddingCol {
  padding-bottom: 20px;
}

.disclaimer {
  height: 100%;
  overflow: hidden;
  position: relative;

  &_text {
    color: $color-grey-400;
    font-size: 12px;
    left: 50%;
    line-height: 1.5em;
    margin: 0;
    margin-right: -50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.loadingBox {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 100%;
}

@keyframes pulsate {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1.2);
  }
}

.infoDump {
  margin-right: 10px;
}

.loaderStyle {
  height: 2px !important;
}

.lastAppointmentSection {
  padding-top: 20px;
}

.actionsButton {
  align-items: center;
  display: flex;
  margin-left: 0;
  margin-right: 0;
  margin-top: 5px;
  padding: 12px 18px;
  width: 170px;

  > i {
    margin-left: auto;
  }
}

.actionsButtonNormal {
  font-size: 12px !important;
  margin-top: 0;
  padding: 8px 12px !important;
  width: 120px;
}

.actionsButtonSmall {
  background: none;
  font-size: 12px;
  margin-top: 0;
  padding: 8px 12px;
  width: 40px;
}

.actionText {
  display: flex;
  flex: 1;
}

.actionIcon {
  display: flex;
  margin: auto;
  padding: 0px 4px;
}
