@import '../styles';

.linkButton {
  background: transparent;
  color: $widget-blue;
  margin-left: 3px;
  padding: 0;
  vertical-align: baseline;
}

.actionButton {
  @extend .actionButton;
  margin-bottom: var(--widget-spacer);
}
