@import '../../../../styles/ui-reskin.scss';

.patientActions {
  background-color: transparent !important;
  color: $color-lavender-050 !important;
  margin-right: 3px;
  &:hover {
    background-color: transparent !important;
    color: $color-lavender-150 !important;
  }
  > div[class*='dd-menu-items'] {
    margin-right: 5px;
    width: fit-content !important;
  }
}

.actionsButton {
  align-items: center;
  display: flex;
  margin-left: 0;
  margin-top: 5px;
  padding: 12px 18px;
  width: 170px;
  > i {
    margin-left: auto;
  }
}

.actionsButtonNormal {
  font-size: 12px;
  margin-top: 0;
  padding: 8px 12px;
  width: 120px;
}

.actionsButtonSmall {
  background: none;
  font-size: 12px;
  margin-top: 0;
  padding: 8px 12px;
  width: 40px;
}

.actionsButtonSmallBlack {
  background: none;
  color: #000000;
  font-size: 12px;
  margin-top: 0;
  padding: 8px 12px;
  width: 40px;
}

.actionText {
  display: flex;
  flex: 1;
  justify-content: center;
}

.actionIcon {
  display: flex;
  margin: auto;
  padding: 0px 4px;
}
