@import '../../../../ui.scss';

.waitingRoomListItem {
  align-items: center;
  display: flex;
  height: 6.5rem;
  padding: 20px 30px;
  &:hover {
    background-color: white;
    cursor: default;
    > .leftSection > .subLeftSection > .completionCircleWrapper {
      display: block;
    }
  }
}

/* Left Section */

.leftSection {
}

.checkinTime {
  color: $primary-green;
  font-size: 10px;
  text-transform: uppercase;
}

.subLeftSection {
  align-items: center;
  display: flex;
}

.completionCircleWrapper {
  display: none;
}

.patientNameWrapper {
  align-items: center;
  display: flex;
  padding: 15px 0;
}

.patientName {
  font-size: 13px;
  margin-right: 5px;
}

.familyMembersCount {
  color: $primary-dark-grey;
  padding: 0 5px;
}

.tooltip {
  background: blue;
}

.tooltipBody {
  // background: blue;
}

.practitionerName {
  color: $primary-dark-grey;
  font-size: 12px;
  margin-bottom: 5px;
}

.appointmentTimes {
  color: lighten($primary-dark-grey, 10%);
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.actionFont {
  color: $primary-blue;
  font-size: 12px;
  letter-spacing: normal;
}

.checkbox {
  margin-left: 0;
  > div {
    border: 1px solid $primary-blue;
    height: 14px;
    width: 14px;
  }
}

.completedCheckbox {
  @extend .checkbox;
  margin-right: 10px;
  > div {
    border-radius: 20px;
    height: 20px;
    width: 20px;
  }
}

/* Right Section */

.rightSection {
  margin-left: auto;
}

.cleanedCheckbox {
  @extend .checkbox;
  margin-bottom: 10px;
  > span {
    @extend .actionFont;
  }
}

.notifyButton {
  @extend .actionFont;
  align-items: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: flex;
  height: 28px;
  justify-content: center;
  padding: 0;
  width: 90px;
}

