@import "../../../ui.scss";
@import "../../../fonts.scss";

.padding {
  margin-bottom: 10px;
  padding: 0 10px ;
  @media screen and (max-width: 900px) {
    margin-bottom: 15px;
  }
}

.listings {
  &__wrapper {
    padding-top: 15px;
  }
}
