@import "../../../ui.scss";
@import "../../../fonts.scss";

* {
  box-sizing: border-box;
}
.listings {
  &__wrapper {
    padding-top: 15px;
  }
}
.padding {
  padding: 0 5px;
  margin-bottom: 30px;
  @media screen and (max-width: 900px) {
    margin-bottom: 15px;
  }
}

.listings {
}
