@import '../../../../../styles/ui';

.section {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 60px;
  @media screen and (max-width: $medium-screen-width) {
    padding-bottom: 30px;
  }
}
