@import '../../../ui.scss';

.badge {
  display: inline-block;
  color: $warning;
  margin: 0 0 0 4px;
  vertical-align: middle;
  transform: translateY(-1px);
  & svg {
    width: 14px;
    height: 14px;
  }
}
