@import '../../../ui.scss';

.badge {
  color: $warning;
  display: inline-block;
  margin: 0 0 0 4px;
  transform: translateY(-1px);
  vertical-align: middle;
  & svg {
    height: 14px;
    width: 14px;
  }
}
