@import '../../../ui.scss';

.checkBoxImage {
  margin: 0 5px;
  padding: 2px;

  input[type=checkbox] {
    display: none;

  }
  &__title {
    margin-left: 5px;
    text-transform: uppercase;
    color: #b4b4b4;
    font-size: 9px;
    line-height: 30px;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    margin: 0 0 20px;
    padding: 0;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__list {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
    align-items: center;
    flex: 1 0 25%;
  }

  &__photo {
    max-width: 55px;
    margin-bottom: 5px;
    display: inline-block;
  }

  &__avatar {
    box-sizing: border-box;
    margin-bottom: 5px;
  }

  &__spec {
    color: #b4b4b4;
  }
}

.primaryColor {
  background: linear-gradient(rgba(255, 113, 90, 1), white 70%);
  border-radius: 50%;
  border-color: $primary-color;
  width: 40px;
}
.primaryYellow {
  background: linear-gradient(rgba(255, 196, 90, 1), white 70% );
  border-radius: 50%;
  border-color: $primary-yellow;
  width: 40px;
}
.primaryGreen {
  background: linear-gradient(rgba(44, 196, 167, 1), white 70%);
  border-radius: 50%;
  border-color: $primary-green;
  width: 40px;
}
.primaryBlueGreen {
  background: linear-gradient(rgba(32,100,119,1), white 70%);
  border-radius: 50%;
  border-color: $primary-blue;
  width: 40px;
}
