@import '../../../ui.scss';

.checkBoxImage {
  margin: 0 5px;
  padding: 10px;

  input[type=checkbox] {
    display: none;

  }
  &__title {
    margin-left: 5px;
    text-transform: uppercase;
    color: #b4b4b4;
    font-size: 9px;
    line-height: 30px;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    margin: 0 0 20px;
    padding: 0;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__list {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
    align-items: center;
    flex: 1 0 25%;
  }

  &__photo {
    max-width: 55px;
    margin-bottom: 5px;
    display: inline-block;
    position:relative;
  }
  &__avatar {
    position: absolute;
    left: 4px;
    top: 3.4px;
  }

  &__spec {
    color: #b4b4b4;
  }

}

.primaryColor {
  background: linear-gradient($primary-color 40%, white 60%);
  border-radius: 50%;
  border-color: $primary-color;
  //transition-timing-function: ease-in;
  width: 55px;
  height: 55px;
}
.primaryYellow {
  background: linear-gradient($primary-yellow 40%, white 60% );
  border-radius: 50%;
  border-color: $primary-yellow;
  width: 55px;
  height: 55px;
}
.primaryGreen {
  background: linear-gradient($primary-green 40%, white 60%);
  border-radius: 50%;
  border-color: $primary-green;
  width: 55px;
  height: 55px;
}
.primaryBlueGreen {
  background: linear-gradient($primary-blue 40%, white 60%);
  border-radius: 50%;
  border-color: $primary-blue;
  width: 55px;
  height: 55px;
}
