@import '../../../styles/ui-reskin.scss';

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.listItem {
  align-items: center;
  background-color: $super-white;
  border-bottom: 1px solid $color-lavender-100;
  display: flex;
  height: calc(2.5rem * 1.6);

  &:hover {
    background-color: $color-lavender-050;
    cursor: pointer;
  }
}

.selected {
  background-color: $color-lavender-100;
  border-left: 3px solid $color-lavender-500;
  &:hover {
    background-color: $color-lavender-100;
    cursor: auto;
  }
}

.disabledListItem {
  align-items: center;
  background-color: $color-grey-100 !important;
  border: 1px solid $color-grey-200;
  color: $color-grey-200;
  display: flex;
  height: calc(2.5rem * 1.6);
}
