
@import '../../../ui';

.list {
  list-style: none;
}

.listItem {
  display: flex;
  align-items: center;
  border-bottom: 2px solid;
  border-bottom-color: $primary-grey;
  padding: 5px;
  height: 3.8rem;
  &:hover {
    background-color: $primary-lightgrey;
  }

  &:last-child {
    border-bottom: none;
  }
}
