@import '../../../ui';

.tbStyle {
  background: $primary-white;
  border: 0;
  height: 100%;
}

.mainTableStyle {
  background-color: $primary-white;
}

.footerStyle {
  background-color: $primary-white;
}

.headerStyle {
  background: $primary-white;
  border-bottom: 1px solid #efefef;
  font-size: 12px;
  padding-bottom: 10px;
  padding-top: 20px;
}

.bodyStyle {
  background: $primary-white;
  height: 100%;
}

.columnHeaderStyle {
  align-items: center;
  background: $primary-white;
  border-right: 0;
  box-shadow: none;
  color: #a7a9ac;
  display: flex;
  justify-content: flex-start;
  outline: none;
}

.tdStyle {
}

.trStyle {
  cursor: pointer;
  &:hover {
    background-color: $primary-grey;
  }
}

$width: 6px;
$height: 6px;

.caretButton {
  border-bottom: $height/2 solid transparent;
  border-left: $width/2 solid transparent;
  border-right: $width/2 solid transparent;
  border-top: $height/2 solid transparent;
  content: '';
  cursor: pointer;
  height: 0;
  width: 0;
}

.bottomCaretButton {
  @extend .caretButton;
  border-top: 6px solid black;
}

.topCaretButton {
  @extend .caretButton;
  border-bottom: 6px solid black;
}

.thead-after {
}

.thead-order {
  color: black !important;
}

.theadDesc {
  @extend .thead-order;
  &:after {
    @extend .topCaretButton;
    margin-left: 3px;
    margin-top: -4px;
  }
}

.theadAsc {
  @extend .thead-order;
  &:after {
    @extend .bottomCaretButton;
    margin-left: 3px;
    margin-top: 2px;
  }
}

:global(.ReactTable .rt-thead.-header) {
  box-shadow: none !important;
}
