.mainContainer {
  box-sizing: border-box;
  padding: 25px 25px 25px 25px;
}
.patientDisplay {
  height: 385px;
  max-height: 385px;
  margin-bottom: 10px;
}

.infoDisplay {
  padding-top: 20px;
  padding-right: 10px;
}

.timeline {

}
