@import '../../../ui.scss';

@mixin responsiveMainContainer {
  min-width: auto !important;
  max-width: none !important;
  padding: 10px !important;
}

@mixin containerSections {
  width: 100%;
  display: block;
  background: $primary-white;
  padding: 0;
}

.responsiveContainer {
  @media screen and (max-width: 576px) {
    @include responsiveMainContainer;

    .body,
    .topDisplay,
    .infoDisplay,
    .timeline {
      @include containerSections;
    }

    .topDisplay {
      max-height: none;
      height: 150px;
    }

    .tabsSection {
      display: block;
    }
  }
}

.tabsSection {
  display: none;
}

.tab {
  height: 30px;
  font-family: $medium-font;
  background: $primary-white;
  border: 1px solid $electron-chat-tabs-border;
  text-transform: uppercase;
  font-size: 11px;
}

.activeTab {
  @extend .tab;
  border: none !important;
  border-top: 1px solid $electron-chat-tabs-border !important;
}

.inactiveTab {
  @extend .tab;
  background-color: $chat-tabs-color;
  color: $primary-dark;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 35px 15px 15px;
  min-width: 1200px;
  //overflow: auto;
  max-width: 1566px;
  height: 100%;
  margin: 0 auto;

  @media screen and (max-width: 1366px) {
    padding-top: 15px;
  }

  @extend .responsiveContainer;
}

.body {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding-bottom: 35px;
  @media screen and (max-width: 1366px) {
    padding-bottom: 15px;
  }
}

.row {
  flex: 1;
}

.topDisplay {
  height: 320px;
  max-height: 320px;
  margin-bottom: 15px;
}

.infoDisplay {
  padding-right: 15px;
  width: 455px;
  display: flex;
  flex-direction: column;
}

.timeline {
  flex: 1;
  display: flex;
  flex-direction: column;
  &_header {
    padding-top: 25px;
    padding-bottom: 10px;
    composes: fontMedium from '../../../fonts.scss';
    color: $primary-darkgrey;
  }
}

.loadingContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cardTitle {
  font-size: 15px;
  composes: fontMedium from '../../../fonts.scss';
}

.textHeader {
  margin-left: auto;
  display: flex;
  padding-bottom: 2px;
  align-items: center;
  composes: fontMedium from '../../../fonts.scss';
  color: $primary-darkgrey;
  background: none;

  &:hover {
    cursor: pointer;
    color: $primary-blue;
  }

  &_text {
  }

  &_icon {
    padding-right: 5px;
  }
}

.textHeaderButton {
  padding: 0;
}

.topCardHeader {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
}

.editButton {
  position: absolute;
  top: 10%;
  right: 17px;
  width: 25px;
  height: 25px;

  .cardTitle,
  .textHeader_text {
    display: none;
  }

  & > button {
    padding: 0;
    text-align: center;
    line-height: 25px;

    & > div {
      z-index: 2;
    }
  }

  i {
    color: $primary-white;
    font-weight: 900;
  }

  &:before {
    display: block;
    content: '';
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: $empty-grey;
    position: absolute;
    top: 0;
    z-index: 1;
  }
}

.editButtonMobile {
  top: 125px;
  z-index: 10;
}

.notesForm {
  textarea {
    padding: 10px;
    background-color: $primary-lightgrey !important;
    color: black;
    height: 100px;
    font-size: 14px;
    line-height: 1.5em;
  }

  span[class*='error'] {
    top: unset;
    bottom: 5px;
  }

  > div[class*='toggleWrapper'] {
    margin-bottom: 10px;
    > label {
      color: $primary-darkgrey;
      margin-right: 10px;
    }
  }
}
