.mainContainer {
  box-sizing: border-box;
  padding: 10px 10px 10px 10px;
}
.patientDisplay {
  height: 420px;
  max-height: 420px;
  margin-bottom: 10px;
}

.infoDisplay {
  padding-right: 10px;
}

.timeline {
}
