@import '../../../ui';

.fa-envelope {
  color: $primary-blue;
  &:hover {
    color: darken($primary-blue, 5%);
  }
}

.fa-phone {
  color: $primary-yellow;
  &:hover {
    color: darken($primary-yellow, 5%);
  }
}

.fa-comment {
  color: $primary-color;
  &:hover {
    color: darken($primary-color, 5%);
  }
}

.listItemHeader {
  composes: listItemHeader from '../../../fonts.scss';
}

.subHeader {
  composes: subHeader from '../../../fonts.scss';
}

.reminders {
  border-top: $card-border-size $primary-darkgrey;
  height: 604px;
  margin-bottom: 20px;
  &__header {
    padding: 0 45px 0 15px;
  }
  &__body {
    overflow: auto;
    max-height: 604px;
  }
}

.patients {
  border-top: 1px solid $primary-grey;
  padding: 0;
  margin: 0;
  &__item {
    padding: 10px 25px;
    display: flex;
    align-items: center;
    position: relative;
    height: 110px;
    list-style: none;
    margin: 0;
    flex-direction: row;
    border-bottom: 1px solid $primary-lightgrey;
    @media screen and (max-width: 400px) {
      padding: 0 5px;
    }
    @media screen and (max-width: 450px) {
      padding: 10px;
      height: 100%;
      flex-direction: column;
    }

    &_wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      color: $primary-darkgrey;
      margin-left: 15px;
      @media screen and (max-width: 450px) {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }

    &_left {
      line-height: 1.5em;
      max-width: 240px;
      overflow: hidden;
      @media screen and (max-width: 450px) {
        margin-top: 10px;
      }

      div {
        text-align: left;
        white-space: nowrap;
        text-overflow: ellipsis;
        @media screen and (max-width: 450px) {
          text-align: center;
        }
      }
    }

    &_email {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      // font-size: $small-size;
      @extend .subHeader;
    }

    &_phone {
      //font-size: $small-size;
      @extend .subHeader;
    }

    &_endDate {
      @extend .listItemHeader;
    }

    &_right {
      margin-left: auto;
      text-align: right;
      align-items: center;
      @media screen and (max-width: 450px) {
        text-align: center;
        margin-left: 0;
        margin-top: 10px;
      }
    }

    &_clickIcons {
      display: flex;
      margin-left: auto;
      align-items: center;
      @media screen and (max-width: 450px) {
        text-align: center;
        margin-left: 0;
        margin-top: 10px;
        align-items: center;
      }
    }

    &_pencilBorder {
      position: relative;
      border: 1px solid;
      border-radius: 50%;
      background: $primary-green;
      border-color: $primary-green;
      width: 16px;
      height: 16px;
      &:hover {
        background: darken($primary-green, 10%);
      }
      &_pencil {
        position: absolute;
        top: 3px;
        left: 3px;
        color: $primary-lightgrey;
      }
    }

    &_days {
      //color: $primary-dark;
      padding: 2px 0;
      white-space: pre-line;
      max-width: 140px;
      margin-top: 5px;
      margin-bottom: 5px;
      @extend .listItemHeader;

      @media screen and (max-width: 450px) {
        color: $primary-darkgrey;
      }
      span {
        margin: 0 2px;
      }
    }

    &_img {
      width: 44px;
      border-radius: 50%;
      margin-right: 10px;
    }

    &_name {
      text-transform: capitalize;
      color: $primary-darkgrey;
    }

    &_icon {
      cursor: pointer;
      @extend .subHeader;
      display: flex;
      position: absolute;
      right: 10px;
      @media screen and (max-width: 450px) {
        margin-top: 5px;
        position: relative;
        right: 0;
      }
    }
  }
}

.data {
  text-transform: capitalize;
  display: inline;
  &:after {
    content: ', ';
  }

  &:last-child {
    &:after {
      content: '';
    }
  }
}

// max-width was not working for some reason
.name {
  display: inline;
  max-width: 50px;
  text-overflow: ellipsis;
}

.availability {
  font-size: 10px;
  text-transform: uppercase;
  color: $primary-darkgrey;
}
