.toggleWrapper {
  > div {
    margin-bottom: 10px;
    margin-left: 0;
    margin-top: 10px;
  }
}

.question {
  line-height: 20px;
}

.dropdown {
  font-size: 12px;
  padding: 10px 0;
  width: 60%;
}
