@import "../../../../ui.scss";

.schedule_filter {
    border-top: $card-border-size $inactive-color;
    min-height: 150px;
    //max-height: calc(100vh - 750px);
    overflow: auto;
}

.filter_header {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 40px;
    padding: 0 5px;
    border-bottom: 1px solid #e6e6e6;
    line-height: 40px;
    justify-content: flex-start;

    @media screen and (max-width: 1350px){
      justify-content: space-between;
    }


    &__title {
        justify-content: center;
        padding-right: 15px;
        padding-left: 15px;
        font-weight: $large-weight;
        font-size: $title-size;
    }

    &__icon {
      padding-left: 15px;
      @media screen and (max-width: 1250px) {
        display: none;
      }

    }

    &__link {
        display: flex;
        //position: absolute;
        cursor: pointer;
        color: #b4b4b4;
        font-size: 12px;
        padding-right: 5px;
        margin-left: auto;
        &__selectText{
          padding-right: 10px;
          &:hover {
            color: darken(#b4b4b4, 10%)
          }
        }

        &__clearText {
          &:hover {
            color: darken(#b4b4b4, 10%)
          }
        }
      @media screen and (max-width: 1250px) {
      }

    }
}


.filter_practitioner {
   // margin: 0 5px;
    padding: 5px 0px 10px 10px;

    &__name {
      font-size: $small-size;
      font-weight: $large-weight;
    }
    &__title {
        margin-left: 5px;
        text-transform: uppercase;
        color: #b4b4b4;
        font-size: 9px;
        line-height: 30px;
    }

    &__wrapper {
        display: flex;
        flex-direction: row;
        margin: 0 0 20px;
        padding: 0;
        list-style: none;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__list {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 12px;
        align-items: center;
        flex: 1 0 20%;
    }
}

.filter_options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__title {
        margin-left: 5px;
        text-transform: uppercase;
        color: #b4b4b4;
        font-size: 9px;
    }

    &__checkLabel {
      display: flex;
      align-items: center;
      text-transform: uppercase;
      font-size: $extra-small-size;
      font-weight: $medium-weight;
      text-overflow: ellipsis;
      &__all {
        font-weight: $large-weight;
      }
    }

    &__item {
        display: flex;
        flex-direction: column;
        width: 45%;
        margin-bottom: 30px;
        select {
            border: none;
            border-bottom: 1px #ff715a solid;
            background: none;
            font-size: initial;
            &:focus {
                outline: none;
            }
        }
    }
}
