@import "../../../ui.scss";
@import "../styles.scss";

* {
  box-sizing: border-box;
}
.reviews {
}
.padding {
  padding: 0 5px;
  margin-bottom: 30px;
  @media screen and (max-width: 900px) {
    margin-bottom: 15px;
  }
}
