@import '../../ui.scss';

.backDrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $primary-dark;
  z-index: 199;
}

.loginForm,
.location {
  width: 400px;
  padding: 30px 50px;
  margin: 0 auto;
  z-index: 200;
  box-sizing: border-box;
  border-top: $card-border-size $primary-color;
  @media screen and (min-height: 720px) {
    transform: translateY(-150px);
  }
  @media screen and (max-width: $medium-screen-width) {
    width: 80%;
    padding-left: 25px;
    padding-right: 25px;
  }
}
.location {
  border: 0;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  color: $primary-dark;
  transition: 0.2s ease all;
  vertical-align: middle;
  padding: 0;
  a {
    font-size: 11.5px;
    line-height: 14px;
    padding: 10px;
    text-decoration: none;
    color: $primary-dark;
    display: block;
  }
  &:hover {
    transition: 0.2s ease all;
    background: rgba(255, 255, 255, 1);
  }
  .flag {
    font-size: 13px;
    line-height: 1;
    vertical-align: middle;
  }
  .underline {
    text-decoration: underline;
  }
}

.logoContainer {
  text-align: center;
}

.loginLogo {
  width: 100px;
}

.signInSubmitButton {
  width: 100%;
  margin-top: 20px;
}

.fbLoginButton {
  margin-top: 20px;
}

.forgotPassword {
  padding-top: 15px;
  display: flex;
  width: 100%;

  &_text {
    composes: subHeaderExtraSmall from '../../fonts.scss';
    margin: 0 auto;

    &:hover {
      color: $primary-color;
      cursor: pointer;
    }
  }
}
