
@import '../../ui.scss';

.backDrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $primary-dark;
  z-index: 199;
}

.loginForm {
  width: 300px;
  padding: 30px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0px auto;
  margin-top: 100px;
  z-index: 200;
  border-top: $card-border-size $primary-color;
  @media screen and (max-width: $medium-screen-width) {
    width: 80%;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.logoContainer {
  text-align: center;
}

.loginLogo {
  width: 100px;
}

.signInSubmitButton {
  width: 100%;
  margin-top: 20px;
}
