@import '../../../../styles/ui-reskin';

@mixin familyMemberContainerMobile-mobile {
  padding: 30px 0 0;
}

.familyMemberContainer {
  box-sizing: border-box;
  max-height: 780px;
  overflow: visible;
  padding: 34px 16px;

  @media screen and (max-width: 576px) {
    @include familyMemberContainerMobile-mobile;
  }
}

.familyMemberContainerMobile {
  @include familyMemberContainerMobile-mobile;
}
