@import '../../../../ui';

@mixin familyMemberContainerMobile-mobile {
  padding: 30px 0 0;
}

.familyMemberContainer {
  padding: 50px 25px 0;
  overflow: auto;
  box-sizing: border-box;

  @media screen and (max-width: 576px) {
    @include familyMemberContainerMobile-mobile;
  }
}

.familyMemberContainerMobile {
  @include familyMemberContainerMobile-mobile;
}
