@import '../../ui';
@import '../../fonts';

.mainContainer {
  box-sizing: border-box;
  width: 100%;
  height: calc(100vh - 68px);
  padding: 30px;
  overflow: auto;
}

.padding {
  padding-bottom: 20px;
}

.mediumFont {
  @extend .font-medium;
}

.jumboFont {
  @extend .font-jumbo;
}

