@import '../../styles/ui';
@import '../../styles/fonts';

.mainContainer {
  box-sizing: border-box;
  height: calc(100vh - 68px);
  overflow: auto;
  padding: 30px;
  position: relative;
  width: 100%;
}

.padding {
  padding-bottom: 20px;
}

.examples {
  margin-bottom: 20px;
  margin-top: 5px;

  span {
    background: darken($primary-grey,10%);
    border: 1px solid $primary-darkgrey;
    border-radius: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    width: auto;
    &:hover {
      background: darken($primary-grey, 20%);
      cursor: pointer;
    }
  }
}
.legend {
  border: 1px solid $primary-dark;
  height: auto;
  padding: 20px;
  position: absolute;
  right: 350px;
  top: 100px;
  width: 300px;
}

