@import '../../ui.scss';

.backDrop {
  background-color: $primary-dark;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 199;
}

.loginForm {
  border-top: $card-border-size $primary-color;
  margin: 0 auto;
  margin-top: 100px;
  padding: 30px;
  padding-left: 50px;
  padding-right: 50px;
  width: 300px;
  z-index: 200;
  @media screen and (max-width: $medium-screen-width) {
    width: 60%;
  }
}

.logoContainer {
  margin-bottom: 30px;
  text-align: center;
}

.loginLogo {
  width: 100px;
}

