@import '../../../../ui.scss';

$border-radius: 4px;

.card {
  background-color: $primary-white;
  border-top: 3px solid $card-border-color;
  border-radius: $border-radius;

  &.loadedCard {
    border-top-color: transparent;
    background: transparent;
  }
}

.contentStyle {
  padding: 15px;
  height: 100%;
  box-sizing: border-box;

  > div {
    height: 100%;
  }
}

.noBorder {
  border-top: 0;
}

.isLoadingContent {
  display: none;
}
