@import '../../../../ui.scss';

$border-radius: 4px;

.card {
  background-color: $primary-white;
  border-radius: $border-radius;
  border-top: 3px solid $card-border-color;

  &.loadedCard {
    background: transparent;
    border-top-color: transparent;
  }
}

.contentStyle {
  box-sizing: border-box;
  height: 100%;
  padding: 15px;

  > div {
    height: 100%;
  }
}

.noBorder {
  border-top: 0;
}

.isLoadingContent {
  display: none;
}
