@import '../../../../styles/ui';

.onlineBookingBody {
  padding: 40px;
}

.mainContainer {
  display: inline-block;
  width: 100%;
}

.header {
  border-bottom: 1px solid;
  border-bottom-color: $primary-lightgrey;
}

.formContainer {
  padding-bottom: 20px;
  &_pickerField {
    margin-right: 10px;
  }

  &_intervalField {
    width: 250px;
  }

  &_widgetButtonLabel {
    position: relative;
    width: 250px;
  }
}

.preferencesForm {
}
.snippetContainer {
  display: inline-block;
  padding: 20px 0;
}

.label {
  color: $primary-dark;
  font-size: $medium-font;
  font-weight: $large-weight;
  padding-bottom: 5px;
  padding-top: 15px;
}

.labelTooltip {
  font-size: 10px;
  font-weight: normal;
  left: calc(4.8rem * 1.6);
  pointer-events: unset;
  position: absolute;
  top: calc(0.6rem * 1.6);
  z-index: 10;
}

.chairSchedulingToggleWrapper {
  > div > div {
    margin-left: 20px;
  }
}

.inputFieldWrapper {
  width: 400px;
}

.widgetPreviewDialogBox {
  height: 60vh;
  width: 35vw;
}

.previewWidgetButton {
  margin-top: 20px;
}
