@import '../../../../ui';

.onlineBookingBody {
  padding: 40px;
}

.mainContainer {
  display: inline-block;
  width: 100%;
}

.header {
  border-bottom: 1px solid;
  border-bottom-color: $primary-lightgrey;
}

.formContainer {
  padding-bottom: 20px;
  &_pickerField {
    margin-right: 10px;
  }

  &_intervalField {
    width: 250px;
  }
}

.preferencesForm {
}
.snippetContainer {
  display: inline-block;
  padding: 20px 0;
}

.label {
  color: $primary-dark;
  font-size: $medium-font;
  font-weight: $large-weight;
  padding-bottom: 5px;
  padding-top: 15px;
}

.chairSchedulingToggleWrapper {
  > div > div {
    margin-left: 20px;
  }
}

.inputFieldWrapper {
  width: 400px;
}
