
@import '../../../styles/ui';

$h: 80px;
$br: $h / 2;
$p: 2px;
$br-bar: ($h - $p) / 2;

.wrapper {
  background-color: $primary-dark;
  border-radius: $br;
  box-sizing: border-box;
	height: $h;
  overflow: hidden;
  padding: 3px;
  width: 100%;
}

.bar {
  align-items: center;
  background-color: white;
  border-radius: $br-bar;
  box-sizing: border-box;
	color: $primary-dark;
  display: flex;
  font-family: $medium-font;
  height: 100%;
  justify-content: center;
  min-width: 5%;
  padding-top: 2px;
  transition: width 0.5s;
}
