@import '../../../../../ui';

.previewHeader {
}

.flex {
  align-items: center;
  display: flex;
}

$background: #eeeeee;

.topHeader {
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  height: 20px;
  padding: 20px;
}

.previewSBody {
  background-color: $background;
}

.previewBody {
  padding: 0 40px;
}

.previewBodyUnconfirmed {
  @extend .previewBody;
}

.previewBodyConfirmed {
  @extend .previewBody;
}

.smsPreviewWrapper {
  @extend .previewBody;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.smsPreviewWrapperFull {
  @extend .smsPreviewWrapper;
  overflow: hidden;
  // height: 100%;
  padding: 0;
}

.tab {
  background-color: $primary-grey;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  padding-top: 12px;
  width: 50%;
}

.activeTab {
  background-color: $primary-white;
}

.commsPreviewSection {
  padding: 40px 0;
}

.headerSection {
  @extend .flex;
  background: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 1px 4px 0 rgba(128, 128, 128, 0.11);
  box-sizing: border-box;
  color: lighten(black, 30%);
  font-size: 13px;
  margin: 0 auto;
  max-width: 440px;
  padding: 10px 20px;
  position: relative;
  text-align: left;
}

.leftSection {
  @extend .flex;
}

.rightSection {
  @extend .flex;
  margin-left: auto;
}

.emailIcon {
  @extend .flex;
  background: -webkit-linear-gradient(-180deg, #1d64f0 0%, #1ad5fd 100%);
  background: -moz-linear-gradient(-180deg, #1d64f0 0%, #1ad5fd 100%);
  background: -ms-linear-gradient(-180deg, #1d64f0 0%, #1ad5fd 100%);
  background: -o-linear-gradient(-180deg, #1d64f0 0%, #1ad5fd 100%);
  background: linear-gradient(-180deg, #1d64f0 0%, #1ad5fd 100%);
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(134, 254, 101, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.05) inset;
  color: white;
  height: 30px;
  justify-content: center;
  width: 30px;
}

.titleText {
  margin-top: 5px;
}

.title {
  @extend .titleText;
  margin-left: 10px;
}

.tooltipContainer {
  margin-left: 2px;
}
