@import '../../../../ui';

.sideBar {
  margin-left: 15px;
  height: auto;
  background: $primary-white;
  padding: 25px 15px 15px;
  margin-bottom: 20px;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;

  &_text {
    font-size: 19px;
    padding-left: 10px;
    composes: fontMedium from '../../../../fonts.scss';
  }

  &_clearText {
    composes: fontSmall from '../../../../fonts.scss';
    color: darken($primary-grey, 10%);
    background: initial;
    padding: 0;
    margin: 0 0 0 auto;
    cursor: pointer;
    &:hover {
      color: $primary-blue;
    }
  }

  &_clearTextDark {
    color: $primary-dark-grey;
    cursor: pointer;
    &:hover {
      color: $primary-blue;
    }
  }
}

.filtersContainer {
  padding-top: 15px;
}
.filterBody {
  margin-bottom: 15px;
}

.filterHeader {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  background: #efefef;
  padding: 10px;
  composes: fontMedium from '../../../../fonts.scss';
  justify-content: space-between;
  color: initial;
  cursor: pointer;
  &_icon {
    padding-right: 10px;
  }
}

.collapsible {
  padding: 25px 15px 15px;
  animation: fadein 0.5s ease;
  opacity: 1;
  background-color: #fafafa;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.formContainer {
  padding-bottom: 15px;
  background-color: #fafafa;

  &_flex {
    @extend .formContainer;
    display: flex;
    justify-content: space-between;
  }

  &_column {
    width: 96px;
  }

  &_row {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 25px;
    height: 40px;
    &:last-child {
      padding-bottom: 0;
    }
  }

  &_middleText {
    padding: 10px;
  }

  &_dropDownInput {
    padding-right: 26px;
    width: 167px;
  }

  &_numberInput {
    //padding-top: 6px;
  }
}

.formHeader {
  composes: fontMedium from '../../../../fonts.scss';
  color: $primary-blue;
}

.formHeaderInput {
  composes: fontMedium from '../../../../fonts.scss';
  color: $primary-blue;
}

.formSubHeader {
  padding-top: 5px;
  composes: fontExtraSmall from '../../../../fonts.scss';
  color: $primary-darkgrey;
}
.ddSelect {
  width: 100%;
  padding-right: 5px;
}

.searchContainer {
  width: 100%;
  padding-top: 10px;
}

.searchBar {
  width: 100%;
}

.groupInputStyle {
  padding: 0;
  input:focus ~ label {
    display: none;
  }
}

.groupInputStyle2 {
  input:focus ~ label {
    display: none;
  }
}

.dateLabelStyle {
  top: 10px;
}

.filledLabelStyle {
  display: none;
}

.input {
  border: 1px solid $primary-grey;
  background-color: white;
  width: 100%;
  padding-left: 4px;
}

.group {
  box-sizing: border-box;
  input::placeholder {
    padding-left: 16px;
    font-size: 12px;
    font-family: $medium-font;
  }
}

.icon {
  left: 5px;
  width: 5px;
}
