@import '../../../../ui';

.sideBar {
  margin-left: 15px;
  height: auto;
  background: $primary-white;
  padding: 25px 15px 15px 15px;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;

  &_text {
    padding-left: 20px;
    composes: fontMedium from 'sass-loader!../../../../fonts.scss';
  }

  &_clearText {
    margin-left: auto;
    composes: fontSmall from 'sass-loader!../../../../fonts.scss';
    color: darken($primary-grey, 10%);
    cursor: pointer;
     &:hover {
       color: $primary-blue;
     }
  }
}

.filtersContainer {
  padding-top: 20px;
}
.filterBody {
  margin-bottom: 10px;
}

.filterHeader {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  background: lighten($inactive-color, 15%);
  padding: 10px;
  composes: fontMedium from 'sass-loader!../../../../fonts.scss';
  justify-content: space-between;
  cursor: pointer;
  &_icon {
    padding-right: 10px;
  }
}

.collapsible {
  padding: 25px 15px 15px 15px;
  background: white;
  animation: fadein 1s ease;
  opacity: 1;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.formContainer {
  background: white;
  padding-bottom: 15px;
  &_row {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 25px;
    height: 40px;
    &:last-child {
      padding-bottom: 0px;
    }
  }

  &_middleText {
    padding: 10px;
  }

  &_dropDownInput {
    padding-right: 35px;
    width: 130px;
  }

  &_numberInput {
    padding-top: 6px;
  }
}

.formHeader {
  composes: fontMedium from 'sass-loader!../../../../fonts.scss';
  color: $primary-blue;
}

.formHeaderInput {
  composes: fontMedium from 'sass-loader!../../../../fonts.scss';
  color: $primary-blue;
}

.formSubHeader {
  padding-top: 5px;
  composes: fontExtraSmall from 'sass-loader!../../../../fonts.scss';
  color: $primary-darkgrey;
}
.ddSelect {
  width: 100%;
  padding-right: 5px;
}

.searchContainer {
  width: 100%;
  padding-top: 10px;
}

.searchBar {
  width: 100%;
}
