@import '../../../../ui';

.bubbleWrapper {
  max-width: 350px;

  @media screen and (max-width: 576px) {
    max-width: 250px;
  }
}

.bubbleBody {
  // font-size: 13px;
  padding: 6px 12px;
  border-radius: 18px;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
  line-height: 18px;
}

.fromPatientBody {
  background-color: white;
  border-bottom-left-radius: 0;
}

.fromClinicBody {
  background-color: $primary-blue;
  color: white;
  border-bottom-right-radius: 0;
}

.fromClinicBodyHub {
  @extend .fromClinicBody;
  background: $electron-chat-message-bg-clinic;
}

.bubbleTime {
  font-size: 9px;
  color: $primary-gray;
  padding-top: 5px;
}

.fromPatientTime {
  float: left;
}

.fromClinicTime {
  float: right;
}

.failedMessage {
  background-color: $clr-bg-dark-grey;
  color: $clr-dark-grey;
}
