@import '../../../../styles/ui.scss';

.submitButton {
  margin-bottom: 20px;
  margin-top: 20px;

  & > button {
    border-radius: 4px;
    width: 100%;

    &:hover {
      background-color: $electron-button-primary-hover;
    }
  }
}

.toggle {
  background: hsl(0, 0%, 27%);
  border-radius: 0.3rem;
  color: white;
  display: inline-flex;
  flex-direction: column;
  max-width: 200px;
  padding: 0.4rem 0.8rem;
}
