@import '../../../../ui.scss';

.container {
  background-color: $primary-white;
}

.cell {
  align-items: center;
  display: flex;
  font-family: $medium-font;
  font-size: 14px;
  height: 40px;
}

.titleCell {
  @extend .cell;
}

.linkCell {
  @extend .cell;
  background: none;
  border: none;
  color: $primary-dark-blue;
  cursor: pointer;
  outline: none;
  padding: 0;
  &:hover {
    > div > i {
      display: block;
    }
  }
}

.linkCellContent {
  align-items: center;
  display: flex;
}

.clipboardIcon {
  display: none;
  margin-left: 10px;
}
