@import '../../../../styles/ui.scss';

.content {
  padding-left: 50px;
}

.otherSection {
  padding-top: 25px;
}

.phoneLookup {
  margin-top: -10px;
  padding: 0 20px;
  padding-bottom: 10px;
}

.lookupLabel {
  font-family: 'Inter', sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
}

.greyLookupLabel {
  color: darken($primary-darkgrey, 10%);
}

.greenLookupLabel {
  color: $primary-green;
}

.smsPaddingStyling {
  padding-right: 8px;
}
