@import '../../../../styles/ui-reskin.scss';

.content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  padding: 0px 39px 0px 56px;
}

.divider {
  background-color: $color-lavender-100;
}

.phoneBadgeContainer {
  margin-bottom: 24px;
}

.otherSection {
  padding-top: 25px;
}

.phoneLookup {
  padding-bottom: 10px;
}

.lookupLabel {
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
}

.greyLookupLabel {
  color: $color-grey-400;
}

.greenLookupLabel {
  color: $color-teal-600;
}

.smsPaddingStyling {
  padding-right: 8px;
}
