@import '../../../../../ui';

.list {
  padding: 5px 20px 0;
  box-sizing: border-box;
}

.listItem {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;

  &:hover {
    background-color: unset;
    cursor: default;
  }
  color: $primary-dark-grey !important;
}

.muted {
  font-size: 10px;
  line-height: 20px;
  color: $inactive-color;
}

.lowercase {
  text-transform: lowercase;
}
