.patientRecalls {
  &_list {
    box-sizing: border-box;
    padding: 5px 20px 0;
  }

  &_listItem {
    color: $primary-dark-grey !important;
    display: flex;
    flex-direction: row;
    height: 40px;
    padding-bottom: 10px;
    padding-top: 10px;

    &:hover {
      background-color: unset;
      cursor: default;
    }
  }

  &_muted {
    color: $inactive-color;
    font-size: 10px;
    line-height: 20px;
  }

  &_lowercase {
    text-transform: lowercase;
  }
}
