@import '../../../ui';

.fontMedium {
  composes: fontMedium from '../../../fonts.scss';
}

.fontDefault {
  composes: fontDefault from '../../../fonts.scss';
}

.appPopover > :global(svg.Popover-tip) {
  fill: white;
}

.card {
  width: 382px;
  @media screen and (max-width: 1000px) {
    width: 100%;
  }
}

.container {
  height: 485px;
  background-color: $primary-white;
}
.tab {
  display: inline-flex;
  box-sizing: border-box;
  width: 50%;
  justify-content: center;
  padding-top: 12px;
  background-color: $primary-grey;
  height: 50px;
  border-right: 1px solid #e3e3e3;
  color: $primary-dark;
  composes: fontMedium from '../../../fonts.scss';

  &:last-child {
    border-right: 0;
  }
}

.activeTab {
  background-color: $primary-white;
}

.appCard {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.noApps {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: $primary-dark-grey;
  opacity: 0.6;
}

.appList {
  width: 100%;
  height: 100px;
  flex: 1;
  min-height: 314px;
  overflow: auto;
  overflow-x: hidden;
}

.appItem {
  height: auto;
  color: $primary-dark;
  cursor: pointer;
  padding: 20px;
  box-sizing: border-box;
}

.appData {
  width: 71px;
  font-size: $extra-small-size;
  color: $primary-dark;
  margin-right: 10px;
  @extend .fontMedium;

  &_startDate {
    margin-bottom: 2px;
  }

  &_endDate {
  }
}

.appPatientContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.appPatientData {
  display: flex;
  flex-direction: column;
  height: auto;
  border-left: 1px solid $primary-grey;
  padding-left: 1em;
  box-sizing: border-box;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
}

.patientName {
  font-size: 13px;
  composes: fontBold from '../../../fonts.scss';
  padding-bottom: 3px;
}

.patientDetails {
  font-size: $extra-small-size;
  display: flex;
  width: 100%;
  color: $primary-dark-grey;
  line-height: 1.1em;
  align-items: flex-end;

  &_lastAppt {
    @extend .fontMedium;
    color: #a7a9ac;
  }

  &_data {
    @extend .fontMedium;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
  }

  &_date {
    @extend .fontDefault;
    opacity: 0.6;
  }

  &_created {
    padding-top: 10px;
    color: #a7a9ac;
  }
}

.appPatientConfirmed {
  margin-left: auto;
}

.iconContainer {
  background-color: $primary-grey;
  border-radius: 50%;
  padding: 3px;
  height: 10px;
  width: 10px;
  color: $primary-blue;
  font-size: 10px;
}
