.revenueDisplay {
  &_fontMedium {
    @extend .fontMedium;
  }

  &_revenueDisplay {
    background-color: darken($primary-dark, 5%);
    box-sizing: border-box;
    color: $primary-white;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 25px;
    width: 210px;

    @media screen and (max-width: 1266px) {
      height: unset;
    }

    @media screen and (max-width: 414px) {
      width: 100%;
    }
  }

  &_revenueDisplayTop {
    box-sizing: border-box;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
  }

  &_todaysProductionText {
    font-size: 19px;
    text-align: center;
    width: 100%;
    @extend .fontMedium;
    @media screen and (max-width: 768px) {
      margin-bottom: 10px;
    }
  }

  &_todaysProductionValue {
    @extend .fontMedium;
    display: flex;
    font-size: 50px;
    justify-content: center;
    text-align: center;
    width: 100%;

    &_dollar {
      color: $color-greyish-blue;
      font-size: 28px;
      margin-right: 3px;
    }
  }

  &_yesterdayContainer {
    color: $color-greyish-blue;
    display: flex;
    flex-direction: row;
    font-size: 13px;
    width: 100%;
  }

  &_yesterdayLeft {
    @extend .fontMedium;
    align-items: center;
    border-right: 1px solid $color-greyish-blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 8px;
    width: 70%;

    &_text {
      margin-right: 3px;
    }
  }

  &_yesterdayRight {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 8px;
    margin-right: 8px;
    width: 30%;
    @extend .fontMedium;
  }

  &_percentageBox {
    @extend .fontMedium;
    align-items: center;
    border: 1px solid $primary-green;
    color: $primary-green;
    display: flex;
    justify-content: center;
    min-height: 18px;
    min-width: 35px;
    padding: 3px;

    &_icon {
      margin-right: 3px;
    }
  }

  &_negative {
    border: 1px solid $primary-color;
    color: $primary-color;
  }

  &_average {
    align-items: center;
    background-color: $color-greyish-blue;
    display: flex;
    flex-direction: column;
    height: 80px;
    justify-content: center;
    width: 100%;
    @extend .fontMedium;

    &_value {
      display: flex;
      font-size: 15px;
      justify-content: center;
      margin-bottom: 15px;
      text-align: center;
      width: 100%;
    }

    &_text {
      font-family: $dashboard-font;
      font-size: $extra-small-size;
      text-align: center;
      width: 100%;
    }

    &_dollar {
      color: $color-black;
      font-size: $extra-small-size;
      margin-right: 2px;
    }
  }
}
