
@import '../../ui';

.leftSectionContainer {
  top: 0;
  left: 0;
  width: $side-nav-width;
  position: fixed;
  height: 100%;
  background-color: $primary-dark;
  z-index: 20;
}

.navHidden {
  display: none;
}

.logoWrapper {
  // padding-left: 20px;
  height: $top-nav-height;
  border-bottom: 0.5px grey solid;
  margin-left: 10px;
  margin-right: 10px;
}

.logoImage {
  width: 140px;
  margin-left: 25px;
  margin-top: -12px;
}

.navListWrapper {
  //padding-top: $top-nav-height + 10px;
}
