
@import '../../ui';

.leftSectionContainer {
  top: $top-nav-height;
  left: 0;
  width: $side-nav-width;
  position: fixed;
  height: calc(100vh - 65px);
  background-color: $primary-dark;
  z-index: 20;
  overflow-y: auto;
  transition: ease-out 0.3s all;
}

.navHidden {
  @extend .leftSectionContainer;
  @media screen and (max-width: $medium-screen-width) {
    display: none;
  }

  @media screen and (min-width: $medium-screen-width) {
    width: $mini-side-nav-width;
    // background-color: green;
  }
}

.mainRegionContainer {

}

.navListWrapper {
  //padding-top: $top-nav-height + 10px;
}
