
@import '../../ui';

.leftSectionContainer {
  top: 0;
  left: 0;
  width: $side-nav-width;
  position: fixed;
  height: 100%;
  border-right: solid 1px #c5d6de;
  background-color: $primary-dark;
  z-index: 20;
}

.navHidden {
  display: none;
}

.logoWrapper {
  padding-left: 20px;
}

.navListWrapper {
  //padding-top: $top-nav-height + 10px;
}
