@import '../../../../../../styles/ui-reskin.scss';

.waitListTableFooterWrapper {
  align-items: center;
  background: $super-white;
  border-radius: 0 0 4px 4px;
  box-shadow: $box-shadow-1;
  display: flex;
  height: 64px;
  justify-content: space-between;
  margin: 0px 22px;
  transition: all 0.2s ease-in 0.2s;
}

.waitListTableFooterWrapper_Hidden {
  height: 0;
  visibility: hidden;
}

.sendButton {
  background: $color-lavender-500;
  border: none;
  border-radius: 4px;
  box-shadow: 1px 1px 2px 0 rgba(104, 110, 116, 0.11);
  color: $super-white;
  cursor: pointer;
  font-size: $medium-size;
  font-weight: $medium-weight;
  height: 38px;
  margin-right: 30px;
  min-width: 192px;
}

.removeButton {
  background: $super-white;
  border: 1px solid $error-500;
  border-radius: 4px;
  box-shadow: $box-shadow-4;
  color: $error-500;
  font-size: $medium-size;
  font-weight: $medium-weight;
  letter-spacing: 0.02px;
  line-height: 14px;
  margin: 0 12px;
  min-width: 131px;
}

.trashButton {
  font-weight: $normal-weight;
  margin-right: 12px;
}
