@import '../../../ui.scss';

.card {
  background-color: $primary-white;
  border-top: 3px solid $card-border-color;
  //box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  //box-shadow: 0px 3px 5px  rgba(0, 0, 0, 0.2);
  //box-shadow: 0px 5px 16px -8px rgba(0,0,0,0.6);
}

.noBorder {
  border-top: 0;
}

.loadBar {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: $card-border-color;
}

.bar {
  content: '';
  display: inline;
  position: absolute;
  width: 0;
  height: 100%;
  left: 50%;
  text-align: center;
}

.bar:nth-child(1) {
  background-color: $primary-blue;
  animation: loading 1.5s linear infinite;
}

.bar:nth-child(2) {
  background-color: $primary-blue;
  animation: loading 1.5s linear infinite;
}

.bar:nth-child(3) {
  background-color: $primary-blue;
  animation: loading 1.5s linear infinite;
}

@keyframes loading {
  from {
    left: 0;
    width: 0;
  }
  33.3333% {
    left: 33.3333%;
    width: 33.3333%;
  }
  to {
    left: 100%;
    width: 0;
  }
}
