{
  "presets": [
    ["@babel/preset-env",
      {
        "modules": false,
        "targets": { "node": "current" }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "add-react-displayname",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-optional-chaining",
    ["@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ]
  ]
}
