{
  "presets": [
    ["@babel/preset-env",
      {
        "targets": { "node": "current" }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "@babel/plugin-transform-react-display-name",
    ["babel-plugin-named-asset-import",
      {
        "loaderMap": {
          "svg": {
            "ReactComponent":
              "@svgr/webpack?-svgo,+titleProp,+ref![path]"
          }
        }
      }
    ],
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-optional-chaining",
    ["@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ],
    ["@babel/plugin-proposal-private-property-in-object", 
      { 
        "loose": true
      }
    ]
  ]
}
