{
  "parser": "babel-eslint",
  "extends": ["prettier", "airbnb"],
  "plugins": ["react"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "rules": {
    "no-use-before-define": "off",
    "func-names": "off",
    "no-param-reassign": "off",
    "no-unused-expressions": "off",
    "eqeqeq": ["error", "always", { "null": "ignore" }],
    "strict": "off",
    "no-console": "off",
    "new-cap": "off",
    "linebreak-style": "off",
    "no-mixed-operators": ["error", { "allowSamePrecedence": true }],
    "no-trailing-spaces": ["warn", { "skipBlankLines": true }],
    "class-methods-use-this": "off",
    "lines-between-class-members": ["error", "always"],
    "prefer-destructuring": "warn",
    "no-alert": "off",
    "object-property-newline": [
      "error",
      { "allowAllPropertiesOnSameLine": false }
    ],
    "object-curly-newline": ["error", { "consistent": true }],
    "react/no-did-mount-set-state": "off",
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["to"]
      }
    ],
    "consistent-return": "warn",
    "prefer-promise-reject-errors": "warn",
    "function-paren-newline": ["error", "consistent"],
    "no-unused-vars": ["error", { "argsIgnorePattern": "next" }]
  },
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "globals": {
    "cy": true,
    "expect": true,
    "jest": true,
    "beforeAll": true,
    "afterAll": true
  }
}
