{
  "parser": "@babel/eslint-parser",
  "extends": ["airbnb", "prettier", "prettier/react", "prettier/standard"],
  "plugins": ["react", "react-hooks", "jsx-a11y", "import"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "rules": {
    "no-use-before-define": "off",
    "func-names": "off",
    "no-param-reassign": "off",
    "no-unused-expressions": "off",
    "eqeqeq": ["error", "always", { "null": "ignore" }],
    "strict": "off",
    "no-console": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "new-cap": "off",
    "linebreak-style": "off",
    "implicit-arrow-linebreak": "off",
    "no-mixed-operators": ["error", { "allowSamePrecedence": true }],
    "no-trailing-spaces": ["warn", { "skipBlankLines": true }],
    "class-methods-use-this": "off",
    "lines-between-class-members": ["error", "always"],
    "prefer-destructuring": "warn",
    "no-alert": "off",
    "object-property-newline": [
      "error",
      { "allowAllPropertiesOnSameLine": false }
    ],
    "object-curly-newline": ["error", { "consistent": true }],
    "react/no-did-mount-set-state": "off",
    "react/destructuring-assignment": ["off"],
    "jsx-a11y/no-noninteractive-element-to-interactive-role": [
      "error",
      {
        "label": ["button"]
      }
    ],
    "jsx-a11y/label-has-for": [ 2, {
      "required": {
        "every": [ "id" ]
      },
      "allowChildren": true
    }],
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["to"]
      }
    ],
    "consistent-return": "warn",
    "prefer-promise-reject-errors": "warn",
    "function-paren-newline": ["error", "consistent"],
    "no-unused-vars": ["error", { "argsIgnorePattern": "next" }],
    "camelcase": ["error", { "allow": ["^UNSAFE_", "smart_follow_up"]}]
  },
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "globals": {
    "cy": true,
    "expect": true,
    "jest": true,
    "beforeAll": true,
    "afterAll": true
  }
}
