{
  "parser": "babel-eslint",
  "extends": ["prettier", "prettier/react", "prettier/standard", "airbnb"],
  "plugins": ["react", "bof-newline"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "rules": {
    "no-use-before-define": "off",
    "func-names": "off",
    "no-param-reassign": "off",
    "no-unused-expressions": "off",
    "eqeqeq": ["error", "always", { "null": "ignore" }],
    "strict": "off",
    "no-console": "off",
    "new-cap": "off",
    "linebreak-style": "off",
    "no-mixed-operators": ["error", { "allowSamePrecedence": true }],
    "no-trailing-spaces": ["warn", { "skipBlankLines": true }],
    "class-methods-use-this": "off",
    "lines-between-class-members": ["error", "always"],
    "bof-newline/bof-newline": ["error", "always"],
    "prefer-destructuring": "warn",
    "no-alert": "off",
    "react/no-did-mount-set-state": "off"
  },
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  }
}
