.DS_Store
*/.DS_Store
node_modules/
*/node_modules/
.idea/
*/.idea/
.vscode
*/.vscode
dist/
*/dist/
.sass-cache/
*/.sass-cache/
npm-debug.log
npm-debug.log.*
.ntvs_analysis.dat
*.njsproj
*.cache
obj/Debug/
*.dll
.jscsrc
*.suo
secrets.json
mongod.conf
.vscode/
*/.vscode/
dump.rdb
jsconfig.json
*.jscs.json
typings/
tsd.json
*/Session.vim
tmux*
xterm*
screen-256color.ti
server/public/assets/s
*.env
*.swp
*.swo
*.vim
*.exe
zz_*
tags
statics/assets/
server/bin/build/
.ackrc
.history/
yarn.lock
electron/dist
electron/build
**/__generated__
.python-version
yarn-error.log
.npmrc
coverage
.uglify_cache/

client/build/*
build/*
