@import '../../../../../ui';
@import '../../../../../fonts';

.card {
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12),
    0 11px 15px -7px rgba(0, 0, 0, 0.2);
  min-width: 300px;
  width: auto;
}

.header {
  align-items: center;
  background-color: #313843;
  color: $primary-white;
  display: flex;
  font-size: 15px;
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;

  &_text {
    @extend .fontDefault;
    max-width: 250px;
    overflow: hidden;
    padding-left: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &_age {
    margin-right: 10px;
  }
}

.closeIcon {
  @extend .fontMediumSize;
  color: $primary-grey;
  margin-left: auto;
  width: auto !important;

  &:hover {
    color: $primary-grey;
    cursor: pointer;
  }
}

.body {
  background-color: $primary-white;
  height: auto;
  max-height: 290px;
  max-width: 285px;
  min-height: 200px;
  padding: 15px 15px 0;
}

.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

.subHeader {
  @extend .subHeaderExtraSmall;
  padding-bottom: 2px;
}

.data {
  @extend .fontMedium;
  align-items: center;
  display: flex;
  font-size: 13px;
  padding-bottom: 2px;

  &_note {
    max-height: 88px;
    overflow: auto;
    width: 100%;

    textarea {
      border-bottom: 0;
      color: black;
      font-family: $medium-font;
      height: auto;
      padding: 0;
    }
  }

  &_text {
    padding-left: 5px;
    padding-top: 1px;
  }
}

.textAreaGroup {
  padding: 0;
}

.footer {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  width: 100%;
}

.editButton {
  margin-left: 5px;
}

.dataLink {
  @extend .fontMedium;

  @at-root button#{&},
    a#{&} {
    color: $primary-white;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s ease;

    &,
    &:active,
    &:focus {
      border: none;
      outline: none;
    }

    &:hover {
      color: $primary-lightgray;
    }
  }
}
