@import '../../../styles/ui';

.cardLink {
  box-sizing: border-box;
  padding: 4px;
  width: 50%;
}

.card {
  align-items: center;
  background: white;
  border: 1px solid $widget-grey-lighter;
  border-radius: 4px;
  box-shadow: 1px 2px 3px 0 rgba(128, 128, 128, 0.15);
  cursor: pointer;
  display: flex;
  font-family: inherit;
  height: auto;
  margin: 0 4px 8px !important;
  min-height: 80px;
  padding: 12px;
  text-align: center;
  transition: all 0.5s ease;
  width: 100%;
  &:focus {
    outline: none;
  }
  &:hover {
    border-color: $widget-grey-light;
    box-shadow: 1px 2px 3px 0 rgba(128, 128, 128, 0.15);
    transition: all 0.3s ease;
    .cardArrow {
      background: var(--primaryColor);
      border-radius: 50%;
      color: #fff;
      transition: all 0.5s ease;
    }
  }
  .cardArrow {
    align-items: center;
    border-radius: 50%;
    color: $widget-grey;
    display: flex;
    height: 16px;
    justify-content: center;
    margin-left: var(--widget-spacer);
    transition: all 0.5s ease;
    width: 16px;
    svg {
      fill: currentColor;
    }
  }
  .cardWrapper {
    flex: 1;
  }
  .title {
    color: $widget-grey;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    margin: 0;
  }
  .centeredTitle {
    @extend .title;
    text-align: center;
  }
  .description {
    color: $widget-grey-light;
    display: block;
    font-size: 13px;
    line-height: 16px;
    margin-top: 4px;
  }
}
.selectedCard {
  @extend .card;
  background: var(--primaryColor);
  color: white;
  .title {
    color: white;
  }
  .description {
    color: white;
  }
}

.centered {
  text-align: center;
}
