@import '../../../../styles/ui.scss';

.outerContainer {
  width: 100%;
}

.generalMainContainer {
  box-sizing: border-box;
  display: -webkit-box;
  width: 100%;
}

.generalHeader {
  border-bottom: 1px solid;
  border-bottom-color: $primary-lightgrey;
  margin-bottom: 30px;
}

.generalGrid {
  height: 100%;
  width: 100%;
}

.formContainer {
  margin-bottom: 35px;
  width: 40%;

  &_contact {
    margin-left: 35px;
  }
}

.generalForm {
  width: 100%;
}

.generalRow {
  display: inline-block;
  height: 100%;
  padding-left: 15px;
  width: 100%;
}

.paddingField {
  padding-bottom: 15px;

  &_flex {
    align-items: center;
    display: flex;
    padding-top: 10px;
    width: 100%;
  }

  &_toggle {
    margin-left: auto;
  }
}

.paddingText {
  font-size: 12px;
}

.drop {
  margin-left: 35px;
  button {
    margin-top: 10px;
  }
}

.paddingSave {
  padding-bottom: 20px;
}

.lastSyncWrapper {
  padding: 10px 0;
}

.linkAsButton {
  background-color: var(--primaryButtonColor);
  border: none;
  border-radius: 2px;
  color: #ededed;
  cursor: pointer;
  display: block;
  font-family: Gotham-Book, serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 1em;
  margin: 0 0.35714em 0 0;
  outline: none;
  padding: 0.85714em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.1s ease, color 0.1s;
  vertical-align: middle;
  width: 140px;
}

.generalBodyClass {
  padding: 40px;
}

.massOnlineEmail {
  &_date {
    color: $primary-color;
    margin-bottom: 15px;
    margin-top: 10px;
  }

  &_count {
    color: $primary-color;
    margin-bottom: 15px;
    margin-top: 10px;
  }
}

.modalBody {
  padding: 0;
}

.deleteLogo {
  width: 100%;
}

.submitButton {
  margin-top: 20px;
}

.tooltipBody {
  padding: 4px;
}

.tooltipBodyRow {
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }
}
.tooltipWrapper {
  width: 170px;
}
