@import '../../../../styles/ui-reskin.scss';

.wrapper {
  max-width: 460px;
  position: relative;
}

.dateWrapper {
  color: $color-grey-400;

  display: block;
  font-size: $medium-size;
  font-weight: $medium-weight;
  line-height: 20px;
  margin: 0 8px;
  padding: 0 8px;
  position: relative;
  .active {
    background-color: $color-lavender-050;
  }
}

.rightSide {
  display: flex;
  flex: 2 1;
  flex-direction: column;
}

.dayRangeWrapper {
  background: $super-white;
  border: 1px solid $color-lavender-200;
  border-radius: 4px;
  box-shadow: $box-shadow-3;
  display: flex;
  flex-direction: column;
  margin-top: 4px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  transform: translateY(-25%);
  visibility: hidden;
  width: 100%;
  z-index: 100;

  &.active {
    opacity: 1;
    transform: translateY(0%);
    visibility: visible;
  }
}

.placeholder {
  color: $color-grey-100;
  font-size: 13px;
  font-weight: 400;
}

.dayRangeInputWrapper {
  align-items: center;
  background-color: $super-white;
  border: 1px solid $color-grey-200;
  border-radius: 4px;
  box-sizing: border-box;
  color: $color-grey-400;
  cursor: pointer;
  display: flex;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  line-height: 40px;
  padding: 0 16px;

  @media (min-width: 576px) {
    min-width: 420px;
  }

  &:focus {
    outline: none;
  }

  &.active,
  &:hover {
    background-color: $color-lavender-050 !important;
    border-color: $color-lavender-500 !important;
    color: $color-lavender-500 !important;
    i {
      color: $color-lavender-500;
    }
  }

  &:hover {
    .dateWrapper {
      color: $color-lavender-500 !important;
    }
  }

  svg {
    color: $color-grey-400;
    height: 14px;
    margin-left: auto;
    width: 14px;
  }

  strong {
    @media (max-width: 576px) {
      display: none;
    }
    box-sizing: border-box;
    font-weight: 500;
    padding-right: 4px;
  }

  .dateInput {
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    color: $color-grey-400;
    cursor: pointer;

    font-size: $medium-size;
    font-weight: $medium-weight;
    height: 32px;
    left: 0;
    line-height: 20px;
    margin: 0;
    max-width: 140px;
    opacity: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    top: -6px;
    width: 100%;

    &.active {
      color: $color-lavender-500;
      opacity: 1;
    }

    &.activeElement,
    &:focus {
      background-color: $color-lavender-050 !important;
      color: $color-lavender-500;
      opacity: 1;
    }

    &::placeholder {
      @extend .placeholder;
    }

    &:focus {
      outline: none;
    }
  }
}

.helpersWrapper {
  background: $color-grey-050;
  border-right: 1px solid $color-grey-100;
  box-sizing: border-box;
  display: flex;
  flex: 1 2;
  flex-direction: column;
  max-height: 295px;
  max-width: 230px;
  min-width: 160px;
  overflow: scroll;
  padding: 12px;

  > button {
    margin-bottom: 8px;
  }
}

.labelWrapper {
  align-items: center;
  display: flex;
  position: relative;
  width: 100%;
}

.dateInputGroup {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.calendarIcon {
  color: $color-grey-400;
  font-size: $x-medium-size;
  font-weight: $normal-weight;
  width: 14px;
  &_active {
    color: $color-lavender-500;
    font-size: $x-medium-size;
    font-weight: $normal-weight;
    width: 14px;
  }
}

.typeName {
  font-size: $medium-size;
  font-weight: $medium-weight;
  line-height: 20px;
}

.main {
  display: flex;
  width: 100%;
}

.footer {
  border-top: 1px solid $color-grey-100;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 12px 0;
  width: 100%;

  > button {
    margin-right: 8px;
    width: 96px;
  }

  button {
    max-width: 75px;
  }
}
