@import '../../../../ui-kit';

.wrapper {
  position: relative;
  max-width: 460px;
}

.dateWrapper {
  position: relative;
  margin: 0 8px;

  > span {
    display: block;
    color: $grey-dark;
    font-family: $inter;
    padding: 0 8px;
  }
}

.dayRangeWrapper {
  position: absolute;
  width: 100%;
  background: $white;
  overflow: hidden;
  margin-top: 4px;
  box-shadow: $shadow-md;
  border-radius: $rounded;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-25%);
  display: flex;
  flex-direction: column;
  z-index: 100;

  &.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
  }
}

.placeholder {
  font-family: $inter;
  font-size: 13px;
  font-weight: 400;
  color: $grey-light;
}

.dayRangeInputWrapper {
  font-size: 13px;
  padding: 0 16px;
  line-height: 40px;
  display: flex;
  cursor: pointer;
  align-items: center;
  box-shadow: $shadow;
  border-radius: $rounded;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: $inter;
  background: $white;
  color: $grey-dark;
  border: 1px solid $grey-lighter;
  @extend .fx;

  @media (min-width: 576px) {
    min-width: 420px;
  }

  &:focus {
    outline: none;
  }

  &.active,
  &:hover {
    @extend .fx;
    border-color: $grey-dark;
  }

  svg {
    width: 14px;
    height: 14px;
    color: $grey-dark;
    margin-left: auto;
  }

  strong {
    @media (max-width: 576px) {
      display: none;
    }
    font-weight: 500;
    padding-right: 4px;
    box-sizing: border-box;
  }

  .dateInput {
    border: 0;
    color: $grey-dark;
    font-family: $inter;
    line-height: 37px;
    box-sizing: border-box;
    font-weight: 400;
    max-width: 140px;
    cursor: pointer;
    text-align: center;
    border-radius: $rounded;
    height: 32px;
    position: absolute;
    top: 4px;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    opacity: 0;

    &.active {
      opacity: 1;
    }

    &.activeElement,
    &:focus {
      background: $teal-lightest;
      opacity: 1;
    }

    &::placeholder {
      @extend .placeholder;
    }

    &:focus {
      outline: none;
    }
  }
}

.helpersWrapper {
  background: $grey-lightest;
  max-width: 230px;
  min-width: 160px;
  flex: 1;
  padding: 12px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-right: 1px solid $grey-lighter;
  overflow: scroll;
  max-height: 280px;

  > button {
    margin-bottom: 8px;
  }
}

.labelWrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.main {
  width: 100%;
  display: flex;
}

.footer {
  width: 100%;
  padding: 12px 0;
  box-sizing: border-box;
  border-top: 1px solid $grey-lighter;
  justify-content: flex-end;
  flex-direction: row;
  display: flex;

  > button {
    margin-right: 8px;
  }

  button {
    max-width: 75px;
  }
}
