
@import '../../../ui.scss';

.optionDiv {
  padding: 0px !important;
  text-align: center !important;
}

.toggleDiv {
  height: 30px;
  min-width: 150px;
  padding: 5px;
  cursor: pointer;
  border-bottom: 1px solid $primary-dark;
  display: flex;
  align-items: center;
}

.toggleValueDiv {
  margin-right: 10px;
}

.caretIcon {
  margin-left: auto;
  color: $primary-dark;
}
