@import '../../../../ui.scss';

.outerContainer {
  width: 100%;
  margin-left: 15px;
}
.generalMainContainer {
  display: flex;
  width: 100%;

}
.generalHeader {
  padding: 10px 5px 10px 0px;
  margin-bottom: 20px;
  border-bottom: 1px solid;
  border-bottom-color: $primary-lightgrey;
}
.generalGrid {
  height: 100%;
  width: 100%;
}

.formContainer {
  width: 40%;
}
.generalForm{
  width: 100%;
}

.generalRow {
  display: inline-block;
  height: 100%;
  width: 100%;
  padding-left: 15px;
}

.paddingField {
  padding-bottom: 15px;
}

.drop {
  margin-left: 35px;
  button {
    margin-top: 10px;
  }
}
