@import '../../../ui';

.outside {
  cursor: default;
  color: #dce0e0;
  background: transparent;
}

.start {
  opacity: 0.75;
}

.end {
  opacity: 0.75;
}
.week {
  display: flex;
}
.weekdays {
  display: block;
}
.weekdaysRow {
  display: flex;
  width: 100%;
}
.weekDay,
.month {
  font-size: 10px;
  flex: 1 0 49%;
}
.weekday {
  display: block;
  flex: 1;
}
.month {
  width: 50%;
  padding-right: var(--widget-spacer) !important;
  box-sizing: border-box;
  display: block;
  + .month {
    padding-left: var(--widget-spacer);
    border-left: 1px solid $widget-grey-lighter;
  }
}
.outWrapper {
  width: 100%;
}

.months {
  margin: 0;
  justify-content: space-between;
}

.navButtonPrev {
  left: 0;
}
.navButtonNext {
  right: 0;
}
.container {
  border: 0;
  padding: 0;
}
.wrapperRange {
  border: 0;
  margin: var(--widget-spacer) 0;
}
.day {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  color: $widget-grey;
  height: 35px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover:not(.outside):not(.disabled):not(.selected) {
    background-color: $widget-grey-lightest !important;
    color: var(--primaryColor);
  }
}
.today {
  color: var(--primaryColor);
}

.body {
  display: block;
}
.disabled {
  color: $widget-grey-light;
}

.caption {
  font-family: 'Roboto', sans-serif;
  color: $widget-grey;
  font-weight: 500;
  font-size: 16px;
  margin: 0 !important;
  display: block;
}

.selected:not(.outside) {
  color: white;
  background: var(--primaryColor);

  &:hover:not(.outside) {
    opacity: 0.9;
    background: var(--primaryColor);
  }
}
.navButtonInteractionDisabled {
  display: none;
}
