@import '../styles';

:root {
  --widget-spacer: 12px;
  @media screen and (min-width: 350px) {
    --widget-spacer: 16px;
  }
}

:global {
  html {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 var(--widget-spacer);
}

.content {
  background: $widget-white;
  border: 1px solid $widget-grey-lighter;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: var(--widget-spacer);
  padding: var(--widget-spacer);
  width: 100%;
}

.title {
  color: $widget-blue-grey;
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin: 0;
  text-align: center;
}

.subtitle {
  color: $widget-grey;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 18px;
  margin: 4px 0 var(--widget-spacer);
  text-align: center;
}

.contentWrapper {
  transform: translate3d(0, 0, 0);
  width: 100%;

  + .contentWrapper {
    margin-top: var(--widget-spacer);
  }
}

.elementWrapper {
  width: 100%;
}

.subCard {
  @extend .content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.subCardWrapper {
  flex: 1;
}

.subCardTitle {
  @extend .title;
  margin: 0;
  width: 100%;
}

.subCardSubtitle {
  @extend .subtitle;
  flex: 1;
  margin-bottom: 0;
  padding-right: 8px;
}

.subCardLink {
  align-self: center;
  background: transparent;
  border-bottom: 1px solid;
  color: $widget-blue;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  line-height: 1;
  padding: 0 0 2px;
  transition: all 0.2s ease;

  &:hover {
    border-bottom: 1px solid $widget-blue-dark;
    color: $widget-blue-dark;
    transition: all 0.2s ease;
  }
}

.subCardLinkDanger {
  @extend .subCardLink;
  color: $widget-red;
  padding-bottom: 2px;
}

.input {
  -webkit-appearance: none;
  background: $widget-white;
  border: 1px solid $widget-grey-lighter;
  border-radius: 4px;
  box-shadow: 1px 2px 3px 0 rgba(128, 128, 128, 0.15);
  box-sizing: border-box;
  color: $widget-grey;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  min-height: 56px;
  padding: 16px var(--widget-spacer) 0;
  transition: all 0.2s ease;
  width: 100%;

  &:focus {
    border-color: var(--primaryColor);
    transition: all 0.2s ease;
  }

  &:focus ~ .label {
    @extend .filled;
  }
}

.inputActive {
  border-color: var(--primaryColor);
  transition: all 0.2s ease;
}

.textarea {
  @extend .input;
  min-height: 150px;
  padding-top: 28px;
}

.group {
  margin-bottom: 12px;
  padding: 0 0 12px;
  width: 100%;
}

.error {
  bottom: -5px;
  color: $widget-red;
  display: block;
  font-size: 12px;
  font-weight: 500;
  left: var(--widget-spacer);
  padding-left: 0;
  top: auto;
}

.erroredInput {
  border-color: $widget-red;
  color: $widget-grey-dark;
}

.bar {
  display: none;
}

.erroredLabel {
  color: $widget-grey-light !important;
}

.erroredLabelFilled {
  color: $widget-grey-light !important;
}

.label {
  color: $widget-grey-light;
  font-size: 14px;
  left: var(--widget-spacer);
  top: 21px;
}

.filled {
  color: $widget-grey-light;
  font-size: 11px !important;
  left: var(--widget-spacer) !important;
  top: 12px !important;
}

.signInTop {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--widget-spacer);
}

.slot {
  background: $widget-white;
  border: 1px solid $widget-grey-lighter;
  border-radius: 4px;
  box-shadow: 1px 2px 3px 0 rgba(128, 128, 128, 0.15);
  color: $widget-grey;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  margin: 0 calc(var(--widget-spacer) / 4) calc(var(--widget-spacer) / 2) !important;
  outline: none;
  padding: 16px 0;
  -webkit-tap-highlight-color: transparent;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease;
  vertical-align: middle;
  width: 100%;

  &:hover {
    border-color: var(--primaryColor);
    color: var(--primaryColor);
    transition: all 0.2s ease;
  }
}

.selectedSlot {
  @extend .slot;
  background: var(--primaryColor);
  border-color: var(--primaryColor);
  color: $widget-white;

  &:hover {
    color: $widget-white;
    opacity: 0.9;
  }
}

.slotsTitle {
  color: $widget-grey-light;
  font-size: 13px;
  font-weight: 500;
  margin: 0 calc(var(--widget-spacer) / 4) calc(var(--widget-spacer) / 2) !important;
  width: 100%;
}

.fullWidthButton {
  border-radius: 4px;
  min-height: 40px;
  transition: all 0.2s ease;
  width: 100%;

  &:hover {
    opacity: 0.9;
    transition: all 0.2s ease;
  }
}

.editLink {
  align-items: center;
  background: $widget-grey-lightest;
  border-radius: 50%;
  color: $widget-grey-light;
  display: flex;
  height: 24px;
  justify-content: center;
  margin-left: 8px;
  min-width: 24px;
  padding: 0;
  width: 24px;

  svg {
    fill: currentColor;
  }
}

.caretIconWrapper {
  margin-top: -12px;
}

.errorIcon {
  color: initial;
}

.closeIcon {
  position: absolute;
  right: var(--widget-spacer);
  top: 22px;
  width: auto !important;

  &:focus {
    color: var(--primaryColor);
  }
}

.inputWithIcon {
  padding-right: 28px;
}

.validationIcon {
  position: absolute;
  right: var(--widget-spacer);
  top: 22px;
}

.customDialog {
  border-radius: 4px;
  box-sizing: border-box;
  padding: 20px;
  position: relative;
  text-align: center;
  width: 90%;
}

.buttonsWrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.negation {
  background: transparent;
  box-sizing: border-box;
  color: $widget-grey-light;
  font-family: inherit;
  font-size: 13px;
  font-weight: 600;
  margin-left: 8px;
  padding: 12px 8px;
  transition: all 0.2s ease;
  width: 50%;

  &:hover {
    color: $widget-grey-dark;
    transition: all 0.2s ease;
  }
}

.confirmation {
  background: var(--primaryButtonColor);
  border-radius: 4px;
  box-sizing: border-box;
  color: $widget-white;
  font-family: inherit;
  font-size: 13px;
  font-weight: 600;
  margin-right: 8px;
  padding: 12px 8px;
  transition: all 0.2s ease;
  width: 50%;

  &:hover {
    opacity: 0.9;
    transition: all 0.2s ease;
  }
}

.timeFrameWrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--widget-spacer);
  width: 100%;
}

.waitlistIndex {
  color: $widget-grey;
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  margin: 0 0 8px;
}

.waitlistKey {
  color: $widget-grey;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  width: 100%;
}

.waitlistValue {
  display: block;
  font-size: 12px;
  line-height: 18px;
  width: 100%;

  p {
    font-weight: 500;
    margin: 0;
    white-space: pre-line;
    word-break: break-word;
  }
}

.timeListWrapper {
  margin-bottom: var(--widget-spacer);
}

.helper {
  color: $widget-grey-light;
  display: block;
  font-size: 11px;
  letter-spacing: 0;
  margin: 8px 0;
  text-align: center;
  text-transform: uppercase;
}

.timeFrameButton {
  flex: 1;
}

.heading {
  color: $widget-grey-dark;
  display: block;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: calc(var(--widget-spacer) / 2);
  margin-top: 0;
  text-align: center;
  width: 100%;

  + .cardsWrapper {
    margin-top: var(--widget-spacer);
  }
}

.description {
  color: $widget-grey;
  display: block;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
  width: 100%;
}

.cardsWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.cardWrapper {
  display: flex;
  flex: 0 100%;
  @media (min-width: 460px) {
    flex: 0 50%;
  }

  .card {
    margin: 0 4px 8px !important;
  }
}

.rowCard {
  background: $widget-white;
  border: 1px solid $widget-grey-lighter;
  border-left: 0;
  border-right: 0;
  box-shadow: 1px 2px 3px 0 rgba(128, 128, 128, 0.15);
  margin-bottom: var(--widget-spacer);
  padding: var(--widget-spacer) 0;
  width: 100%;
}

.today {
  color: var(--primaryColor);
}

.selectedDay {
  background: var(--primaryColor);
  color: white;

  &:hover:not(.outside) {
    background: var(--primaryColor);
    opacity: 0.9;
  }
}

.outside {
  background: transparent;
  color: #dce0e0;
  cursor: default;
}

.start {
  opacity: 0.75;
}

.end {
  opacity: 0.75;
}

.cardContainer {
  @extend .container;
  padding: calc(var(--widget-spacer) * 2) calc(var(--widget-spacer) - 4px) 0;
  transition: all 0.2s ease;

  .heading,
  .description {
    padding: 0 4px;
  }
}

.scrollableContainer {
  box-sizing: border-box;
  height: 100%;
  padding-top: calc(var(--widget-spacer) * 2);
}

.modalContainerStyles {
  position: fixed;
}
