@import '../../../../ui.scss';

$border-radius: 4px;

.loadBar {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: $card-border-color;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}

.bar {
  content: '';
  display: inline;
  position: absolute;
  width: 0;
  height: 100%;
  left: 50%;
  text-align: center;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}

.bar:nth-child(1) {
  background-color: $primary-blue;
  animation: loading 1.5s linear infinite;
}

.bar:nth-child(2) {
  background-color: $primary-blue;
  animation: loading 1.5s linear infinite;
}

.bar:nth-child(3) {
  background-color: $primary-blue;
  animation: loading 1.5s linear infinite;
}

@keyframes loading {
  from {
    left: 0;
    width: 0;
  }
  33.3333% {
    left: 33.3333%;
    width: 33.3333%;
  }
  to {
    left: 100%;
    width: 0;
  }
}
