@import '../styles';

.joinWaitlist {
  display: flex;
}

.block {
  display: block;
}

.title {
  @extend .title;
  margin-bottom: var(--widget-spacer);
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
}

.editLink {
  @extend .editLink;
  width: auto;
  padding: 4px 8px;
  border-radius: 999px;
  box-shadow: 1px 2px 3px 0 rgba(128, 128, 128, 0.15);
  svg {
    margin-right: 4px;
  }
}

.content {
  hr {
    border: 0;
    margin: var(--widget-spacer) 0;
    background: $widget-grey-lighter;
    height: 1px;
  }
}
.emptyWaitlistTitle {
  @extend .title;
  margin-bottom: 0;
}
