
@import '../../../../ui';

.reviewAndBookWrapper {
  padding: 20px;
  @media screen and (min-width: $widget-mobile-width) {
    flex-direction: column;
    padding: 40px;
  }
}

.label {
  text-align: left;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 0.9px;
  height: 30px;
  display: flex;
  align-items: center;
  color: #C1D2D8;
  flex:1;
}

.gridContainer {
  padding: 20px;
  box-sizing: border-box;
  clear: both;
}


.submitButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  // padding: 0 20px;
  > button {
    width: 100%;
    max-width: 300px;
    &:hover {
      background-color: var(--primaryColor);
    }
  }
}

.well {
  color: $primary-dark;
  padding: 15px 10px;
  background-color: $primary-lightgray;
  border: 1px solid darken($primary-white, 10%);
  > div {
    padding: 5px 0;
    text-transform: capitalize;
  }
}

.bold {
  font-family: $medium-font;
  text-transform: none !important;
}
.text-left{
  text-align: left !important;
}

.service {
  @extend .bold;
}

.date {
  @extend .bold;
  color: var(--primaryColor);
}

.editWrapper {
  display: flex;
  flex-direction: row;
  > a {
    margin-left: auto;
    > button {
      font-family: $medium-font;
      color: $primary-blue;
      text-decoration: none;
      padding-right: 0 !important;
      padding-left: 0 !important;
    }
  }
}

.textArea {
  padding-top: 0;
  > textarea {
    padding: 10px;
    border: 1px solid $primary-gray;
    color: black;
  }
}

.preferencesWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -20px;
  @media screen and (max-width: $widget-mobile-width) {
    flex-direction: column;
    padding: 0;
  }
}

.fieldWrapper {
  padding: 0 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  @media screen and (min-width: $widget-mobile-width) {
    flex: 1;
    box-sizing: border-box;
  }
  &.fullFieldWrapper{
    width: 100%;
  }
  > div{
    width: 100%;
  }
}

.reviewAndBookSlot{
  text-align: left !important;
  justify-content: flex-start !important;
}
.reviewAndBookInputWrapper{
  padding: 0 0 20px !important;
}

.reviewAndBookPlaceholder{
  &::placeholder{
    font-style: italic;
    color: $inactive-color;
    font-weight: 200
  }
}

.flexWrapper{
  display: flex;
}

.boxWrapper{
 margin-bottom: 20px;
}