@import "../../../../../ui.scss";

* {
  box-sizing: border-box;
}
.card {

}
.modal {
  border-radius: $card-border-radius;
  border: 2px solid $primary-light-blue;
}

.cardHeader {
	padding: 20px 20px 0 20px;
	margin-bottom: 20px;

	&__menu {
		display: flex;
		flex-direction: row;

		font-size: $small-size;
		span:first-child {
			margin-right: 10px;
		}
	}
}
