@import '../../../ui.scss';

$base: 14px;

.base {
  font-size: $base;
  padding: 7px 10px 7px 18px;

  color: lighten(#333, 5%);

  background-color: $primary-grey;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  line-height: 17px;
  cursor: pointer;
  font-weight: bold;
  border: 1px solid darken($primary-grey, 5%);

  &:first-child {
    padding-left: 10px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  &:last-child{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  &:hover {
    background-color: darken($primary-grey, 5%);
    border-color: darken($primary-grey, 10%);

    .corner {
      border-color: transparent transparent transparent darken($primary-grey, 5%);
    }

    .corner-border {
      border-color: transparent transparent transparent darken($primary-grey, 10%);
    }
  }
}

.home {
  background-color: $primary-dark;
  color: $inactive-color;
  border-color: $primary-dark;

  .corner-border {
    border-color: transparent transparent transparent $primary-dark;
  }

  .corner {
    border-color: transparent transparent transparent $primary-dark;
  }

  &:hover {
    background-color: #41464c;
    color: $primary-white;
    border-color: #41464c;

    .corner {
      border-color: transparent transparent transparent #41464c;
    }

    .corner-border {
      border-color: transparent transparent transparent #41464c;
    }
  }
}

.corner {
  position: absolute;
  display: block;

  top: 0;
  right: -8px;
  width: 0;
  height: 0;

  border-style: solid;
  border-width: 16px 0 16px 8px;
  border-color: transparent transparent transparent $primary-grey;

  z-index: 2;
}

.corner-border {
  @extend .corner;

  transform: translateX(1px);
  border-color: transparent transparent transparent darken($primary-grey, 5%);
  z-index: 1;
}

.icon {
  padding-right: .5em;

  &:last-child {
    padding-right: 0;
  }
}
