@import '../../../styles/ui';

.patientPage {
  align-items: center;
  background-color: $primary-grey;
  display: flex;
  // position: fixed;
  height: 100%;
  justify-content: center;
  min-height: 600px;
  min-width: 375px;
  overflow: auto;
  width: 100%;
  z-index: 199;
}

.patientPageConent {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 513px;
  padding: 0 20px 0;
  @media screen and (max-width: $medium-screen-width) {
    min-height: calc(100% - 60px);
  }
}

.centerWrapper {
  // border-top: $card-border-size $primary-color;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 650px;
  z-index: 200;
  @media screen and (max-width: $medium-screen-width) {
    height: 100%;
    width: 100%;
  }
}

.logoClinic {
  height: 40px;
}
