
@import '../../../ui.scss';

.signUpWrapper {
  box-sizing: border-box;
  padding: 0 20px 20px;
  @media screen and (min-width: $widget-mobile-width) {
    padding: 0 40px 40px;
  }
}

.header {
  composes: cardHeaderTitle from 'sass-loader!../../../fonts.scss';
  padding: 20px 0;
  text-align: center;
  color: $primary-blue;
}

.message {
  line-height: 20px;
  font-size: 12px;
  color: $primary-darkgrey;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.phone {
  font-family: $medium-font;
}

.subHeader {
  composes: listItemHeader from 'sass-loader!../../../fonts.scss';
  padding: 10px 0;
}

.customSubmitButton {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 10px;
}

.signUpForm {
  > [class*="group"] {
    padding: 18px 0;
  }
}
