
@import '../ui.scss';

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: $primary-grey;
  font-size: 14px;
}

:global {
  #root {
    height: 100%;
    > div {
      height: 100%;
    }
  }

  .CareCruToggle.react-toggle--checked {
    &:hover {
      .react-toggle-track {
        background-color: $primary-color;
      }
    }

    .react-toggle-track {
      background-color: $primary-color;
    }
  }

  .CareCruToggle.react-toggle--focus {
    .react-toggle-thumb {
      box-shadow: none;
    }
  }
}

