
@import '../ui.scss';
@import '../fonts.scss';

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: $primary-grey;
  font-size: 14px;
}

:global {
  #root {
    height: 100%;
    > div {
      height: 100%;
    }
  }

  .CareCruToggle.react-toggle--checked {
    &:hover {
      .react-toggle-track {
        background-color: $primary-color;
      }
    }

    .react-toggle-track {
      background-color: $primary-color;
    }

    .react-toggle-thumb {
      border-color: $primary-color;
    }
  }

  .CareCruToggle.react-toggle--focus {
    .react-toggle-thumb {
      box-shadow: none;
    }
  }

  .dd-menu-items {
    min-width: 200px;
    z-index: 2500 !important;
    white-space: nowrap;
    margin-top: 12px !important;
    background-color: $primary-white;
  }

  .separator {
    height: 2px !important;
    background-color: $primary-lightgrey !important;
  }

}
