@import '../ui.scss';
@import '../fonts.scss';

$intercom-side-margin: 50px;

:global {
  html.Dashboard,
  html.hub {
    height: 100%;
  }

  body.hub {
    height: 100%;
    color: $primary-dark;
    background: transparent;
    font-size: 12px;
    overflow: hidden;

    #intercom-container {
      position: absolute !important;
      right: $electron-anti-radius-padding;
      left: $intercom-side-margin !important;
      top: $electron-anti-radius-padding;
      bottom: $electron-anti-radius-padding;
      width: auto !important;
      opacity: 0;
      transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      z-index: 0 !important;
      transform: translateX(-100%);

      &.active {
        transform: translateX(0) !important;
        opacity: 1;
      }

      &.right {
        right: $intercom-side-margin !important;
        left: $electron-anti-radius-padding !important;
        transform: translateX(0) !important;

        .intercom-messenger-frame {
          border-radius: 0 !important;
          border-bottom-left-radius: $electron-border-radius !important;
          border-top-left-radius: $electron-border-radius !important;
        }
      }

      .intercom-messenger-frame {
        position: absolute !important;
        top: $electron-anti-radius-padding !important;
        bottom: $electron-anti-radius-padding !important;
        height: auto !important;
        min-height: 655px - 3 * $electron-anti-radius-padding - 1px !important;
        border-top-right-radius: $electron-border-radius !important;
        border-bottom-right-radius: $electron-border-radius !important;
        box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.14), -1px 1px 6px 0 rgba(0, 0, 0, 0.12) !important;
      }

      .intercom-gradient {
        background: transparent;
        display: none;
      }

      .intercom-borderless-frame {
        display: none !important;
      }
    }
  }

  body.Dashboard {
    height: 100%;
    background-color: $primary-dark;
    color: $primary-dark;
    font-size: 12px;
    overflow: hidden;
  }

  html.MyPatientApp {
    height: 100%;
  }

  body.MyPatientApp {
    height: 100%;
    background-color: $primary-grey;
    font-size: 12px;
  }

  body.Widget {
    background-color: $widget-grey-lightest;
  }

  #root {
    height: 100%;
    > div {
      height: 100%;
      > div {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
    }
  }

  .loader {
    width: 100%;
    height: calc(100vh - 65px);
    background: #e6e6e6;
    z-index: 9999;
  }

  .dropDownOverwrite.dd-menu.dd-menu-left {
    .dd-menu-items {
      left: -100%;
    }
  }

  .dd-menu-items {
    width: 100%;
    min-width: 100px;
    z-index: 2500 !important;
    white-space: nowrap;
    background: transparent;
  }

  .dd-menu .dd-menu-items ul,
  .dd-menu .dd-menu-items ol {
    background-color: $primary-grey;
  }

  .separator {
    height: 2px !important;
    background-color: $primary-lightgrey !important;
  }

  .rc-tooltip-inner {
    min-height: 0;
    border-radius: 0;
    background-color: #2e3845;
  }

  .rc-tooltip-placement-top .rc-tooltip-arrow {
    border-top-color: #2e3845;
  }
  .rc-tooltip {
    &.light {
      width: 250px;
      opacity: 1;
      .rc-tooltip-arrow {
        border-top-color: #ccc;
        bottom: 2px;
        margin-left: -5px;
        border-width: 6px 8px 0;
      }
      .rc-tooltip-inner {
        border-radius: 4px;
        background: #fff;
        color: $primary-dark-grey;
        padding: 12px 14px;
        text-transform: none;
        font-size: 12px;
        box-shadow: 0 1px 10px 1px rgba(181, 181, 181, 0.6);
      }
    }
  }
}

.loadBar {
  position: relative;
  width: 100%;
  height: 3px !important;
  background-color: $card-border-color;
}

.barInContainer {
  position: absolute;
  margin-top: -15px;
  margin-left: -10px;
  margin-right: -15px;
}

.bar {
  content: '';
  display: inline;
  position: absolute;
  width: 0;
  height: 100%;
  left: 50%;
  text-align: center;
}

.bar:nth-child(1) {
  background-color: $primary-blue;
  animation: loading 2.5s linear infinite;
}

.bar:nth-child(2) {
  background-color: $primary-blue;
  animation: loading 2.5s linear infinite;
}

.bar:nth-child(3) {
  background-color: $primary-blue;
  animation: loading 2.5s linear infinite;
}

@keyframes loading {
  from {
    left: 0;
    width: 0;
  }
  33.3333% {
    left: 33.3333%;
    width: 33.3333%;
  }
  to {
    left: 100%;
    width: 0;
  }
}
.displayContainer {
  overflow-y: scroll;
  // height: 250px;
  height: 210px;
  min-height: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  line-height: 20px;
  font-size: 12px;
  color: var(--primaryButtonColor);
  font-family: $medium-font;
}
