@import './ui';

.letterSpacing {
  letter-spacing: 0.5px;
}

.font-header-title {
  color: $primary-dark;
  font-size: $title-size;
  @extend .letterSpacing;
}
.font-header-title-white {
  color: $primary-white;
  font-size: $title-size;
  @extend .letterSpacing;
}

.font-large {
  font-size: $large-size;
  font-weight: $bold-weight;
  @extend .letterSpacing;
}
.font-small {
  font-size: $small-size;
  font-weight: $normal-weight;
  @extend .letterSpacing;
}

.font-jumbo {
  font-size: $jumbo-size;
  font-weight: $semi-bold-weight;
  letter-spacing: 2px;
  @extend .letterSpacing;
}

.font-jumbo-thin {
  font-size: $jumbo-size;
  font-weight: $semi-bold-weight;
  letter-spacing: 2px;
  @extend .letterSpacing;
}

.font-medium {
  color: $primary-dark;
  font-size: $medium-size;
  font-weight: $medium-weight;
  @extend .letterSpacing;
}

.font-medium-noFont {
  font-size: $medium-size;
  font-weight: $medium-weight;
  @extend .letterSpacing;
}

.font-jumbo-dark {
  @extend .font-jumbo;
  color: $primary-dark;
  @extend .letterSpacing;
}

.font-jumbo-white {
  @extend .font-jumbo;
  color: $primary-white;
  @extend .letterSpacing;
}

.font-large-dark {
  @extend .font-large;
  color: $primary-dark;
  @extend .letterSpacing;
}

.font-medium-dark {
  @extend .font-medium;
  color: $primary-dark;
  @extend .letterSpacing;
}

.font-small-dark {
  @extend .font-small;
  color: $primary-dark;
  @extend .letterSpacing;
}

.font-medium-grey {
  @extend .font-medium;
  color: $inactive-color;
  @extend .letterSpacing;
}

.font-small-grey {
  @extend .font-small;
  color: $inactive-color;
  @extend .letterSpacing;
}

.fontDefault {
  @extend .letterSpacing;
}

.fontBold {
  @extend .letterSpacing;
}

.fontExtraSmall {
  font-size: $x-small-size;
  font-weight: $normal-weight;
  @extend .letterSpacing;
}

.fontSmall {
  font-size: $small-size;
  font-weight: $normal-weight;
  @extend .letterSpacing;
}

.fontMedium {
  @extend .letterSpacing;
}

.fontJumbo {
  @extend .font-jumbo;
  @extend .letterSpacing;
}

.fontJumboThin {
  font-size: $jumbo-size;
  font-weight: $semi-bold-weight;
  letter-spacing: 2px;
  @extend .letterSpacing;
}

.fontLarge {
  font-size: $large-size;
  font-weight: $bold-weight;
  @extend .letterSpacing;
}

.fontMediumSize {
  font-size: $medium-size;
  font-weight: $bold-weight;
  @extend .letterSpacing;
}

.fontMediumPlusSize {
  font-size: $x-medium-size;
  font-weight: $medium-weight;
  @extend .fontMedium;
  @extend .letterSpacing;
}

.fontMediumLarge {
  font-size: $xxx-medium-size;
  font-weight: $bold-weight;
  @extend .letterSpacing;
}

.fontExtraLarge {
  font-size: $xxx-large-size;
  font-weight: $bold-weight;
  @extend .letterSpacing;
}

.fontExtraMediumLarge {
  font-size: $xx-large-size;
  font-weight: $bold-weight;
  @extend .letterSpacing;
}

.cardHeaderTitle {
  color: $primary-dark;
  font-size: $title-size;
  @extend .letterSpacing;
  @extend .fontMedium;
}

.cardHeaderCount {
  font-size: $count-size;
  font-weight: 800;
  @extend .letterSpacing;
  @extend .fontMedium;
}

.listItemHeader {
  color: $primary-dark;
  @extend .letterSpacing;
  @extend .fontMedium;
}

.header {
  font-size: $header-size;
  font-weight: $semi-bold-weight;
  @extend .letterSpacing;
}

.headerImportant {
  font-size: $header-size !important;
  font-weight: $semi-bold-weight !important;
  @extend .letterSpacing;
}

.subHeader {
  color: $empty-grey;
  @extend .letterSpacing;
}
.subHeaderSmall {
  color: $primary-darkgrey;
  font-size: $small-size;
  @extend .letterSpacing;
}
.subHeaderExtraSmall {
  color: $primary-darkgrey;
  font-size: $x-small-size;
  @extend .letterSpacing;
}

.subHeaderMedium {
  color: darken($primary-grey, 15%);
  @extend .letterSpacing;
  @extend .fontMedium;
}
.subHeaderMediumSmall {
  color: $primary-darkgrey;
  font-size: $small-size;
  @extend .letterSpacing;
  @extend .fontMedium;
}

.tab {
  color: $primary-darkgrey;
  @extend .letterSpacing;
}
