@use 'sass:math';

$container-padding: 10px 15px 0 10px;

$color-black: rgb(0, 0, 0);
$color-white: rgb(255, 255, 255);

$primary-color: #ff715a;
$primary-color-hover: darken($primary-color, 5%);

$widget-primary-color: var(--bookingWidgetPrimaryColor);

$secondary-color1: #caebf2;
$secondary-color2: #caebf2;
$primary-yellow: #ffc45a;
$primary-orange: #f5c673;
$primary-blue: #154b6e;
$primary-green: #2cc4a7;
$primary-dull-blue: #206477;
$primary-dark-blue: #3a5199;
$primary-navy-blue: #518493;
$primary-light-blue: #8cbcd6;

$clr-border: #dedede;
$clr-bg-dark-grey: #cdcdcd;
$clr-dark-grey: #808080;
$clr-dark-blue: #29313c;

$clr-table-grey: #757575;
$clr-table-light-grey: #c6c6c6;
$clr-table-border: #f2f2f2;
$clr-table-header-icons: #eff2f3;

$primary-blue-green: #206477;
$primary-dark: #2e3845;
$primary-darker: #3d4551;
$primary-darkdark: #242a34;

$inactive-color: #b4b4b5;
$primary-darkgrey: #959596;
$primary-dark-grey: #808081;
$primary-grey: #efefef;
$primary-gray: darken($primary-grey, 20%);
$primary-lightgrey: #f0f0f0;
$primary-light-grey: #c9c9c9;
$light-grey: #a7a9ac;

$chat-lightgrey: #f4f4f4;
$chat-bluegrey-light: #eaeeef;
$chat-tabs-color: #f4f4f4;
$chat-border-color: #efefef;
$chat-tabs-border-color: #e3e3e3;

$primary-white: white;
$primary-lightgray: #fafafa;
$background-color: #e4e4e4;
$primary-red: #ff715c;
$primary-star: #fbf174;
// $primary-color-dark: black;
$box-shadow: 1px 1px 16px 0.1px rgba(0, 0, 0, 0.3);
$widget-box-shadow: 0 1px rgba(0, 0, 0, 0.05);
$disabled-color: lighten($primary-darkgrey, 25%);
$empty-grey: darken(lightgrey, 5%);
$card-border-color: #cdcdcd;
$google-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12),
  0 3px 5px -1px rgba(0, 0, 0, 0.2);

$electron-button-primary: #1c6576;
$electron-button-primary-hover: #195566;

$electron-disabled-items: #eaeaea;
$electron-primary-menu: #1c6576;
$electron-content-heading-bg: #2e3843;
$electron-content-right-border: $clr-bg-dark-grey;
$electron-chat-tabs-border: $clr-bg-dark-grey;
$electron-chat-items-bottom-border: #e4e4e4;
$electron-chat-message-bg-clinic: #175263;
$electron-chat-top-bar-name: #1c6576;
$electron-toolbar-icon-hover-bg: #ededed;
$electron-external-link-icon: #dedede;
$electron-border-bottom-color: #efefef;
$electron-active-collapsible-bg: #f4f4f4;

$electron-logo-size: 50px;
$electron-header-size: calc(100% - 50px);
$electron-bar-width: 50px;
$electron-anti-radius-padding: 10px;
$electron-border-radius: 4px;

$report-border-bottom: #e9eaeb;

$box-shadow-dashboard: 0 5px 25px 2px rgba(209, 209, 209, 0.6);
$color-slate-grey: #929293;
$color-rhino: #3b4552;
$color-dark-blue: #313843;
$color-greyish-blue: #4f5966;

// Feedback Colors
$danger-color: red;
$info-color: blue;
$warning-color: yellow;
$info: #03a3bb;

$font-size: 14px;

$top-nav-height: 65px;
$side-nav-width: 222px;
$mini-side-nav-width: 75px;

$small-screen-width: 400px;
$medium-screen-width: 700px;
$large-screen-width: 1000px;
$widget-mobile-width: 500px;

$card-border-size: 5px solid;
$selection-border: 3px solid;
$card-border-radius: 10px;

$dashboard-font: Gotham-Book;
$book-font: Gotham-Book;
$medium-font: Gotham-Medium;

$padding-card-base: 30px;

//header-sizes
$count-size: 15px;
$title-size: 15px;
$header-size: 25px;

//Font-sizes
$x-jumbo-size: 66px;
$jumbo-size: 53px;
$xx-large-size: 40px;
$xxx-large-size: 48px;
$large-size: 34px;

$xxx-medium-size: 24px;
$xx-medium-size: 20px;
$x-medium-size: 16px;
$medium-size: 14px;
$small-size: 12px;
$x-small-size: 10px;

//Font-weights
$semi-bold-weight: 600;
$bold-weight: 700;
$medium-weight: 500;
$normal-weight: 400;
$normall-weight: 200;

// Facebook Colors
$fb-bg-color: #3b5998;
$fb-fg-color: #fff;

$browser-context: 14;

$badge-notification-background: $primary-color;

@function em($pixels, $context: $browser-context) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return math.div($pixels, $context) * 1em;
}

/**
 * Widget Styles
 */
$widget-blue-grey: #7c8e94;
$widget-blue: #43bffe;
$widget-blue-dark: #2a95cc;
$widget-grey-dark: #777;
$widget-grey: #6e6e6e;
$widget-grey-light: #aaaaaa;
$widget-grey-lighter: #eee;
$widget-grey-lightest: #fafafa;
$widget-red: #eb5353;
$widget-white: #fff;

$search-bg: #f4f4f4;
$search-border-color: #adadae;

$warning: #eaba4e;

@mixin borderTopRight {
  border-top-right-radius: $electron-border-radius;
}

@mixin borderBottomRight {
  border-bottom-right-radius: $electron-border-radius;
}

@mixin borderTopLeft {
  border-top-left-radius: $electron-border-radius;
}

@mixin borderBottomLeft {
  border-bottom-left-radius: $electron-border-radius;
}

@mixin blurred-mixin() {
  background-color: $clr-dark-grey;
  bottom: -3px;
  filter: url(#blurred);
  left: -3px;
  position: absolute;
  right: -3px;
  top: 90px;
}

.borderTopRight {
  @include borderTopRight;
}

.borderBottomRight {
  @include borderBottomRight;
}

.borderTopLeft {
  @include borderTopLeft;
}

.borderBottomLeft {
  @include borderBottomLeft;
}

.ui-kit-smoother {
  transition: all 150ms;
}
