
@import '../../../../ui';

.blurBackground {
  align-items: center;
  background: linear-gradient(var(--primaryColor), white 70%);
  border-radius: 50%;
  // border-color: $primary-color;
  //transition-timing-function: ease-in;
  display: flex;
  justify-content: center;
}

.space {
  height: 20px;
  @media screen and (min-width: $widget-mobile-width) {
    height: 40px;
  }
}

