@import "../../../styles/ui";
.dashboardStats {
    //cursor: pointer;
    //margin-bottom: 15px;
    &__item {
        padding: 5px;
    }
}
.primaryColor {
    background: $primary-color;
}
.primaryBlue {
    background: $primary-blue;
}
.primaryGreen {
    background: $primary-green;
}
.primaryYellow {
    background: $primary-yellow;
}

.primaryRed {
	background: $primary-red;
}

.darkblue {
	background: $primary-blue;
}

.lightblue {
  background: $primary-light-blue;
}
