@import "../../../ui";
.dashboardStats {
    cursor: pointer;
    margin-bottom: 20px;
    &__item {
        padding: 5px;
    }
}
.primaryColor {
    background: $primary-color;
}
.primaryBlue {
    background: $primary-blue;
}
.primaryGreen {
    background: $primary-green;
}
.primaryYellow {
    background: $primary-yellow;
}