@import '../../../ui';
@import '../../../fonts';

.filters {
  &__checkFilter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 50px;
    color: lighten($primary-darkgrey, 20%);
    composes: subHeader from '../../../fonts.scss';
    @media screen and (max-width: 1000px) {
      padding: 12px 20px;
    }
    &__chbox {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      div {
        display: inline-block;
      }
    }
  }

  &__header {
    display: flex;
    align-items: center;
    flex-direction: row;
    //margin: 10px 0;
    margin: 10px 0 10px 15px;
    &__left {
      //width: 55%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      font-size: $medium-size;
      font-weight: $large-weight;
      font-family: $medium-font;
      span {
        margin-left: 10px;
      }
    }
    &__right {
      margin-left: auto;
      margin-right: 10px;
      font-size: $small-size;
      color: $primary-darkgrey;
      font-weight: $large-weight;
      display: flex;
      flex-direction: row;
      span {
        margin: 0 5px;
      }

      > button {
        padding: 0;
      }
    }
  }
  &__search {
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin: 10px 0;
    color: $primary-darkgrey;
    input {
      width: 80%;
      padding: 0;
      margin-left: 5px;
      outline: none;
      border: none;
      border-bottom: 1px solid $primary-darkgrey;
      background-color: inherit;
    }
  }

  &__title {
    background-color: $primary-grey;
    color: $primary-dark;
    padding: 10px 20px;
    font-weight: $large-weight;
    font-size: $medium-size;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    text-transform: capitalize;

    &__icon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 10px;
      margin-right: 10px;
      width: 20px;
      height: 20px;
      align-items: center;
      border-radius: 50%;
      color: $primary-white;
    }
  }

  &__selectFilter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: $medium-size;
    margin: 5px 0 5px -8px;
    color: $primary-darkgrey;
    select {
      margin-left: -4px;
      color: $primary-darkgrey;
      font-family: $dashboard-font;
      font-size: $medium-size;
      border: 0;
      background: none;
      width: 100%;
      margin: 0 auto;
      padding-left: 0;
      border: none;
    }
    select:focus {
      outline: none;
      border: 0;
    }
  }
}
