
@import '../../../ui.scss';

.headerWrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  margin-bottom: 50px;
}

.pullRight {
  margin-left: auto;
}

.button {
  padding: 0;
  composes: headerImportant from 'sass-loader!../../../fonts.scss';
  background-color: transparent;
  color: $primary-darkgrey;
  &:hover {
    color: darken($primary-darkgrey, 10%);
    background: transparent;
  }
}

