@import '../../../ui';

.card {
  width: auto;
  box-shadow: 0 5px 25px 2px rgba(209, 209, 209, 0.6);
  min-width: 270px;
  z-index: 5001;
}

.cardMobile {
  @extend .card;
  position: absolute;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  z-index: 299;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  height: 45px;
  background-color: #313843;
  color: $primary-white;
  padding-left: 15px;
  padding-right: 15px;

  &_text {
    padding-left: 5px;
    font-size: 15px;
    margin-right: 10px;
    composes: fontDefault from '../../../fonts.scss';
  }
}

.headerMobile {
  @extend .header;
  padding-left: 8px;
}

.closeIcon {
  margin-left: auto;
  composes: fontMediumSize from '../../../fonts.scss';
  color: $primary-grey;
  background: none;
  font-size: 14px;
  padding: 1px 7px 2px;
  &:hover {
    cursor: pointer;
  }
}

.closeIconMobile {
  @extend .closeIcon;
  margin-left: 0;
}

.calendarIcon {
  padding-bottom: 2px;
}

.body {
  padding: 15px;
  height: auto;
  min-height: 200px;
  max-height: 350px;
  max-width: 285px;
}

.bodyMobile {
  @extend .body;
  max-height: none;
  padding-left: 25px;
  .container {
    margin-bottom: 35px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

.subHeader {
  composes: subHeaderExtraSmall from '../../../fonts.scss';
  padding-bottom: 5px;
  text-transform: uppercase;
}

.subHeaderMobile {
  @extend .header;
  z-index: 1;
  justify-content: center;
  background-color: $primary-grey;
  &_text {
    @extend .header_text;
    background: none;
    color: $primary-blue-green;
    cursor: auto;
  }
}

.data {
  display: flex;
  align-items: center;
  font-size: 13px;
  composes: fontMedium from '../../../fonts.scss';
  padding-bottom: 8px;

  &_note {
    max-height: 40px;
    overflow: auto;
  }

  &_text {
    padding-left: 5px;
    padding-top: 1px;
  }
}
.multilineData {
  @extend .data;
  align-items: flex-start;
  .data_text {
    padding-top: 0;
  }
}

.subData {
  composes: fontExtraSmall from '../../../fonts.scss';
  color: $primary-dark-grey;
}

.footer {
  border-top: 1px solid $primary-grey;
  box-sizing: border-box;
  display: flex;
  padding: 15px;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.footerMobile {
  @extend .footer;
  width: auto;
  justify-content: flex-start;
  border-top: none;
  &_actions {
    position: absolute;
    bottom: 0;
    left: 0;
    @extend .actionsOverlay;
  }
}

.blurredHub {
  @include blurred-mixin();
  top: 42px;
}

.blurred {
  @include blurred-mixin();
  top: 90px;
}

.actionButtonMobile {
  height: auto;
  font-size: 20px;
  padding: 12px 13px;
  composes: fontDefault from '../../../fonts.scss';
}

.actionsOverlay {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.actionOverlayButtonMobile {
  color: $primary-white;
  background: none;
  text-transform: uppercase;
  padding: 0 0.5em;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.actionOverlayButtonIconMobile {
  padding: 7px;
  background: $primary-white;
  color: $primary-blue-green;
  border-radius: 20px;
  margin-right: 10px;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background: $primary-blue-green;
    color: $primary-white;
  }
}

.editButton {
  margin-left: 5px;
}

.requestedAt {
  font-size: $extra-small-size;
  composes: fontDefault from '../../../fonts.scss';
  color: #808081;

  &_diffUserContainer {
    margin-bottom: 5px;
  }

  &_byDiffUser {
    composes: fontDefault from '../../../fonts.scss';
    opacity: 1;
    font-size: $extra-small-size;
    color: $primary-dark;
  }

  &_on {
    padding-right: 5px;
    opacity: 0.6;
  }
}
