
@import '../../../ui';

.toggleWrapper {
  display: flex;
  align-items: center;
  height: auto;
}

.toggleLabel {

}

.toggle {
  margin-left: auto;
}

.theme {
  &_primaryBlueBackground {
    background-color: $primary-blue;
  }
}
