@import '../../../styles/ui-reskin.scss';

:global {
  .CareCruToggle {
    &:hover:not(.react-toggle--disabled) {
      .react-toggle-track {
        background-color: $color-grey-300;
      }
    }

    .react-toggle-track {
      background-color: $color-grey-200;
      height: 12px;
      width: 26px;
      &:hover {
        background-color: $color-grey-200;
      }
    }

    .react-toggle-thumb {
      border: 0;
      height: 10px;
      left: 1px;
      top: 1px;
      width: 10px;
    }

    &.react-toggle--checked {
      .react-toggle-track {
        height: 12px;
        width: 26px;
      }

      .react-toggle-thumb {
        height: 10px;
        left: 15px;
        width: 10px;
      }
    }

    &.react-toggle--focus {
      .react-toggle-thumb {
        box-shadow: none;
      }
    }

    &--red.react-toggle--checked {
      &:hover {
        .react-toggle-track {
          background-color: $color-lavender-550;
        }
      }

      .react-toggle-track {
        background-color: var(--primaryButtonColor);
      }

      .react-toggle-thumb {
        border-color: var(--primaryButtonColor);
      }
    }

    &--green.react-toggle--checked {
      &:hover {
        .react-toggle-track {
          background-color: $color-lavender-550;
        }
      }

      .react-toggle-track {
        background-color: var(--primaryButtonColor);
      }

      .react-toggle-thumb {
        border-color: var(--primaryButtonColor);
      }
    }

    &--yellow.react-toggle--checked {
      &:hover {
        .react-toggle-track {
          background-color: $color-lavender-550;
        }
      }

      .react-toggle-track {
        background-color: var(--primaryButtonColor);
      }

      .react-toggle-thumb {
        border-color: var(--primaryButtonColor);
      }
    }

    &--electron.react-toggle--checked {
      &:hover {
        .react-toggle-track {
          background-color: $color-lavender-550;
        }
      }

      .react-toggle-track {
        background-color: var(--primaryButtonColor);
      }

      .react-toggle-thumb {
        border-color: var(--primaryButtonColor);
      }
    }
  }
}

.toggleWrapper {
  align-items: center;
  display: flex;
  height: auto;
}

.toggle {
  margin-left: auto;
}

.theme {
  &_primaryBlueBackground {
    background-color: $color-lavender-500;
  }
}
