@import '../../../ui.scss';

.badgeHeader {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 0.5rem;
  position: relative;
  @media (max-width: 496px) {
    align-items: flex-start;
    flex-direction: column;
  }
}

.displayFlex {
  align-items: center;
  display: flex;
  width: 100%;
}

.countContainer {
  margin-left: auto;
}
.badgeCount {
  align-items: center;
  background-color: $primary-dark-grey;
  border-radius: 12px;
  color: #fff;
  display: flex;
  font-size: 12px;
  height: 12px;
  justify-content: center;
  padding: 5px;
  text-align: center;
  width: 12px;
}

.title {
  display: inline-block;
  font-family: $medium-font;
  font-size: $font-size;
}
