@import "../../../ui.scss";

.social {
  &__header {
    &_title {
      display: flex;
      align-items: center;
      height: 60px;
      background: $primary-white;
      width: 100%;
      padding-left: 30px;
      margin-bottom: 30px;
      font-size: $medium-size;
      b {
        padding-left: 5px;
      }
    }
    &_cards {
      cursor: pointer;
      margin-bottom: 20px;
      div:not(:last-child) {
        margin-right: 10px;
        flex: 1;
      }
    }
  }
  &__patientList {
    &_item {
      padding: 5px;
    }
  }
  &__body {
    &_arrows {
      padding-right: 50px;
    }
  }
}

.padding {
  padding: 5px;  
}

.cardHeader {
  padding: 20px;
}

.columnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rowContainer {
  display: flex;
  flex-direction: row;
}

.alignItemsCenter {
  alignItems: center;
}

.alignFlexEnd {
  align-items: flex-end;
}

.spaceAround {
  justify-content: space-around;
}

.justifyCenter {
  justify-content: center;
}

.font24 {
  font-size: 24;
}

.font48  {
  font-size: 48px;
}

.font64 {
  font-size: 64px;
}

.font48 {
  font-size: 48px;
}


.font54 {
  font-size: 54px;
}

.font56 {
  font-size: 56px;
}

.font82 {
  font-size: 82px;
}

.fontWeight200 {
  font-weight: 200;
}

.fontWeight800 {
  font-weight: 800;
}

.marginTop30 {
  margin: 30px 0px 0px 0px;
}

.colorBlack {
  color: #000000;
}

.colorGrey {
  color: #B4B4B4;
}

.marginTop20 {
  margin-top: 20px;
}

.marginBottom10 {
  margin-bottom: 10px;
}

.width100p {
  width: 100%;
}