@import '../../ui';

$padding-size-border: 10px;

.topBarContainer {
  display: flex;
  background-color: $primary-grey;
}

.topBarContainerCollapsed {
  padding-left: 0;
}

.topBarContainerUnCollapsed {
  @media screen and (max-width: $medium-screen-width) {
    padding-left: 0;
  }

  @media screen and (min-width: $medium-screen-width) {
    padding-left: 0;
  }
}

.logoImg {
  cursor: pointer;
  @media screen and (max-width: $medium-screen-width) {
    width: 40px;
  }

  @media screen and (min-width: $medium-screen-width) {
    margin-top: -10px;
    width: 60px;
  }
}

.logoWrapper {
  // padding-left: 20px;
  height: 100%;
  // border-bottom: 2px grey solid;
  background-color: $primary-dark;
  padding-left: $padding-size-border;
  padding-right: $padding-size-border;
  box-sizing: border-box;
  color: white;
}

.logoWrapperCollapsed {
  @extend .logoWrapper;
  @media screen and (max-width: $medium-screen-width) {
    display: none;
  }
}

.logoImage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $side-nav-width - 2 * $padding-size-border;
  height: 100%;
  text-align: center;
  border-bottom: 1px $primary-darkgrey solid;
  box-sizing: border-box;
  transition: ease-out 0.3s all;
}

.logoImageCollapsed {
  @extend .logoImage;
  @media screen and (min-width: $medium-screen-width) {
    width: $mini-side-nav-width - 2 * $padding-size-border;
    // background-color: green;
  }
}

.logoImageImage {
  width: 140px;
  transition: ease-out 0.3s all;
}

.logoImageImageCollapsed {
  width: 30px;
}

.collapseButton {
  display: inline;
  cursor: pointer;
  color: $primary-dark;
  @media screen and (max-width: $medium-screen-width) {
    font-size: 1.2rem;
    margin-left: 5px;
  }

  @media screen and (min-width: $medium-screen-width) {
    font-size: 1.4rem;
    margin-left: 10px;
  }
}

.hamburger {
  color: $primary-dark;
  //width: 35px !important;
  //margin-left: 15px;
}

.rightOfBar {
  display: flex !important;
  text-align: right;
  //margin-left: auto;
}

.pillsList {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-left: 0;
  list-style: none;
}

.userContainer {
  display: flex;
  align-items: center;
}

.userDropdownMenu > div {
  width: auto;
  margin: -5px 0 0 0 !important;
  display: flex;
  align-items: center;
}

.accountsDropdownMenu > div {
  width: auto;

  > ul {
    max-height: 270px;
    overflow: scroll;
  }
}

.userMenuButton {
  display: flex;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  border-right: 1px solid lighten($primary-dark-grey, 25%);

  &:hover {
    color: $primary-blue !important;

    .greeting {
      color: $primary-blue;
    }

    .userRole {
      color: lighten($primary-blue, 10%);
    }

    .businessName {
      color: lighten($primary-blue, 10%);
    }
  }
}

.userMenuGreeting {
  display: inline-block;
  align-items: center;
  padding-right: 10px;
  font-weight: 600;
  text-align: right;
  @media screen and (max-width: $medium-screen-width) {
    display: none;
  }
}

.greeting {
  font-family: $medium-font;
}

.userRole {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 10px;
  color: $primary-darkgrey;
}

.businessName {
  font-weight: 100;
  font-size: 10px;
  color: $primary-darkgrey;
}

.userAvatar {
  margin-right: 10px;
}

.activeAccountButton {
  color: $primary-dark-grey;
  padding: 0 1em;
  border-right: 1px solid lighten($primary-dark-grey, 25%);
  background: none;
  cursor: pointer;
  line-height: 42px;
  white-space: nowrap;

  &:hover {
    color: $primary-blue;
  }
}

.activeAccountTitle {
  padding-right: 0.5em;
}

.menuItemSelected {
  background-color: $primary-blue;
  cursor: default;
  color: white;

  &:hover {
    background-color: $primary-blue !important;
    cursor: default;
    color: white !important;
  }

  &:last-child {
    border-bottom: none;
  }
}

.userMenuLi {
  width: 200px;
  background-color: $primary-white;
}

.searchContainer {
  display: flex;
  margin-right: 50px;
  z-index: 25;

  @media screen and (max-width: 400px) {
    display: none;
  }
}

.wrapper {
  position: relative;
  height: 35px;
}

.searchIconWrapper {
  position: absolute;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  left: 8px;
  top: 4px;
  z-index: 2;
  border: 1px solid darken(#f4f4f4, 10%);
  border-radius: 50% !important;
  background-color: darken(#f4f4f4, 5%) !important;
  font-size: 12px;
  width: 28px !important;

  &:hover {
    cursor: pointer;
    border-color: $primary-blue;
  }
}

.searchIcon {
  padding: 7px;
  color: $primary-dark;
}

.iconSearchOpen {
  pointer-events: none;
  border: 0;
  background-color: transparent !important;
  color: $primary-dark;
}

.searchTheme {
  background-color: darken(#f4f4f4, 5%);
  height: 100%;
  border: 1px solid darken(#f4f4f4, 10%);
  border-radius: 45px;
  padding: 0;

  input {
    height: 100%;
    padding-left: 33px;
    border: none;
  }

  input::placeholder {
    font-size: 12px;
    color: #929293;
    padding-left: 2px;
  }

  @media screen and (max-width: 1250px) {
    input {
      width: 300px;
    }
  }

  @media screen and (max-width: 1100px) {
    width: 250px;
  }

  @media screen and (max-width: 1050px) {
    width: 150px;
  }
}

.barStyle {
  display: none;
  //width: 75%;
}

.patientSearchClass {
  height: 100%;
  box-shadow: unset;
}

.containerOpen {
  top: 35px;
  box-sizing: border-box;
  outline: none;
  max-height: 300px;
  overflow: auto;
}

.suggestionsList {
  outline: none;
  box-sizing: border-box;
  background: $primary-white;
}

.animateSearch {
  input {
    width: 0;
    animation: animateThis 0.3s ease-in-out;
    animation-fill-mode: forwards;
  }
}

@keyframes animateThis {
  0% {
    width: 0;
  }
  100% {
    width: 600px;
  }
}

.rightContainer {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
