
@import '../../ui';

.topBarContainer {
  background-color: $primary-grey;
}

.topBarContainerCollapsed {
  padding-left: 0px;
}

.topBarContainerUnCollapsed {
  @media screen and (max-width: $medium-screen-width) {
    padding-left: 0;
  }

  @media screen and (min-width: $medium-screen-width) {
    padding-left: 0;
  }
}

.logoImg {
  cursor: pointer;
  @media screen and (max-width: $medium-screen-width) {
    width: 40px;
  }

  @media screen and (min-width: $medium-screen-width) {
    margin-top: -10px;
    width: 60px;
  }
}

.logoWrapper {
  // padding-left: 20px;
  height: 100%;
  border-bottom: 2px grey solid;
  background-color: $primary-dark;
  color: white;
}

.logoWrapperCollapsed {
  @extend .logoWrapper;
  @media screen and (max-width: $medium-screen-width) {
    display: none;
  }
}

.logoImage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $side-nav-width;
  height: 100%;
  text-align: center;
}

.logoImageCollapsed {
  @extend .logoImage;
  @media screen and (min-width: $medium-screen-width) {
    width: $mini-side-nav-width;
    // background-color: green;
  }
}

.logoImageImage {
  width: 140px;
}

.collapseButton {
  display: inline;
  cursor: pointer;
  color: $primary-dark;
  @media screen and (max-width: $medium-screen-width) {
    font-size: 1.2rem;
    margin-left: 5px;
  }

  @media screen and (min-width: $medium-screen-width) {
    font-size: 1.4rem;
    margin-left: 10px;
  }
}

.hamburger {
  color: $primary-dark;
}

.rightOfBar {
  display: flex !important;
  text-align: right;
  margin-left: auto;
}

.pillsList {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-left: 0;
  list-style: none;
}

.logoutPill {
  border-left: 1.5px solid darkgrey;
  padding: 6px;
  @media screen and (max-width: $medium-screen-width) {
    font-size: 1.2rem;
    margin-left: 5px;
    display: none;
  }
}

.userMenuButton {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.userMenuGreeting {
  padding-right: 10px;
  font-weight: 600;
  @media screen and (max-width: $medium-screen-width) {
    display: none;
  }
}

.userRole {
  font-weight: 100;
  font-size: 0.8rem;
}

.userAvatar {
  margin-right: 10px;
}