
@import '../../ui';

.topBarContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $top-nav-height;
  background-color: $primary-grey;
  padding-left: $side-nav-width;
  padding-top: 20px;
  z-index: 10;
}

.topBarContainerCollapsed {
  padding-left: 0px;
}

.topBarContainerUnCollapsed {
  @media screen and (max-width: $medium-screen-width) {
    padding-left: 0;
  }

  @media screen and (min-width: $medium-screen-width) {
    padding-left: $side-nav-width;
  }
}

.logoImg {
  cursor: pointer;
  @media screen and (max-width: $medium-screen-width) {
    width: 40px;
  }

  @media screen and (min-width: $medium-screen-width) {
    margin-top: -10px;
    width: 60px;
  }
}

.collapseButton {
  display: inline;
  cursor: pointer;
  color: $primary-dark;
  @media screen and (max-width: $medium-screen-width) {
    font-size: 1.2rem;
    margin-left: 5px;
  }

  @media screen and (min-width: $medium-screen-width) {
    font-size: 1.4rem;
    margin-left: 10px;
  }
}
