@import '../../../../ui';

.container {
  width: 50%;
  height: 100%;
  @media screen and (max-width: 1164px) {
    width: 100%;
  }
}
.countHeader {
  background-color: $primary-blue;
  height: 50px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  color: $primary-white;
  font-size: 23px;
  border: 0;
  @media screen and (max-width: 1000px) {
    font-size: 15px;
  }

  &_count {
    composes: fontBold from '../../../../fonts.scss';
  }
}

.header {
  background-color: $primary-grey;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0 20px;
  box-sizing: border-box;
  width: 100%;
  border: 0;
  color: $primary-blue !important;
  text-transform: uppercase;
}

.body {
  height: 341px;
}

.colStyling {
  composes: fontMedium from '../../../../fonts.scss';
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: inherit;
}

.col {
  flex: 1;
  @extend .colStyling;
  @media screen and (max-width: 1000px) {
    font-size: 8px;
    box-sizing: border-box;
    flex: 1;
    padding-right: 5px;
  }
}

.waitlistCol {
  flex: 1;
  @extend .colStyling;
  @media screen and (max-width: 1000px) {
    font-size: 8px;
    box-sizing: border-box;
    flex: 1;
    padding-right: 5px;
  }
  color: black;
}

.smallCol {
  @extend .colStyling;
  width: 90px;
  text-transform: uppercase;
  @media screen and (max-width: 1000px) {
    flex: 1;
    width: unset;
    font-size: 8px;
    box-sizing: border-box;
  }
}

.mediumCol {
  @extend .colStyling;
  width: 140px;
  text-transform: uppercase;
  @media screen and (max-width: 1000px) {
    flex: 1;
    width: unset;
    font-size: 8px;
    box-sizing: border-box;
  }
}

.avatar {
  @extend .colStyling;
  width: 65px;
  @media screen and (max-width: 1000px) {
    display: none;
  }
}

.noReminders {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $primary-dark-grey;
  opacity: 0.6;
}
