@import '../../../styles/ui.scss';

.optionDiv {
  font-family: $dashboard-font !important;
  padding: 0 !important;
  white-space: normal !important;
}

.optionListItem {
  align-items: center;
  background-color: $primary-white;
  border: 0;
  border-bottom: 1px solid;
  border-bottom-color: $primary-grey;
  color: $primary-dark;
  cursor: pointer;

  display: flex;
  font-size: $small-size;
  height: 2.5rem;
  justify-content: center;
  letter-spacing: 0;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  text-overflow: ellipsis;
  width: 100%;
  &:hover {
    background-color: lighten($primary-grey, 5%);
    background-color: $primary-lightgrey !important;
    color: $primary-dark !important;
    cursor: pointer;
  }
}

.selectedListItem {
  border-left: $selection-border $primary-color;
  padding-left: 15px;
}
