@import '../../../styles/ui-reskin.scss';

.optionDiv {
  padding: 0 !important;
  white-space: normal !important;
}

.optionListItem {
  align-items: center;
  background-color: $super-white;
  border: 0;
  border-bottom: 1px solid $color-lavender-200;
  color: $color-grey-400;
  cursor: pointer;

  display: flex;
  font-size: $small-size;
  font-weight: $medium-weight;
  height: calc(2.5rem * 1.6);
  justify-content: center;
  letter-spacing: 0;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  text-overflow: ellipsis;
  width: 100%;
  &:hover {
    background-color: $color-lavender-050;
    color: $color-purple-400;
    cursor: pointer;
  }
}

.selectedListItem {
  border-left: $color-lavender-500;
  padding-left: 15px;
}
