@import '../../ui';

.bold {
  composes: fontBold from '../../fonts.scss';
}

.footerText {
  padding: 10px 0;
  display: inline-block;
}

.toInput {
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  > input::placeholder {
    color: $primary-gray;
  }

  > input {
    height: 100%;
    padding-left: 20px;
    border-bottom: none;
  }
}

.suggestionsWrapper {
  box-shadow: $google-shadow;
  margin: 0 12px;
}

.suggestionsContainerOpen {
  top: 30px;
}

.suggestionsList {
  background: $primary-white;
}

.totalCount {
  background: $primary-lightgray;
  border-top: 1px solid $disabled-color;
  text-align: center;
}

.suggestionContainer {
  cursor: pointer;
  &:hover {
    background: $chat-lightgrey;
  }
}

.recentPatients {
  &Wrapper {
    background: $primary-lightgray;
  }
  &Title {
    padding: 10px;
  }
}
