@import '../../../ui';

$default-table-space: 1.5em;

.mainContainer {
  min-height: calc(100vh - 75px);
  padding: $container-padding;
}

.card {
  margin: auto;
  overflow: inherit;
  padding-bottom: $default-table-space;
}

.cardHeader {
  margin-bottom: $default-table-space;
  padding: $default-table-space $default-table-space 0 $default-table-space;
}

.cardContent {
  margin: $default-table-space $default-table-space 0 $default-table-space;
}

.headerPanel {
  margin-bottom: $default-table-space;
}

.form {
  max-width: 400px;
  position: relative;
  button {
    margin-left: auto;
    margin-top: 10px
  }
}
