@import '../../../../styles/ui';

.userWrapper {
  align-items: center;
  cursor: pointer;
  display: flex;
}

.userContainer {
  align-items: center;
  display: flex;
  &:hover {
    color: var(--primaryColor) !important;
    .greeting {
      color: var(--primaryColor) !important;
    }

    .userAvatar {
      //width: calc(2.2rem * 1.6);
      //height: calc(2.2rem * 1.6);
      //max-width: calc(2.2rem * 1.6);
      //max-height: calc(2.2rem * 1.6);
    }
  }
}

.userMenuButton {
  align-items: center;
  color: $primary-darkgrey;
  display: flex;
}

.userMenuGreeting {
  align-items: center;
  display: inline-block;
  padding-right: 10px;
  text-align: right;
  @media screen and (max-width: $widget-mobile-width) {
    display: none;
  }
}

.greeting {
  color: black;
  font-family: 'Roboto', sans-serif;
}

.userRole {
  color: $primary-darkgrey;
  font-size: 10px;
  text-transform: uppercase;
}

.businessName {
  color: $primary-darkgrey;
  font-size: 10px;
}

.userAvatar {
  background: var(--primaryColor);
  font-weight: bold;
  margin-right: 2px;
}

.dropdownUserMenu {

  /* used to target div.dd-menu-items */
  > div:last-child {
    width: 150px;
  }
}
