
@import '../../../../../ui';

.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 30px 30px;
}

.title {
  font-family: $medium-font;
  font-size: 16px;
  padding-top: 10px;
}
