.containter {
	max-width: 100px;
	position: relative;
	height: 70px;
	margin-right: 20px;
	&__bigIcon {
		position: relative;
		width: 100%;
	}

	img { 
		width: 100%;
		border-radius: 50%;
	}

	&__smallIcon {
		position: absolute;
    bottom: -24px;
    right: -7px;
	}
}