@import '../../../../styles/ui-reskin.scss';

.textAreaContainer {
  background-color: $super-white;
  border: 1px solid $color-lavender-100;
  height: 207px;
  position: relative;
}

.textAreaBody {
  > div {
    height: 130px;
    > form {
      height: 100%;
    }
  }
}

.pocButton {
  align-self: flex-start;
  border-radius: 4px;
  font-size: $small-size;
  padding: 12px 24px;
}

.textAreaPoC {
  align-items: center;
  animation: fadeIn 0.5s ease;
  background: $super-white;
  border: 1px solid $color-purple-300;
  border-radius: 4px;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  left: 0;
  overflow: hidden;
  padding: 40px 16px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  .notPoC {
    color: $color-purple-400;
    display: flex;
    flex-direction: column;
    font-size: $x-medium-size;
    justify-content: center;
    padding: 40px 10px;
    width: 500px;
  }
  .pocHelper {
    border-bottom: 1px solid;
    cursor: pointer;
  }
  .donnaImg {
    display: none;
    height: 120px;
    width: auto;
    @media (min-width: 1220px) {
      display: block;
    }
  }
}
.infoTextNotPoC {
  line-height: 24px;
  margin: 6px 0px;
  width: 353px;
}

.sendButton {
  margin-left: 4px;
}

.rc-tooltip-inner {
  background: #f00;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.smileIcon {
  margin-left: 0;
  button {
    background: transparent;
    padding-left: 0;

    &:hover {
      background-color: transparent;

      i {
        color: $color-lavender-500;
      }
    }
  }

  i {
    color: $color-lavender-500;
    cursor: pointer;
    font-size: calc(1.2rem * 1.6) !important;
  }
}

.emojiDropdown {
  & > div {
    left: 0;
    right: auto;
    & > ul {
      box-shadow: none !important;
    }

    @media (max-width: 576px) {
      left: -22px !important;
    }
  }
}

:global {
  .dd-menu-items.dd-items-upwards {
    left: 0;
  }

  .emoji-mart-anchors {
    background: $color-grey-100;
    border-radius: 0;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
    color: $color-grey-400 !important;
    margin-bottom: -1px;
    margin-left: -18px;
    margin-right: -18px;
    margin-top: -12px;
    padding: 0 !important;
    svg {
      fill: currentColor !important;
    }

    .emoji-mart-anchor {
      &:first-child {
        border-top-left-radius: 4px;
      }

      &:last-child {
        border-top-right-radius: 4px;
      }
    }

    .emoji-mart-anchor-selected {
      background-color: $super-white;
      color: $color-grey-600 !important;
      svg {
        fill: currentColor !important;
      }

      .emoji-mart-anchor-bar {
        display: none;
      }
    }
  }

  .emoji-mart-search input {
    background-color: $super-white !important;
    border: 1px solid $color-purple-200 !important;
    border-radius: 4px !important;
    box-sizing: border-box;
    font-size: $small-size !important;
    height: 30px;
    padding-left: 20px !important;
  }

  .emoji-mart-category-label span {
    color: $color-purple-600;
    font-weight: $normal-weight;
  }
}

.emojiContainer {
  background-color: transparent !important;

  > div {
    text-align: left !important;
    white-space: normal !important;
  }
}

.textAreaWrapper {
  height: 100%;
  > div {
    height: 100%;
    padding: 0;
    > textarea {
      border-bottom: 1px solid $color-lavender-100;
      color: $color-purple-200;
      height: 100%;
      padding: 15px;
      &::placeholder {
        color: $color-purple-200;
      }
    }
  }
}

.sendIconWrapper {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 40px;
  padding: 10px;
  width: 100%;
}

.sendIcon {
  align-items: center;
  color: $color-lavender-500;
  cursor: pointer;
  display: flex;
  margin-left: auto;

  > i {
    cursor: pointer;
    font-size: calc(1.2rem * 1.6) !important;
  }

  > label {
    cursor: pointer;
    font-size: $small-size;
    margin-left: 5px;
  }

  &:hover {
    color: $color-lavender-550;
  }
}

.sendIconDisabled {
  @extend .sendIcon;
  color: $color-grey-200;
  cursor: not-allowed;
  > i {
    cursor: not-allowed;
  }

  > label {
    cursor: not-allowed;
  }
}
