@import '../../styles/ui.scss';

.blurBg {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 50px;

  &:before {
    background: gray;
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    opacity: 0.6;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }

  .blurredContent {
    @include blurred-mixin();
    bottom: 0;
    left: 0;
    pointer-events: none;
    position: relative;
    right: 0;
    top: 0;
  }
}

.actionButton {
  bottom: 15px;
  composes: fontDefault from '../../styles/fonts.scss';
  font-size: 20px;
  height: auto;
  left: 15px;
  padding: 12px 13px;
  position: fixed;
  z-index: 3;
}

.blurContainer {
  background: $primary-white;
  height: 100%;
}

.optionsWrapper {
  bottom: 60px;
  left: 15px;
  position: fixed;
  z-index: 3;
}

.actionOverlayButton {
  align-items: center;
  background: none;
  color: $primary-white;
  display: flex;
  margin-bottom: 10px;
  padding: 0 0.5em;
  text-transform: uppercase;

  .actionOverlayButtonIcon {
    background: $primary-white;
    border-radius: 20px;
    color: $primary-blue-green;
    margin-right: 10px;
    padding: 7px;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background: $primary-blue-green;
      color: $primary-white;
    }
  }
}
