@import '../../ui';

.menu {
  float: right;
  position: relative !important;
  width: auto !important;
}

.iconContainer {
  color: $primary-dark-grey;
  cursor: pointer;
  float: right;

  & > span {
    margin-left: 3px;
  }
}
