@import '../../styles/ui-reskin.scss';

.callsContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 16px;
  width: 100%;
}

.cardGraph {
  box-sizing: border-box;
  margin-bottom: 16px;
}

.cardTable {
  box-sizing: border-box;
}

.emptyTable {
  box-sizing: border-box;
  flex: 1;
  height: 300px;
  margin-bottom: 0;
  min-height: 300px;
}

.headerGraph {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 16px;
  width: 100%;
}

.headerGraph_title {
  color: $color-purple-600;
  font-size: $xxx-medium-size;
  font-weight: $medium-weight;
  line-height: $x-large-size;

  padding: 8px 16px;
}

.graphDateInfo {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 24px 0px;
}

.subHeader {
  color: $color-purple-400;
  font-size: $x-medium-size;
  font-weight: $medium-weight;
  line-height: $xxx-medium-size;
}
