@import '../../ui.scss';

.callsContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 15px;
}

.cardGraph {
  margin-bottom: 15px;
  min-height: 405px;
  box-sizing: border-box;
}

.cardTable {
  box-sizing: border-box;
}

.emptyTable {
  box-sizing: border-box;
  min-height: 300px;
  height: 300px;
  flex: 1;
  margin-bottom: 0;
}

.headerGraph {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px 0;
  width: 100%;
  box-sizing: border-box;
}

.headerGraph_title {
  font-size: 25px;
  color: $primary-dark;
  composes: fontMedium from '../../fonts.scss';
}

.headerGraph_calendar {
  width: 200px;
  display: flex;
  justify-content: flex-end;

  div {
    cursor: pointer;
    &:hover {
      color: $primary-red;
    }
  }
}
