@import '../../../styles/ui.scss';

$error-color: $danger-color;
$active-color: $primary-dark;
$empty-grey: darken(lightgrey, 5%);

.group {
  padding: 20px 0;
  position: relative;
}

.input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $empty-grey;
  box-sizing: border-box;
  color: $primary-darkgrey;
  display: block;
  font-family: $dashboard-font;
  font-size: 12px;
  height: 60px;
  padding: 10px 0;
  resize: none;
  width: 100%;
  &:focus {
    outline: none;
  }

  &:focus ~ .label {
    color: $active-color;
  }
}

.erroredInput {
  border-bottom: 1px solid $error-color;
}

// TODO: figure out how to stack the CSS to make sure we dont have to use !important
.filled {
  font-size: 10px !important;
  left: 0 !important;
  top: 6px !important;
}

.label {
  color: $empty-grey;
  font-family: $medium-font;
  font-size: $small-size;
  font-weight: normal;
  pointer-events: none;
  transition: 0.2s ease all;
}
.labelWrapper {
  left: 0;
  position: absolute;
  top: 5px;
  width: 100%;
}

.primaryColorBorder {
  border-bottom: 1px solid $primary-color;
}

.theme {
  &_primaryWhiteLabel {
    color: $primary-white;
  }
  &_primaryWhiteInput {
    border-bottom: 1px solid $primary-white;
  }

  &_primaryGreyLabel {
    color: $primary-grey;
  }
  &_primaryGreyInput {
    border-bottom: 1px solid $primary-grey;
    color: $primary-grey;

    &:focus ~ .label {
      color: $primary-white;
    }
  }

  &_primaryWhiteBorder {
    border-color: $primary-white;
  }
}

.erroredLabel {
  color: $error-color;
}

.bar {
  display: block;
  position: relative;
  width: 100%;
  &:before,
  &:after {
    background: $active-color;
    bottom: 0;
    content: '';
    height: 1px;
    position: absolute;
    transition: 0.2s ease all;
    width: 0;
  }

  &:before {
    left: 50%;
  }

  &:after {
    right: 50%;
  }
}

// Show animation on focus
.input:focus ~ .bar {
  &:before,
  &:after {
    width: 50%;
  }
}

.error {
  color: $error-color;
  font-size: 11px;
  font-weight: normal;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 62px;
}

/*.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

.input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
  from {
    background: $primary-dark;
  }

  to {
    width: 0;
    background: transparent;
  }
}*/
