@import '../../fonts.scss';
@import '../../ui.scss';

.mediumFont {
  composes: fontMedium from 'sass-loader!../../fonts.scss';
}

.defaultFont {
  composes: fontDefault from 'sass-loader!../../fonts.scss';
}

.boldFont {
  composes: fontBold from 'sass-loader!../../fonts.scss';
}
.requestPopover {
  z-index: 299;
}

.requestPopover > :global(svg.Popover-tip) {
  fill: white;
}

@mixin requestCardMobile-mixin() {
  border-top: 0;
}

.requestCard {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  @media screen and (max-width: 700px) {
    @include requestCardMobile-mixin();
  }
}

.requestCardMobile {
  @include requestCardMobile-mixin();
}

.requestHeader {
  //padding-left: 15px;
  position: static;
}

.requestList {
  width: 100%;
  height: 100px;
  flex: 1;
  min-height: 314px;
  overflow: auto;
  overflow-x: hidden;
}

.emptyList {
  background-color: lighten($primary-lightgrey, 2%);
  text-align: center;
  color: lighten($primary-darkgrey, 5%);
  font-size: $medium-size;
  font-weight: $large-weight;
  font-family: $medium-font;
}

.noRequests {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $primary-dark-grey;
  opacity: 0.6;
}

.requestBody {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.requestListItem {
  height: auto;
  color: #2e3845;
  cursor: pointer;
  padding: 20px;
  box-sizing: border-box;

  transition: all 0.1s ease-in-out;
  &:hover {
    transform: scale(1.02);
  }
}

.requestData {
  padding-left: 1em;
  border-left: 1px solid #e4e4e4;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding-top: 5px;
  padding-bottom: 5px;

  @media screen and (max-width: 350px) {
    max-width: 170px;
  }

  @extend .defaultFont;
  font-size: $extra-small-size;

  &__details {
    display: flex;
    flex-direction: column;
    line-height: 1.4;
  }

  &__time {
    //@extend .mediumFont;
    font-family: Gotham-Bold;
    font-size: $small-size;
    padding-bottom: 10px;
    //line-height: 1.5em;
  }

  &__nameAge {
    @extend .mediumFont;
    display: flex;
    text-decoration: none;
  }

  &__name {
    color: $primary-dark-grey;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__age {
    margin-right: 0;
    padding-right: 0;
    &:hover {
      color: $primary-color;
    }
  }

  &__phoneNumber {
    color: $primary-dark-grey;
  }

  &__service {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $primary-dark-grey;
    @extend .fontDefault;
    opacity: 0.6;
  }

  &__icon {
    padding-right: 3px;
  }
}

.requestedText {
  padding-top: 10px;

  &__container {
    padding-bottom: 5px;
  }

  &__createdAt {
    font-size: $extra-small-size;
    @extend .fontDefault;
    color: #a7a9ac;
    opacity: 0.6;
  }

  &__requestedBy {
    font-size: $extra-small-size;
    @extend .fontDefault;
    color: $primary-dark-grey;
    opacity: 1;
  }
}

.monthDay {
  text-align: center;
  width: 71px;
  @extend .mediumFont;

  &_new {
    color: $primary-green;
    font-size: $extra-small-size;
    padding-bottom: 3px;
  }

  &_day {
    font-weight: $medium-weight;
    font-size: 19px;
    padding-bottom: 3px;
    padding-top: 3px;
  }

  &_month {
    font-size: $extra-small-size;
  }
}

.clickHandlers {
  display: flex;
  width: 64px;
  position: absolute;
  color: #b5b5b5;
  font-size: 22px;
  top: 50%;
  align-items: center;
  transform: translateY(-50%);
  right: 10px;

  @media screen and (max-width: 1250px) {
    flex-direction: column;
    margin-right: 10px;
  }

  &__newreqText {
    @extend .font-small-dark;
    position: absolute;
    color: #b5b5b5;
    font-size: 0.9rem;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
  }

  &__remove {
    font-size: 22px;
    color: $inactive-color;
    margin-right: 15px;
    &:hover {
      color: darken($inactive-color, 10%);
    }
    @media screen and (max-width: 1250px) {
      margin-right: 0;
      flex-direction: column;
      margin-bottom: 10px;
    }
  }

  &__confirm {
    color: $primary-green;
    &:hover {
      color: darken($primary-green, 10%);
    }
  }
}

.calendarIcon {
  padding-right: 7px;
}

.hidden {
  display: none;
}
