
@import '../../ui.scss';

.requestCard {
  position: relative;
  border-top: $card-border-size #ffc45a;
  @media screen and (max-width: $medium-screen-width) {
    width: 60%;
  }

  @media screen and (min-width: $medium-screen-width) {
    width: 250px;
  }

}

.requestList {
  max-height: 300px;
  overflow-y: scroll;
}

.requestListItem {

}

.requestData{
  text-align: left;
  font-size: small;
  &__time{
  }
  &__nameAge{
    opacity: 0.5;
  }
  &__phoneNumber{
    opacity: 0.25;
  }
  &__service  {
    opacity: 0.25;
  }
}

.monthDay {
  text-align: center;
  border-right: 2px solid;
  border-right-color: #bfbfbf;
  width: 10%;
  margin-right: 0.5em;
  &__month{
    font-size: x-small;
  }
  &__day{
    font-size: larger;
  }
}

