
@import '../../../ui.scss';

.btn {
  width: 100%;
  font-size: 20px;
  font-family: $medium-font;
  height: 60px;
  margin-top: 50px;
}

.subHeader {
  composes: header from 'sass-loader!../../../fonts.scss';
  margin-bottom: 50px;
  color: $primary-dark;
}
