@import '../../../../../ui';

.actionsContainer {
  width: 180px;
}

.actionItem {
  padding: 0 10px;
  color: $primary-darkgrey;
  background: white;
  &:hover {
    background-color: white !important;
  }
}
