@import '../../styles';

.container {
  @extend .container;
  > div {
    width: 100%;
  }
}
.buttonsWrapper {
  display: flex;
  justify-content: space-between;
}
.actionButton {
  @extend .actionButton;
  content: 'as';
  flex: 0 50%;
}
