
@import '../../../ui';

.dropdownContainer {
  text-align: left;
}

.menuItemLi {
  cursor: pointer;
  padding: 0 1rem;
  height: 3rem;
  font-size: 14px;
  color: $primary-dark;
  &:hover {
    background-color: $primary-lightgrey !important;
    color: $primary-dark !important;
  }
}

.menuItemContent {
  display: flex;
  align-items: center;
}

.menuIcon {
  display: inline-block;
  width: 2.5rem;
  // font-size: 1.5rem;
  text-align: center;
  margin-right: 10px;
  color: #B4B4B5;
}
