
@import '../../../ui';

.dropdownContainer {
  text-align: left;
}

.menuItemLi {
  color: $primary-dark;
  cursor: pointer;
  font-size: 14px;
  height: 3rem;
  padding: 0 1rem;
  &:hover {
    background-color: $primary-lightgrey !important;
    color: $primary-dark !important;
  }
}

.menuItemContent {
  align-items: center;
  display: flex;
}

.menuIcon {
  color: #B4B4B5;
  display: inline-block;
  margin-right: 10px;
  // font-size: 1.5rem;
  text-align: center;
  width: 2.5rem;
}
