@import '../../../ui.scss';
@import '../../Login/Electron/styles.scss';

.text {
  padding-bottom: 20px;
  padding-top: 20px;
}

.email {
  color: $primary-darkgrey;
  font-weight: $large-weight;
}

.displayCenter {
  margin-top: 10px;
  width: 100%;
}

.text_only_bot_padding {
  padding-bottom: 20px;
}

.textError {
  @extend .text;
  color: $danger-color;
  text-align: center;
}
