@import "../../../ui.scss";

.card {
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.header {
  border-bottom: 0px;
}

.scrollDiv {
  width: 100%;
  display: flex;
  overflow-x: auto;
  overflow-y: scroll;
  flex-direction: row;
  flex: 1 1 auto;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    background: transparent;
    height: 8px;
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #ddd;
    min-height: 40px;
  }
}

.dayView {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex: 1 1 auto;
  overflow: hidden;
  //border-top: 1px solid $primary-grey;
}

.timeColumn {
  box-sizing: border-box;
  width: 100px;
  color: $inactive-color;
  font-weight: $large-weight;
  overflow: hidden;
  height: inherit;
  border-right: 0.13em solid $primary-grey;
  position: relative;
}

.timeColumnItem {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  color: $primary-dark;
  font-size: 10px;
  overflow: hidden;

  &_time {
    position: absolute;
  }

  &_icon {
  }
}

.timeSlot {
  display: inline-flex;
  box-sizing: border-box;
  min-width: 100%;
}

.timeSlotColumn {
  flex: 1;
  box-sizing: border-box;
  position: relative;
}

.timeSlotColumnItem {
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  border: 0.13em solid $primary-grey;
  border-top: 0px;
  border-left: 0px;
  overflow: hidden;
}


.paddingText {
  padding-right: 5px;
}



