@import "../../../ui.scss";
.dayView {

  &_body {
    display: flex;
    width: 100%;
    height: 100%;

    &_timeSlot {
      position: relative;
      display: flex;
      width: 100%;
      height: 100%;
      box-sizing: border-box
    }

    &_timeColumn {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 1px solid $primary-grey;
      width: 100px;
      color: $primary-dark;
      font-weight: $large-weight;
    }

    &_timeSlotColumn {
      box-sizing: border-box;
      justify-content: center;
      align-items: center;
      border: 1px solid $primary-grey;
    }
  }
}

.appointmentContainer {

}
.showAppointment {
  position: absolute;
  box-sizing: border-box;
  &_icon {
    color: $inactive-color;
    opacity: 0.5;
    float: right;
  }

  &:hover {
    cursor: pointer;
    z-index: 1000 !important;
    animation-name: example;
    animation-duration: 4s;
    transition: all 0.10s ease-in;
  }

  &_nameAge {
    display: flex;
    color: $primary-white;
    width: auto;
    padding-left: 5px;
    padding-top: 15px;
    &_name {
      font-weight: $large-weight;
      padding-right: 5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &_duration {
    padding-left: 5px;
    display: flex;
    color: $primary-dark;
    font-weight: $large-weight;
    font-size: $small-size;

    &_text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &_serviceChair {
    display: flex;
    padding-left: 5px;
    color: $primary-dark;
    font-family: $medium-font;
    font-size: $extra-small-size;

    &_service{
      padding-right: 5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &_chair{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
/*
@keyframes example {
  0%   {background-color: $primary-color;  opacity: 0.6;}
  25%  {background-color: $primary-color; opacity: 0.7;}
  50%  {background-color: $primary-color; opacity: 0.8;}
  100% {background-color: $primary-color-hover; opacity: 2;}
}*/

.paddingText {
  padding-right: 5px;
}
