@import '../../../../styles/ui';
@import '../../../../styles/ui-kit';

.enterpriseContainer {
  box-sizing: border-box;
  height: 100%;
  padding: 16px;
  width: 100%;
}

.enterpriseCard {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.enterpriseTable {
  flex: 1;
  overflow-y: auto;

  .manageCell {
    overflow: visible;
  }
}

:global([class^='styles__enterpriseTable'] > .ReactTable > .rt-table > .rt-thead) {
  overflow-y: scroll;
}

.manageCellDropdown {
  :global .dd-menu-items {
    width: auto;
  }
}

.header {
  align-items: center;
  border-bottom: 1px solid $primary-grey;
  box-sizing: border-box;
  composes: fontMedium from '../../../../styles/fonts.scss';
  display: flex;
  justify-content: space-between;
  min-height: 80px;
  padding: 20px;
  width: 100%;

  &_title {
    font-size: 19px;
  }
}

.link {
  color: $primary-dark;
  composes: fontMedium from '../../../../styles/fonts.scss';
  font-size: 14px;
  text-decoration: none;
  width: 100px;

  &:hover {
    color: $primary-blue;
    cursor: pointer;
    text-decoration: underline;
  }
}

.groupNameTitle {
  flex-basis: 20px;
}

.groupName {
  width: 100%;
}

.addButtonWrapper {
  button {
    margin-right: 20px;
  }
}

.customDialog {
  background: $primary-white;
  width: 45%;
}

.textPadding {
  padding-right: 10px;
}

.accountsTableContainer {
  background: #fafafa;
  padding: 20px;

  :global .ReactTable {
    min-height: 200px;
  }
}

.rowStyling {
  cursor: pointer;
}

.fakeInput {
  background: transparent;
  border: 0;
  margin-left: 5px;
  width: 100%;
}

.actionItem {
  background-color: $white;
  border-bottom: 1px solid $grey-lighter;
  box-sizing: border-box;
  color: $grey-dark;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 14px 20px;
  text-align: left;
  width: 100%;

  span {
    font-size: 9px;
    font-style: italic;
    margin-left: 20px;
  }

  &[disabled],
  &[disabled]:hover {
    background-color: $white;
    color: $grey-light;
  }

  &:hover {
    background: $grey-lightest;
    color: $teal;
  }
}

.ellipsisButton {
  background-color: transparent;
  border: 0;
  display: block;
  margin: 0 auto;
  min-height: 20px;
  min-width: 20px;
  padding: 0;
  text-align: center;

  &:last-child {
    margin: 0 auto;
  }

  .ellipsis {
    color: #cacdd0;
    max-width: 20px;
    transition: all 0.2s ease;
  }

  &:hover {
    .ellipsis {
      color: $primary-blue;
      transition: all 0.2s ease;
    }
  }
}

.newCustomerModal {
  min-height: 300px;
}

.dataTable {
  height: calc(100% - 2px);
}
