@import '../../../../ui.scss';

.enterpriseContainer {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.enterpriseCard {
  display: flex;
  height: 100%;
  flex-direction: column;
  overflow: hidden;
}

.enterpriseTable {
  flex: 1;
  overflow-y: auto;
}

.header {
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $primary-grey;
  composes: fontMedium from '../../../../fonts.scss';
  min-height: 80px;

  &_title {
    font-size: 19px;
  }
}

.link {
  color: $primary-dark;
  font-size: 14px;
  composes: fontMedium from '../../../../fonts.scss';
  text-decoration: none;
  width: 100px;

  &:hover {
    text-decoration: underline;
    color: $primary-blue;
    cursor: pointer;
  }
}

.groupName {
  width: 100%;
}

.addButtonWrapper {
  button {
    margin-right: 20px;
  }
}

.customDialog {
  background: $primary-white;
  width: 45%;
}

.textPadding {
  padding-right: 10px;
}

.accountsTableContainer {
  padding: 20px;
  background: #fafafa;
}

.rowStyling {
  cursor: pointer;
}

.fakeInput {
  width: 100%;
  border: 0;
  margin-left: 5px;
  background: transparent;
}
