@import '../../../ui';

.cardContainer {
  position: relative;
  display: inline-block;
  align-content: center;
  justify-content: center;
  height: auto
}

.header {
  padding-left: 15px;
}
.formContainer {
  padding: 15px;
  &_spacing {
    padding: 0px;
  }

  &_dropDown {
    padding-top: 15px;
    padding-bottom: 20px;
  }
}

.trashIcon {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 1.4em;
  color: $primary-darkgrey;

  &:hover {
    cursor: pointer;
    color: $primary-color;
  }
}


