
.card {
  display: inline-block;
  align-content: center;
  justify-content: center;
  height: auto
}

.header {
  padding-left: 15px;
}
.formContainer {
  padding: 15px;
  &_spacing {
    padding: 10px;
  }
}



