@import '../../../ui';

.cardContainer {
  position: relative;
  display: inline-block;
  align-content: center;
  justify-content: center;
  height: auto;
  padding: 20px;
  border-radius: .5rem;
}

.header {
  padding-bottom: 10px;
}
.formContainer {
  &_spacing {
    padding: 0px;
  }
  &_dropDown {
    padding-top: 15px;
    padding-bottom: 20px;
  }
}

.trashIcon {
  //position: absolute;
  //right: 5px;
  top: 5px;
  font-size: 1.4em;
  color: $primary-darkgrey;
  margin-left: auto;

  &:hover {
    cursor: pointer;
    color: darken($primary-darkgrey, 10%);
  }
}


