@import '../../../../../ui';

.showDetails {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  padding-left: 12px;

  &_info {
  }

  &_text {
    composes: fontMedium from '../../../../../fonts.scss';
    color: darken($primary-darkgrey, 5%);
    line-height: 1.3em;
  }

  &_website {
    text-decoration: none;
    color: $primary-blue;
    &:hover {
      text-decoration: underline;
      color: darken($primary-blue, 5%);
    }
  }

  &_links {
    display: flex;
  }
  &_view {
    padding-top: 5px;
    text-decoration: none;
    color: lighten($primary-blue, 5%);
    &:hover {
      text-decoration: underline;
      color: darken($primary-blue, 5%);
    }
  }
}

.mostLoyal {
  overflow: inherit;
  &__wrapper {
    display: block;
    width: 100%;
    //max-height: 700px;
    overflow: auto;
    height: calc(100vh - 330px);
    overflow-x: hidden;
    box-sizing: border-box;
    position: relative;
  }
  &__header {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 10px 0 15px;
    text-transform: uppercase;
    border-bottom: 2px solid $primary-lightgrey;
    overflow: inherit;
    &_item {
      width: 100%;
    }
    &_title {
      display: flex;
      align-items: center;
      width: 205px;
      height: 100%;
      font-size: $title-size;
      color: $primary-dark;
      font-weight: 600;
      border-right: 2px solid $primary-lightgrey;
    }
    &_link {
      font-size: $small-size;
      text-transform: none;
      cursor: pointer;
    }
    &_cell {
      width: 120px;
      height: 100%;
      border-right: 2px solid $primary-lightgrey;
    }
  }
  &__subheader {
    display: flex;
    align-items: center;
    padding-left: 15px;
    height: 60px;
    border-right: 2px solid $primary-lightgrey;
    text-transform: uppercase;
    color: $primary-dark;
    font-family: $medium-font;
    font-size: 16px;
    @media screen and (max-width: 950px) {
      border-right: none;
    }
  }
}
.data {
  display: block;
  padding: 0;
  color: $primary-dark;
  font-weight: $large-weight;
  border-right: 2px solid $primary-lightgrey;
  min-width: 800px;
  @media screen and (max-width: 950px) {
    border-right: none;
  }
  &:not(:first-child) {
    border-top: 2px solid $primary-grey;
  }
  &__item {
    min-width: 250px;
    display: table;
    width: 100%;
    position: relative;
    height: 60px;
    list-style: none;
    margin: 0;
    border-bottom: 2px solid $primary-lightgrey;

    &_phone {
      font-size: $small-size;
      color: $primary-light-blue;
    }

    &_email {
      color: #b5b5b5;
    }

    @media screen and (max-width: 800px) {
      height: 85px;
    }
    &_wrapper {
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 15px;
    }
    &_left {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 100%;
      width: 205px;
      padding-left: 5px;
      padding-right: 30px;
      border-right: 2px solid $primary-lightgrey;
    }
    &_center {
      height: 100%;
      display: flex;
      align-items: center;
      border-right: 2px solid $primary-lightgrey;
      width: 80px;
      justify-content: center;
    }

    &_personal {
      width: 150px;
    }

    &_right {
      display: flex;
      align-items: center;
      //text-align: right;
      height: 100%;
      width: 100%;
      justify-content: flex-start;
    }
    &_status {
      text-align: center;
    }
    .status {
      &__icon {
        font-size: $large-size;
        &_check {
          color: $primary-green;
        }
        &_times {
          color: $primary-color;
        }
        &_exclamation {
          color: $primary-yellow;
        }
      }
    }

    &_table {
      //text-align: center;
      padding: 0 25px;
      min-width: 200px;
      height: 100%;
      display: flex;
      //align-items: center;
      flex-direction: column;
      justify-content: center;
    }
    .table {
      &__text {
        color: $primary-dark;
      }
      &__data {
        font-size: $small-size;
      }
      &__button {
        color: $primary-blue;
        font-size: $small-size;
        text-decoration: none;
        display: flex;
        padding-top: 5px;
        //justify-content: center;
        //align-items: center;
        i {
          margin-right: 4px;
        }

        link {
          text-decoration: none;
          &:hover {
            color: darken($primary-blue, 10%);
          }
        }
        &:hover {
          color: darken($primary-blue, 10%);
        }
      }
    }
    &_img {
      width: 44px;
      height: 44px;
      margin-right: 10px;
    }
    &_icon {
      cursor: pointer;
      display: flex;
      position: relative;
      align-items: center;
      right: -20px;
      &:hover {
        color: #ff715a;
      }
    }
  }
}

.clearedListings {
  font-size: 20px;
  line-height: 1.5em;
  width: 700px;
  color: $inactive-color;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
