@import '../../../../styles/ui';

.RetryMessage {
  align-items: baseline;
  display: flex;
}

.RetryMessage__Body {
  color: $danger-color;
  font-size: 9px;
  line-height: 11px;
  opacity: 1;
}

.RetryMessage__Body__Separator {
  color: $primary-gray;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.RetryMessage__Body--sending {
  color: $primary-gray;
}

.RetryMessage__Link {
  background-color: transparent;
  color: $info-color;
  cursor: pointer;
  font-size: 9px;
  padding: 0;
  text-decoration: underline;
}
