@import '../../../../styles/ui.scss';
@import '../../../../styles/ui-kit';

.ddContainer {
  width: 100%;

  & ul {
    background-color: $white !important;
    border: 1px solid $primary-grey;
    border-radius: $rounded;
    box-shadow: $shadow !important;

    & > li {
      color: $grey-dark;
      font-family: $inter;
      font-size: 13px;
      -webkit-font-smoothing: antialiased;
      height: 36px;
      letter-spacing: 0.02px;
      line-height: 13px;
      transition: all 0.2s ease;

      &:hover {
        background: $grey-lightest !important;
        color: $grey !important;
        transition: background-color 0.2s ease;
      }

      & > button {
        cursor: pointer;
        padding: 8px 12px;
        text-align: left !important;

        &:focus {
          background: transparent !important;
        }
      }
    }
  }
}

.triggerButton {
  align-items: center;
  background-color: $white;
  border: 1px solid $primary-grey;
  border-radius: $rounded;
  box-shadow: $shadow;
  box-sizing: border-box;
  color: $grey-dark;
  cursor: pointer;
  display: flex;
  font-family: $inter;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  justify-content: space-between;
  letter-spacing: 0.02px;
  line-height: 40px;
  max-height: 40px;
  outline: none !important;
  padding: 0 15px;
  text-align: left;
  width: 100%;
  @extend .fx;

  &.active,
  &:hover {
    @extend .fx;
    border-color: $grey-dark;
  }
}
