@import '../../../../styles/ui-reskin.scss';

.ddContainer {
  & ul {
    background-color: $super-white;
    border: 1px solid $color-grey-200;
    border-radius: 4px;

    & > li {
      background-color: $super-white;
      border-bottom: 1px solid $color-lavender-100;
      color: $color-grey-400;
      font-size: $x-medium-size;
      font-weight: $medium-weight;
      line-height: 24px;
      transition: all 0.2s ease;
      &:last-child {
        border-bottom: none;
      }

      &:hover {
        background-color: $color-lavender-100 !important;
        color: $color-purple-600 !important;
        transition: background-color 0.2s ease;
      }

      & > button {
        text-align: left !important;
        &:focus {
          background-color: $color-lavender-100 !important;
          color: $color-purple-600 !important;
          transition: background-color 0.2s ease;
        }
      }
    }
  }
}

.triggerButton {
  align-items: center;

  background-color: $super-white;
  border: 1px solid $color-grey-200;
  border-radius: 4px;

  color: $color-grey-400;
  cursor: pointer;
  display: flex;
  font-size: $xxx-medium-size;
  font-weight: $medium-weight;
  line-height: 36px;
  padding: 8px 16px;
  transition: color 0.2s ease;

  i {
    margin-left: 8px;
  }

  &:hover {
    color: $color-purple-600;
  }
}
