@import '../../../ui';

.suggestionsContainer {
  position: relative;
  width: 700px;
  height: auto;
  background: $primary-white;
  border-radius: 5px;
}

.trashIcon {
  position: absolute;
  right: 5px;
  top: 15px;
  font-size: 1.4em;
  color: $primary-darkgrey;
  &:hover {
    color: darken($primary-darkgrey, 5%);
  }
}

.title {
  padding-top: 15px;
  padding-left: 15px;
  font-size: $extra-medium-size;
  font-weight: $jumbo-weight;
  color: $primary-color;
}
.listItemHeader {
  composes: listItemHeader from '../../../fonts.scss';
}

.subHeaderSmall {
  composes: subHeaderSmall from '../../../fonts.scss';
}

.fontBold {
  composes: fontBold from '../../../fonts.scss';
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .patientSpeel {
    padding: 0 0 20px;
    font-size: $medium-size;
    flex: 0 0 auto;
    line-height: 1.5;
  }

  .suggestionsList {
    height: auto;
    flex: 1 0 auto;
    @media screen and (max-width: 450px) {
    }

    .patientSelected {
      &.singleSuggestion {
        background-color: $primary-blue;
        color: $primary-white;
        .patientContainer {
          &_fullName {
            color: $primary-white;
          }
        }
      }
    }

    .singleSuggestion {
      display: flex;
      align-items: center;
      height: auto;
      color: $primary-dark;
      background: none;
      text-align: left;
      border: 1px solid $primary-blue;
      margin-bottom: 10px;
      border-radius: 4px;
      cursor: pointer;
      width: 100%;

      .suggestionsListItem {
        display: flex;
        line-height: 1.5em;
      }
    }
  }

  .createPatientButtonContainer {
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
    flex: 0 0 auto;
  }
}

.patientContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: flex-start;
  font-size: $medium-plus-size;

  &_img {
    margin-right: 20px;
  }

  &_fullName {
    @extend .fontBold;
    font-size: 14px;
    color: $primary-dark;
    padding-bottom: 5px;
  }
}

.data {
  display: flex;
  align-items: center;
  font-size: 11px;
  padding-bottom: 4px;
  &_text {
    padding-left: 5px;
  }
}

.radioButton {
  margin-right: 10px;

  input[type='radio'] {
    width: 20px;
    height: 20px;
  }

  input[type='radio']:checked {
    border: 1px solid $primary-color;
    background-color: $primary-blue;
  }
}

.connectButton {
  margin-left: 10px;
}

.bold {
  text-transform: capitalize;
  color: $primary-blue;
  composes: fontMedium from '../../../fonts.scss';
}
