@import '../../../styles/ui-reskin.scss';

@mixin headingButtons {
  background: transparent !important;
  color: $color-purple-600 !important;
  flex: 1;
  font-size: 28px;
  font-weight: 100 !important;
  margin-right: -10px;
  padding: 0;
}

.wrapper {
  display: flex;
  height: 100%;
}

.title {
  color: $color-purple-600;
  font-family: $font-inter;
  font-size: $xxx-medium-size;
  font-weight: $medium-weight;
  line-height: 36px;
  position: relative;
  text-align: center;
  width: 100%;
  word-wrap: break-word;
}

.menuButton {
  @include headingButtons;
  display: none;

  @media (max-width: 576px) {
    display: block;
  }
}

.patientListButton {
  @extend .menuButton;

  & > i {
    font-weight: 100;
    margin-left: 10px;
  }
}

.patientInfoButton {
  @extend .menuButton;
  padding-left: 0;
  text-align: center;

  & > div {
    display: inline-block;
  }
}

.infoArrow {
  color: $color-purple-200;
  display: none;
  font-size: 20px !important;
  margin-left: 10px;

  @media (max-width: 576px) {
    display: inline;
  }
}

.patientInfoWrapper {
  align-items: center;
  display: flex;
  flex: 10;
  height: 100%;
  padding-left: 20px;

  @media (max-width: 576px) {
    margin-left: -25px;
    padding-left: 0;
  }
}

.patientInfoName {
  font-size: 16px;
  margin-left: 10px;
  vertical-align: middle;

  span:first-of-type {
    margin-right: 5px;
  }
}

.autocompleteContainer {
  flex: 10;
  height: 100%;
}

.suggestionsContainer {
  top: 50px;
}

.toggleChatWrapper {
  align-items: center;
  color: $color-purple-600;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-weight: normal;
  margin-left: auto;
  margin-right: 17px;
  padding: 8px;
  text-align: center;
  transition: all 0.2s ease;
  user-select: none;

  &:focus {
    outline: none;
  }

  &:hover {
    transition: all 0.2s ease;
  }
}

.toggleIcon {
  font-weight: 500;
  margin-right: 6px;
}

.redoIcon {
  transform: scale(-1, 1);
}
