@import '../../../ui';

@mixin headingButtons {
  flex: 1;
  background: transparent !important;
  color: $primary-dark !important;
  padding: 0;
  margin-right: -10px;
  font-size: 28px;
  font-weight: 100 !important;
}

.wrapper {
  height: 100%;
  display: flex;
}

.menuButton {
  @include headingButtons;
  display: none;

  @media (max-width: 576px) {
    display: block;
  }
}

.patientListButton {
  @extend .menuButton;

  & > i {
    margin-left: 10px;
    font-weight: 100;
  }
}

.patientInfoButton {
  @extend .menuButton;
  padding-left: 0;
  text-align: center;

  & > div {
    display: inline-block;
  }
}

.infoArrow {
  display: none;
  font-size: 20px !important;
  margin-left: 10px;
  color: $primary-gray;

  @media (max-width: 576px) {
    display: inline;
  }
}

.patientInfoWrapper {
  display: flex;
  flex: 10;
  align-items: center;
  height: 100%;
  padding-left: 20px;

  @media (max-width: 576px) {
    margin-left: -25px;
    padding-left: 0;
  }
}

.patientInfoName {
  margin-left: 10px;
  font-size: 16px;
  font-family: $medium-font;
  vertical-align: middle;

  span:first-of-type {
    margin-right: 5px;
  }
}

.autocompleteContainer {
  flex: 10;
  height: 100%;
}

.suggestionsContainer {
  top: 50px;
}

.hubWrapper {
  .patientInfoName,
  .infoArrow {
    color: $electron-chat-top-bar-name;
  }

  .patientInfoWrapper {
    margin-left: 0;
  }
}

.toggleChatWrapper {
  display: flex;
  align-items: center;
  padding: 8px;
  margin-right: 17px;
  margin-left: auto;
  color: $primary-dark;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s ease;

  &:focus {
    outline: none;
    color: $primary-blue;
  }

  &:hover {
    color: $primary-blue;
    transition: all 0.2s ease;
  }
}

.toggleIcon {
  margin-right: 6px;
  font-weight: 500;
}

.redoIcon {
  transform: scale(-1, 1);
}
