<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta name="csrf-token" content={{csrfToken}}> -->

    <title>CareCru - Online Booking</title>

    <!-- favicon file <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"> -->

    {{#productionCSS}}patient-commons.js{{/productionCSS}}
    {{#productionCSS}}patient{{/productionCSS}}
</head>
<body style="font-family: Avenir Next;">

<!-- Regions -->
<div id="root"></div>
<script>
  window.accountId = '{{account.id}}';
</script>

{{#injectJS}}patient-commons.js{{/injectJS}}
{{#injectJS}}patient{{/injectJS}}
</body>
</html>
