<!doctype html>
<html lang="en" class="Dashboard">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <meta name="csrf-token" content={{csrfToken}}> -->

  <title>CareCru - Reviews</title>

  <!-- favicon file <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"> -->
  <style>
    @font-face {
      font-family: Gotham-Book;
      src: url(/fonts/Gotham-Book.ttf);
    }
    @font-face {
      font-family: Gotham-Medium;
      src: url(/fonts/Gotham-Medium.ttf);
    }
    /*.CareCruToggle.react-toggle--checked .react-toggle-track {
        background-color: red !important;
    }*/
  </style>

  {{#productionCSS}}reviews-commons.js{{/productionCSS}}
  {{#productionCSS}}reviews{{/productionCSS}}
</head>
<body style="font-family: Gotham-Book;" class="Dashboard">

<!-- Regions -->
<div id="root"></div>
<script>
  window.accountId = '{{account.id}}';
  // window.__INITIAL_STATE__ = {{{initialState}}};
</script>

{{#injectJS}}common.js{{/injectJS}}
{{#injectJS}}reviews{{/injectJS}}
</body>
</html>
