
@import '../../../ui.scss';

.loginWrapper {
  box-sizing: border-box;
  padding: 0px 10px;
}

.header {
  composes: header from 'sass-loader!../../../fonts.scss';
  padding: 20px 0;
}

.customSubmitButton {
  width: 100%;
  margin-bottom: 20px;
}

.linkWrapper {
  text-align: center;
}


