@import '../../../../styles/ui-reskin.scss';

.generalBodyClass {
  padding: 40px;
}

.formContainer {
  margin-bottom: 35px;
  width: 40%;

  &_contact {
    margin-left: 35px;
  }
}

.lastSyncWrapper {
  padding: 10px 0;
}

.paddingField {
  padding-bottom: 15px;

  &_flex {
    align-items: center;
    display: flex;
    padding-top: 10px;
    width: 40%;
  }

  &_toggle {
    margin-left: auto;
  }
}

.massOnlineEmail {
  &_date {
    color: $color-grey-400;
    margin-bottom: 15px;
    margin-top: 10px;
  }

  &_count {
    color: $color-grey-400;
    margin-bottom: 15px;
    margin-top: 10px;
  }
}

.filledLabel {
  top: -15px !important;
}

.orderDropdown {
  height: 100%;
  padding: 0;
  > div:not(:last-child) {
    border-bottom: none;
    box-sizing: border-box;
    color: black;
    font-size: 11px;
    height: 100%;
    padding-left: 6px;
    padding-right: 6px;
    > div > label {
      color: $color-grey-200;
      font-size: 9px !important;
      text-transform: uppercase;
      top: -15px !important;
    }
  }
}

.descriptionMessage {
  color: $color-grey-400;
  font-size: $medium-size;
  font-weight: $medium-weight;
  line-height: 1.35;
  margin: 0 0 20px;
}

.buttonsWrapper {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  .inlineButton {
    height: 40px;
    margin-left: 5px;
  }

  .inlineTrashButton {
    background-color: white;
    border: 1px solid #e54041;
    border-radius: 4px;
    box-shadow: 1px 1px 4px rgba(222, 213, 246, 0.1);
    color: #e54041;
    margin-left: 5px;
  }
}
