
@import '../../../ui.scss';

.cardHeader {
  padding-left: 1em;
  padding-top: 0.5em;
  height: 2.5rem;
}

.displayFlex {
  display: flex;
  align-items: center;
}

.count {
  display: inline-block;
  font-size: 40px;
  font-weight: 700;
  padding-right: 5px;
  font-family: $dashboard-font
}

.title {
  display: inline-block;
  font-size: 21px;
  font-weight: 500;
  font-family: $dashboard-font;
}
