
@import '../../../ui.scss';
.cardHeader {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding-top: 0.5em;
  position: relative;
  @media screen and (max-width: 450px){
    flex-direction: column;
  }
}

.displayFlex {
  display: flex;
  align-items: center;
}

.cardCount {
  display: inline-block;
  font-family: "Gotham Medium";
  font-size: 36px;
  font-weight: 800;
  padding-right: 5px;
  color: $primary-dark;
}

.title {
  display: inline-block;
  @extend .font-header-title;

}
