@import '../../../ui.scss';
@import '../../../fonts.scss';

.cardHeader {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 15px;
  position: relative;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 55px;
  @media (max-width: 496px) {
    flex-direction: column;
    align-items: flex-start;
  }
  border-bottom: 1px solid;
  border-bottom-color: #efefef;
}

.displayFlex {
  display: flex;
  align-items: center;
}

.cardCount {
  display: inline-block;
  composes: cardHeaderCount from '../../../fonts.scss';
  padding-right: 5px;
  color: $primary-dark;
}

.title {
  display: inline-block;
  composes: cardHeaderTitle from '../../../fonts.scss';
}
