@import '../../../../ui';
@import '../../../../ui-kit';

.main {
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  max-width: 500px;
  padding: 20px;
  width: 100%;
}

.row {
  align-items: center;
  display: flex;
  justify-content: center;
}

.footer {
  @extend .row;
  flex: 1;
  flex-direction: column;
}

.textAreaWrapper {
  width: 100%;
}

.avatar {
  height: 4rem;
  width: 4rem;
}

.messageWrapper {
  margin: 0 auto;
  max-width: 400px;
  text-align: center;
  width: 75%;
}

.text-centered {
  text-align: center;
}

.completeHeader {
  @extend .text-centered;
  @extend .row;
  box-sizing: border-box;
  color: $grey-darker;
  font-family: Roboto, sans-serif;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 0.04px;
  margin: 0 auto; // when you add max-width you need this
  padding: 20px 10px 10px;
}

.starsWrapper {
  box-sizing: border-box;
  padding: 40px 0 10px;
}

.message {
  @extend .text-centered;
  color: $primary-darkgrey;
  font-size: 14px;
  margin: 0 auto;
  max-width: 300px;
  padding: 5px 10px;
}

.button {
  @extend .fx;
  background: var(--primaryColor);
  border-radius: $rounded;
  box-shadow: $shadow;
  color: $white;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-right: 0;
  max-width: 300px;
  width: 100%;

  &[disabled] {
    background: $grey-lighter !important;
    color: $grey-light !important;
  }
  &:hover {
    background: var(--primaryColor);
    opacity: 0.9;
    @extend .fx;
  }
}

.googleButton {
  @extend .button;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 1.75em;
  padding-right: 1.75em;
  > i {
    margin-left: auto;
  }
}

.from {
  @extend .message;
  padding-top: 0;
}

.blurBackground {
  align-items: center;
  background: linear-gradient(var(--primaryColor), white 70%);
  border-radius: 50%;
  display: flex;
  height: 4.4rem;
  justify-content: center;
  //border-color: $primary-color;
  //transition-timing-function: ease-in;
  width: 4.4rem;
}
