@import '../../../../ui';

.container {
  display: flex;
  flex-direction: column;
  min-width: 120px;
}

.label {
  color: #A7A9AC;
  opacity: 1;
  font-size: $extra-small-size;
  padding-bottom: 10px;
  composes: fontExtraSmall from 'sass-loader!../../../../fonts.scss';
  font-family: $medium-font;
}

.data {
  color: $primary-dark;
  composes: fontMedium from 'sass-loader!../../../../fonts.scss';
  //text-overflow: ellipsis;
  //white-space: nowrap;
  //overflow: hidden;
  word-wrap: break-word;
  margin-right: 15px;
}

.noData {
  color: $primary-dark;
}
