@import '../../../../styles/ui-reskin';

.container {
  display: flex;
  flex-direction: column;
  min-width: 120px;
}

.label {
  color: $color-purple-400;
  font-size: $small-size;
  font-weight: $normal-weight;
  margin-bottom: 8px;
  text-transform: capitalize;
}

.data {
  color: $color-purple-600;
  font-size: $medium-size;
  font-weight: $medium-weight;
  margin-right: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  word-wrap: break-word;
}

.email {
  text-transform: none;
  white-space: normal;
}
