@import '../../../../ui';

.container {
  display: flex;
  flex-direction: column;
  min-width: 120px;
}

.label {
  color: $primary-dark-grey;
  opacity: 1;
  font-size: $extra-small-size;
  padding-bottom: 10px;
  composes: fontExtraSmall from '../../../../fonts.scss';
  font-family: $medium-font;
  text-transform: uppercase;
}

.data {
  color: $primary-dark;
  composes: fontMedium from '../../../../fonts.scss';
  word-wrap: break-word;
  margin-right: 15px;
  text-transform: capitalize;
  overflow: hidden;
  text-overflow: ellipsis;
}

.email {
  white-space: normal;
  text-transform: none;
}

.noData {
  color: $primary-dark;
  text-transform: uppercase;
}
