@import '../../../ui.scss';

.iconCard {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  min-height: 130px;
  height: 100%;
  color: $color-white;
  overflow: hidden;

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__count {
    composes: font-jumbo from '../../../fonts.scss';
  }

  &__title {
    composes: font-header-title-white from '../../../fonts.scss';
    @media screen and (max-width: 1660px) {
      max-width: 120px;
      text-align: center;
    }
    @media screen and (max-width: 1010px) {
      max-width: 160px;
      text-align: center;
    }
  }
  &__icon {
    position: absolute;
    bottom: -25%;
    transform: translateY(-25%);
    right: -1%;
    color: rgba($primary-lightgrey, 0.5);

    @media screen and (max-width: 768px) {
      bottom: -15%;
    }
  }

  img {
    position: absolute;
    bottom: -15px;
    right: -15px;
    width: 100px;
    height: 100px;
    opacity: 0.1;
  }
}

.blueBackground {
  background-color: $primary-blue;
}

.redBackground {
  background-color: $primary-color;
}

.yellowBackground {
  background-color: $primary-yellow;
}

.greyBackground {
  background-color: $primary-dark-grey;
}
