
@import '../../../ui.scss';

.iconCard {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 130px;
  color: $color-white;
  overflow: hidden;
    &__wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    &__count {
      composes: font-jumbo from 'sass-loader!../../../fonts.scss';
    }

    &__title {
      composes: font-header-title-white from 'sass-loader!../../../fonts.scss';
      @media screen and (max-width: 1660px) {
          max-width: 120px;
          text-align: center;
      }
      @media screen and (max-width: 1010px){
        max-width: 160px;
        text-align: center;
      }
    }
    &__icon {
        position: absolute;
        bottom: -25%;
        transform: translateY(-25%);
        right: -1%;
        color: rgba($primary-lightgrey, .5);
    }
}
