@import '../../../../ui';
@import '../../../../ui-kit';

.dueDateItem {
  cursor: default;
  height: 100px;
}

.dueDateLinesBox {
  border-top: none;
}

.bottomBox {
  border-top: 1px solid $primary-blue;
}

.dueDateWrapper {

  /*position: relative;
  top: -25px;
  height: 50px;
  background: white;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;*/
}

.dueDateLabel {
  // color: $primary-blue;
}

.bottomLabel {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  float: right;
  height: 30px;
  justify-content: center;
  margin-left: 0;
  padding-left: 74px;
  position: relative;
  top: -54px;
  width: 100%;
  > div {
    color: $primary-blue !important;
  }
}

.bottomRow {
  height: 100%;
}

.dropdownCol {
  height: 100%;
}

.leftCol {
  margin-right: 5px;
}

.rightCol {
  margin-left: 5px;
}

.dropdownWrapper {
  background-color: $primary-white;
  border: 1px solid $primary-blue;
  flex: 1;
  height: 100%;
}

.dueDateDropdown {
  height: 100%;
  padding: 0;
  > div:not(:last-child) {
    border-bottom: none;
    box-sizing: border-box;
    color: black;
    font-size: 11px;
    height: 100%;
    padding-left: 6px;
    padding-right: 6px;
    > div > label {
      color: $primary-darkgrey;
      font-size: 9px !important;
      text-transform: uppercase;
      // font-family: $medium-font;
      top: -15px !important;
    }
  }

  > :global(.dd-menu-items) {
    margin: 2px 0 0;
  }
}

// Needs to be same as IconCircle component
$width: 26px;
$wrapper-thickness: 6px;

.bottomIconContainer {
  left: -($width + 2 * $wrapper-thickness) / 2;
  position: relative;
  top: -($width + 2 * $wrapper-thickness) / 2;
}

.filledLabel {
  top: -15px !important;
}

.revertButton {
  margin-right: 12px;
}

.settingsButton {
  border: 1px solid $teal;
}
