@import '../../../../ui';

.mainContainer {
  width: 100%;
  background: white;
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;

  @media screen and (max-width: 576px) {
    border-top: none;
    padding-top: 10px;
    min-height: unset;
    overflow-y: auto;

    nav {
      display: none;
    }
  }
}

.subHeader {
  composes: fontMedium from '../../../../fonts.scss';
  font-size: 15px !important;
  color: $primary-dark;
  padding-top: 20px;

  @media screen and (max-width: 576px) {
    font-size: 13px !important;
    padding-bottom: 8px;
    font-family: $dashboard-font;
    font-weight: 700;
  }
}

.lastAppointmentHeader {
  @extend .subHeader;

  @media screen and (max-width: 576px) {
    padding-top: 0;
  }
}

.subHeader:first-child {
  padding-top: 0;
}

.continuingCareHeader {
  @extend .subHeader;

  @media screen and (max-width: 576px) {
    display: none;
  }
}

.continuingCareSection {
  margin-bottom: 20px;
  border-bottom: 1px solid $primary-grey;
}

.infoRow {
  @media screen and (max-width: 576px) {
    width: 100%;
    display: flex;
    flex-direction: row;

    & > div {
      margin: 0;
      font-size: 11px;
      padding-top: 10px;

      &:first-child {
        color: black;
        flex: 2;
      }

      &:last-child {
        text-align: right;
        font-family: $dashboard-font !important;
        color: #616b75;
        flex: 1;
      }
    }
  }
}

.text {
  composes: fontMedium from '../../../../fonts.scss';
}
.grid {
  box-sizing: border-box;
  padding: 45px 35px 0px;
}

.row {
  border-bottom: 1px solid $primary-grey;
  padding-top: 15px;
  padding-bottom: 20px;
}
.row:first-child {
  padding-top: 0;
}
.row:last-child {
  border-bottom: 0;
}

.appointmentsRow {
  padding-top: 15px;
  padding-bottom: 20px;
}

.remindersRow,
.continuingCareRow {
  @extend .row;

  @media screen and (max-width: 576px) {
    display: none;
  }
}

.paddingCol {
  padding-bottom: 40px;

  @media screen and (max-width: 576px) {
    padding-bottom: 15px;
  }
}
.paddingPhones {
  @extend .paddingCol;
  font-size: 75%;
  opacity: 0.8;
  padding-bottom: 15px;
}
.cellPhoneRow {
  padding-bottom: 20px;
}
.emailRow {
  padding-top: 20px;
}

.tab {
  display: inline-flex;
  box-sizing: border-box;
  width: 50%;
  justify-content: center;
  padding-top: 12px;
  background-color: $primary-grey;
  height: 50px;
  border-right: 1px solid #e3e3e3;
  color: $primary-dark;
  composes: fontMedium from '../../../../fonts.scss';

  &:last-child {
    border-right: 0;
  }
}

.activeTab {
  background-color: $primary-white;
  transition: ease 0.2s all;
  border-bottom: none;
}

.recallContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.iconContainer {
  span {
    padding-left: 10px;
  }

  color: $primary-darkgrey;

  &_caret {
    color: $primary-dark;
  }
  cursor: pointer;
}

.ddList {
  width: 250px;
}

.ddListItem {
  background: white;
  padding: 10px;
  &:hover {
    background-color: white !important;
  }
}

.infoPadding {
  padding-top: 25px;
}

.textContainer {
  display: flex;
}
.hiddenText {
  margin-left: auto;
}

.textEdit {
  padding-top: 10px;
  display: flex;
  align-items: center;
  composes: fontMedium from '../../../../fonts.scss';
  color: $primary-darkgrey;

  &:hover {
    cursor: pointer;
    color: $primary-blue;
  }

  &_text {
  }

  &_icon {
    padding-right: 5px;
  }
}

.noData {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  composes: fontMedium from '../../../../fonts.scss';
  color: $primary-dark-grey;
  font-size: $extra-small-size;
  height: 652px;
  opacity: 0.6;

  @media screen and (max-width: 576px) {
    display: block;
    width: auto;
    text-align: center;
    height: 100%;
    padding-bottom: 25px !important;
  }
}

.content {
  max-height: unset;
  height: 100%;
  overflow: auto;
}

.sectionWrapper {
  padding-top: 20px;
}
