@import '../../../../ui';

.mainContainer {
  width: 100%;
  margin-top: 9px;
  border-top: 3px solid $inactive-color;
  background: $primary-white;
}

.subHeader {
  composes: fontMediumPlusSize from 'sass-loader!../../../../fonts.scss';
  color: $primary-darkgrey;
  padding-top: 20px;
}
.subHeader:first-child {
  padding-top: 0px;
}

.grid {
  box-sizing: border-box;
  padding: 20px 35px 10px 35px;
  margin-top: 10px;
  border-top: 1px solid $primary-grey;
}

.row {
  border-bottom: 1px solid $primary-grey;
  padding-top: 30px;
  padding-bottom: 20px;
}
.row:first-child {
  padding-top: 0px;
}
.row:last-child {
  border-bottom: 0px;
}

.paddingCol {
  padding-bottom: 40px;
}

.tab {
  padding-top: 10px;

  > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: $large-weight;
  }
}

.recallContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.iconContainer {
  span {
    padding-left: 10px;
  }
  color: $primary-darkgrey;
  &_caret {
    color: $primary-dark;
  }
}

.ddList {
  width: 250px;
}
.ddListItem {
  background: white;
  padding: 10px;
}

.infoPadding {
  padding-top: 25px;
}
