@import '../../../../ui.scss';


.booked {
  border-top: 5px solid $inactive-color;
  margin:0 20px 20px 20px;
  min-width: 250px;
  overflow: hidden;
  &__header {
    display: flex;
    align-items: center;
    height: 40px;
    padding-left: 15px;
    justify-content: space-between;
    //border-bottom: 3px solid #efefef;
    margin-bottom: 10px;
  }
  &__body {
    position: relative;
    canvas {
      max-width: 99%;
    }
    @media screen and (max-width: 900px){
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}


.scroll {

}

.column {
  text-align: center;
  padding: 10px;
  color: #969696;
  font-size: 12px;
  font-family: $medium-font;
  position: relative;
  border-right: 3px solid #efefef;

  &:last-child {
    border: none;
  }

  &_source {
    color: $primary-dark;
    font-family: $medium-font;
    font-size: 12px;
  }
}

.columnHeadContainer {
  position: absolute;
  top: 0px;
  background: $primary-white;
  z-index: 100;
}
.columnHead {
  font-size: 12px;
  border-right: 3px solid #efefef;
  font-family: $medium-font;
  border-top: 3px solid #efefef;
  border-bottom: 3px solid #efefef;
  padding: 3px;
  &:last-child {
    border: none;
  }
}

.phone {
  font-size: 16px !important;
  color: $primary-green;
}

.phoneMissed {
  font-size: 16px;
  color: $primary-red;
}


.switchField {
  font-family: Gotham-Book;
  padding: 10px;
  overflow: hidden;
}

.switchField input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switchField label {
  float: left;
}

.switchField label {
  display: inline-block;
  width: 30px;
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 4px 8px 2px 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
}

.switchField label:hover {
  cursor: pointer;
}

.switchField input:checked + label {
  background-color: $primary-blue;
  font-size: 12px;
  font-weight: bold;
  color: $primary-white;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.switchField label:first-of-type {
  background-color: white;
  border-radius: 4px 0 0 4px;
}

.switchField label:last-of-type {
  background-color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 0 4px 4px 0;
}

.icon {
  position: absolute;
  top: 32px;
  right: 10px;
  fill: #969696;
}

.table {
  width: 100%;
  position: relative;
  tbody {
    display:block;
    max-height: calc(100%);
    overflow: scroll;
    box-sizing: border-box;
  }

  thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
  }

  thead {
    width: calc( 100% )
  }
}

.position {
  position: relative;
  top: 14px;
}

.grey {
  color: #969696;
}
