@import '../../../../ui';

.mainContainer {
  background: $primary-white;
  animation: fadeinform 0.9s;
  position: relative;
}

.logo {
}

.header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  color: $primary-dark;
  composes: fontMedium from '../../../../fonts.scss';
  font-size: 19px;

  &_text {
    margin-bottom: 15px;
  }

  &_icon {
    margin-left: auto;
    font-size: 1rem;
    padding-right: 15px;
    padding-top: 15px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.formContainer {
  display: flex;
  flex-direction: column;
}

.buttonContainer {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  margin-top: 15px;
}

.nextButton {
  margin-left: auto;
}

.bulletContainer {
  display: flex;

  &_bullets {
    margin: 0 auto;
  }
}

.dropDownEnterprise {
  z-index: 1000000;
}

.clinicDetailsContainer {
}

.selectEnterprise {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &_dd {
    width: 45%;
  }

  &_icon {
    padding-top: 12px;
    align-items: center;
  }
}

.accountOptions {
  padding-top: 10px;
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 300px;

  &_text {
    width: 210px;
    color: $primary-darkgrey;
    font-weight: $large-weight;
  }

  &_icon {
    width: 30px;
  }

  &_row {
    min-width: 300px;
    width: 100%;
  }

  &_column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.displayFlex {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}

@keyframes fadeinform {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
