@import '../../../../styles/ui';

.mainContainer {
  animation: fadeinform 0.9s;
  background: $primary-white;
  position: relative;
}

.enterpriseLabel {
  font-family: 'Gotham-Medium', sans-serif;
  margin-bottom: 15px;
  span {
    font-family: 'Gotham-Bold', sans-serif;
  }
}

.header {
  align-items: center;
  box-sizing: border-box;
  color: $primary-dark;
  composes: fontMedium from '../../../../styles/fonts.scss';
  display: flex;
  font-size: 19px;

  &_text {
    margin-bottom: 15px;
  }

  &_icon {
    cursor: pointer;
    font-size: 1rem;
    margin-left: auto;
    padding-right: 15px;
    padding-top: 15px;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.formContainer {
  display: flex;
  flex-direction: column;
}

.buttonContainer {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  margin-top: 15px;
  width: 100%;
}

.nextButton {
  margin-left: auto;
}

.bulletContainer {
  display: flex;

  &_bullets {
    margin: 0 auto;
  }
}

.dropDownEnterprise {
  z-index: 1000000;
}

.clinicDetailsContainer {
}

.selectEnterprise {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  &_dd {
    width: 45%;
  }

  &_icon {
    align-items: center;
    padding-top: 12px;
  }
  div[class*='dropDownList'] {
    max-height: 200px;
  }
}

.accountOptions {
  align-items: center;
  display: flex;
  min-width: 300px;
  padding-top: 10px;
  width: 100%;

  &_text {
    color: $primary-darkgrey;
    font-weight: $large-weight;
    width: 210px;
  }

  &_icon {
    width: 30px;
  }

  &_row {
    min-width: 300px;
    width: 100%;
  }

  &_column {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.displayFlex {
  align-items: center;
  display: flex;
  padding-bottom: 15px;
}

@keyframes fadeinform {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.orSeparator {
  margin: 25px auto 15px;
}
