@import "../../ui.scss";

.mainIntelligenceContainer {
  padding: $container-padding;
}

.header {
  padding: 5px 5px 0;
  @media screen and (max-width: 450px) {
    padding: 5px 10px 0;
  }
}

.title {
  align-items: center;
  background: $primary-white;
  display: flex;
  font-size: $medium-size;
  height: 35px;
  margin-bottom: 30px;
  padding-left: 10px;
  b {
    padding-left: 5px;
  }
}

.cards {
  cursor: pointer;
  margin-bottom: 20px;
  div:not(:last-child) {
    flex: 1;
    margin-right: 10px;
  }
}

.padding {
  padding: 5px;
}
.paddingRight {

}
.calendarContainer {
  padding-top: 10px;
  &_calendar {
    border-top: $card-border-size $primary-dark-blue;
  }
}

.cardHeader {
  align-items: center;
  display: flex;
  padding-left: 15px;
  padding-top: 15px;
  text-align: center;

}
