@import '../../../ui';

.time {
  text-align: center;
  margin: 10px 0;
  font-size: 12px;
  color: $inactive-color;
}

.bubbleAvatar {
  margin-top: -38px;
}

.botAvatar {
  background: $primary-white;
  border: 1px solid lighten($primary-blue, 50%);
  width: 1.377rem;
  min-width: 1.377rem;
  height: 1.377rem;
  min-height: 1.377rem;

  & > img {
    width: 42px;
    padding-top: 15px;
    padding-right: 2px;
  }
}

.messageWrapper {
  // display: flex;
  // flex-direction: row;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;

  &:hover,
  .visibleOptions {
    .dotsIcon {
      opacity: 1;
    }
  }
}

.dotsIconWrapper {
  height: 5px;
}

.dotsIcon {
  opacity: 0;
  transition: opacity 0.3s;
  line-height: 0;
  margin-left: 10px;
  cursor: pointer;
}

.markUnreadButton {
  cursor: pointer;
  background-color: transparent;
  color: $primary-white;
  padding: 0;
}

.sharedMessage {
  // width: 100%;
  display: flex;
  align-items: flex-end;
}

.groupWrapper {
  width: 100%;
  display: block;
  & > div {
    display: flex;
    flex-direction: column;
  }
}

.dotsWrapper {
  align-self: center;
  margin-bottom: 5px;
}

.clinicMessage {
  @extend .sharedMessage;
  float: right;
}

.patientMessage {
  @extend .sharedMessage;
  float: left;
}

.allMessages {
  overflow-y: auto;
  flex-direction: column;
  position: relative;
  width: 100%;
  background-color: $chat-lightgrey;
}

.raise {
  padding: 10px;
}

.sendMessage {
  // border-top: 1px solid #e6e6e6;
  padding: 20px;
  padding-top: 0;
  boz-sizing: border-box;
  background-color: $chat-lightgrey;
  height: 160px;
  > div {
    height: 100%;
    > form {
      height: 100%;
    }
  }
}

.failedMessage {
  margin-right: 10px;
  margin-bottom: 15px;

  .failedMessageWarning {
    color: $primary-red;
    cursor: pointer;
  }
}

.messageContainer {
  overflow: hidden;
}
