@import '../../../ui';

.pill {
  background: transparent;
  border: 1px solid $clr-bg-dark-grey;
  border-radius: 16px;
  box-sizing: border-box;
  color: $clr-table-grey;
  // font-weight: bold;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  margin: 0 9px 9px 0;
  min-width: 90px;
  outline: none;
  padding: 7px 20px;
  text-align: center;

  &:last-child {
    margin-right: 0;
  }
}

.selectedPill {
  border: 1px solid $primary-color;
  color: $primary-color;
}
