@import '../../../ui';

.pill {
	padding: 7px 20px;
	border: 1px solid $clr-bg-dark-grey;
	color: $clr-table-grey;
	border-radius: 16px;
	font-size: 16px;
	// font-weight: bold;
	cursor: pointer;
	margin: 0 9px 9px 0;
	background: transparent;
	outline: none;
	min-width: 90px;
	text-align: center;
	box-sizing: border-box;
	display: inline-block;
}

.selectedPill {
	border: 1px solid $primary-color;
	color: $primary-color;
}