@import '../../../ui.scss';

.practOuterContainer {
  width: 100%;
}

.practMainContainer {
  display: flex;
  height: 100%;
  width: 100%;
}

.listCardStyles {
  width: 270px;
  max-width: 270px;
  min-width: 270px;
}

.practListContainer {
  //background: $primary-white;
}

.listHeader {
  padding-top: 20px;
}

.chairFlex {
  height: 130px;
  margin-left: 25px;
  &_chairs {
    float: right;
    margin-right: 80%;
  }
}
.modalContainer {
  width: 100%;
  display: inline-block;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid;
  border-bottom-color: $primary-lightgrey;
  padding-bottom: 5px;
  background: $primary-white;
}

.displayFlexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.addPractitionerButton {
  //font-size: 13px;
}

.badgeHeader {
  padding: 15px 30px;
}

.practListItem {
  height: 100x !important;
  min-height: 100px !important;
  text-transform: capitalize;
  background: $primary-white;
  display: flex;
  align-items: center;
  justify-content: center;

  &_container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 30px;
  }
  &_textContainer {
    height: 100%;
    padding-left: 5px;
    padding-top: 5px;
  }
  &_name {
    composes: listItemHeader from '../../../fonts.scss';
    padding-top: 5px;
    padding-left: 5px;
  }

  &_type {
    composes: subHeaderExtraSmall from '../../../fonts.scss';
    align-items: flex-end;
    padding-left: 5px;
    padding-top: 10px;
  }

  &_avatarContainer {
    height: 100%;
  }
}

.sizingThisAvatar {
  height: 3rem;
  width: 3rem;
  min-width: 3rem;
  min-height: 3rem;
}

.subHeader {
  div {
    font-size: 26px;
  }
}
.orSpacer {
  border-top: outset #b4b4b5;
  margin: 30px auto 0;
  width: 90%;
  position: relative;
  border-width: thin;
}

.flexHeader {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.button {
  margin: 15px;
  margin-right: 40px;
}

.practDataContainer {
  box-sizing: border-box;
  margin-left: 15px;
  height: 100%;
  width: 100%;
  display: inline-block;
}

.pracHeaderContainer {
  display: flex;
  align-items: center;
  border-bottom: 1px solid;
  border-bottom-color: $primary-lightgrey;
  margin-left: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.trashButton {
}

.toggleContainer {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-left: 10px;
  padding-bottom: 40px;
  &_hours {
    padding-left: 10px;
    padding-bottom: 15px;
  }

  &__toggle {
    padding-left: 5px;
  }

  &__text {
    font-family: $medium-font;
  }
}

.notCustom {
  padding-left: 10px;
  padding-top: 10px;
}

.practFormContainer {
  width: 100%;
  display: flex;
  padding-top: 20px;
  padding-bottom: 10px;

  &_basicForm {
    display: inline-block;
    width: 90%;
    padding-right: 20px;
  }

  &_avatarContainer {
    display: inline-block;
    padding-left: 25px;
  }
  &__createForm {
    //padding: 0px 15px 5px 15px;
    height: 100%;
  }

  &_type {
    padding-top: 10px;
    padding-bottom: 25px;
  }

  &_practActive {
    display: flex;
    padding-top: 5px;
    padding-bottom: 10px;
    align-content: center;
    align-items: center;
    &_toggle {
      padding-left: 5px;
    }
  }

  &_practHidden {
    display: flex;
    align-content: center;
    align-items: center;
    padding-bottom: 25px;

    &_text {
      // width: 50%;
    }
    &_hiddenToggle {
      margin-left: auto;
      padding-left: 5px;
    }
  }
}

.practitionerActive {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-right: 20px;
  border-right: 1px solid $primary-darkgrey;

  &_text {
    font-family: $medium-font;
    padding-right: 10px;
  }
}
.deleteAvatar {
  width: 100%;
  margin-top: 20px;
}

.chairsContainer {
  padding: 10px;
  max-height: 300px;
  overflow: auto;
  &_all {
    display: flex;
    align-items: center;
    padding-bottom: 10px;

    &_text {
      width: 120px;
      font-weight: $large-weight;
    }
  }

  &_fields {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
  }

  &_name {
    width: 120px;
  }

  &_toggle {
    margin-left: auto;
  }
}

.rightActions {
  display: flex;
  align-items: center;
}

.pracHeaderClass {
  padding-bottom: 0;
  height: auto !important;
}

.pracBodyClass {
  padding: 40px;
}

.content {
  overflow: unset;
}
