@import '../../../styles/ui-reskin.scss';

.button {
  align-items: center;
  border: $color-grey-100;
  box-shadow: $box-shadow-3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 36px;
  width: 330px;

  i {
    color: $color-grey-400;
    font-size: $xx-medium-size;
  }

  &_content {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    p {
      color: $color-grey-400;
      font-size: $xxx-medium-size;
      font-weight: $medium-weight;
      margin: 0;
      padding: 0;
      word-break: keep-all;
    }
  }
  &_badge {
    align-items: center;
    background-color: $color-lavender-600;
    border-radius: 50%;

    color: $super-white;

    display: flex;
    font-weight: $bold-weight;
    height: 20px;
    justify-content: center;
    line-height: normal;

    margin: 0px 8px;
    width: 22px;
  }
}
.servicesHeader {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 16px;
}

.practOuterContainer {
  width: 100%;
}

.practMainContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.listCardStyles {
  max-width: 270px;
  min-width: 270px;
  width: 270px;
}

.listHeader {
  padding-top: 20px;
}

.chairFlex {
  height: 130px;
  margin-left: 25px;
  &_chairs {
    float: right;
    margin-right: 80%;
  }
}

.displayFlexCenter {
  align-items: center;
  display: flex;
  justify-content: center;
}

.badgeHeader {
  padding: 15px 30px;
}

.practListItem {
  align-items: center;
  background: $super-white;
  display: flex;
  height: 100px !important;
  justify-content: center;
  min-height: 100px !important;
  text-transform: capitalize;

  &_container {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    width: 100%;
  }
  &_textContainer {
    height: 100%;
    padding-left: 5px;
    padding-top: 5px;
  }
  &_name {
    color: $color-grey-400;
    font-size: $small-size;
    font-weight: $semi-bold-weight;
    letter-spacing: 0.06em;
    line-height: 23px;
    padding-left: 5px;
    &_selected {
      color: $color-lavender-500;
    }
  }

  &_type {
    align-items: flex-end;

    color: $color-grey-400;
    font-size: $small-size;
    font-weight: $medium-weight;
    line-height: 16px;
    padding-left: 5px;
  }

  &_avatarContainer {
    height: 100%;
  }
}

.practitionerItemAvatar {
  height: 48px;
  min-height: 48px;
  min-width: 48px;
  width: 48px;
}

.sizingThisAvatar {
  height: calc(3rem * 1.6);
  min-height: calc(3rem * 1.6);
  min-width: calc(3rem * 1.6);
  width: calc(3rem * 1.6);
}

.subHeader {
  div {
    font-size: 26px;
  }
}
.orSpacer {
  border-top: outset #b4b4b5;
  border-width: thin;
  margin: 30px auto 0;
  position: relative;
  width: 90%;
}

.flexHeader {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.practDataContainer {
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  margin-left: 15px;
  width: 100%;
}

.trashButton {
  border: 1px solid $error-500;
  border-radius: 4px;
  padding: 8px;

  i {
    color: $error-500;
    font-size: $medium-size;
    font-weight: 400;
    margin: 0;
  }
}

.divider {
  background-color: $color-lavender-150;
  height: 32px;
  margin: 0px 16px;
}

.toggleContainer {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-top: 15px;
  &_hours {
    padding-bottom: 15px;
    padding-left: 10px;
  }

  &__toggle {
    padding-left: 5px;
  }
}

.notCustom {
  padding-left: 10px;
  padding-top: 10px;
}

.practFormContainer {
  display: flex;
  padding-bottom: 10px;
  padding-top: 20px;
  width: 100%;

  &_basicForm {
    display: inline-block;
    padding-right: 20px;
    width: 90%;
  }

  &_avatarContainer {
    display: inline-block;
    padding-left: 25px;
  }
  &__createForm {
    height: 100%;
  }

  &_type {
    padding-bottom: 25px;
    padding-top: 10px;
  }

  &_practActive {
    align-content: center;
    align-items: center;
    display: flex;
    padding-bottom: 10px;
    padding-top: 5px;
    &_toggle {
      padding-left: 5px;
    }
  }

  &_practHidden {
    align-content: center;
    align-items: center;
    display: flex;
    padding-bottom: 25px;

    &_hiddenToggle {
      margin-left: auto;
      padding-left: 5px;
    }
  }
}

.practitionerActive {
  align-items: center;
  display: flex;
  margin-left: auto;

  &_text {
    color: $color-purple-600;
    font-size: $medium-size;
    font-weight: $medium-weight;
    line-height: 20px;
    margin-right: 10px;
  }
}
.deleteAvatar {
  margin-top: 20px;
  width: 100%;
}

.chairsContainer {
  max-height: 300px;
  overflow: auto;
  padding: 10px;
  &_all {
    align-items: center;
    display: flex;
    padding-bottom: 10px;

    &_text {
      font-weight: $bold-weight;
      width: 120px;
    }
  }

  &_fields {
    align-items: center;
    display: flex;
    padding-bottom: 5px;
  }

  &_name {
    width: 120px;
  }

  &_toggle {
    margin-left: auto;
  }
}

.rightActions {
  align-items: center;
  display: flex;
}

.pracHeaderClass {
  height: auto !important;
  padding: 0px 24px !important;
  padding-bottom: 0;
}

.pracBodyClass {
  padding: 32px;
}

.content {
  overflow: unset;
}

.labelButton {
  background: transparent;
  color: $color-grey-200;
  font-size: 11px;
  font-weight: bold;
  margin: 10px 10px 10px 20px;
  padding: 10px 10px;
  text-align: left;
  width: 168px;

  &:hover {
    color: $error-400;
  }
}

.labelButtonIcon {
  font-weight: 900;
  margin-left: 7px;
}

.practitionerListFilterWrapper {
  align-items: center;
  display: flex;
}

.practitionerListFilter {
  width: 200px;

  > div {
    margin-top: 0 !important;
  }
}

.practitionerListFilterMenuItem {
  font-size: 11px;
  font-weight: 300;
}

.MenuItemSelected {
  color: $color-purple-600;
  font-weight: bold;
}

.menuItemCount {
  position: absolute;
  right: 16px;
}

.listContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.selected {
  background-color: $color-lavender-100;
}

.tab {
  font-size: $medium-size;
  font-weight: $medium-weight;
  line-height: 20px;
  &_active {
    border-bottom: 2px solid $color-lavender-500 !important;
  }
}

.cloudIcon {
  color: $color-grey-150;
  font-size: $xxx-large-size;
  font-weight: $light-weight;
}

.title {
  color: $color-grey-200;
  font-size: $small-size;
  font-weight: $bold-weight;
  margin-left: 43px;
  margin-right: 32px;
  text-align: center;
}

.mainText {
  margin-top: 5px;
}
