@import '../../../ui.scss';

.practMainContainer{
  display: flex;
}
.practListContainer{
  display: inline-block;
  width: 25%;
}

.practDataContainer{
  display: inline-block;
  width: 75%;
}

.addPractitionerButton{
  margin-left: auto;
}


.practFormContainer{
  display: flex;
  width: 100%;
  &__createForm{
    padding: 0px 15px 0px 15px;
  }
}
.practForm{
  width: 50%;
  padding-top: 15px;
}

.practFormRow{
  width: 100%;
  display: inline-block;
  &__createRow{
    padding: 15px 0px 15px 0px;
  }
}
.practFormField{
  padding: 15px 0px 15px 15px;
}

.trashButton{
  float: right;
  &__trashIcon{
    width: 0px;
    padding: 0px;
  }
}

.modalContainer{
  display: flex;
  align-items: center;
  border-bottom: 1px solid;
  border-bottom-color: $primary-grey;
}


.practTabsContainer{
  display: flex;
  margin-left: auto;
  width: 100%
}
.practTabs {
  color: red;
  width: 100px;
}






