@import '../../../ui';

.wrapper {
  padding-right: 20px;
  padding-left: 20px;
  width: 100%;

  span {
    font-size: 13px;
  }
}

.icon {
  float: right;
  padding-right: 20px;
  color: $electron-external-link-icon;
  cursor: pointer;
}

.wrapper > span,
.icon {
  line-height: 41px;
}
