.colorPickerPopover > :global(svg.Popover-tip) {
  fill: white;
}

.colorPickerContainer {
  align-items: center;
  display: flex;
  position: relative;
}

.colorSwatch {
  border: 1px solid;
  height: 15px;
  left: 172px;
  position: absolute;
  width: 15px;
}
