
@import '../../../../../ui';

.reminderListItem {
  &:hover {
    .deleteButtonWrapper {
      display: block;
    }
  }
}

.deleteButtonWrapper {
  display: none;
  position: relative;
  top: 30px;
}

.secondaryLinesBox {
  margin-left: auto;
  width: 80%;
  height: 54px;
  border-left: 1px solid $primary-gray;
  border-bottom: 1px solid $primary-gray;
  position: relative;
  top: -53px;
}

.secondaryLinesBoxSelected {
  @extend .secondaryLinesBox;
  border-left: 1px solid $primary-green;
  border-bottom: 1px solid $primary-green;
}

.dropdownsWrapper {
  margin-left: auto;
  width: 91%;
  position: relative;
  top: -20px;
}

.inputFont {
  color: $primary-darkgrey;
  font-size: 14px;
}

.inputFontSelected {
  @extend .inputFont;
  color: black;
}

.dropdownSelect {
  background-color: white;
  border: 1px solid $primary-gray;
  padding: 0;
  // For inputs
  > input {
    @extend .inputFont;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: none;
    height: 40px;
  }

  // For dropdowns
  > div:not(:last-child) {
    @extend .inputFont;
    border-bottom: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
  }

  > :global(.dd-menu-items) {
    margin: 2px 0 0 0;
  }
}

.dropdownSelectSelected {
  @extend .dropdownSelect;
  border: 1px solid $primary-green;
  > input {
    @extend .inputFontSelected;

  }
  // For dropdowns
  > div:not(:last-child) {
    @extend .inputFontSelected;
  }
}

.topRow {
  position: relative;
  top: -24px;
}

.bottomRow {
  position: relative;
  bottom: 12px;
}

.rightDropdown {
  padding-left: 10px;
}

// Needs to be same as <IconCircle /> component
$width: 36px;
$wrapper-thickness: 8px;

.reminderIconContainer {
  position: relative;
  top: -($width + 2 * $wrapper-thickness) / 2;
  left: -($width + 2* $wrapper-thickness) / 2;
}

.smallIconContainer {
  position: relative;
  top: 44px;
  left: -12px;
}

$small-icon-width: 24px;

.smallReminderSelectWrapperCircle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $small-icon-width + 1;
  height: $small-icon-width;
  border-radius: $small-icon-width / 2;
  color: white;
  background-color: $primary-gray;
  > i {
    font-size: 0.8em;
  }
}

.smallReminderSelectWrapperCircleSelected {
  @extend .smallReminderSelectWrapperCircle;
  background-color: $primary-green;
}

.toggleCol {
  padding-top: 15px;
}

.labelCol {
  padding-top: 10px;
}

.downIconWrapper {
  position: relative;
  bottom: -14px;
  left: -7px;
  > i {
    color: $primary-gray;
  }
}
