@import '../../../ui.scss';

.dialogBodyAdd {
  overflow: unset;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

.dialogBodyList {
  align-items: center;
  justify-content: center;
  overflow: unset;
  padding: 0;
  position: relative;
}

.headerContainer {
  border-bottom: 0.13em solid $primary-grey;
}

.header {
  align-content: center;
  align-items: center;
  color: $primary-darkgrey;
  display: flex;
  font-size: $small-size;
  justify-content: space-between;
  margin-left: auto;
  margin-right: 10px;
  text-align: center;
  &_text {
    padding-right: 35px;
  }
}

.headerLinks {
  align-content: center;
  align-items: center;
  box-sizing: border-box;
  color: $primary-dark;
  display: flex;
  font-weight: 600;
  margin-right: 20px;
  outline: none;

  &:hover {
    color: $primary-color-hover;
    cursor: pointer;
  }

  &_icon {
    margin-right: 0;
    padding-left: 10px;
  }

  &_add {
    margin-left: 10px;
  }

  &_waitlist {
    margin-right: 15px;
  }
}

.changeDay {
  align-items: center;
  color: $primary-dark;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  width: 35px;

  &_left {
    color: inherit;
  }

  &_right {
    color: inherit;
  }
}

.suggestionContainer {
  align-items: center;
  color: $primary-dark;
  display: flex;
  padding: 10px;

  &_details {
    color: #a7a9ac;
    composes: fontDefault from '../../../fonts.scss';
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    padding-left: 10px;
    text-align: left;
  }

  &_fullName {
    color: $primary-dark;
    font-size: 12px;
  }

  &_date {
    font-size: 10px;
  }
}
