@import '../../../ui.scss';
@import '../styles.scss';

.reviews {
  &__wrapper {
  }
}

.padding {
  padding: 0 10px 5px;
  margin-bottom: 10px;
  @media screen and (max-width: 900px) {
    margin-bottom: 15px;
  }
}

.card {
}

.googleMapsRespond {
  display: flex;
  flex-direction: row;
  height: 168px;
  align-items: center;
  padding-left: 20px;
  @media (max-width: 484px) {
    flex-direction: column;
    height: auto;
  }

  &__video {
    width: 20%;
    height: 120px;
    margin-right: 40px;
    min-width: 250px;
  }
}

.googleMapsRespondDescr {
  width: 80%;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: center;
  &_header {
    margin-bottom: 10px;
    composes: font-header-title from '../../../fonts.scss';
  }
  &_subHeader {
    composes: subHeader from '../../../fonts.scss';
  }
}

.stats {
  min-height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  min-width: 250px;
  margin: 0 auto;
  padding: 15px 0;
  position: relative;

  &__count {
    composes: fontExtraMediumLarge from '../../../fonts.scss';
  }

  &__title {
    font-size: $extra-medium-size;
    font-weight: $large-weight;
  }

  &__rating {
    color: $primary-darkgrey;
    font-weight: $large-weight;
  }

  &__bottom {
    width: 100%;
    margin: 5px 0 0;
    box-sizing: border-box;
    padding-top: 15px;
    text-align: center;
    border-top: 2px solid $primary-grey;
    color: lighten($primary-darkgrey, 20%);
    font-size: $medium-size;
    composes: subHeaderSmall from '../../../fonts.scss';
  }

  &_noReviews {
    font-size: $medium-size;
    color: $inactive-color;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
}

.content {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $primary-blue;
  &__stars {
    width: 90%;
    text-align: right;
    display: inline-block;
    padding-right: 15px;
  }

  &__bar {
    width: 50%;
    text-align: left;
    display: flex;
    align-items: center;
    color: $primary-blue;
    &__percent {
      height: 16px;
      padding-top: 10px;
      margin-right: 4px;
      background-color: $primary-blue;
      display: inline-block;
    }
  }
}

.tags {
  border-top: $card-border-size $primary-darkgrey;

  width: 100%;
  height: 168px;
  padding: 20px;
  &__left {
    width: 25%;
    min-width: 250px;
    height: 168px;
    &__update {
      margin-top: 10px;
      color: lighten($primary-darkgrey, 20%);
      font-size: $medium-size;
      composes: subHeaderSmall from '../../../fonts.scss';
    }
  }
}

.rowReviewsFilter {
  width: 100%;
  //height: 700px;
}

.reviewsComments {
  width: 100%;
  min-height: 168px;
  max-height: 745px;
  overflow: auto;
  //margin-bottom: 15px;
  //height: calc(100vh - 385px);
  position: relative;

  &__cardHeader {
    //padding-top: 15px;
    padding-left: 15px;
    margin-right: 10px;
    justify-content: flex-start;
  }

  &__container {
    //border-right: 2px solid $primary-lightgrey;
    //padding: 10px 10px 0 0;
  }

  &__comment {
  }
}

.dateRangeContainer {
  display: flex;
  align-items: center;
  &_date {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.dateRangeDD {
  padding: 10px;
}

.clearedReviews {
  font-size: 20px;
  line-height: 1.5em;
  width: 700px;
  color: $inactive-color;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.ccReviews {
  margin-left: 20px;
  font-family: $medium-font;
  color: $primary-darkgrey;
  font-size: 12px;
}
