@import "../../../ui.scss";
@import "../styles.scss";

.reviews {

}

.padding {
  padding: 0 5px;
  margin-bottom: 30px;
  @media screen and (max-width: 900px) {
    margin-bottom: 15px;
  }
}


.googleMapsRespond {
	display: flex;
	flex-direction: row;
	height: 168px;
	align-items: center;
	padding-left: 20px;
	@media (max-width: 484px) {
		flex-direction: column;
		height: auto;
	}

	&__video {
		width: 20%;
		height: 120px;
		margin-right: 40px;
		min-width: 250px;
	}

	&__descr {
		width: 80%;
		height: 120px;
		display: flex;
		flex-direction: column;
		align-items: space-around;
		justify-content: center;
		div:first-child {
			font-weight: $large-weight;
			margin-bottom: 20px;
		}
		div:last-child {
			color: $primary-darkgrey;
		}
	}
}


.stats {
	min-height: 168px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	min-width: 250px;
	margin: 0 auto;
	padding: 10px 0 10px 0;
	&__count {
		font-size: $x-large-size;
		font-weight: $small-weight;
	}

	&__title {
		font-size: $extra-medium-size;
		font-weight: $small-weight;
	}

	&__rating {
		color: $primary-darkgrey;
		font-weight: $small-weight;
	}

	&__bottom {
		width: 100%;
		margin: 5px 0 0 0;
		box-shadow: border-box;
		padding-top: 15px;
		text-align: center;
		border-top: 1px solid $primary-darkgrey;
		color: $primary-darkgrey;
		font-size: $medium-size;
	}
}

.content {
	width: 100%;
	height: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	&__stars {
		width: 50%;
		text-align: right;
		display: inline-block;
	}

	&__bar {
		width: 50%;
		text-align: left;
    display: flex;
    align-items: center;
		color: $primary-blue;
		&__percent {
			height: 16px;
			margin-right: 4px;
			background-color: $primary-blue;
			display: inline-block;
		}
	}
}


.tags {
	width: 100%;
	height: 168px;
	&__left {
		width: 25%;
		min-width: 250px;
		height: 168px;
		position: relative;
		display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__update {
    	margin-top: 10px;
    	color: $primary-darkgrey;
    }
	}
}

.reviewsComments {
	width: 100%;
	margin-top: 10px;
	min-height: 168px;
	max-height: 400px;
	overflow: auto;

	&__container {
		border-top: 2px solid $primary-lightgrey;
		border-right: 2px solid $primary-lightgrey;
		padding: 10px 10px 0 0;
	}

  &__comment {

  }
}
