@import "../../../ui.scss";
@import "../styles.scss";

.reviews {
  &__wrapper {
    margin-bottom: 15px;
  }
}

.padding {
  padding: 0 10px 5px;
  margin-bottom: 10px;
  @media screen and (max-width: 900px) {
    margin-bottom: 15px;
  }
}

.card {
  border-top: $card-border-size $primary-darkgrey;
}

.googleMapsRespond {
  border-top: $card-border-size $primary-darkgrey;
  display: flex;
	flex-direction: row;
	height: 168px;
	align-items: center;
	padding-left: 20px;
	@media (max-width: 484px) {
		flex-direction: column;
		height: auto;
	}

	&__video {
		width: 20%;
		height: 120px;
		margin-right: 40px;
		min-width: 250px;
	}
}

.googleMapsRespondDescr {
  width: 80%;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: center;
  &_header {
    margin-bottom: 10px;
    composes: font-header-title from 'sass-loader!../../../fonts.scss';
  }
  &_subHeader {
    composes: subHeader from 'sass-loader!../../../fonts.scss';
  }
}


.stats {
  min-height: 168px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	min-width: 250px;
	margin: 0 auto;
	padding: 10px 0 10px 0;
	&__count {
    composes: fontExtraLarge from 'sass-loader!../../../fonts.scss';
	}

	&__title {
		font-size: $extra-medium-size;
		font-weight: $large-weight;
	}

	&__rating {
		color: $primary-darkgrey;
		font-weight: $large-weight;
	}

	&__bottom {
		width: 100%;
		margin: 5px 0 0 0;
		box-sizing: border-box;
		padding-top: 15px;
		text-align: center;
		border-top: 2px solid $primary-grey;
		color: lighten($primary-darkgrey,20%);
		font-size: $medium-size;
    composes: subHeaderSmall from 'sass-loader!../../../fonts.scss'

	}
}

.content {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  &__stars {
    width: 50%;
    text-align: right;
    display: inline-block;
  }

  &__bar {
    width: 50%;
    text-align: left;
    display: flex;
    align-items: center;
		color: $primary-light-blue;
		&__percent {
			height: 16px;
			margin-right: 4px;
			background-color: $primary-light-blue;
			display: inline-block;
		}
	}
}


.tags {
  border-top: $card-border-size $primary-darkgrey;

  width: 100%;
  height: 168px;
  padding: 20px;
  &__left {
    width: 25%;
    min-width: 250px;
    height: 168px;
    &__update {
      margin-top: 10px;
      color: lighten($primary-darkgrey,20%);
      font-size: $medium-size;
      composes: subHeaderSmall from 'sass-loader!../../../fonts.scss'
    }
  }
}

.rowReviewsFilter {
  height: 700px;
}

.reviewsComments {
	width: 100%;
	margin-top: 10px;
	min-height: 168px;
  max-height: 745px;
	overflow: auto;
  margin-bottom: 15px;

  &__cardHeader {
    padding-top: 15px;
    padding-left: 15px;
  }

	&__container {
		border-right: 2px solid $primary-lightgrey;
		padding: 10px 10px 0 0;
	}

  &__comment {

  }
}
