@import '../../../styles/ui-reskin.scss';

.wrapper {
  padding: 20px 0;
  position: relative;
  width: 100%;
}

.toggleDiv {
  align-items: center;
  background: transparent;
  border: 0;
  border-bottom: 1px solid $color-purple-100;
  box-sizing: border-box;
  color: initial;
  cursor: pointer;
  display: flex;
  font-size: $medium-size;
  height: 30px;
  padding: 0;
  position: relative;
  transition: border 500ms ease-out;
  width: 100%;
}

.primaryColorBorder {
  border-bottom: 1px solid var(--primaryButtonColor);
}

.primaryWhiteBorder {
  border-bottom: 1px solid $super-white;
}

.theme {
  &_primaryBlueLabel {
    font-size: $small-size !important;
    letter-spacing: 2px;
  }
  &_primaryBlueBorder {
    border-bottom: 1px solid $color-lavender-500;
  }
  &_primaryBlueCaret {
    color: $color-lavender-500 !important;
  }
}

.active {
  border-bottom: 1px solid $color-lavender-500;
}

.toggleDivDisabled {
  @extend .toggleDiv;
  border-bottom: 1px solid $color-purple-100;
  color: $color-grey-400;
  cursor: not-allowed;
  .caretIconWrapper {
    color: $color-grey-400;
  }
}

.optionDiv {
  padding: 0 !important;
  white-space: normal !important;
}

.optionListItem {
  align-items: center;
  background-color: $super-white;
  border: 0;
  border-bottom: 1px solid $color-lavender-050;
  color: $color-grey-400;
  cursor: pointer;

  display: flex;

  height: calc(2.5rem * 1.6);
  justify-content: center;
  letter-spacing: 0;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  text-overflow: ellipsis;
  width: 100%;
  &:hover {
    background-color: $color-grey-050;
    color: $color-lavender-500 !important;
    cursor: pointer;
  }
}

.dropDownList {
  max-height: 300px;
  overflow-y: auto;
}

.selectedListItem {
  border-left: $color-lavender-500;
  padding-left: 15px;
}

.toggleValueDiv {
  align-items: center;
  display: flex;
  height: 100%;
  user-select: none;
  width: 100%;
}

.caretIconWrapper {
  color: $color-grey-400;
  margin-left: auto;
  transition: color 500ms ease-out;
  z-index: 1;
}

.timesIconWrapper {
  background: transparent;
  border: 0;
  color: $color-grey-400;
  cursor: pointer;
  margin-left: auto;
  padding: 0;
  transition: color 500ms ease-out;
  z-index: 1;
  &:hover {
    color: $color-lavender-500;
  }
}

.activeIcon {
  color: $color-lavender-500;
}

.noBorder {
  border: none;
}

.label {
  color: $color-grey-400;
  font-size: $small-size;
  font-weight: $normal-weight;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 6px;
  transition: 0.2s ease all;
}

.filled {
  font-size: $x-small-size !important;
  left: 0 !important;
  position: absolute;
  top: -10px !important;
}

.hideLabel {
  display: none;
}

.activeLabel {
  color: $color-lavender-500;
}

.searchInput {
  margin-left: 20px;
  margin-right: 20px;
}

.error {
  bottom: -16px;
  color: $error-200;
  font-size: 11px;
  font-weight: normal;
  letter-spacing: 0.5px;
  pointer-events: none;
  position: absolute;
}

.hiddenInput {
  height: 0;
  opacity: 0;
  position: absolute;
  width: 0;
}

.errorIcon {
  color: $error-200;
}

.errorLabel {
  color: $error-200;
}

.errorToggleDiv {
  border-bottom-color: $error-200;
}

.inputToggler {
  border: 0;
  width: 100%;
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: $color-grey-150;
    font-style: italic;
    font-weight: 200;
  }
}
.groupFull {
  padding: 0;
  width: 100%;
}

.hiddenSelect {
  left: -9999999px;
  position: absolute;
  z-index: -1;
}
.selectLabel {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 100%;
  width: 100%;
}
