@import '../../../../../ui.scss';

.timeOffList {
  background-color: $primary-white;

  &_item {
    padding-left: 5px;
  }
  &_delete {
    margin-left: auto;
  }
  &_addTimeOffText {
    padding: 5px;
  }
}

.moreOptions {
  cursor: pointer;
}


.inlineBlock {
  display: inline-block;
  padding-bottom: 5px;
}

.displayTimeOff {
  display: flex;
  border: 1px solid;
  border-color: $primary-grey;
  background-color: #ffffbc;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-top: 5px;
  padding-left: 2px;
}

.flexCenter {
  display: flex;
  align-items: center;
}
