@import '../../../../../styles/ui.scss';

.timeOffList {
  background-color: $primary-white;
  min-width: 300px;
  &_item {
    height: 50px;
    padding-left: 10px;
  }
  &_date {
  }
  &_note {
    color: $primary-darkgrey;
    max-width: 750px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &_allDay {
    color: $primary-darkgrey;
    margin-left: auto;
  }
  &_delete {
    justify-content: center;
  }
  &_addTimeOffText {
    font-weight: $large-weight;
    margin-left: auto;
    padding-left: 10px;
  }
}

.allDay {
  align-items: center;
  display: flex;
  &_text {
    padding-right: 5px;
  }
}
.moreOptions {
  cursor: pointer;
  text-align: end;
  &_icon {
    color: $primary-darkgrey;
    padding-left: 5px;
  }
}

.inlineBlock {
  padding-bottom: 1px;
  padding-left: 10px;
  padding-top: 2px;
}

.displayTimeOff {
  background-color: $primary-grey;
  border: 1px solid;
  border-color: $primary-grey;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 10px;
  padding: 5px 2px;
  text-align: center;
}

.flexCenter {
  align-items: center;
  display: flex;
}
