@import '../../../ui';

.outside {
  cursor: default;
  color: #dce0e0;
  background: transparent;
}

.start {
  opacity: 0.75;
}

.end {
  opacity: 0.75;
}
.weekDay,
.month {
  font-size: 10px;
  flex: 0 0 49%;
}
.month {
  width: 100%;
  margin-right: 0 !important;
}
.outWrapper {
  width: 100%;
}

.months {
  margin: 0;
  justify-content: space-between;
}

.navButtonPrev {
  left: 0;
}
.navButtonNext {
  right: 0;
}
.container {
  border: 0;
  padding: 0;
}
.wrapperRange {
  border: 0;
  margin: var(--widget-spacer) 0;
}
.day {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  color: $widget-grey;
  width: calc(100% / 7);
  &:hover:not(.outside):not(.disabled):not(.selected) {
    background-color: $widget-grey-lightest !important;
    color: var(--primaryColor);
  }
}
.today {
  color: var(--primaryColor);
}

.disabled {
  color: $widget-grey-light;
}

.caption {
  font-family: 'Roboto';
  color: $widget-grey;
  font-weight: 500;
  font-size: 16px;
  margin: 0 !important;
}

.selected {
  color: white;
  background: var(--primaryColor);

  &:hover:not(.outside) {
    opacity: 0.9;
    background: var(--primaryColor);
  }
}
