@import '../styles';

:root {
  --widget-spacer: 12px;
  @media screen and (min-width: 350px) {
    --widget-spacer: 16px;
  }
}

:global {
  html {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }
}

.container {
  padding: 0 var(--widget-spacer);
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.content {
  background: $widget-white;
  border: 1px solid $widget-grey-lighter;
  padding: var(--widget-spacer);
  width: 100%;
  border-radius: 4px;
  margin-bottom: var(--widget-spacer);
  box-sizing: border-box;
}

.title {
  font-size: 14px;
  color: $widget-blue-grey;
  font-weight: 500;
  margin: 0;
  line-height: 20px;
  text-align: center;
  display: block;
}

.subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: $widget-grey;
  line-height: 18px;
  margin: 4px 0 0;
  margin-bottom: var(--widget-spacer);
  display: block;
  text-align: center;
}

.contentWrapper {
  width: 100%;
  + .contentWrapper {
    margin-top: var(--widget-spacer);
  }
}

.subCard {
  @extend .content;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.subCardWrapper {
  flex: 1;
}

.subCardTitle {
  @extend .title;
  width: 100%;
  margin: 0;
}

.subCardSubtitle {
  @extend .subtitle;
  flex: 1;
  padding-right: 8px;
  margin-bottom: 0;
}

.subCardLink {
  color: $widget-blue;
  border-bottom: 1px solid;
  align-self: center;
  display: inline-block;
  background: transparent;
  padding: 0 0 1px;
  transition: all 0.2s ease;
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  &:hover {
    color: $widget-blue-dark;
    border-bottom: 1px solid $widget-blue-dark;
    transition: all 0.2s ease;
  }
}

.subCardLinkDanger {
  @extend .subCardLink;
  color: $widget-red;
}

.input {
  border: 1px solid $widget-grey-lighter;
  width: 100%;
  color: $widget-grey;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  padding: 16px var(--widget-spacer) 0;
  box-sizing: border-box;
  min-height: 56px;
  font-family: 'Roboto', sans-serif;
  background: $widget-white;
  -webkit-appearance: none;
  box-shadow: 1px 2px 3px 0 rgba(128, 128, 128, 0.15);
  &:focus ~ .label {
    @extend .filled;
  }
}

.textarea {
  @extend .input;
  min-height: 150px;
  padding-top: 28px;
}

.group {
  padding: 0;
  width: 100%;
  margin-bottom: var(--widget-spacer);
}

.error {
  left: var(--widget-spacer);
  bottom: -16px;
  color: $widget-red;
  font-size: 12px;
  top: auto;
  font-weight: 500;
  position: static;
  display: block;
  padding-left: var(--widget-spacer);
  padding-top: 6px;
}

.erroredInput {
  border-color: $widget-red;
  color: $widget-grey-dark;
}

.bar {
  display: none;
}

.erroredLabel {
  color: $widget-grey-light !important;
}

.erroredLabelFilled {
  color: $widget-grey-light !important;
}

.label {
  left: var(--widget-spacer);
  top: 21px;
  font-size: 14px;
  color: $widget-grey-light;
}

.filled {
  left: var(--widget-spacer) !important;
  top: 12px !important;
  font-size: 11px !important;
  color: $widget-grey-light;
}

.signInTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--widget-spacer);
}

.slot {
  background: $widget-white;
  border: 1px solid $widget-grey-lighter;
  border-radius: 4px;
  cursor: pointer;
  padding: 16px 0;
  transition: all 0.2s ease;
  -webkit-tap-highlight-color: transparent;
  box-shadow: 1px 2px 3px 0 rgba(128, 128, 128, 0.15);
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: $widget-grey;
  line-height: 16px;
  font-weight: 500;
  width: 100%;
  margin: 0 calc(var(--widget-spacer) / 4) calc(var(--widget-spacer) / 2) !important;
  vertical-align: middle;
  outline: none;
  text-decoration: none;
  text-align: center;
  &:hover {
    transition: all 0.2s ease;
    color: var(--primaryColor);
    border-color: var(--primaryColor);
  }
}

.selectedSlot {
  @extend .slot;
  background: var(--primaryColor);
  border-color: var(--primaryColor);
  color: $widget-white;
  &:hover {
    opacity: 0.9;
    color: $widget-white;
  }
}

.slotsTitle {
  width: 100%;
  font-size: 13px;
  color: $widget-grey-light;
  font-weight: 500;
  margin: 0 calc(var(--widget-spacer) / 4) calc(var(--widget-spacer) / 2) !important;
}

.fullWidthButton {
  border-radius: 4px;
  width: 100%;
  min-height: 40px;
  transition: all 0.2s ease;
  &:hover {
    transition: all 0.2s ease;
    opacity: 0.9;
  }
}

.editLink {
  background: $widget-grey-lightest;
  border-radius: 50%;
  width: 24px;
  min-width: 24px;
  height: 24px;
  color: $widget-grey-light;
  margin-left: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  svg {
    fill: currentColor;
  }
}

.caretIconWrapper {
  margin-top: -12px;
}

.errorIcon {
  color: initial;
}

.closeIcon {
  position: absolute;
  right: var(--widget-spacer);
  top: 22px;
  width: auto !important;
}

.inputWithIcon {
  padding-right: 28px;
}

.validationIcon {
  position: absolute;
  right: var(--widget-spacer);
  top: 22px;
}

.customDialog {
  padding: 20px;
  width: 90%;
  border-radius: 4px;
  text-align: center;
  box-sizing: border-box;
  position: relative;
}

.buttonsWrapper {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.negation {
  margin-left: 8px;
  color: $widget-grey-light;
  box-sizing: border-box;
  background: transparent;
  padding: 12px 8px;
  width: 50%;
  font-size: 13px;
  font-weight: 600;
  transition: all 0.2s ease;
  &:hover {
    transition: all 0.2s ease;
    color: $widget-grey-dark;
  }
}

.confirmation {
  margin-right: 8px;
  color: $widget-white;
  background: var(--primaryButtonColor);
  box-sizing: border-box;
  padding: 12px 8px;
  width: 50%;
  border-radius: 4px;
  font-size: 13px;
  transition: all 0.2s ease;
  font-weight: 600;
  &:hover {
    transition: all 0.2s ease;
    opacity: 0.9;
  }
}

.timeFrameWrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--widget-spacer);
  width: 100%;
}

.waitlistIndex {
  font-size: 13px;
  color: $widget-grey;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 8px;
}

.waitlistKey {
  width: 100%;
  display: block;
  font-weight: 500;
  font-size: 14px;
  color: $widget-grey;
  font-family: 'Roboto', sans-serif;
}

.waitlistValue {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 18px;
  p {
    word-break: break-word;
    white-space: pre-line;
    margin: 0;
    font-weight: 500;
  }
}

.timeListWrapper {
  margin-bottom: var(--widget-spacer);
}

.helper {
  font-size: 11px;
  color: $widget-grey-light;
  letter-spacing: 0;
  text-transform: uppercase;
  display: block;
  margin-top: 8px;
  text-align: center;
}

.timeFrameButton {
  flex: 1;
}
.heading {
  font-weight: 500;
  font-size: 18px;
  color: $widget-grey-dark;
  margin-top: 0;
  text-align: center;
  margin-bottom: calc(var(--widget-spacer) / 2);
  display: block;
  width: 100%;
  + .cardsWrapper {
    margin-top: var(--widget-spacer);
  }
}

.description {
  font-weight: 400;
  font-size: 13px;
  color: $widget-grey;
  text-align: center;
  line-height: 18px;
  margin-top: 0;
  margin-bottom: 0;
  display: block;
  width: 100%;
}

.cardsWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.cardWrapper {
  flex: 0 50%;
  display: flex;
  .card {
    margin: 0 4px 8px !important;
  }
}

.rowCard {
  width: 100%;
  border: 1px solid $widget-grey-lighter;
  border-right: 0;
  border-left: 0;
  margin-bottom: var(--widget-spacer);
  padding: var(--widget-spacer) 0;
  background: $widget-white;
  box-shadow: 1px 2px 3px 0 rgba(128, 128, 128, 0.15);
}

.today {
  color: var(--primaryColor);
}

.selectedDay {
  color: white;
  background: var(--primaryColor);

  &:hover:not(.outside) {
    opacity: 0.9;
    background: var(--primaryColor);
  }
}

.outside {
  cursor: default;
  color: #dce0e0;
  background: transparent;
}

.start {
  opacity: 0.75;
}

.end {
  opacity: 0.75;
}

.cardContainer {
  @extend .container;
  padding: calc(calc(var(--widget-spacer) * 2) + 21px) calc(var(--widget-spacer) - 4px) 0;
  transition: all 0.2s ease;
  .heading,
  .description {
    padding: 0 4px;
  }
}

.scrollableContainer {
  padding-top: calc(calc(var(--widget-spacer) * 2) + 21px);
  overflow: auto;
  height: 100%;
}

.modalContainerStyles {
  position: fixed;
}
