@import '../../../../../styles/ui-reskin.scss';

.total {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 210px;
  justify-content: center;
  &__item {
    display: flex;
  }
  &__header {
    border-bottom: 1px solid $color-lavender-150;
    display: flex;
    flex-direction: column;
    width: 80%;
    &_item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 10px;
      position: relative;
    }
    &_wrapper {
      align-items: center;
      display: flex;
      height: 10px;
      justify-content: center;
      width: 10px;
    }
    &_text {
      color: $color-grey-500;
      font-size: $xx-medium-size;
      padding-left: 20px;
    }
  }
  &__body {
    padding-top: 10px;
    width: 80%;
    &_total {
      color: $color-purple-400;
      display: flex;
      font-weight: $bold-weight;
      justify-content: space-between;
    }
  }
}
.fa-check {
  color: $color-teal-500;
  font-weight: $heavy-weight;
}
.fa-exclamation {
  color: $warning-500;
  font-weight: $heavy-weight;
}
.fa-times {
  color: $error-500;
  font-weight: $heavy-weight;
}
