@import "../../../../../styles/ui";
@import "../../../../../styles/fonts";

.total {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 210px;
  justify-content: center;
  &__item {
    display: flex;
  }
  &__header {
    border-bottom: 1px solid $primary-lightgrey;
    display: flex;
    flex-direction: column;
    width: 80%;
    &_item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 10px;
      position: relative;
    }
    &_wrapper {
      align-items: center;
      display: flex;
      height: 10px;
      justify-content: center;
      width: 10px;
    }
    &_text {
      color: $primary-dark;
      font-size: 18px;
      padding-left: 20px;
    }
  }
  &__body {
    padding-top: 10px;
    width: 80%;
    &_total {
      color: $primary-blue;
      display: flex;
      justify-content: space-between;
    }
  }
}
.fa-check {
  color: $primary-green;
}
.fa-exclamation {
  color: $primary-yellow;
}
.fa-times {
  color: $primary-red;
}
