
@import '../../../../ui.scss';

.wrapper {
  //display: flex;
  //flex-direction: column;
  //flex: 1;
  //height: 100%;
}

.waitlistInfo {
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  // margin-bottom: 20px;
  max-width: 220px;
  line-height: 20px;
  font-size: 12px;
  color: $primary-darkgrey;
  flex: 1;
  @media screen and (min-width: $widget-mobile-width) {
    margin-top: 20px;
    // margin-bottom: 20px;
    max-width: 350px;
  }
}

.buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.joinButton {
  width: 100%;
  max-width: 250px;
  &:hover {
    background-color: var(--primaryColor);
  }
}

.buttonWrapperRemove {
  @extend .buttonWrapper;
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px 20px 20px;
}

.splitButton {
  width: 50%;
  max-width: 200px;
  &:first-child {
    margin-right: 5px;
  }

  &:last-child {
    margin-left: 5px;
  }
}

.removeButton {
  @extend .splitButton;
  background-color: white;
  color: var(--primaryColor);
  border: 1px solid;
  padding: 11px 10px;
  &:hover {
    color: var(--primaryColor);
    background-color: white;
  }
}


.saveButton {
  @extend .splitButton;
  padding-left: 10px;
  padding-right: 10px;
  &:hover {
    background-color: var(--primaryColor);
  }
}
