@import "../../ui.scss";

.rowTest {
  padding: $container-padding;
}
.schedule {

  &__container {

      &_content {
        height: 860px;
        max-height: 860px;
        overflow-y: auto;
      }
    }

    &__sidebar {
        padding-left: 15px;

        &_rowCalendar {
          margin-top: 10px;
        }
        &_rowRequest {
          margin-top: 10px;
          height: 340px;
          max-height: 340px;
          background-color: $primary-white;
        }
        &_request {
          border-top: $card-border-size $primary-yellow;
        }
        &_calendar {
          border-top: $card-border-size $primary-dark-blue;
          background-color: #fafafa;
        }
    }
    &__title {
        min-height: 65px;
        padding: 10px 20px 5px 20px;
        border-top: $card-border-size $primary-light-blue;
        border-bottom: $selection-border $background-color;
    }

    &__date {
        font-weight: 600;
    }

    &__element {
        display: flex;
        width: 100%;
        color: #dedede;
        border-right: 3px solid $background-color;
        border-bottom: 3px solid $background-color;
        justify-content: center;
        align-items: center;
    }
    &__daypicker {
        &_wrapper {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 9998;
            width: 100%;
            height: 100%;
            padding: 2rem;
        }
        &_select {
            position: fixed !important;
            top: 50%;
            left: 50%;
            z-index: 9999;
            background-color: #fff;
            border-radius: 5px;
            border: 3px solid $background-color;
            transform: translateX(-50%) translateY(-50%);
            > div:last-child {
                width: 430px;
                height: 300px;
            }
            &:focus {
                outline: none;
            }
        }
    }
}

.title {
    &__month {
      font-size: 18px;
      font-weight: $large-weight;
      text-transform: uppercase;
    }

    &__day {
      font-size: 18px;
      font-weight: $large-weight;
    }

    &__number {
        font-size: 18px;
        font-weight: $large-weight;
    }
    &__icon {
      padding-left: 5px;
    }
}

.calendarTitle {
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-bottom: 2px solid;
  border-bottom-color: $background-color;

  &__month {
    display: inline-block;
    font-size: 18px;
    text-transform: uppercase;
  }
  &__dayWeek {
    font-size: 18px;
    font-weight: $large-weight;
    text-transform: uppercase;
  }

  &__dayMonth {
    font-size: $jumbo-size;
    font-weight: $large-weight;
    color: $primary-light-blue;
  }
}

.headerButtons {
  display:flex;
  margin-left: auto;
  align-items: center;
  align-content: center;
  text-align: center;
  font-size: $small-size;
  color: $primary-darkgrey;

  &__text {
    padding-right: 35px;
  }

  &__quickAdd {
    display: flex;
    align-items: center;
    font-weight: 600;
    color: $primary-dark;

    &_icon{
      padding-top: 1px;
    }
    span {
      display: flex;
      width: 20px;
      height: 20px;
      margin-left: 5px;
      border: 2px solid $primary-dark;
      border-radius: 20px;
      justify-content: center;
      align-items: center;

    }
  }
}
.appointment {
    position: absolute;
    width: 99%;
    padding: 5px;
    background: $primary-color;

    &__username {
        color: white;
    }

    &__date {
        color: #2e3845;
    }

    &__title {
        color: #434f61;
    }
}
