@import '../../ui.scss';

.modal {
  border-radius: 0;
}

.rowMainContainer {
  box-sizing: border-box;
  padding: 10px;
  height: 100%;
  width: 100%;
  display: flex;
  min-width: 1200px;
}

.dayViewContainer {
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  flex: 1;
}

.calendarContainer {
  width: 200px;
  height: 200px;
}

.card {
  height: 100%;
}

.sidebar {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 320px;

  &_rowCalendar {
    margin-bottom: 10px;
  }
  &_rowRequest {
    flex: 2;
    overflow: auto;
  }
  &_request {
    height: 100%;
  }

  &_calendar {
    background-color: $primary-white;
  }
}

.headerContainer {
  border-bottom: 0.13em solid $primary-grey;
}

.header {
  display: flex;
  margin-left: auto;
  align-items: center;
  align-content: center;
  text-align: center;
  font-size: $small-size;
  color: $primary-darkgrey;
  justify-content: space-between;
  margin-right: 10px;

  &_text {
    padding-right: 35px;
  }
}

.headerLinks {
  display: flex;
  align-items: center;
  align-content: center;
  font-weight: 600;
  color: $primary-dark;
  margin-right: 20px;
  box-sizing: border-box;

  &:hover {
    cursor: pointer;
    color: $primary-color-hover;
  }

  &_icon {
    padding-left: 10px;
  }

  &_add {
    margin-left: 10px;
  }

  &_waitlist {
    margin-right: 15px;
  }
}

.changeDay {
  display: flex;
  align-items: center;
  width: 35px;
  justify-content: space-between;
  padding-right: 10px;
  color: $primary-dark;

  &_left {
    color: inherit;
  }

  &_right {
    color: inherit;
  }
}

.disabledStyle {
  color: $disabled-color;
  pointer-events: none;
}

.appointment {
  position: absolute;
  width: 99%;
  padding: 5px;
  background: $primary-color;

  &__username {
    color: white;
  }

  &__date {
    color: #2e3845;
  }

  &__title {
    color: #434f61;
  }
}

.addPatient {
  display: flex;
  flex-direction: column;

  &_footer {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    border-top: 1px solid $primary-grey;
  }

  &_button {
    margin-right: 10px;
  }
}

.hubWrapper {
  background: $primary-white;
  height: 100%;
  box-sizing: border-box;
}
