@import "../../ui.scss";

.rowMainContainer {
  box-sizing: border-box;
  padding: 10px 0px 0px 10px;
}

.calendarContainer {
  width: 200px;
  height: 200px;
}

.card {
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  max-height: calc(98vh - 100px);
}

.schedule {
    &__container {

      &_content {

      }
    }

    &__sidebar {
        padding: 0px 10px 0px 15px;
        height: calc(98vh - 66px);
        overflow: auto;
        display: flex;
        flex-direction: column;
        &_rowCalendar {
          min-height: 260px;
          margin-bottom: 15px;
        }
        &_rowRequest {
          margin-bottom: 15px;
          background-color: lighten($primary-lightgrey, 2%);
        }

        &_rowFilter {
          flex: 1;
        }

        &_request {
          flex: 1;
        }

        &_calendar {
          background-color: #fafafa;
        }
    }
    &__title {
        min-height: 50px;
    }

    &__date {
        font-weight: 600;
    }

    &__element {
        display: flex;
        width: 100%;
        color: #dedede;
        border-right: 3px solid $background-color;
        border-bottom: 3px solid $background-color;
        justify-content: center;
        align-items: center;
    }
    &__daypicker {
        &_wrapper {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 9998;
            width: 100%;
            height: 100%;
            padding: 2rem;
        }
        &_select {
            position: fixed !important;
            top: 50%;
            left: 50%;
            z-index: 9999;
            background-color: #fff;
            border-radius: 5px;
            border: 3px solid $background-color;
            transform: translateX(-50%) translateY(-50%);
            > div:last-child {
                width: 430px;
                height: 300px;
            }
            &:focus {
                outline: none;
            }
        }
    }
}


.headerButtons {
  display:flex;
  margin-left: auto;
  align-items: center;
  align-content: center;
  text-align: center;
  font-size: $small-size;
  color: $primary-darkgrey;
  justify-content: space-between;
  margin-right: 10px;

  &__text {
    padding-right: 35px;
  }

  &__quickAdd {
    display: flex;
    align-items: center;
    align-content: center;
    font-weight: 600;
    color: $primary-dark;
    margin-right: 20px;
    box-sizing: border-box;

    &:hover {
      cursor: pointer;
      color: $primary-color-hover;
    }

    &_icon{
      padding-left: 10px;
    }
  }

  &_buttonText {
    text-transform: capitalize;
    padding: 0.65em;
    height: 28px;
    box-sizing: border-box !important;
    composes: fontMedium from 'sass-loader!../../fonts.scss';
    font-size: 11px;
    margin-right: 15px;
  }
}


.changeDay {
  display: flex;
  align-items: center;
  width: 35px;
  justify-content: space-between;
  padding-right: 10px;
  color: $primary-dark;

  &_left {
    color: inherit;
  }

  &_right {
    color: inherit;
  }
}

.disabledStyle {
  color: $disabled-color;
  pointer-events:none;
}

.appointment {
  position: absolute;
  width: 99%;
  padding: 5px;
  background: $primary-color;

  &__username {
      color: white;
  }

  &__date {
      color: #2e3845;
  }

  &__title {
      color: #434f61;
  }
}



