@import '../styles';

.daySlot {
  flex: 1;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0;
  background-color: #fff;
  padding: 8px 0;
  border-right: 1px solid $widget-grey-lighter;
  color: $widget-grey;
  flex-wrap: wrap;
  &:hover {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.15);
    color: var(--primaryColor) !important;
  }
  &:last-of-type {
    border-right: 0;
  }
}
.selectedDaySlot {
  @extend .daySlot;
  background: var(--primaryColor);
  border-color: var(--primaryColor);
  color: #fff;
  &:hover {
    color: #fff !important;
  }
}
.topWrapper {
  display: flex;
  width: 100%;
  margin-bottom: var(--widget-spacer);
}
.weekDay,
.month {
  font-family: $book-font;
  font-size: 10px;
  width: 100%;
}
.day {
  justify-content: center;
  width: 100%;
  font-family: $medium-font;
  font-size: 20px;
  line-height: 22px;
}
.datesContainer {
  display: flex;
  flex: 1;
}
.datesWrapper {
  display: flex;
  border: 1px solid $widget-grey-lighter;
  border-radius: 4px;
  flex: 1;
  margin-right: 8px;
  @media (min-width: 576px) {
    margin-right: var(--widget-spacer);
  }
}
.datePicker {
  margin: 0 0 0 var(--widget-spacer);
  line-height: 1.15em;
  transition: all 0.2s ease;
  &:hover {
    border-color: var(--primaryColor);
    color: var(--primaryColor);
    transition: all 0.2s ease;
  }
}

.availabilitiesWrapper {
  margin: var(--widget-spacer) -1% 0;
  flex-wrap: wrap;
  display: flex;
}
.nextAvailabilityButton {
  width: 100%;
  border-radius: 4px;
  font-family: $medium-font;
  font-size: 14px;
  padding: var(--widget-spacer) 0;
}
.datePicker {
  border: 1px solid $widget-grey-lighter;
  background: #fff;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  text-transform: uppercase;
  font-family: $medium-font;
  font-size: 10px;
  color: $widget-grey-dark;
  padding: var(--widget-spacer);
  box-sizing: border-box;
  justify-content: center;
  svg {
    margin: 0 auto 4px;
    fill: currentColor;
  }
}

.arrows {
  background: white !important;
  color: $widget-grey-dark;
  border: 1px solid $widget-grey-lighter;
  border-radius: 4px !important;
  margin-right: 8px;
  width: 32px !important;
  transition: all 0.35s ease;
  @media (min-width: 576px) {
    width: 50px !important;
    margin-right: var(--widget-spacer);
  }
  &[disabled] {
    background: $widget-grey-lighter !important;
    border-color: $widget-grey-lighter !important;
    &:hover {
      border-color: $widget-grey-lighter !important;
      background: $widget-grey-lighter !important;
      color: $widget-grey-dark !important;
    }
  }
  &:hover {
    transition: all 0.35s ease;
    background: white !important;
    border-color: var(--primaryColor) !important;
    color: var(--primaryColor) !important;
  }
}
.spinnerWrapper {
  text-align: center;
  color: var(--primaryColor);
}
