@import '../styles';

.daySlot {
  flex: 1;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0;
  background-color: #fff;
  padding: 8px 0px;
  border-right: 1px solid $widget-grey-lighter;
  color: $widget-grey;
  flex-wrap: wrap;
  &:last-of-type {
    border-right: 0;
  }
}
.selectedDaySlot {
  @extend .daySlot;
  background: var(--primaryColor);
  border-color: var(--primaryColor);
  color: #fff;
}
.topWrapper {
  display: flex;
  width: 100%;
  margin-bottom: var(--widget-spacer);
}
.weekDay,
.month {
  font-family: $book-font;
  font-size: 10px;
  width: 100%;
}
.day {
  justify-content: center;
  width: 100%;
  font-family: $medium-font;
  font-size: 20px;
  line-height: 22px;
}
.datesWrapper {
  display: flex;
  border: 1px solid $widget-grey-lighter;
  border-radius: 4px;
  flex: 1;
}
.datePicker {
  margin-left: var(--widget-spacer);
}

.availabilitiesWrapper {
  margin: var(--widget-spacer) -1% 0;
  flex-wrap: wrap;
  display: flex;
}
.nextAvailabilityButton {
  width: 100%;
  border-radius: 4px;
  font-family: $medium-font;
  font-size: 14px;
  padding: var(--widget-spacer) 0;
}
.datePicker {
  border: 1px solid $widget-grey-lighter;
  background: #fff;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  text-transform: uppercase;
  font-family: $medium-font;
  font-size: 10px;
  color: $widget-grey-dark;
  padding: var(--widget-spacer);
  box-sizing: border-box;
  justify-content: center;
  svg {
    margin: 0 auto 4px;
    fill: currentColor;
  }
}
.timeFrameWrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--widget-spacer);
}
