@import '../../../../styles/ui';
@import '../../../../styles/ui-kit';

.bottomItem {
  cursor: default;
  height: 100px;
}

.bottomBox {
  border-top: 1px solid $primary-blue;
}

.bottomLabel {
  align-items: center;
  background-color: $primary-white;
  border: 1px solid $primary-blue;
  box-sizing: border-box;
  display: flex;
  float: right;
  height: 30px;
  justify-content: center;
  margin-left: 0;
  position: relative;
  top: -53px;
  width: 77%;
  > div {
    color: $primary-blue !important;
  }
}

// Needs to be same as IconCircle component
$width: 26px;
$wrapper-thickness: 6px;

.bottomIconContainer {
  left: -($width + 2 * $wrapper-thickness) / 2;
  position: relative;
  top: -($width + 2 * $wrapper-thickness) / 2;
}

.settingsButton {
  border: 1px solid $teal;
}
