@import '../styles';

.heading {
  color: var(--primaryColor);
  font-size: calc(1rem * 1.6);
  margin-bottom: var(--widget-spacer);
}

.actionButton {
  @extend .actionButton;
  margin-bottom: var(--widget-spacer);
}

.container {
  @extend .container;
  text-align: center;
}
.content {
  @extend .content;
  text-align: center;
}
.requestTitle {
  @extend .subtitle;
  margin-bottom: 8px;
}
.requestPatient {
  @extend .title;
  margin-bottom: 12px;
  text-align: center;
}
.requestCard {
  background: $widget-grey-lightest;
  padding: var(--widget-spacer);
  text-align: center;
}
.requestInfo {
  @extend .subtitle;
  margin-bottom: 10px;
  &:last-of-type {
    margin-bottom: 0;
  }
  > strong {
    color: $widget-grey;
    display: block;
    font-size: 13px;
  }
}
.afterCardMessage {
  @extend .subtitle;
  margin-bottom: 4px;
  margin-top: var(--widget-spacer);
  padding: 0 var(--widget-spacer);
}

.svgWrapper {
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}
.bookingType {
  color: $widget-grey;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 8px;
  margin-top: 0;
}

.title {
  @extend .title;
  margin-bottom: var(--widget-spacer);
}

hr {
  background: $widget-grey-lighter;
  border: 0;
  height: 1px;
  margin: var(--widget-spacer) 0;
}
