@import '../../../../styles/ui.scss';

.configWrapper {
  background-color: $primary-grey;
  border: 1px solid $primary-darkgrey;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}

.name {
  margin-bottom: 10px;
}
