@import '../../../../styles/ui.scss';

.advancedWrapper {
  background-color: $primary-grey;
  border-top: 1px solid $primary-darkgrey;
  max-height: 500px;
  overflow: auto;
  padding: 20px;
}

.outboxDialog {
  min-height: 900px;
  min-width: 900px;
}

.col {
  padding: 0 20px;
}

.listItem {
  cursor: default !important;
}

.loadingWrapper {
  align-items: center;
  display: flex;
  height: 500px;
  justify-content: center;
  width: 100%;
}
