@import '../../../ui.scss';

.tagsContainer {
  border-bottom: 1px solid $primary-darkgrey;
  border-right: 1px solid $primary-darkgrey;
  border-top: 1px solid $primary-darkgrey;
  composes: listItemHeader from '../../../fonts.scss';
  margin: 2px 0;
  padding: 5px 0 5px 5px;
  position: relative;
  width: 90%;
}

.close {
  position: absolute;
  right: 10px;
}
