@import "../../../ui.scss";

.tagsContainer {
	position: relative;
	width: 90%;
	padding: 5px 0 5px 5px;
	margin: 2px 0 2px 0;
	color: $primary-dark;
	font-weight: $normall-weight;
	border-top: 2px solid $primary-grey;
	border-bottom: 2px solid $primary-grey;
	border-right: 2px solid $primary-grey;
}

.close {
	position: absolute;
	right: 5px;
	font-weight: $normall-weight;
}
