@import '../../../../../ui';

.reminderListItem {
  &:hover {
    .hoverWrapper {
      display: block;
    }
  }
}

.hoverWrapper {
  display: none;
  position: relative;
  top: 10px;
}

.advancedSettingsButton {
  color: grey;
}

.deleteButton {
  margin-top: 10px;
}

.secondaryLinesBox {
  border-bottom: 1px solid $primary-gray;
  border-left: 1px solid $primary-gray;
  height: 51px;
  margin-left: auto;
  position: relative;
  top: -39px;
  width: 85%;
}

.secondaryLinesBoxSelected {
  @extend .secondaryLinesBox;
  border-bottom: 1px solid $primary-green;
  border-left: 1px solid $primary-green;
}

.dropdownsWrapper {
  margin-left: auto;
  position: relative;
  top: -10px;
  width: 91%;
}

.inputFont {
  color: $primary-darkgrey;
  font-size: 14px;
}

.inputFontSelected {
  @extend .inputFont;
  color: black;
}

$dheight: 30px;

.dropdownSelect {
  background-color: white;
  border: 1px solid $primary-gray;
  height: $dheight;
  padding: 0;
  // For inputs
  > input {
    @extend .inputFont;
    border-bottom: none;
    box-sizing: border-box;
    font-size: 12px;
    height: $dheight;
    padding: 10px;
  }

  // For dropdowns
  > div:not(:last-child) {
    @extend .inputFont;
    border-bottom: none;
    box-sizing: border-box;
    font-size: 12px;
    height: 100%;
    padding-left: 8px;
    padding-right: 8px;
  }

  > :global(.dd-menu-items) {
    margin: 2px 0 0;
  }
}

.dropdownSelectSelected {
  @extend .dropdownSelect;
  border: 1px solid $primary-green;
  > input {
    @extend .inputFontSelected;
  }
  // For dropdowns
  > div:not(:last-child) {
    @extend .inputFontSelected;
  }
}

.topRow {
  position: relative;
  top: -25px;
}

.bottomRow {
  bottom: 14px;
  display: flex;
  position: relative;
}

.bottomRowLeft {
  flex: 1;
  margin-right: 10px;
}

.bottomRowRight {
  flex: 3;
}

.rightDropdown {
  padding-left: 10px;
}

// Needs to be same as <IconCircle /> component
$width: 26px;
$wrapper-thickness: 6px;

.reminderIconContainer {
  left: -($width + 2 * $wrapper-thickness) / 2;
  position: relative;
  top: -($width + 2 * $wrapper-thickness) / 2;
}

.smallIconContainer {
  left: -11px;
  position: relative;
  top: 41px;
}

$small-icon-width: 20px;

.smallReminderSelectWrapperCircle {
  align-items: center;
  background-color: $primary-gray;
  border-radius: $small-icon-width / 2;
  color: white;
  display: flex;
  height: $small-icon-width;
  justify-content: center;
  width: $small-icon-width + 1;
  > i {
    font-size: 0.8em !important;
  }
}

.smallReminderSelectWrapperCircleSelected {
  @extend .smallReminderSelectWrapperCircle;
  background-color: $primary-green;
}

.toggleCol {
  padding-top: 15px;
}

.labelCol {
  padding-top: 10px;
}

.downIconWrapper {
  bottom: -14px;
  left: -7px;
  position: relative;
  > i {
    color: $primary-gray;
  }
}
