
.button {
  //font-size: 10px;
  //position: relative;
  width: 100%;
  // margin-top: 10px;
  margin-bottom: 5px;
  //height: inherit;
  //text-transform: uppercase;
  //color: #fff;
  //border: none;
  opacity: 0.9;
  color: white;
  background-color: var(--bookingWidgetPrimaryColor);
  &:hover {
    color: white !important;
    background-color: var(--bookingWidgetPrimaryColor) !important;
    opacity: 1.0;
  }
}
