
@import '../../../styles/ui.scss';

$li-border-color: $primary-darkgrey;

.itemWrapper {
  border: 1px solid $li-border-color;
  border-top: 0;
  &:first-child {
    border-top: 1px solid $li-border-color;
  }
}

.listItem {
  height: 50px;
  padding: 10px;
}

.grid {
  align-items: center;
}

.row {
  height: 100%;
}

.col {
  align-items: center;
  display: flex;
}

.lastCol {
  @extend .col;
  > div {
    margin-left: auto;
  }
}

.name {
  font-family: $medium-font;
  font-size: 16px;
}

.id {
  color: $primary-darkgrey;
  font-size: 12px;
}

.lastSync {
  margin-left: 50px;
}
