@import '../../../styles/ui.scss';

$li-border-color: $primary-darkgrey;

.itemWrapper {
  border: 1px solid $li-border-color;
  border-top: 0;
  &:first-child {
    border-top: 1px solid $li-border-color;
  }
}

.listItem {
  height: 60px;
  padding: 10px;
}

.grid {
  align-items: center;
}

.row {
  height: 100%;
}

.col {
  align-items: center;
  display: flex;
}

.lastCol {
  @extend .col;
  > div {
    margin-left: auto;
  }
}
.nameContainer {
  display: flex;
  flex-direction: column;
  max-height: 50px;
}

.name {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-size: 16px;
  -webkit-line-clamp: 2;
  margin: 0px;
  overflow: hidden;
}

.id {
  color: $primary-darkgrey;
  font-size: 12px;
  margin: 0px;
}

.lastSync {
  margin-left: 50px;
}
