@import '../../../../ui';

.patientRow {
  background: inherit;
  display: flex;
  align-items: center;

  width: 100%;
  justify-content: flex-start;
}
.name {
  composes: subHeader from '../../../../fonts.scss';
  color: lighten($primary-blue, 10%);
  overflow: hidden;
  text-overflow: ellipsis;
  &:hover {
    color: $primary-blue;
    cursor: pointer;
  }
}

.avatarContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
