@import '../../../../styles/ui-reskin.scss';

.patientRow {
  align-items: center;
  background: inherit;
  display: flex;
  justify-content: flex-start;

  width: 100%;
}
.name {
  color: $color-purple-300;
  font-size: $small-size;
  font-weight: $bold-weight;
  line-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  &:hover {
    color: $color-purple-400;
    cursor: pointer;
  }
}

.avatarContainer {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin-right: 8px;
}
