@import '../../../ui.scss';

.container {
  max-height: 96%;
  overflow: auto;
}

.subHeader {
  composes: subHeaderExtraSmall from from 'sass-loader!../../../fonts.scss';
}
.listItemHeader {
  composes: listItemHeader from 'sass-loader!../../../fonts.scss';
}

.text {
  text-align: left;
}

.bold {
  composes: fontMedium from 'sass-loader!../../../fonts.scss';
}

.dataContainer {
  display: flex;
  align-items: center;
  height: auto;

  @media screen and (max-width: 1300px) {
    flex-direction: column;
    padding-top: 10px;
    text-align: center;
  }

  &_body {
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 1.5em;
    padding: 10px;
    width: 100%;
    @media screen and (max-width: 1300px) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  &_bodyEmail {
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &_contactInfo {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-left: auto;
    padding-left: 20px;
    @extend .subHeader;
    @media screen and (max-width: 1300px) {
      align-items: center;
      margin-left: 0;
    }
    &_email {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &_phone {

    }
  }


  &_contactInfoEmail {
    margin-left: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    @extend .subHeader;
  }

  &_patientInfo {
    &_fullName {
      @extend .listItemHeader;
    }

    &_date {
      @extend .listItemHeader;
    }

    &_createdAt {
      @extend .subHeader;
      font-size: 10px;
    }
  }
}

.containerApp {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sameAppList{
  width: 470px;
}

.singleItem {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.singleItemEmail {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding-top: 10px;
  line-height: 1.5;
  text-align: center;
}

.selected {
  background: $primary-grey;
  border-left: 2px solid;
  border-left-color: $primary-color;
}

.buttonContainer {
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content: flex-end;

  &_yes {
    margin-left: 5px;
  }
}

.radio {
  margin-right: 20px;
}
