@import '../../../ui.scss';

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  overflow: auto;
}

.subHeader {
  composes: subHeaderExtraSmall from from '../../../fonts.scss';
}
.listItemHeader {
  composes: listItemHeader from '../../../fonts.scss';
}

.boldTitle {
  composes: fontBold from '../../../fonts.scss';
}

.text {
  flex: 0 0 auto;
  text-align: left;
}

.bold {
  color: $primary-blue;
  composes: fontMedium from '../../../fonts.scss';
}

.dataContainer {
  align-items: center;
  background: none;
  border: 1px solid $primary-blue;
  border-radius: 4px;
  color: $primary-blue;
  display: flex;
  height: auto;
  margin-bottom: 10px;
  text-align: left;

  @media screen and (max-width: 1300px) {
    padding-top: 10px;
  }

  &_body {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    line-height: 1.5em;
    padding-left: 15px;
    width: 100%;
    @media screen and (max-width: 1300px) {
      align-items: flex-start;
      flex-direction: column;
    }
  }

  &_bodyEmail {
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
  }

  &_contactInfo {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    padding-left: 20px;
    @extend .subHeader;
    @media screen and (max-width: 1300px) {
      align-items: flex-start;
      margin-left: 0;
      padding-left: 0;
    }
    &_email {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &_contactInfoEmail {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: 0;
    @extend .subHeader;
  }

  &_patientInfo {
    color: $primary-dark;
    &_fullName {
      @extend .boldTitle;
    }

    &_date {
      @extend .boldTitle;
    }

    &_createdAt {
      @extend .subHeader;
      font-size: 10px;
    }
  }
}

.appointmentIsSelected {
  &.dataContainer {
    background-color: $primary-blue;
    color: $primary-white;

    .dataContainer {
      &_patientInfo {
        &_fullName,
        &_date,
        &_createdAt {
          color: $primary-white;
        }
      }
      &_contactInfo {
        color: $primary-white;
      }
    }
  }
}

.containerApp {
  align-items: flex-start;
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  margin-top: 20px;
}

.sameAppList {
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;

  .appointmentIsSelected {
    border: none;
  }
}

.singleItem {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 100%;
}

.singleItemEmail {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5;
  padding-top: 10px;
  text-align: center;
  width: 100%;
}

.selected {
  background: $primary-grey;
  border-left: 2px solid;
  border-left-color: $primary-color;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  width: 100%;

  &_yes {
    margin-left: 5px;
  }
}

.radio {
  margin-right: 20px;
}

.userCard {
  .header {
    align-items: center;
    display: flex;
    font-size: 16px;
    margin-bottom: 5px;
    padding: 10px 0 5px;
  }
  .container {
    padding: 5px;

    .data {
      align-items: center;
      display: flex;
      font-size: 13px;
      padding-bottom: 4px;

      &_text {
        padding-left: 5px;
      }
    }
  }
}

.summaryData {
  width: 100%;
  .header {
    border: 0;
  }
  .header_text {
    padding-left: 8px;
  }
  .itemContainer {
    display: flex;
    flex-wrap: wrap;
    padding-left: 38px;
    .item {
      padding-bottom: 6px;
      padding-top: 10px;
      width: 50%;
      .title {
        color: darkgray;
        padding-bottom: 4px;
        padding-top: 6px;
      }
    }
    .contactItem {
      align-items: center;
      display: flex;
      width: 50%;
      .icon {
        padding-right: 6px;
      }
    }
  }
}

.infoContainer {
  padding: 4px;
  @extend .container;
}

.note {
  border-bottom: 1px solid lightgray;
  margin-bottom: 10px;
  padding-bottom: 20px;
}

.summaryTitle {
  padding-top: 20px;
  @extend .boldTitle;
}

.fullName {
  padding-left: 6px;
  @extend .subHeader;
}

.textBtn {
  color: blue;
  cursor: pointer;
  padding-top: 16px;
  width: 50%;
}
