@import '../../../ui.scss';

.container {
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.subHeader {
  composes: subHeaderExtraSmall from from '../../../fonts.scss';
}
.listItemHeader {
  composes: listItemHeader from '../../../fonts.scss';
}

.boldTitle {
  composes: fontBold from '../../../fonts.scss';
}

.text {
  text-align: left;
  flex: 0 0 auto;
}

.bold {
  color: $primary-blue;
  composes: fontMedium from '../../../fonts.scss';
}

.dataContainer {
  display: flex;
  align-items: center;
  height: auto;
  color: $primary-blue;
  background: none;
  text-align: left;
  border: 1px solid $primary-blue;
  margin-bottom: 10px;
  border-radius: 4px;

  @media screen and (max-width: 1300px) {
    padding-top: 10px;
  }

  &_body {
    display: flex;
    flex-direction: row;
    line-height: 1.5em;
    padding-left: 15px;
    width: 100%;
    align-items: flex-end;
    @media screen and (max-width: 1300px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &_bodyEmail {
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
  }

  &_contactInfo {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-left: auto;
    padding-left: 20px;
    @extend .subHeader;
    @media screen and (max-width: 1300px) {
      align-items: flex-start;
      padding-left: 0;
      margin-left: 0;
    }
    &_email {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &_contactInfoEmail {
    margin-left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    @extend .subHeader;
  }

  &_patientInfo {
    color: $primary-dark;
    &_fullName {
      @extend .boldTitle;
    }

    &_date {
      @extend .boldTitle;
    }

    &_createdAt {
      @extend .subHeader;
      font-size: 10px;
    }
  }
}

.appointmentIsSelected {
  &.dataContainer {
    background-color: $primary-blue;
    color: $primary-white;

    .dataContainer {
      &_patientInfo {
        &_fullName,
        &_date,
        &_createdAt {
          color: $primary-white;
        }
      }
      &_contactInfo {
        color: $primary-white;
      }
    }
  }
}

.containerApp {
  margin-top: 20px;
  display: flex;
  flex: 1 0 auto;
  align-items: flex-start;
  justify-content: center;
}

.sameAppList {
  width: 100%;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  .appointmentIsSelected {
    border: none;
  }
}

.singleItem {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 100%;
}

.singleItemEmail {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding-top: 10px;
  line-height: 1.5;
  text-align: center;
}

.selected {
  background: $primary-grey;
  border-left: 2px solid;
  border-left-color: $primary-color;
}

.buttonContainer {
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content: flex-end;

  &_yes {
    margin-left: 5px;
  }
}

.radio {
  margin-right: 20px;
}

.userCard {
  .header {
    padding: 10px 0 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    font-size: 16px;
  }
  .container {
    padding: 5px;

    .data {
      display: flex;
      align-items: center;
      font-size: 13px;
      padding-bottom: 4px;

      &_text {
        padding-left: 5px;
      }
    }
  }
}
