
/*

  Modal

 */

.CareCruModal {
  display: block;
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.2s, z-index 0s 0.2s;
  text-align: center;
  overflow: hidden;
  overflow-y: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.CareCruModal.CareCruActive {
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.2s;
}

.CareCruModal:before {
  display: inline-block;
  overflow: hidden;
  width: 0;
  height: 100%;
  vertical-align: middle;
  content: "";
}

.CareCruModal > * {
  display: inline-block;
  white-space: normal;
  vertical-align: middle;
  text-align: left;
}

.CareCruModalInner {
  position: relative;
  overflow: hidden;
  width: 600px;
  height: 650px;
  max-width: 95%;
  max-height: 95%;
  overflow-x: hidden;
  overflow-y: auto;
  background: #fff;
  z-index: -1;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.2s, transform 0.2s, z-index 0s 0.2s;
}

.CareCruModalInner.CareCruActive {
  z-index: 100;
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.2s, transform 0.2s;
}

/*

  Book Online Button

 */

.CareCruButton {
  position: fixed;
  top: 250px;
  right: 0px;
  width: 150px;
  height: 130px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  cursor: pointer;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  background-color: var(--bookingWidgetPrimaryColor);
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  padding: 20px;
  color: white;
  box-sizing: border-box;
  line-height: 150%;
  z-index: 9998;
}

.CareCruButton:hover {
  opacity: 0.9;
}

@media screen and (max-width : 610px) {
  .CareCruButton {
    top: auto;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 65px;
    font-size: 1em;
    border-radius: 0;
    justify-content: center;
    box-sizing: border-box;
  }
}

/*

  Booking App Iframe

 */

#CareCruIframe {
  z-index: 101;
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  overflow: hidden;
}
