.card {
  margin-top: 15px;

  @media screen and (max-width: 1164px) {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  height: 457px;
  width: 100%;
  @media screen and (max-width: 1164px) {
    flex-direction: column;
    height: 100%;
  }
}

.empty {
  width: 65%;
}
