@import '../../../ui.scss';

.fb-button {
  background-color: $fb-bg-color;
  color: $fb-fg-color;
  position: relative;

  &:hover {
    background-color: darken($fb-bg-color, 5%);
    color: $fb-fg-color;
  }
}

.icon {
  bottom: 0;
  left: .3em;
  line-height: 1.25em;
  position: absolute;
  top: 0;
}
