@import '../../../styles/ui.scss';

$extraSmall-size: calc(1.5rem * 1.6);
$small-size: calc(2.3rem * 1.6);
$medium-size: calc(3rem * 1.6);
$large-size: calc(5rem * 1.6);
$extra-Large-size: calc(7.75rem * 1.6);

.avatar {
  align-items: center;
  background: linear-gradient(#bebebe, #a2a2a2);
  border-radius: 50%;
  display: inline-flex;
  font-size: 20px;
  height: $medium-size;
  justify-content: center;
  min-height: $medium-size;
  min-width: $medium-size;
  outline: none;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  width: $medium-size;
}

.male {
  // background: linear-gradient(lighten($primary-blue, 10%), lighten($primary-blue, 5%));
  background: lighten($primary-blue, 10%);
}

.female {
  // background: linear-gradient(lighten($primary-red, 20%), lighten($primary-red, 10%));
  background: lighten($primary-red, 10%);
}

.user {
  background: linear-gradient(lighten($primary-blue, 10%), lighten($primary-blue, 5%));
}

.img {
  height: auto;
  width: 100%;
}

.xs {
  font-size: 10px;
  height: $extraSmall-size;
  min-height: $extraSmall-size;
  min-width: $extraSmall-size;
  width: $extraSmall-size;
}

.sm {
  font-size: 14px;
  height: 36.8px;
  min-height: 36.8px;
  min-width: 36.8px;
  width: 36.8px;
}

.md {
  font-size: 18px;
  height: $medium-size;
  min-height: $medium-size;
  min-width: $medium-size;
  width: $medium-size;
}

.lg {
  font-size: 32px;
  height: $large-size;
  min-height: $large-size;
  min-width: $large-size;
  width: $large-size;
}

.xl {
  font-size: 45px;
  height: $extra-Large-size;
  min-height: $extra-Large-size;
  min-width: $extra-Large-size;
  width: $extra-Large-size;
}

.text {
  color: white;
  //margin-top: 3px;
}

.gradientBackground {
  background-color: transparent;
  box-sizing: border-box;
  margin: 0;
  padding: 3px;
}

.gradientPadding {
  padding: 3px;
}

.red {
  background: linear-gradient(rgba(255, 113, 90, 1), white 70%);
  border-radius: 50%;
  @extend .gradientPadding;
}

.yellow {
  background: linear-gradient(rgba(255, 196, 90, 1), white 70%);
  border-radius: 50%;
  @extend .gradientPadding;
}
.green {
  background: linear-gradient(rgba(44, 196, 167, 1), white 70%);
  border-radius: 50%;
  @extend .gradientPadding;
}
.blue-green {
  background: linear-gradient(rgba(32, 100, 119, 1), white 70%);
  border-radius: 50%;
  @extend .gradientPadding;
}
