@import '../../../ui.scss';

$extraSmall-size: 1.5rem;
$small-size: 2.3rem;
$medium-size: 3rem;
$large-size: 5rem;
$extra-Large-size: 7.75rem;

.avatar {
  display: inline-flex;
  width: $medium-size;
  height: $medium-size;
  min-width: $medium-size;
  min-height: $medium-size;
  font-size: 20px;
  border-radius: 50%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  background: linear-gradient(#bebebe, #a2a2a2);
  outline: none;
}

.male {
  // background: linear-gradient(lighten($primary-blue, 10%), lighten($primary-blue, 5%));
  background: lighten($primary-blue, 10%);
}

.female {
  // background: linear-gradient(lighten($primary-red, 20%), lighten($primary-red, 10%));
  background: lighten($primary-red, 10%);
}

.user {
  background: linear-gradient(lighten($primary-blue, 10%), lighten($primary-blue, 5%));
}

.img {
  width: 100%;
  height: auto;
}

.xs {
  width: $extraSmall-size;
  height: $extraSmall-size;
  min-width: $extraSmall-size;
  min-height: $extraSmall-size;
  font-size: 10px;
}

.sm {
  width: $small-size;
  height: $small-size;
  min-width: $small-size;
  min-height: $small-size;
  font-size: 14px;
}

.md {
  width: $medium-size;
  height: $medium-size;
  min-width: $medium-size;
  min-height: $medium-size;
  font-size: 18px;
}

.lg {
  width: $large-size;
  height: $large-size;
  min-width: $large-size;
  min-height: $large-size;
  font-size: 32px;
}

.xl {
  width: $extra-Large-size;
  height: $extra-Large-size;
  min-width: $extra-Large-size;
  min-height: $extra-Large-size;
  font-size: 45px;
}

.text {
  color: white;
  //margin-top: 3px;
}

.gradientBackground {
  box-sizing: border-box;
  margin: 0;
  padding: 3px;
  background-color: transparent;
}

.gradientPadding {
  padding: 3px;
}

.red {
  background: linear-gradient(rgba(255, 113, 90, 1), white 70%);
  border-radius: 50%;
  @extend .gradientPadding;
}

.yellow {
  background: linear-gradient(rgba(255, 196, 90, 1), white 70%);
  border-radius: 50%;
  @extend .gradientPadding;
}
.green {
  background: linear-gradient(rgba(44, 196, 167, 1), white 70%);
  border-radius: 50%;
  @extend .gradientPadding;
}
.blue-green {
  background: linear-gradient(rgba(32, 100, 119, 1), white 70%);
  border-radius: 50%;
  @extend .gradientPadding;
}
