@import '../../../../styles/ui';

.mainContainer {
  display: flex;
}

.text {
  align-items: center;
  color: $primary-darkgrey;
  composes: fontMedium from '../../../../styles/fonts.scss';
  display: flex;
  justify-content: flex-end;
  width: 100%;

  &_edit {
    cursor: pointer;
    opacity: 0.6;
    &:hover {
      color: darken($primary-darkgrey, 10%);
    }
  }

  &_icon {
    padding-right: 5px;
  }
}

.editModal {
  background: $primary-white;
  border-top: 5px solid $primary-color;
  padding-top: 15px;
  width: 600px;
}

.header {
  align-items: center;
  composes: fontMedium from '../../../../styles/fonts.scss';
  display: flex;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;

  &_closeIcon {
    color: $primary-darkgrey;
    cursor: pointer;
    font-size: calc(1rem * 1.6);
    font-weight: 900;
    margin-left: auto;
    &:hover {
      color: darken($primary-darkgrey, 10%);
    }
  }
}

.content {
  padding: 0 5px;
}

.grid {
  box-sizing: border-box;
  padding-bottom: 5px;
}

.row {
  align-items: center;
  border-bottom: 1px solid $primary-grey;
  margin-bottom: 20px;
}
.row:last-child {
  border-bottom: 0;
  margin-bottom: 0;
}

.colLeft {
  padding-bottom: 10px;
  padding-right: 20px;
}

.colRight {
  padding-bottom: 10px;
  padding-right: 5px;
}

.formHeader {
  color: $primary-darkgrey;
  composes: fontMedium from '../../../../styles/fonts.scss';
}

.formHeader:first-child {
  padding-top: 20px;
}

.formContainer {
  background: #ffffff;
  padding: 15px 25px 5px;
}

.remoteSubmit {
  background: #ffffff;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 23px;
  padding-right: 33px;

  &_buttonDelete {
    padding-right: 10px;
  }
}

.disabledPage {
  background: #ffffff;
  height: 200px;
  overflow: hidden;
  position: relative;
  &_text {
    color: $inactive-color;
    font-size: 16px;
    left: 50%;
    line-height: 1.5em;
    margin: 0;
    margin-right: -50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
