@import '../../../ui.scss';

.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 9999;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 576px) {
    position: static;
  }
}

.active {
  display: flex;
}

.small {
  width: 25%;
}

.mediumSmall {
  width: 30%;
}

.medium {
  width: 40%;
}

.mediumLarge {
  width: 50%;
}

.large {
  width: 80%;
}

.backDropDefault {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $primary-dark;
  animation: fadein 0.5s;
  opacity: 0.6;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.6;
  }
}

@mixin modalBodyMobile-mixin() {
  box-shadow: none;
  min-width: 0;
  max-height: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modalBody {
  display: flex;
  min-width: 400px;
  max-height: 96%;
  flex-direction: column;
  z-index: 301;
  //border-radius: .5rem;
  box-shadow: 0 19px 60px rgba(0, 0, 0, 0.3), 0 15px 20px rgba(0, 0, 0, 0.22);
  animation: slidein 0.5s;

  @media screen and (max-width: 700px) {
    @include modalBodyMobile-mixin();
  }

  &__modalHeader {
    display: flex;
    align-items: center;
  }
  &__closeIcon {
    font-size: 1rem;
    color: grey;
    font-weight: 900;
    margin-left: auto;
    cursor: pointer;
  }
  &__footer {
    margin-left: auto;
  }

  &__action {
    margin-left: 5px;
  }
}

.modalBodyMobile {
  @include modalBodyMobile-mixin();
}

@keyframes slidein {
  from {
    opacity: 0;
    transform: translateY(-4rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.modalCloseIcon {
  font-size: 60px;
  position: fixed;
  top: 2%;
  right: 1%;
  visibility: visible;
  cursor: pointer;
  z-index: 10;
  color: white;
  line-height: 1rem;
  @media screen and (max-width: 1000px) {
    display: none;
  }

  &__mobile {
    display: none;
    @media screen and (max-width: 1000px) {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      padding: 0 22px;
    }
  }
}
