.headerWrapper {
  align-items: center;
  box-sizing: border-box;
  height: 80px;
  padding: 16px 32px;
}

.mainHeader {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.subHeader {
}

.pullRight {
  margin-left: auto;
}
