@import '../../../../styles/ui.scss';

.header {
  color: $primary-dark;
  composes: header from '../../../../styles/fonts.scss';
  text-align: center;
}

.text {
  color: $primary-darkgrey;
  font-size: 14px;
  padding: 10px;
  text-align: center;
}

.wellHeader {
  align-items: center;
  color: #313131;
  display: flex;
  font-size: 10px;
  height: 30px;
  letter-spacing: 0.9px;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
}

.wellItem {
  align-items: center;
  display: flex;
  font-size: 12px;
  padding: 5px 0;
}

.tinyIcon {
  padding-right: 7px;
}

.formSection {
  > div {
    min-width: 290px;
    width: 65%;
  }
}
