@import '../../../../styles/ui.scss';

.header {
  color: $primary-dark;
  composes: header from '../../../../styles/fonts.scss';
  text-align: center;
}

.text {
  color: $primary-darkgrey;
  font-size: 14px;
  padding: 10px;
  text-align: center;
}

.wellHeader {
  align-items: center;
  color: #313131;
  display: flex;
  font-size: 10px;
  height: 30px;
  letter-spacing: 0.9px;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
}

.wellItem {
  align-items: center;
  display: flex;
  font-size: 12px;
  padding: 5px 0;
}

.tinyIcon {
  padding-right: 7px;
}

.formSection {
  margin-top: -30px;
  padding-bottom: 0;
  > div {
    max-width: 344px;
    width: 100%;
  }

  [class*='submitButton'] {
    margin-top: 30px;
  }

  @media screen and (max-width: $medium-screen-width) {
    margin-top: 0;
  }
}

.preferenceButton {
  box-sizing: border-box;
  justify-content: center;
  margin: 0;
  max-width: 344px;
  width: 100%;
  &:first-child {
    margin-bottom: 15px;
  }
}
a.preferenceButton {
  color: $primary-red;
}

.actions {
  padding-bottom: 0;
}
