@import '../../../ui.scss';
@import '../../../ui-kit.scss';
@import './color';

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  user-select: none;
  background-color: $white;
  width: 100%;
  outline: none;
  box-sizing: border-box;
  border: 0;
  padding: 0;
  height: 100%;
}

.dayPicker:focus {
  outline: none;
}

.wrapper {
  outline: none;
  position: relative;
  user-select: none;
  flex-direction: row;
  width: 100%;
  padding: 0;
  margin: 0;
}

.months {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
}

.month {
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
  min-height: 200px;
  margin: 0;
  max-width: 100%;
  height: 100%;

  @media screen and (max-width: 800px) {
    width: auto;
    height: auto;
  }
}

.caption {
  display: table-caption;
  height: 1.5rem;
  text-align: center;
  font-size: 15px;
  margin-bottom: 20px;
  color: $grey-dark;
}

.weekdays {
  display: table-header-group;
}

.weekdaysRow {
  display: table-row;
  border: 1px solid $grey-lighter;
}

.weekday {
  display: table-cell;
  text-align: center;
  font-size: 11px;
  text-transform: uppercase;
  border: 0;
  color: $calendar-grey-lighter;
  padding: 15px 0;

  &:first-of-type {
    border-radius: 4px;
  }

  abbr {
    text-decoration: none;
  }
}

.body {
  display: table-row-group;
}

.week {
  display: table-row;
}

.navButtonInteractionDisabled {
  display: none;
}

.day {
  display: table-cell;
  text-align: right;
  cursor: pointer;
  vertical-align: middle;
  font-size: 11px;
  border-radius: 0;
  border: 1px solid $grey-lighter;
  width: calc(100% / 7);
  color: $calendar-grey;
  font-weight: 500;
  background: $white;
  transition: all 0.2s ease-in;

  &:focus {
    outline: none;
  }

  &:hover:not(.outside) {
    background-color: $primary-grey;
  }

  &:not([aria-disabled='true']):hover {
    background: $white;
  }
}

.interactionDisabled {
  cursor: default;
}

.today {
  color: $calendar-orange;
  font-weight: 500;
}

.disabled {
  color: $calendar-outside;
  cursor: default;
  background-color: $grey-lighter;
}

.selected {
  color: $primary-white;
  background-color: $teal;
  border-radius: 0;
}

.outside {
  cursor: default;
  color: $calendar-outside;
  background: repeating-linear-gradient(
    45deg,
    $white,
    $white 10px,
    $calendar-closed 10px,
    $calendar-closed 20px
  );
}

.rangePickerMonths {
  display: flex;
  justify-content: center;

  div:first-child {
    margin-right: 15px;
  }
}

.rangePickerMonth {
  @extend .month;
  width: unset;
}

.rangePickerDaySelected {
  color: $primary-white;
  background-color: $teal-light;
  border-radius: 0;
}

.rangePickerDayDisabled {
  background-color: $grey-lighter;
  color: $calendar-grey-lighter;
  cursor: pointer;
}

.selectedDay {
  @extend .day;
  transition: all 0.2s ease-in;
  box-shadow: inset 0 0 0 1px $calendar-orange;
}

.closedDay {
  @extend .day;
  background: $calendar-closed;

  &:not([aria-disabled='true']):hover {
    background: $calendar-closed;
  }
}

.dailySchedule {
  @extend .day;
}
