@import '../../../styles/ui-reskin.scss';

.container {
  background-color: $super-white;
  border: 0;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  outline: none;
  padding: 0;
  position: relative;
  user-select: none;
  width: 100%;
}

.dayPicker:focus {
  outline: none;
}

.wrapper {
  flex-direction: row;
  margin: 0;
  outline: none;
  padding: 0;
  position: relative;
  user-select: none;
  width: 100%;
}

.months {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
}

.month {
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  height: 100%;
  margin: 0;
  max-width: 100%;
  min-height: 200px;
  -webkit-user-select: none;
  user-select: none;
  width: 100%;

  @media screen and (max-width: 800px) {
    height: auto;
    width: auto;
  }
}

.caption {
  color: $color-purple-600;
  display: table-caption;
  font-size: 15px;
  height: calc(1.5rem * 1.6);
  margin-bottom: 20px;
  text-align: center;
}

.weekdays {
  display: table-header-group;
}

.weekdaysRow {
  border: 1px solid $color-grey-100;
  display: table-row;
}

.weekday {
  border: 0;
  color: $color-purple-300;
  display: table-cell;
  font-size: $small-size;
  font-weight: $normal-weight;
  padding: 15px 0;
  text-align: center;
  text-transform: uppercase;

  &:first-of-type {
    border-radius: 4px;
  }

  abbr {
    text-decoration: none;
  }
}

.body {
  display: table-row-group;
}

.week {
  display: table-row;
}

.navButtonInteractionDisabled {
  display: none;
}

.day {
  background: $super-white;
  border: 1px solid $color-grey-100;
  border-radius: 0;
  color: $color-purple-300;
  cursor: pointer;
  display: table-cell;
  font-size: $small-size;
  font-weight: $bold-weight;
  text-align: right;
  transition: all 0.2s ease-in;
  vertical-align: middle;
  width: calc(100% / 7);

  &:focus {
    outline: none;
  }

  &:hover:not(.outside) {
    background-color: $color-grey-100;
  }

  &:not([aria-disabled='true']):hover {
    background: $color-lavender-050;
  }
}

.interactionDisabled {
  cursor: default;
}

.today {
  color: $color-salmon-400;
  font-weight: 500;
}

.disabled {
  background-color: $color-grey-400;
  color: $color-grey-200;
  cursor: default;
}

.selected {
  background-color: $color-lavender-500;
  border-radius: 0;
  color: $super-white;
}

.outside {
  background: repeating-linear-gradient(
    45deg,
    $super-white,
    $super-white 10px,
    $color-grey-050 10px,
    $color-grey-050 20px
  );

  cursor: default;
}

.rangePickerMonths {
  display: flex;
  justify-content: center;

  div:first-child {
    margin-right: 15px;
  }
}

.rangePickerMonth {
  @extend .month;
  width: unset;
}

.rangePickerDaySelected {
  background-color: $color-lavender-050;
  border-radius: 0;
  color: $color-purple-600;
}

.rangePickerDayDisabled {
  background-color: $color-grey-200;
  color: $color-grey-400;
  cursor: pointer;
}

.selectedDay {
  @extend .day;
  box-shadow: inset 0 0 0 2px $color-lavender-400;
  transition: all 0.2s ease-in;
}

.closedDay {
  @extend .day;
  background: $color-grey-050;
  &:not([aria-disabled='true']):hover {
    background: $color-grey-100;
  }

  &:hover {
    background: $color-grey-050;
  }
}

.dailySchedule {
  @extend .day;
}
