$calendar-grey-lighter: #ccc;
$calendar-grey: #888888;

$calendar-orange: #ff715a;

$calendar-outside: #dce0e0;
$calendar-override: #fce8c8;
$calendar-closed: #f8f7f8;

$calendar-background: #fafafa;
$calendar-backdrop: #040406;
