$calendar-white: #fff;
$calendar-grey-lightest: #efefef;
$calendar-grey-lighter: #ccc;
$calendar-grey-light: #aaa;
$calendar-grey: #888888;
$calendar-grey-dark: #6c6c6c;

$calendar-green-lighter: #548d9f;
$calendar-green-light: #206477;
$calendar-green: #184b5a;
$calendar-orange: #ff715a;

$calendar-outside: #dce0e0;
$calendar-override: #fce8c8;
$calendar-closed: #f8f7f8;

$calendar-background: #fafafa;
$calendar-red: #eb5353;
$calendar-shadow: rgba(128, 128, 128, 0.11);
$calendar-backdrop: #040406;
