@import '../../../ui.scss';
@import '../../../ui-kit.scss';
@import './color';

.wrapper {
  width: 100%;
  max-width: 350px;
  border: 1px solid $grey-lighter;
  border-left: 0;
  padding: 0;
}

.title {
  font-size: 16px;
  color: $teal;
  letter-spacing: 0;
  padding: 0;
  margin: 0;
  line-height: 42px;
}

.top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 10px;
  color: $calendar-grey;
  letter-spacing: -0.15px;
  align-items: center;
  padding: 0 12px;
  min-height: 42px;
  box-sizing: border-box;
  background: $calendar-background;
}
.description {
  line-height: 1.75;
  width: 100%;
  margin: 12px 0 11px;
}

.toggle {
  display: flex;
  align-items: center;
}

.override {
  background: $white;
  border: 1px solid $grey-lighter;
  box-shadow: $shadow;
  border-radius: 4px;
  padding: 8px 10px;
  color: $grey-dark;
  line-height: 1;
  font-size: 10px;
  transition: all 0.2s ease-in;
  outline: none;
  cursor: pointer;
  margin-bottom: 12px;

  &.disabled {
    cursor: not-allowed;
  }

  &.active {
    transition: all 0.2s ease-in;
    background: $teal-dark;
    color: $white;
  }
}

.schedules {
  width: 100%;
  border-top: 1px solid $grey-lighter;
  min-height: 480px;
}
