@import '../../../styles/ui-reskin.scss';

.wrapper {
  border: 1px solid $color-grey-100;
  border-left: 0;
  max-width: 380px;
  padding: 0;
  width: 100%;
}

.title {
  margin: 0;
  padding: 0;
}

.header {
  background: $super-white-200;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.backButtonText {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 4px;
}

.drawerBackButton {
  background: transparent;

  border: none;
  color: $color-lavender-500;
  font-size: $small-size;
  font-weight: $bold-weight;
  margin-bottom: 4px;

  &:hover {
    cursor: pointer;
  }
}

.top {
  align-items: center;
  color: $color-grey-100;
  display: flex;
  flex-direction: row;
  font-size: $x-small-size;
  font-weight: $bold-weight;
  justify-content: space-between;

  min-height: 42px;
}
.description {
  line-height: 1.75;
  margin: 12px 0 11px;
  width: 100%;
}

.override {
  background: $super-white;
  border: 1px solid $color-grey-100;
  border-radius: 4px;
  box-shadow: $box-shadow-4;
  color: $color-grey-100;
  cursor: pointer;
  font-size: $x-small-size;
  font-weight: $bold-weight;
  line-height: 1;
  margin-bottom: 12px;
  outline: none;
  padding: 8px 10px;
  transition: all 0.2s ease-in;

  &.disabled {
    cursor: not-allowed;
  }

  &.active {
    background: $color-lavender-050;
    color: $super-white;
    transition: all 0.2s ease-in;
  }
}

.schedules {
  min-height: 480px;
  width: 100%;
}
.trashIcon {
  background-color: $super-white;
  border: 1px solid $error-500;
  border-radius: 4px;
  box-shadow: $box-shadow-4;
  color: $error-500;
  font-size: $small-size;
  font-weight: $medium-weight;
  padding: 2px 6px;
  width: 71px;

  &:hover {
    background-color: $error-100;
  }
}

.mainText {
  &_text {
    color: $color-purple-400;
    font-size: $x-medium-size;
    font-weight: $bold-weight;
    margin: 0;
  }

  &_iconWrapper {
    color: $color-purple-300;
    font-size: $small-size;
    font-weight: $heavy-weight;
    margin: 2px 4px 0px 0px;
    text-align: right;
    &:hover {
      color: $color-lavender-500;
    }
    &:focus {
      color: $color-lavender-550;
    }
  }
  &:hover {
    color: $color-lavender-500;
  }
  &:active {
    color: $color-lavender-550;
    padding: 6px;
  }
}
