@import '../../../ui.scss';
@import '../../../ui-kit.scss';
@import './color';

.backDrop {
  background: $calendar-backdrop;
  border: 1px solid $calendar-grey;
  opacity: 0.7;
  animation: none;
}

.modal {
  background: $calendar-background;
  border: 1px solid $grey-lighter;
  box-shadow: $shadow;
  border-radius: 4px;
}

.header {
  padding: 24px 24px 0;

  .title {
    font-size: 16px;
    color: $teal;
    letter-spacing: 0;
    padding: 0;
    margin: 0 0 10px;
  }

  .helper {
    font-size: 11px;
    color: $calendar-grey;
    line-height: 1.5;
    margin: 0 0 16px;
  }
}

.content {
  padding: 0 24px 24px;

  .groupWrapper {
    margin-bottom: 16px;
    color: $calendar-grey;
  }

  .group {
    display: flex;
    align-items: center;
    margin-top: 4px;
    flex-wrap: wrap;

    &:last-of-type {
      margin-bottom: 16px;
    }
  }

  .inputGroup {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .inputs {
      width: 100%;
      display: flex;
      align-items: center;
      font-size: 11px;
      color: $calendar-grey;
      line-height: 1.5;
    }
  }

  .toggle {
    margin: 12px;
  }

  .delete {
    margin-left: 10px;
    padding: 8px 10px;
    background: transparent;
    color: $grey-dark;

    &.disabled {
      display: none;
    }

    svg {
      width: 12px;
    }

    &:hover {
      color: $calendar-grey;
    }
  }

  .spacer {
    margin: 0 12px;
    font-size: 11px;
    color: $calendar-grey;
    text-align: center;
    text-transform: uppercase;
  }

  .label {
    margin-bottom: 8px;
    font-size: 12px;
    color: $calendar-grey;
    display: flex;
  }

  .addBreak {
    background: $white;
    border: 1px solid $grey-lighter;
    box-shadow: $shadow;
    font-size: 12px;
    color: $grey-dark;
    border-radius: 4px;
    text-align: center;
  }
}

.errorMessage {
  color: $red;
  margin-top: 8px;
  font-size: 11px;
}

.labelButton {
  font-weight: bold;
  font-size: 11px;
  padding: 0;
  color: $grey-dark;
  background: transparent;
}

.optionButton {
  display: block;
  color: $grey-dark;
  background: $white;
  padding: 10px;
  font-size: 10px;
  width: 100%;
  text-align: left;
  margin: 0;

  &:hover {
    color: $teal-dark;
    background: $calendar-background;
  }
}

.closeMessage {
  font-size: 12px;
  color: $grey-dark;
  font-style: italic;
  margin: 4px 0 16px;
}

.optionMenu {
  > div {
    background: $white;
    box-shadow: $shadow;
    border-radius: 4px;
    padding: 0;
    overflow: hidden;

    > ul {
      box-shadow: none !important;
      background: $white;
    }
  }
}

.labelIcon {
  font-weight: bold;
}

.dropdownWrapper {
  margin-left: 8px;
}

.footer {
  padding: 12px 24px;
  border-top: 1px solid $grey-lighter;
  text-align: right;

  .save {
    background: $teal;
    box-shadow: $shadow;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    margin-left: 8px;

    &:hover {
      transition: all 0.2s ease-in;
      background: $teal-dark;
    }
  }

  .cancel {
    background: transparent;
    color: $grey-dark;
    border-radius: 4px;
    transition: all 0.2s ease-in;

    &:hover {
      box-shadow: $shadow;
      transition: all 0.2s ease-in;
      background: $white;
    }
  }
}

.selectWrapper {
  width: 100%;
  position: relative;
}
