@import '../../../styles/ui-reskin.scss';

.backDrop {
  animation: none;
  opacity: 0.7;
}

.modal {
  background: $super-white;
  border: 1px solid $color-purple-600;
  border-radius: 4px;
  box-shadow: drop-shadow(2px 2px 32px rgba(7, 0, 82, 0.24));
}

.title {
  align-items: center;
  background-color: $color-purple-400;
  color: $color-lavender-050;
  display: flex;
  font-size: $x-medium-size;
  font-weight: $bold-weight;
  height: 45px;
  margin: -1px -1px 0 -1px;
  padding-left: 15px;
  padding-right: 15px;
}

.helper {
  color: $color-purple-600;
  font-size: $medium-size;
  font-weight: $normal-weight;
  line-height: 1.5;
  margin: 10px 10px 16px;
}

.content {
  padding: 0 24px 24px;

  .groupWrapper {
    margin-bottom: 16px;
  }

  .group {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 4px;

    &:last-of-type {
      margin-bottom: 16px;
    }
  }

  .inputGroup {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    width: 100%;

    .inputs {
      align-items: center;
      display: flex;
      font-size: 11px;
      line-height: 1.5;
      width: 100%;
    }
  }

  .toggle {
    margin: 12px;
  }

  .delete {
    margin-left: 8px;
    padding: 8px;
    i {
      margin: 0;
    }
  }

  .spacer {
    color: $color-purple-600;
    font-size: $medium-size;
    font-weight: $medium-weight;
    margin: 0 12px;
    text-align: center;
    text-transform: uppercase;
  }

  .label {
    align-items: center;
    color: $color-purple-600;
    display: flex;
    font-size: $medium-size;
    font-weight: $medium-weight;
    margin-bottom: 8px;
  }

  .addBreak {
    background: $super-white;
    border: 1px solid $color-lavender-500;
    border-radius: 4px;
    box-shadow: $box-shadow-4;
    color: $color-lavender-500;
    font-size: $medium-size;
    font-weight: $medium-weight;
    text-align: center;
    &:hover {
      background-color: $color-lavender-100;
    }
  }
}

.errorMessage {
  color: $color-red;
  font-size: 11px;
  margin: 8px 0 0 0;
}

.labelButton {
  background: transparent;
  color: $color-lavender-500;
  font-size: $medium-size;
  font-weight: $medium-weight;
  padding: 0;
  &:hover {
    background-color: $color-lavender-100;
  }
  i,
  svg {
    margin-left: 8px;
  }
}

.optionButton {
  background: $super-white;
  color: $color-grey-400;
  display: block;
  font-size: $small-size;
  font-weight: $medium-weight;
  margin: 0;
  padding: 10px;
  text-align: left;
  width: 100%;

  &:hover {
    background: $color-lavender-050;
    color: $color-purple-400;
  }
}

.closeMessage {
  color: $color-purple-600;
  font-size: 12px;
  font-style: italic;
  margin: 4px 0 16px;
}

.optionMenu {
  > div {
    background: $super-white;
    border-radius: 4px;
    overflow: hidden;
    padding: 0;

    > ul {
      background: $super-white;
      border: 1px solid $color-lavender-200;
      border-radius: 4px;
      filter: drop-shadow($box-shadow-3);
    }
  }
}

.labelIcon {
  font-weight: bold;
}

.dropdownWrapper {
  margin-left: 4px;
}

.footer {
  border-top: 1px solid $color-lavender-100;
  padding: 12px 24px;
  text-align: right;
}

.selectWrapper {
  position: relative;
  width: 100%;
}

.closeIcon {
  background-color: transparent;
  border: none;
  color: $color-lavender-150;
  font-weight: $normal-weight;
  margin-left: auto;
  width: 30px;
  &:hover {
    color: $super-white;
  }
}
.cancelButton {
  margin-right: 10px;
}
