@import '../../../styles/ui.scss';
@import '../../../styles/ui-kit.scss';
@import './color';

.top {
  position: absolute;
  width: 100%;
  z-index: 10;
}

.container {
  height: 30px;
  margin: 0 auto;
  position: relative;
  width: 250px;
}

.nav {
  position: absolute;
  width: 100%;
}

.baseNavButton {
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  color: $calendar-grey-lighter;
  cursor: pointer;
  height: 20px;
  outline: none;
  padding: 0;
  position: absolute;
  top: 1px;
  transition: all 0.2s ease-in;
  width: 40px;

  &:hover {
    color: $grey-dark;
    transition: all 0.2s ease-out;
  }

  svg {
    path {
      fill: currentColor;
    }
  }
}

.prev {
  @extend .baseNavButton;
  left: 0;

  svg {
    transform: rotate(180deg);
  }
}

.next {
  @extend .baseNavButton;
  right: 0;
}

.schedule {
  bottom: 0;
  position: absolute;
  right: 0;
}

.showDrawer {
  background: $white;
  border: 1px solid $grey-lighter;
  border-radius: 4px;
  box-shadow: $shadow;
  color: $calendar-grey;
  cursor: pointer;
  font-size: 11px;
  line-height: 1;
  outline: none;
  padding: 8px 10px;
  transition: all 0.2s ease-in;

  &.active {
    background: $teal-dark;
    color: $white;
    transition: all 0.2s ease-in;
  }
}

.month {
  color: $calendar-grey;
  font-size: 20px;
  line-height: 1;
  margin: 0;
  text-align: center;
}
