@import '../../../ui.scss';
@import '../../../ui-kit.scss';
@import './color';

.contentWrapper {
  display: flex;
  padding-top: 45px;
  position: relative;
  width: 100%;

  .content {
    display: flex;
    height: 100%;
    position: relative;
    width: 100%;

    > div {
      height: auto;
    }
  }
}

.weekdays {
  display: table-header-group;
}

.legends {
  display: flex;
  margin-top: 12px;
}

.legend {
  align-items: center;
  color: $calendar-grey-lighter;
  display: flex;
  font-size: 10px;
  line-height: 1;
  margin-right: 20px;
}

.toggleDivDisabled {
  background: $grey-lighter;
  border: 0;
  border-radius: 4px;
  min-height: 40px;
  padding: 0 16px;

  .caretIconWrapper {
    color: $grey-dark;
  }
}

.baseLegend {
  border-radius: 4px;
  display: block;
  height: 20px;
  margin-right: 4px;
  width: 36px;
}

.defaultLegend {
  @extend .baseLegend;
  background: $white;
  box-shadow: inset 0 0 0 1px $grey-lighter;
}

.overrideLegend {
  @extend .baseLegend;
  background: $calendar-override;
  box-shadow: inset 0 0 0 1px $calendar-override;
}

.closedLegend {
  @extend .baseLegend;
  background: $calendar-closed;
  box-shadow: inset 0 0 0 1px $calendar-closed;
}

.loading {
  background: transparentize($white, 0.25);
  bottom: 0;
  font-size: 34px;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.2s ease;
  visibility: hidden;

  &.active {
    opacity: 1;
    transition: all 0.2s ease;
    visibility: visible;
    z-index: 100;
  }
}

.calendarWrapper {
  margin-bottom: 20px;
  position: relative;
}

.input {
  -webkit-appearance: none;
  background: $white;
  border: 1px solid $grey-lighter;
  border-radius: 4px;
  box-shadow: $shadow;
  box-sizing: border-box;
  color: $calendar-grey;
  font-size: 14px;
  font-weight: 500;
  min-height: 40px;
  padding: 0 10px;
  transition: border-color 0.2s ease;
  width: 100%;

  &:focus {
    border-color: $grey-dark;
    transition: border-color 0.2s ease;
  }

  &:focus ~ .label {
    @extend .filled;
  }
}

.inputToggler {
  color: $calendar-grey;
  font-size: 13px;
  line-height: 1.4;
}

.inputActive {
  border-color: $grey-dark;
  transition: all 0.2s ease;
}

.textarea {
  @extend .input;
  min-height: 150px;
  padding-top: 28px;
}

.group {
  margin-bottom: 12px;
  padding: 0 0 12px;
  width: 100%;
}

.error {
  bottom: -5px;
  color: $red;
  display: block;
  font-size: 12px;
  font-weight: 500;
  left: 16px;
  padding-left: 0;
  top: auto;
}

.erroredInput {
  border-color: $red;
  color: $red;
}

.errorIcon {
  color: $red;
}

.bar {
  display: none;
}

.erroredLabel {
  color: $calendar-grey-lighter;
}

.erroredLabelFilled {
  color: $calendar-grey-lighter;
}

.label {
  color: $calendar-grey-lighter;
  font-size: 14px;
  left: 16px;
  top: 21px;
}

.filled {
  font-size: 11px;
  left: 16px;
  top: 12px;
}

.wrapper {
  box-sizing: border-box;
  padding: 8px 0;

  > div {
    box-sizing: border-box;
    left: 0;
    margin: -4px 0 0;
    transform: translateX(0);

    > ul {
      background: $white;
      border: 1px solid $grey-dark;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      border-top: 0;
      box-shadow: $shadow;

      > div {
        background: $white;
        box-shadow: none;
        max-height: 170px;
        padding: 0;
      }
    }
  }
}

.outside {
  background: transparent;
  color: $calendar-outside;
  cursor: default;
}
