@import '../../../ui.scss';
@import '../../../ui-kit.scss';
@import './color';

.scheduleWrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 16px;
  margin-bottom: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in;

  &:focus {
    outline: none;
  }

  &:hover {
    transition: all 0.2s ease-in;
    background: $calendar-background;
  }

  &.scheduleFeatured {
    box-shadow: inset 0 0 0 1px $calendar-orange;
  }

  &.scheduleOverride {
    background: $calendar-override;
  }
}

.info {
  flex: 1;
  padding-right: 32px;
}

.schedule {
  width: 100%;
  display: flex;
}

.times {
  flex: 4;
  text-align: right;
  font-size: 12px;
  color: $calendar-grey;
  font-weight: 600;

  span {
    margin: 0 4px;
  }
}

.date {
  flex: 0;
  font-size: 12px;
  color: $calendar-grey;
  font-weight: 600;
}

.breakTitle {
  font-size: 11px;
  color: $grey-light;
  font-weight: 500;
  flex: 0;
}

.breaks {
  display: flex;
  font-size: 11px;
  color: $grey-light;
  font-weight: 500;
  width: 100%;
  margin: 8px 0 0;

  li {
    margin-bottom: 8px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.breakList {
  flex: 4;
  text-align: right;
  list-style: none;
  padding: 0;
  margin: 0;
}

.spacer {
  flex: 0;
}

.settings {
  padding: 0;
  flex: 0;
  color: $grey-light;
  background: transparent;
  margin: 0;
  transition: all 0.2s ease-in;
  text-align: right;

  &:hover {
    color: $calendar-grey;
    transition: all 0.2s ease-in;
  }
}

.edit {
  justify-content: center;
  align-items: flex-start;
  color: $grey-light;
  transition: all 0.2s ease-in;
  svg {
    width: 12px;
    height: 12px;
  }
  &:hover {
    transition: all 0.2s ease-in;
    color: $grey;
  }
}
