@import '../../../../ui';

.commsGrid {
  min-width: 850px;
}

.commsRow {
  height: 100%;
}

.commsListCol {
  box-sizing: border-box;
  padding: 40px;
  padding-right: 0;
  border-right: 1px solid #e6e6e6;
  overflow-y: scroll;
}
