@import '../../../../../styles/ui';

.previewHeader {
}

$background: #eeeeee;

.topHeader {
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  height: 20px;
  padding: 20px;
}

.previewSBody {
  background-color: $background;
}

.previewBody {
  padding: 0 40px;
}

.previewBodyUnconfirmed {
  @extend .previewBody;
}

.previewBodyConfirmed {
  @extend .previewBody;
}

.smsPreviewWrapper {
  @extend .previewBody;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.smsPreviewWrapperFull {
  @extend .smsPreviewWrapper;
  overflow: hidden;
  // height: 100%;
  padding: 0;
}

.tab {
  background-color: $primary-grey;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  padding-top: 12px;
  width: 50%;
}

.activeTab {
  background-color: $primary-white;
}
