@import '../../../../ui.scss';

.waitListItem:hover .checkBox {
  opacity: 1;
}

.checkBox {
  vertical-align: top;
  transition: 0.1s all;
  opacity: 0;
  align-items: flex-start;
  margin-top: 25px;
  height: 100%;
  margin-right: 10px;

  & > div {
    width: 10px;
    height: 10px;
    border-width: 1px;
  }

  &.checked {
    opacity: 1;
  }
}

.listItemWrapperHub,
.collapsiblePatientInfo {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 15px;
  padding-top: 15px;

  .heading {
    & > div {
      display: inline-block;
    }

    .name {
      margin-left: 10px;
      font-weight: bold;
    }
  }

  .info {
    padding-bottom: 9px;
    padding-top: 9px;
    width: 100%;
  }

  .subHeader {
    color: $light-grey;
    display: block;
    text-transform: uppercase;
    padding-bottom: 4px;
  }

  .dataText {
    color: #4b5460;
    font-weight: 100;
    opacity: 1;
    font-style: unset;
    font-size: 11px;
  }

  .patientPrefInfo {
    padding-left: 3px;
    margin-top: 5px;
  }
}

.collapsiblePatientInfo {
  background: darken(white, 2%);
  padding: 20px 65px;
  box-sizing: initial;
  width: auto;
  display: block;
  box-shadow: inset 0 11px 11px -9px darken(white, 15%), inset 0 -11px 10px -11px darken(white, 15%);
}

.waitList {
  min-height: 267px;
  width: 700px;
  composes: fontDefault from 'sass-loader!../../../../fonts.scss';
}

.hubWrapper {
  width: 100%;
  height: 100%;
  background: $primary-white;

  .list {
    max-height: none;
  }

  &.withSelectedElements {
    padding-bottom: 40px;
  }
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 18px;
  font-family: inherit;
  color: $primary-dark;
  border-bottom: 1px solid $primary-grey;
  box-sizing: border-box;
  padding: 20px;
}

.iconAdd {
  margin-left: 5px;
}

.list {
  max-height: 325px;
  overflow: auto;
  height: 100%;
}

.waitListItem {
  display: flex;
  width: 100%;
  //min-height: 105px;
  padding: 0 30px;
  box-sizing: border-box;
  border: 0;
  cursor: default !important;

  &:hover {
    background-color: lighten($primary-grey, 5%);
  }

  /*&:last-child .wrapper {
    border-bottom: 0px;
  }*/
}

.wrapper {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid $primary-grey;
  box-sizing: border-box;
  padding-bottom: 15px;
  padding-top: 15px;
}

.avatar {
  margin-right: 15px;
}

.name {
  font-family: inherit;
  color: $primary-dark;
}

.patientPrefInfo {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 13px;
  word-wrap: break-word;
  height: auto;
}

.info {
  font-size: 10px;
  width: 178px;
  color: $primary-dark-grey;
  padding: 3px 0;
}

.dataText {
  font-style: italic;
  margin-right: 3px;
  opacity: 0.6;

  &.createdAt {
    display: block;
  }
}

.patientGeneralInfo {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  width: 180px;
  line-height: 1.5;
}

.infoContainer {
  display: flex;
  align-items: center;
  font-size: 10px;
}

.icon {
  margin-right: 5px;
}

.infoData {
  color: $primary-darkgrey;
  text-overflow: ellipsis;
  overflow: hidden;
}

.remove {
  margin: 0;
  &:hover {
    color: $primary-blue;
    cursor: pointer;
  }
}

.addTo {
  display: flex;
  font-size: 12px;
  margin-left: auto;
  &:hover {
    color: $primary-blue;
    cursor: pointer;
  }
}

.removeBorder {
  border-bottom: 0;
}

.patientPopover {
  z-index: 9999;
}

.listItem {
  display: flex;
  align-items: center;
  min-height: 3.5rem;
  height: auto;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $primary-white;
  border-bottom: 1px solid;
  border-bottom-color: $primary-grey;

  &:hover {
    cursor: pointer;
    background-color: lighten($primary-grey, 5%);
  }
}

.tableHeader {
  background-color: $primary-grey;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0 20px;
  box-sizing: border-box;
  width: 100%;
  border: 0;
  color: $primary-blue !important;
  text-transform: uppercase;
}

.colAvater {
  margin-right: 60px;
}
.colDel {
  width: 50px;
}
