
@import '../../../ui.scss';

.buttons {
  display: flex;
  margin-top: 15px;
  width: 100%;
}

.rightButtons {
  margin-left: auto;
}

.applyButton {
  font-family: $medium-font;
  font-size: 18px;
}

.dashCol {
  align-items: center;
  display: flex;
  justify-content: center;
}

.inputsWrapper {
  margin-top: -10px;
}
