@import '../../../styles/ui';
@import '../../../styles/fonts';

.patientLink {
  color: $primary-blue;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  &:focus {
    outline: none;
  }
  &:hover {
    color: lighten($primary-blue, 10%);
    transform: scale(1.02);
  }
}

.requestLink {
  color: $primary-blue;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  &:hover {
    color: lighten($primary-blue, 10%);
  }
}
.patientPopover {
  z-index: 9998;
  & > :global(svg.Popover-tip) {
    fill: $color-white;
  }
}

.patientPopoverTitle {
  font-family: $medium-font;
}

.card {
  box-shadow: -2px 0 45px -12px rgba(0, 0, 0, 0.75);
  min-width: 300px;
  width: auto;
}

.dataLink {
  @extend .fontMedium;

  @at-root button#{&},
    a#{&} {
    color: $primary-white;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s ease;

    &,
    &:active,
    &:focus {
      border: none;
      outline: none;
    }

    &:hover {
      color: $primary-lightgray;
      transition: color 0.3s ease;
    }
  }
}

.header {
  align-items: center;
  background-color: #313843;
  color: $primary-white;
  display: flex;
  font-size: 15px;
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;

  &_text {
    @extend .fontDefault;
    max-width: 250px;
    overflow: hidden;
    padding: 0 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &_age {
    margin-right: 10px;
  }
}

.closeIcon {
  @extend .fontMediumSize;
  color: $primary-grey;
  margin-left: auto;

  button {
    display: flex;
    justify-content: flex-end;
  }

  &:hover {
    cursor: pointer;
  }
}

.body {
  background-color: $primary-white;
  height: auto;
  max-height: 290px;
  max-width: 285px;
  min-height: 200px;
  padding: 15px 15px 10px;
}

.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.subHeader {
  @extend .subHeaderExtraSmall;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.data {
  @extend .fontMedium;
  align-items: center;
  display: flex;
  font-size: 13px;
  padding: 0 0 2px;

  &_note {
    max-height: 88px;
    overflow: auto;
    width: 100%;

    textarea {
      border-bottom: 0;
      color: black;
      font-family: $medium-font;
      height: auto;
      padding: 0;
    }
  }

  &_text {
    padding-left: 5px;
    padding-top: 1px;
  }
}

.textAreaGroup {
  padding: 0;
}

.footer {
  align-items: center;
  border-top: 1px solid $primary-grey;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  padding: 15px;
  width: 100%;
}

.chatButton {
  color: $primary-blue;
  padding: 5px !important;

  &:hover {
    background-color: $primary-blue !important;
    color: $primary-white;
    transition: color 0.3s ease;
  }
}

.editButton {
  background-color: $primary-blue;
  margin-left: 5px;
}

.basicText {
  text-transform: capitalize;
}

.textWhite {
  color: white;
  &:hover {
    color: lighten(white, 10%);
    transform: scale(1.02);
  }
}
