.scheduleContainer {
  padding: 20px;
}

.cardContainer {
}

/*body {
    margin: 0;
    padding: 0;
    background: whitesmoke;
}*/

/*ul {
    margin: 0;
    padding: 0;
    list-style: none;
}*/

.subHeaderMediumSmall {
  composes: subHeaderMediumSmall from '../../styles/fonts.scss';
}

.subHeaderSmall {
  composes: subHeaderSmall from '../../styles/fonts.scss';
}

.users {
  &_name {
    composes: listItemHeader from '../../styles/fonts.scss';
  }
  &_text {
    display: flex;
    padding-top: 15px;
    @extend .subHeaderMediumSmall;
  }
  &_date {
    opacity: 0.6;
    padding-left: 10px;
    @extend .subHeaderSmall;
  }
}

.displayName {
  composes: header from '../../styles/fonts.scss';
}

.info {
  @extend .subHeaderMediumSmall;

  &_footer {
    @extend .subHeaderSmall;
    padding-bottom: 3px;
  }
}

.contact {
  composes: subHeaderMedium from '../../styles/fonts.scss';
}

.dialogs {
  background: #f7f7f7;
  max-width: 30%;

  &::before {
    background: #8cbcd6;
    content: '';
    display: block;
    height: 5px;
    width: 100%;
  }

  &__search {
    align-items: center;
    border-bottom: 1px solid #e6e6e6;
    display: flex;
    height: 70px;
    justify-content: center;
    padding: 20px;

    .search {
      &__label {
        color: #b3b2b1;
        cursor: pointer;
        left: 15px;
        position: relative;
      }

      &__input {
        background: #f7f7f7;
        border: none;
        border-bottom: 2px solid #8cbcd6;
        height: 30px;
        padding: 0 40px;
        width: 90%;
      }

      &__edit {
        color: #b3b2b1;
        cursor: pointer;
        margin-left: auto;
      }
    }
  }

  .dialogs__messages {
    height: 100%;
    max-height: 500px;
    overflow-y: auto;
  }

  .messages {
    border-bottom: 1px solid #e6e6e6;
    display: flex;
    padding: 20px;
    position: relative;

    &__photo {
      border-radius: 50%;
      height: auto;
      margin-right: 10px;
      max-height: 50px;
      max-width: 50px;
      width: 100%;
    }

    &__header {
      align-items: center;
      display: flex;
    }

    &__name {
      color: #2e3845;
      font-size: 16px;
      font-weight: 600;
    }

    &__date {
      color: #969696;
      font-size: 12px;
      margin-left: auto;
    }

    &__text {
      color: #969696;
      font-size: 12px;
      padding-bottom: 10px;
      padding-right: 40px;
      padding-top: 10px;
    }

    &__unread {
      background: #8cbcd6;
      border-radius: 4px;
      color: white;
      display: flex;
      font-size: 12px;
      height: 18px;
      margin-top: 10px;
      position: absolute;
      right: 20px;
      width: 18px;
    }

    span {
      margin: auto;
    }
    &__item {
      background: #8cbcd6;
    }
  }
}

.header {
  align-items: center;
  background-color: #efefef;
  display: flex;
  flex-direction: row;
  height: 100px;
  justify-content: space-between;
  left: 0;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  &__router {
    display: flex;
  }

  .router {
    &__item {
      color: #acacac;
      padding: 5px;
      text-decoration: none;

      &_active {
        color: #2e3845;

        &::after {
          background: #ff715a;
          content: '';
          display: block;
          height: 3px;
          width: 100%;
        }
      }
    }
  }
}
