
.scheduleContainer {
  padding: 20px;
}

.cardContainer {

}

* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  background: whitesmoke; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

.container {
  padding: 50px; 
}

.dialogs {
  max-width: 30%;
  background: white; }
  .dialogs::before {
    display: block;
    width: 100%;
    height: 5px;
    content: '';
    background: #8cbcd6; }
  .dialogs__search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100px;
    padding: 20px;
    border-bottom: 1px solid #e6e6e6;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .dialogs__search .search__label {
      position: relative;
      left: 15px;
      color: #b3b2b1;
      cursor: pointer; }
    .dialogs__search .search__input {
      width: 90%;
      height: 30px;
      padding: 0 40px;
      border: none;
      border-bottom: 2px solid #8cbcd6; }
    .dialogs__search .search__edit {
      margin-left: auto;
      color: #b3b2b1;
      cursor: pointer; }
  .dialogs .messages {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px;
    border-bottom: 1px solid #e6e6e6; }
    .dialogs .messages__photo {
      width: 80px;
      height: 80px;
      margin-right: 10px;
      border-radius: 50%; }
    .dialogs .messages__header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-item-align: center;
          align-self: center; }
    .dialogs .messages__name {
      font-size: 16px;
      font-weight: 600;
      color: #2e3845; }
    .dialogs .messages__date {
      margin-left: auto;
      font-size: 14px;
      color: #969696; }
    .dialogs .messages__text {
      padding-top: 10px;
      padding-right: 40px;
      padding-bottom: 10px;
      font-size: 14px;
      color: #969696; }
    .dialogs .messages__unread {
      position: absolute;
      right: 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 18px;
      height: 18px;
      margin: auto;
      background: #8cbcd6;
      border-radius: 4px; }
    .dialogs .messages span {
      margin: auto; }


