
@import '../../../ui.scss';

.signUpWrapper {
  box-sizing: border-box;
  padding: 0px 20px 20px 20px;
  @media screen and (min-width: $widget-mobile-width) {
    padding: 0px 40px 40px 40px;
  }

  > a {
    text-decoration: underline;
  }
}

.header {
  composes: cardHeaderTitle from 'sass-loader!../../../fonts.scss';
  padding: 20px 0;
  text-align: center;
  color: black;
}

.subHeader {
  composes: listItemHeader from 'sass-loader!../../../fonts.scss';
  padding: 10px 0;
}

.customSubmitButton {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 10px;
  &:hover {
    background-color: var(--primaryColor);
  }
}

.signUpForm {
  > [class*="group"] {
    padding: 18px 0;
  }
}
