
@import '../../../../ui';

.main {
  padding: 20px;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  @extend .row;
  flex-grow: 1;
  flex-direction: column;
}

.textAreaWrapper {
  width: 100%;
}

.avatar {
  width: 4rem;
  height: 4rem;
}

.messageWrapper {
  text-align: center;
  width: 75%;
  max-width: 400px;
  margin: 0px auto;
}

.starsWrapper {
  margin: 10px 0;
}

.text-centered {
  text-align: center;
}

.header {
  @extend .text-centered;
  @extend .row;
  padding: 20px 20px 0 20px;
  margin: 0 auto; // when you add max-width you need this
  margin-bottom: 10px;
  // max-width: 210px;
  font-size: 1.8em;
  color: $primary-blue;
  // font-family: $medium-font;
}

.message {
  @extend .text-centered;
  padding: 5px 10px;
  font-size: 14px;
  color: $primary-darkgrey;
  max-width: 300px;
  margin: 0 auto;
}

.button {
  width: 100%;
  margin-top: auto;
  background-color: var(--primaryColor);
  &:hover {
    background-color: var(--primaryColor);
  }
}

.googleButton {
  @extend .button;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  padding-left: 1.75em;
  padding-right: 1.75em;
  > i {
    margin-left: auto;
  }
}

.from {
  @extend .message;
  padding-top: 0px;
}

.blurBackground {
  background: linear-gradient(var(--primaryColor), white 70%);
  border-radius: 50%;
  // border-color: $primary-color;
  //transition-timing-function: ease-in;
  width: 4.4rem;
  height: 4.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

