
@import '../../../ui.scss';


.dialogBody {
  display: flex;
  padding: 20px;
  min-width: 250px;
  max-height: 96%;
  flex-direction: column;
  &__header{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
  }
  &__closeIcon {
    font-size: 1rem;
    color: $primary-darkgrey;
    font-weight: 900;
    margin-left: auto;
    cursor: pointer;
    &:hover {
      color: darken($primary-darkgrey, 10%);
    }
  }
  &__footer {
    display: flex;
    padding-top: 10px;
    margin-left: auto;
  }

  &__action {
    margin-left: 5px;
  }

}

