.servicesMainContainer{
  display: flex;
}
.servicesListContainer{
  display: inline-block;
  width: 25%
}

.servicesDataContainer{
  display: inline-block;
  width: 75%;
}

.addServiceButton {
  width: 0px;
}


.formContainer{
  display: flex;
  width: 100%;
}
.servicesForm {
  width: 50%;
  padding-top: 15px;
}
.servicesFormRow{
  width: 100%;
  display: inline-block;
  &__createRow{
    padding: 15px 15px 15px 15px;
  }
}
.servicesFormField{
  padding: 15px 0px 15px 15px;
}

.trashButton{
  float: right;
  &__trashIcon{
    width: 0px;
    padding: 0px;
  }
}


.modalContainer{
  float: right;
  padding: 0px 15px 0px 15px;
}










