@import '../../../ui.scss';


.outerContainer{
  height: 100%;
}
.servicesMainContainer {
  display: flex;
  height: 100%;
}
.servicesListContainer {
  display: inline-block;
  width: 25%;
  border-right: 1px solid;
  border-right-color: $primary-dark;
}

.servicesListItem{
  height: 65px;
  padding-left: 5px;
  font-size: $medium-size;
  text-transform: capitalize;
}


.servicesDataContainer {
  display: inline-block;
  padding-left: 15px;
  width: 75%;
}

.addServiceButton {
  margin-left: auto;
}


.serviceHeaderContainer{
  display: flex;
}
.serviceHeader{
  font-size: $large-size;
  font-weight: $medium-weight;
  padding: 10px 5px 10px 0px;
  border-bottom: 1px solid;
  border-bottom-color: $primary-lightgrey;
  text-transform: capitalize;
  width: 50%;

}

.trashButton {
  float: right;
  &__trashIcon {
    width: 0px;
    padding: 0px;
  }
}

.formContainer {
  display: flex;
  width: 100%;
  &__createForm{
    padding: 0px 15px 0px 15px;
  }
}
.servicesForm {
  width: 50%;
  padding-top: 15px;
}
.servicesFormRow {
  width: 100%;
  display: inline-block;
  &__createRow {
    padding: 15px 0px 15px 0px;
  }
}
.servicesFormField {
  padding: 15px 0px 15px 0px;
}


.modalContainer {
  display: flex;
  align-items: center;
  border-bottom: 1px solid;
  border-bottom-color: $primary-grey;
}










