
@import '../../../../ui';

$width: 26px;
$wrapper-thickness: 6px;

.iconCircle {
  align-items: center;
  background-color: $primary-green;
  border-radius: $width / 2;
  color: white;
  display: flex;
  height: $width;
  justify-content: center;
  width: $width;
  > i {
    font-size: 1.1em !important;
  }
}

.iconCircle_green {
  @extend .iconCircle;
  background-color: $primary-green;
}

.iconCircle_yellow {
  @extend .iconCircle;
  background-color: $primary-yellow;
}

.iconCircle_red {
  @extend .iconCircle;
  background-color: $primary-red;
}

.iconCircle_blue {
  @extend .iconCircle;
  background-color: $primary-blue;
}

$outer-width: $width + $wrapper-thickness;

.wrapperCircle {
  align-items: center;
  background-color: $primary-white;
  border-radius: $outer-width / 2;
  display: flex;
  height: $outer-width;
  justify-content: center;
  width: $outer-width;
}

$outest-width: $outer-width + $wrapper-thickness;

.selectWrapperCircle {
  align-items: center;
  border-radius: $outest-width / 2;
  display: flex;
  height: $outest-width;
  justify-content: center;
  width: $outest-width;
}

.selectWrapperCircleSelected {
  @extend .selectWrapperCircle;
}

.selectWrapperCircleSelected_green {
  @extend .selectWrapperCircleSelected;
  background-color: $primary-green;
}

.selectWrapperCircleSelected_yellow {
  @extend .selectWrapperCircleSelected;
  background-color: $primary-yellow;
}

.selectWrapperCircleSelected_red {
  @extend .selectWrapperCircleSelected;
  background-color: $primary-red;
}

.selectWrapperCircleSelected_blue {
  @extend .selectWrapperCircleSelected;
  background-color: $primary-blue;
}

.primaryIcon {
  color: $primary-white;
  font-size: 1em !important;
  left: -3px;
  position: relative;
  top: 3px;
}

.secondaryIcon {
  color: $primary-white;
  font-size: 0.9em !important;
  left: 2px;
  position: relative;
  top: -3px;
}
