@import '../../../ui';

.buttonLabel {
  background: transparent;
  border: 1px solid $primary-dark-grey;
  border-radius: 0.25em;
  color: $primary-dark-grey;
  composes: fontDefault from '../../../fonts.scss';
  cursor: pointer;
  display: inline-block;
  line-height: 1em;
  margin: 0 em(5px) 0 0;
  min-width: 100px;

  outline: none;

  padding: em(12px) 1.5em;
  text-align: center;
  text-decoration: none;

  transition: background-color 0.1s ease, color 0.1s ease;
}

.checkboxButton input {
  display: none !important;
}

.checkboxButton input[type='checkbox']:checked + button {
  background-color: $primary-blue;
  border-color: $primary-blue;
  color: #ffffff;
}
