
@import '../../../ui.scss';

$error-color: $danger-color;
$active-color: $primary-dark;
$empty-grey: $primary-darkgrey;

.group {
  margin-bottom: 45px;
  margin-top: 30px;
  position: relative;
}

.input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $empty-grey;
  display: block;
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  width: 100%;
  &:focus {
    outline: none;
  }

  &:focus ~ .label {
    color: $active-color;
    // Bring the label above the input when focused / filled in
    @extend .filled;
  }
}

.erroredInput {
  border-bottom: 1px solid $error-color;
}

// TODO: figure out how to stack the CSS to make sure we dont have to use !important
.filled {
  font-size: 12px !important;
  top: -20px !important;
}

.label {
  color: $empty-grey;
  font-size: 16px;
  font-weight: normal;
  left: 5px;
  pointer-events: none;
  position: absolute;
  top: 10px;
  transition: 0.2s ease all;
}

.erroredLabel {
  color: $error-color;
}

.bar {
  display: block;
  position: relative;
  width: 100%;
  &:before,  &:after {
    background: $active-color;
    bottom: 0;
    content: '';
    height: 2px;
    position: absolute;
    transition: 0.2s ease all;
    width: 0;
  }

  &:before {
    left: 50%;
  }

  &:after {
    right: 50%;
  }
}

// Show animation on focus
.input:focus ~ .bar {
  &:before, &:after {
    width: 50%;
  }
}

.error {
  color: $error-color;
  font-size: 12px;
  font-weight: normal;
  left: 5px;
  pointer-events: none;
  position: absolute;
  top: 41px;
}

/*.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

.input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
  from {
    background: $primary-dark;
  }

  to {
    width: 0;
    background: transparent;
  }
}*/