@import '../../../../../styles/ui-reskin.scss';

$event-grey: $color-grey-400;

.eventWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  &:first-child {
    margin-top: 0;
  }

  &:hover {
    .trashIconWrapper {
      display: block;
    }
  }
}

.event {
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 2;
}

.verticalLine {
  background-image: linear-gradient($color-purple-300 33%, rgba(255, 255, 255, 0) 0%);
  background-size: 3px 10px;
  height: 100%;
  width: 2px;
  &_invisible {
    width: 0;
  }
}

.iconContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 24px;

  @media screen and (max-width: 576px) {
    padding-right: 10px;
    padding-top: 0;
  }
}

.icon {
  color: $color-purple-200;
  font-size: $x-medium-size;
}

.bgIcon {
  align-items: center;
  background: $super-white;
  border: 2px solid $color-purple-200;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  min-height: 42px;
  width: 42px;
}

.greenBorder {
  border: 5px solid $color-success-200;
  i {
    color: $color-success-400;
  }
}
.blueBorder {
  border: 5px solid $color-purple-200;
  i {
    color: $color-purple-300;
  }
}
.redBorder {
  border: 5px solid $error-200;
  i {
    color: $error-400;
  }
}
.yellowBorder {
  border: 5px solid $warning-200;
  i {
    color: $warning-400;
  }
}

.dot {
  border-radius: 50%;
  display: none;
  height: 10px;
  margin-right: 10px;
  min-height: 10px;
  min-width: 10px;
  width: 10px;
}

.dotDisplay {
  display: inline-block;
}

.dotGrey {
  background: $color-purple-200;
  @extend .dotDisplay;
}
.dotRed {
  background: $error-200;
  @extend .dotDisplay;
}
.dotYellow {
  background: $warning-200;
  @extend .dotDisplay;
}
.dotGreen {
  background: $color-success-200;
  @extend .dotDisplay;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.body {
  background-color: $super-white-200;
  border: 1px solid $color-grey-150;
  border-radius: 5px;
  line-height: 1.5em;
  margin-bottom: 20px;
  padding: 20px;
  width: 100%;

  &_header {
    color: $color-grey-400;
    font-size: $medium-size;
    font-weight: $medium-weight;
    line-height: 20px;
  }

  &_editable {
    background: none;
    border: none;
    color: inherit;
    margin-bottom: -1px;
    outline: inherit;
    padding: 0;
    text-align: left;

    &:hover {
      cursor: pointer;
      > div {
        text-decoration: underline;
        &:after {
          color: $event-grey;
          content: 'Edit';
          display: inline-block;
          font-size: 10px;
          font-style: normal;
          margin-left: 10px;
          text-decoration: none;
        }
      }
    }
  }

  &_subHeader {
    color: $color-grey-400;
  }

  &_subHeaderItalic {
    color: $color-purple-300;
    font-size: $small-size;
    font-style: italic;
    font-weight: $medium-weight;
    line-height: 20px;
  }

  @media screen and (max-width: 576px) {
    padding: 10px 15px;

    &_header {
      font-size: 11px;
    }

    &_subHeaderItalic {
      font-size: 10px;
    }
  }
}

.time {
  bottom: 25px;
  display: flex;
  padding-right: 8px;
  padding-top: 8px;
  position: absolute;
  right: 5px;
  width: 100%;
  z-index: 2;
  &_text {
    color: $color-grey-300;
    font-size: $small-size;
    font-weight: $medium-weight;
    letter-spacing: 0.02em;
    line-height: 16px;
    margin-left: auto;
  }
}

.call {
  line-height: 1.5em;
  width: 100%;

  &_subHeader {
    color: $color-purple-200;
  }

  &_subHeaderItalic {
    color: $color-purple-200;
    font-style: italic;
  }

  audio {
    @media screen and (max-width: 576px) {
      width: 40px;
    }
  }

  @media screen and (max-width: 576px) {
    padding: 10px 15px;

    &_header {
      font-size: 11px;
    }

    &_subHeaderItalic {
      font-size: 10px;
    }
  }
}

.dueDate {
  align-items: center;
  display: flex;
}

.review {
  display: inline-block;
  &_stars {
    color: $warning-400;
    margin-bottom: 5px;
  }
}

.reminder {
  &_interval {
    text-transform: capitalize;
  }

  &_container {
    box-sizing: border-box;
    margin-top: 15px;
    min-width: 300px;
  }

  &_body {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &_name {
    color: $color-purple-200;
  }

  &_appDetails {
    margin-left: 10px;
  }

  &_appDate {
    color: $color-grey-300;
    display: flex;
    font-size: 10px;
    justify-content: space-between;
    margin-right: 5px;
  }

  &_appDateHeaders {
    color: $color-purple-200;
    margin-right: 5px;
  }

  &_patientNameStyle {
    display: inline-block;
  }
}

.noteHeaderWrapper {
  color: $event-grey;
  &:before {
    color: $color-grey-400;
    content: 'Note: ';
    font-size: $medium-size;
    font-weight: $bold-weight;
    line-height: 20px;
  }
}

.followUpHeaderWrapper {
}

.note {
  font-style: italic;
}

.trashIconWrapper {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  display: none;
  outline: inherit;
  padding: 5px;
  position: absolute;
  right: 5px;
  top: 5px;
  &:hover {
    .trashIcon {
      color: $color-salmon-400;
    }
  }
}

.trashIcon {
  color: $event-grey;
}

.editIcon {
  color: $event-grey;
  display: none;
}

.recallHeader {
}
