@import '../styles';

.wrapper {
  box-sizing: border-box;
  padding: 0;
  > div {
    box-sizing: border-box;
    left: 0 !important;
    margin: -4px 0 0 !important;
    transform: translateX(0) !important;
    > ul {
      background: $widget-white !important;
      border: 1px solid var(--primaryColor);
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      border-top: 0;
      box-shadow: 1px 2px 3px 0 rgba(128, 128, 128, 0.15) !important;
      > div {
        background: $widget-white !important;
        box-shadow: none !important;
        max-height: 170px;
        padding: 0 var(--widget-spacer) !important;
      }
    }
  }
}

.patientWrapper {
  padding-bottom: 16px;
}

.addNewPatient {
  background: $chat-lightgrey;
  border: 0;
  bottom: 0;
  color: $primary-dark;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  height: 40px;
  left: 0;
  line-height: 40px;
  padding: 0 0 0 12px;
  position: fixed;
  right: 0;
  text-align: left;
  text-transform: uppercase;
  &:hover {
    background: $primary-lightgrey;
  }
}

.dropDownList {
  max-height: 220px;
  overflow-y: auto;
  padding-bottom: 40px;
  position: relative;
}

.slotButton {
  padding: 0;
  text-align: left;
}

.dataSlot {
  background: $widget-white;
  border: 0;
  border-top: 1px solid $widget-grey-lighter;
  box-sizing: border-box;
  height: auto;
  justify-content: flex-start;
  padding: calc(var(--widget-spacer) * 1.25) 4px;
  text-align: left;
  transition: all 0.2s ease-out;
  &:hover {
    background: $widget-white !important;
    transform: translateX(10px);
    transition: all 0.2s ease-out;
  }
  > div {
    color: $widget-grey-light;
    font-family: 'Roboto' !important;
    font-size: 14px;
    font-weight: 500;
  }
}

.selectedListItem {
  &:before {
    color: var(--primaryColor);
    content: '•';
    font-size: 18px;
  }
  > div {
    color: $widget-grey;
    margin-left: 3px;
  }
}

.erroredDropdown {
  @extend .erroredInput;
  margin-bottom: 19px;
  position: relative;
}

.erroredLabelDropdown {
  @extend .error;
  bottom: -20px;
  left: 0;
  position: absolute;
}

.erroredDropdown ~ div {
  margin-top: -23px !important;
  > ul {
    border-color: $widget-red !important;
  }
}

form {
  .contentWrapper {
    margin-top: 0;
    + .contentWrapper {
      margin-top: 0;
    }
  }
}

.disabled {
  background: $widget-grey-lighter;
  pointer-events: none;
}
.disabledGroup {
  cursor: not-allowed;
}
