@import '../../../../ui.scss';

.patientActionsContainer {
  height: auto !important; // In order to override global styles
}

.notesForm {
  textarea {
    background-color: $primary-lightgrey !important;
    color: black;
    font-size: 14px;
    height: 100px;
    line-height: 1.5em;
    padding: 10px;
  }

  span[class*='error'] {
    bottom: 5px;
    top: unset;
  }

  > div[class*='toggleWrapper'] {
    margin-bottom: 10px;
    > label {
      color: $primary-darkgrey;
      margin-right: 10px;
    }
  }
}

.patientActionsModalTheme {
  z-index: 99999;
}
