@import '../../../styles/ui';

.sectionContainer {
  background-color: $background-color;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: $electron-header-size;
  overflow: auto;
  position: relative;
}

.notFullWidth {
  padding-left: $side-nav-width;
}

.mainRegionContainerCollapsed {
  @media screen and (max-width: $medium-screen-width) {
    padding-left: 0;
  }

  @media screen and (min-width: $medium-screen-width) {
    padding-left: $mini-side-nav-width;
  }
}

.mainRegionContainer {
  @media screen and (max-width: $medium-screen-width) {
    padding-left: 0;
  }

  @media screen and (min-width: $medium-screen-width) {
    padding-left: $side-nav-width;
  }
}
