@import "../../../ui.scss";

.schedule_filter {
    border-top: $card-border-size $primary-color;
    padding-bottom: 50px;
    font-family: sans-serif;
}

.filter_header {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 40px;
    padding: 0 5px;
    border-bottom: 1px solid #e6e6e6;
    line-height: 40px;
    justify-content: center;
    &__title {
        justify-content: center;
    }

    &__icon {
        margin-left: 5px;
    }

    &__link {
        position: absolute;
        right: 20px;
        cursor: pointer;
        color: #b4b4b4;
        font-size: 12px;
    }
}


.filter_practitioner {
    margin: 0 5px;
    input[type=checkbox] {
        display: none;
        &:checked + label li img {
            box-shadow: 0 0 16px 2px #ff715a;
        }
    }
    &__title {
        margin-left: 5px;
        text-transform: uppercase;
        color: #b4b4b4;
        font-size: 9px;
        line-height: 30px;
    }

    &__wrapper {
        display: flex;
        flex-direction: row;
        margin: 0 0 20px;
        padding: 0;
        list-style: none;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__list {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 12px;
        align-items: center;
        flex: 1 0 25%;
    }

    &__photo {
        max-width: 40px;
        margin-bottom: 5px;
        border-radius: 50%;
    }
    &__spec {
        color: #b4b4b4;
    }
}

.filter_options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__title {
        margin-left: 5px;
        text-transform: uppercase;
        color: #b4b4b4;
        font-size: 9px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        width: 45%;
        margin-bottom: 30px;

        select {
            border: none;
            border-bottom: 1px #ff715a solid;
            background: none;
            font-size: inital;

            &:focus {
                outline: none;
            }
        }
    }
}