@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700");

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  background: #4b555f !important;
}

.signup {
  height: 560px;
  padding: 20px;
  &__wrapper {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    width: 700px;
    min-height: 560px;
    margin: 0 auto;
    border-radius: 5px;
    background: #fafafa;
    box-shadow: 0 0 10px #fafafa;
  }
  > div {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
  }
  &__sidebar {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 0 20px;
    border-radius: 5px;
    background-color: #ff715a;
    position: relative;
  }
  .sidebar {
    &__header {
      height: 70px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      &_logo {
        margin: 0 auto;
        display: block;
        width: 30px;
      }
      &_title {
        margin-top: 5px;
        text-align: center;
        color: #fff;
        font-size: 8px;
        font-weight: 500;
        span {
          font-weight: 200;
        }
      }
    }
    &__body {
      &_address {
        margin-top: 30px;
      }
    }
    &__information {
      font-size: 10px;
      text-align: center;
      line-height: 1.25;
      padding: 25px 0;
      color: #fff;
      border-top: 1px solid #fff;
      &_title {
        font-size: 11px;
        padding: 2px;
        font-weight: 500;
        text-transform: uppercase;
      }
    }
    &__footer {
      padding: 10px 0 20px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      &_copy {
        display: flex;
        margin-top: 18px;
        align-items: center;
        flex-direction: column;
        div {
          margin-right: 2px;
          font-size: 8px;
          color: #fff;
        }
        img {
          height: 40px;
        }
      }
    }
  }
  &__main {
    width: 75%;
  }
  &__header {
    position: relative;
    display: flex;
    height: 70px;
    border-radius: 5px;
    background: #fff;
    justify-content: center;
    align-items: center;
    &_title {
      font-size: 12px;
      text-align: center;
      text-transform: uppercase;
      color: #db6653;
    }
    &_timer {
      position: absolute;
      right: 20px;
    }
  }
  &__body {
    padding: 20px 150px;
    border-radius: 5px;
    &_header {
      margin-bottom: 30px;
      text-align: center;
    }
    &_input {
      width: 100%;
      padding: 0 5px;
      border: none;
      border-bottom: 1px solid #dddcdc;
      background: none;
      &:not(:last-child) {
        margin-bottom: 34px;
      }
      &:focus {
        outline: none;
      }
    }
  }
  &__footer {
    font-size: 10px;
    margin-top: 10px;
    text-align: center;
    &_header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    &_title {
      font-size: 8px;
      font-weight: 500;
      margin: 0 5px;
      text-transform: uppercase;
      color: #2e3945;
    }
    &_login {
      font-size: 8px;
      font-weight: 500;
      margin: 0 5px;
      text-decoration: none;
      text-transform: uppercase;
      color: #f3715c;
    }
    &_btn {
      font-size: 10px;
      position: relative;
      width: 100%;
      padding: 6px 20px;
      height: inherit;
      text-transform: uppercase;
      color: #fff;
      border: none;
      background: #f3715c;
    }
    &_facebook {
      font-size: 8px;
      display: inline-block;
      margin: 10px;
      padding: 6px 20px;
      text-decoration: none;
      text-transform: uppercase;
      color: #fff;
      border: none;
      background: #395199;
      span {
        margin-right: 5px;
      }
    }
  }
}