@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700");

* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

.signup {
    z-index: 9999;
    overflow: auto;
    &__wrapper {
        display: flex;
        width: 730px;
        height: 610px;
        min-height: 100%;
        margin: 0 auto;
        overflow: hidden;
        flex-direction: column;
        background: #fafafa;
        border-radius: 5px;
        @media screen and (max-width: 600px) {
            width: auto;
        }
    }
    > div {
        display: flex;
        flex-direction: row;
        flex: 1;
        justify-content: center;
    }
    &__sidebar {
        display: flex;
        flex-direction: column;
        width: 25%;
        padding: 0 20px;
        border-radius: 5px;
        background-color: #ff715a;
        position: relative;
        @media screen and (max-width: 600px) {
            display: none;
            transform: translateX(-200px);
        }
    }
    &__sidebarActive {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        transform: translateX(0px);
        width: 200px;
        position: absolute;
        height: 100%;
        z-index: 1;
        left: 0;
        transition: transform 0.5s;
    }
    .sidebar {
        &__header {
            height: 70px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            &_logo {
                margin: 0 auto;
                display: block;
                width: 30px;
            }
            &_title {
                margin-top: 5px;
                text-align: center;
                color: #fff;
                font-size: 8px;
                font-weight: 500;
                span {
                    font-weight: 200;
                }
            }
        }
        &__body {
            &_address {
                margin-top: 30px;
            }
            &_btn {
                width: 100%;
                padding: 6px 0;
                margin-top: 61px;
                margin-bottom: 20px;
                font-size: 10px;
                color: #f3715c;
                text-transform: uppercase;
                cursor: pointer;
                background: #fff;
                border: none;
                position: relative;
                &::before {
                    content: "\25c4";
                    position: absolute;
                    left: 5px;
                }
            }
        }
        &__information {
            font-size: 10px;
            text-align: center;
            line-height: 1.25;
            padding: 25px 0;
            color: #fff;
            border-top: 1px solid #fff;
            &_title {
                font-size: 11px;
                padding: 2px;
                font-weight: 500;
                text-transform: uppercase;
            }
        }
        &__footer {
            padding: 10px 0 20px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            &_copy {
                display: flex;
                margin-top: 18px;
                align-items: center;
                flex-direction: column;
                div {
                    margin-right: 2px;
                    font-size: 8px;
                    color: #fff;
                }
                img {
                    height: 40px;
                }
            }
        }
    }
    &__main {
        width: 75%;
        @media screen and (max-width: 600px) {
            width: 100%;
        }
    }
    &__header {
        position: relative;
        display: flex;
        height: 70px;
        border-radius: 5px;
        background: #fff;
        justify-content: center;
        align-items: center;
        &_btn {
            height: 25px;
            position: absolute;
            left: 10px;
            background: none;
            border: none;
            &:hover {
                color: #db6653;
            }
        }
        &_title {
            font-size: 12px;
            text-align: center;
            text-transform: uppercase;
            color: #db6653;
        }
        &_timer {
            position: absolute;
            right: 20px;
        }
    }
    &__body {
        padding: 20px 150px;
        border-radius: 5px;
        @media screen and (max-width: 600px) {
            padding: 20px 30px;
        }
        &_header {
            margin-bottom: 30px;
            text-align: center;
        }
        &_input {
            width: 100%;
            padding: 0 5px;
            border: none;
            border-bottom: 1px solid #dddcdc;
            background: none;
            &:not(:last-child) {
                margin-bottom: 34px;
            }
            &:focus {
                outline: none;
            }
        }
    }
    &__footer {
        font-size: 10px;
        margin-top: 10px;
        text-align: center;
        &_header {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
        &_title {
            font-size: 8px;
            font-weight: 500;
            margin: 0 5px;
            text-transform: uppercase;
            color: #2e3945;
        }
        &_login {
            font-size: 8px;
            font-weight: 500;
            margin: 0 5px;
            text-decoration: none;
            text-transform: uppercase;
            color: #f3715c;
        }
        &_btn {
            font-size: 10px;
            position: relative;
            width: 100%;
            padding: 6px 20px;
            height: inherit;
            text-transform: uppercase;
            color: #fff;
            border: none;
            background: #f3715c;
        }
        &_facebook {
            font-size: 8px;
            display: inline-block;
            margin: 10px;
            padding: 6px 20px;
            text-decoration: none;
            text-transform: uppercase;
            color: #fff;
            border: none;
            background: #395199;
            span {
                margin-right: 5px;
            }
        }
    }
}