.CircularProgressbar {
  width: 60px;
  position: absolute;
  top: 0;
  right: 30px;
  &_path {
    transition: stroke-dashoffset .5s ease 0s;

    stroke: #f3715c;
    stroke-linecap: round;
  }
  &_trail {
    stroke: #dfdfdf;
  }
  &_text {
    font-size: 16px;
    fill: #f3715c;
    dominant-baseline: middle;
    text-anchor: middle;
  }
}
