@import '../styles';

.daySlot {
  background-color: $widget-white;
  border-right: 1px solid $widget-grey-lighter;
  color: $widget-grey;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 8px 0;
  text-align: center;
  text-transform: uppercase;
  &:hover {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.15);
    color: var(--primaryColor) !important;
  }
  &:last-of-type {
    border-right: 0;
  }
}
.selectedDaySlot {
  @extend .daySlot;
  background: var(--primaryColor);
  border-color: var(--primaryColor);
  color: $widget-white;
  &:hover {
    color: $widget-white !important;
  }
}
.topWrapper {
  display: flex;
  margin-bottom: var(--widget-spacer);
  width: 100%;
}

.datesContainer {
  display: flex;
  flex: 1;
}
.datesWrapper {
  border: 1px solid $widget-grey-lighter;
  border-radius: 4px;
  display: flex;
  flex: 1;
  margin-right: 8px;
  @media (min-width: 576px) {
    margin-right: var(--widget-spacer);
  }
}
.datePicker {
  background: $widget-white;
  border: 1px solid $widget-grey-lighter;
  border-radius: 4px;
  box-sizing: border-box;
  color: $widget-grey-dark;
  display: flex;
  flex-direction: column;
  font-size: 10px;
  height: 100%;
  justify-content: center;
  line-height: 1.15em;
  margin: 0 0 0 var(--widget-spacer);
  padding: var(--widget-spacer);
  text-align: center;
  text-transform: uppercase;
  transition: all 0.2s ease;
  svg {
    fill: currentColor;
    margin: 0 auto 4px;
  }
  &:hover {
    border-color: var(--primaryColor);
    color: var(--primaryColor);
    transition: all 0.2s ease;
  }
}

.availabilitiesWrapper {
  @extend .container;
  display: flex;
  flex-wrap: wrap;
  margin: var(--widget-spacer) 0 0;
  min-height: 45px;
  padding: 0 12px;
  position: relative;
}

.cardWrapper {
  @extend .cardWrapper;
  flex: 0 33.33%;
  @media (min-width: 576px) {
    flex: 0 25%;
  }
}
.nextAvailabilityButton {
  border-radius: 4px;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 50px;
  margin-top: calc(50px - var(--widget-spacer));
  padding: var(--widget-spacer) 0;
  width: 100%;
}

.arrows {
  background: white !important;
  border: 1px solid $widget-grey-lighter;
  border-radius: 4px !important;
  color: $widget-grey-dark;
  margin-right: 8px;
  transition: all 0.35s ease;
  width: 32px !important;
  @media (min-width: 576px) {
    margin-right: var(--widget-spacer);
    width: 50px !important;
  }
  &[disabled] {
    background: $widget-grey-lighter !important;
    border-color: $widget-grey-lighter !important;
    &:hover {
      background: $widget-grey-lighter !important;
      border-color: $widget-grey-lighter !important;
      color: $widget-grey-dark !important;
    }
  }
  &:hover {
    background: white !important;
    border-color: var(--primaryColor) !important;
    color: var(--primaryColor) !important;
    transition: all 0.35s ease;
  }
}

.regularText {
  h3 {
    color: var(--primaryColor) !important;
    font-size: 16px;
  }
  background: $widget-grey-lightest;
  bottom: 0;
  color: $widget-grey-light;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}

.spinnerWrapper {
  @extend .regularText;
  color: var(--primaryColor);
  opacity: 0;
  visibility: hidden;
  h3 {
    color: var(--primaryColor) !important;
    font-family: $font-inter;
    font-size: 16px;
    span {
      animation-duration: 1.4s;
      animation-fill-mode: both;
      animation-iteration-count: infinite;
      animation-name: blink;
      font-size: 23px;
      line-height: 12px;
      &:nth-child(1) {
        margin-left: 2px;
      }
      &:nth-child(2) {
        animation-delay: 0.2s;
      }
      &:nth-child(3) {
        animation-delay: 0.4s;
      }
    }
  }
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
