.appear {
  opacity: 1 !important;
}

.appear-done {
  opacity: 1 !important;
}

.enter {
  opacity: 1 !important;
  transition: all 0.5s ease;
  visibility: visible !important;
}

.enter-active {
  opacity: 1 !important;
  transition: all 0.5s ease;
}

.enter-done {
  opacity: 1 !important;
  transition: all 0.5s ease;
}

.exit {
  opacity: 1 !important;
  transition: all 0.5s ease;
}

.exit-active {
  opacity: 1 !important;
  transition: all 0.5s ease;
}

.exit-done {
  opacity: 0 !important;
  transition: all 0.5s ease;
}
