@import "../../../ui.scss";

$page-padding: 20px;
.modal {
  overflow: hidden;
}

.header {
  font-size: $font-size;
  border-top: solid 2px $clr-border;
  background-color: $primary-grey;
  line-height: 2em;
  height: 2em;
  padding: 0 $page-padding;
}

.header-title {
  text-align: right;
  text-transform: uppercase;
  color: $inactive-color;
}

.page-container {
  padding: 0 $page-padding $page-padding $page-padding;
}

.filter-buttons {
  text-align: right;
}

.page-title {
  margin: 0 10px 0 0;
  font-size: 1.9em;
  display: inline-block;
  vertical-align: middle;
}

.btn-add-segment {
  vertical-align: middle;
}

.filter-container {
  margin: em(16px) 0;
}

.dropdown {
  height: 30px;
  width: 30px;
  display: inline-block;
  background-color: $clr-bg-dark-grey;
  color: $clr-dark-grey;
  vertical-align: middle;
  margin-left: -5px;
  border-left: 1px solid darken($clr-bg-dark-grey, 5%);

  & > div:first-child {
    height: 30px;
    padding: 0;
    border: 0;
    text-align: center;
    & i {
      margin-left: 0;
    }
  }
}

.dropdown:hover {
  background-color: darken($clr-bg-dark-grey, 5%);
  color: darken($clr-dark-grey, 5%);
}

.dateRangeMenu > :global(.dd-menu-items) > :global(.dd-items-right) {
  width: 350px;
  background-color: $primary-grey;
  padding: 20px;
  border-radius: 10px;
}
