@import '../../../ui';

.bigComment {
  width: 36px;
  height: 38px;
  display: flex;
  align-items: flex-end;
  font-size: 35px;
}
.bigCommentBubble {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 30px 30px 20px;
  margin-right: 10px;

  @media screen and (max-width: 500px) {
    padding: 10px;
  }
  &__commentBody {
    width: 95%;
    margin-left: 20px;
    border-radius: $card-border-radius;
    box-shadow: $box-shadow;
  }
  &__mainContent {
    position: relative;
    padding: 20px 40px 10px 25px;
    background-color: #fff;
    font-size: 14px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 2px 0 -4px rgba(0, 0, 0, 0.33);

    &__header {
      composes: fontMedium from '../../../fonts.scss';
      &__link {
        color: $primary-blue;
        cursor: pointer;
        margin-right: 5px;
        text-decoration: none;
        &:hover {
          color: darken($primary-blue, 5%);
        }
      }
      &__site {
        color: $primary-blue;
        cursor: pointer;
        margin-left: 5px;
        text-decoration: none;
        &:hover {
          color: darken($primary-blue, 5%);
        }
      }
    }
    &::before {
      position: absolute;
      width: 0;
      height: 0;
      left: -12px;
      top: 10px;
      border-top: 12px solid transparent;
      border-right: 12px solid #ffffff;
      border-bottom: 12px solid transparent;
      display: block;
      content: '';
    }
    &__requirements {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: $large-weight;
      color: lighten($primary-color, 5%);
      margin: 10px 0;
    }
    &__title {
      color: $primary-green;
      margin-bottom: 15px;
      composes: fontMedium from '../../../fonts.scss';
    }
    &__rating {
      color: $primary-star;
      margin: 10px 0;
    }
    &__preview {
      letter-spacing: 0;
      line-height: 20px;
      color: $primary-dark;
      composes: letterSpacing from '../../../fonts.scss';
      &__toggleButton {
        color: $primary-blue;
        cursor: pointer;
        margin-left: 5px;
        text-decoration: none;

        &:hover {
          color: darken($primary-blue, 5%);
        }
      }
    }
    &__createdAt {
      color: lighten($primary-darkgrey, 20%);
      composes: subHeaderSmall from '../../../fonts.scss';
      margin: 10px 0;
    }
  }

  &__comments {
    border-top: 2px solid $primary-grey;
    padding: 10px 0 0 10px;
    margin-bottom: 10px;
    margin-top: 20px;
  }

  &__attachments {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      max-width: 100%;
      display: flex;
      align-self: flex-start;
      max-height: 400px;
    }
  }

  &__respondBlock {
    height: 35px;
    box-sizing: border-box;
    padding: 10px 20px;
    background-color: $primary-blue;
    border-bottom: 2px solid $primary-blue;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 11px 16px -10px rgba(0, 0, 0, 0.33);
    color: $primary-white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    &__respondButton {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-direction: row;
      font-size: $medium-size;
      font-weight: $large-weight;
      text-decoration: none;
      color: $primary-white;
      &:hover {
        color: darken($primary-white, 10%);
      }
    }
    &__actions {
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      font-size: $medium-size;
      span {
        cursor: pointer;
      }
      span:first-child {
        color: $primary-lightgrey;
        margin-right: 10px;
      }
      span:last-child {
        color: $primary-lightgrey;
      }
    }
  }
}

.comment {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  &__avatar {
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 40px;
    height: 40px;
    img {
      width: 100%;
      border-radius: 50%;
    }
  }

  &__message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 10px;
    &__username {
      font-size: $medium-size;
      font-weight: $large-weight;
      margin-bottom: 10px;
      display: inline-block;
    }

    &__text {
      font-size: $medium-size;
      display: inline-block;
      margin-bottom: 5px;
    }

    &__sentAt {
      color: $primary-darkgrey;
      font-size: $small-size;
    }
  }
}

.howToWrapper {
  height: 30px;
  background-color: $primary-grey;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0 25px;
}

.howToLink {
  color: $primary-blue;
  cursor: pointer;
  &:hover {
    color: darken($primary-blue, 10%);
  }
}

.CareCruRespond {
  background-color: $primary-color;
}
