.bigCommentBubble {
	display: flex;

	&__commentBody {
		width: 75%;
		margin-left: 20px;
	}


	&__mainContent {
		position: relative;
		padding: 10px 20px 10px 20px;
		background-color: #ffffff;
		font-size: 16px;
		border-top: 2px solid #8CBCD6;
		border-left: 2px solid #8CBCD6;
		border-right: 2px solid #8CBCD6;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		&__header {
			color: black;
			font-size: 16px;
			&__link {
				color: #8CBCD6;
				cursor: pointer;
			}
		}

		&:before {
			position: absolute;
			width: 0;
			height: 0;
	    left: -16px;
	    border-top: 8px solid transparent;
	    border-right: 16px solid #8CBCD6;
	    border-bottom: 8px solid transparent;
			display: block;
			content: '';
		}

		&__requirements {
			margin: 10px 0 10px 0;
		}
		
		&__title {
			color: #8CBCD6;
			margin-bottom: 15px;
			font-size: 16px;
		}

		&__rating {
			color: #ede27d;
			margin: 10px 0 10px 0;
		}

		&__requirements {
			color: #FF7761;
		}
		
		&__preview {
			&__toggleButton {
				color: #8CBCD6;
				cursor: pointer;
			}	
		}

		&__createdAt {
			color: #FAFAFA;
			font-size: 14px;
		}

	
	}
	

	&__respondBlock {
		padding: 10px 20px 10px 20px;
		background-color: #8CBCD6;
		color: #ffffff;
		border-bottom: 2px solid #8CBCD6;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		&__respondButton {
			text-align: right;
			font-weight: 600;
			font-size: 16px;
		}
	} 

}
