@import '../../../../styles/ui';
@import '../../../../styles/ui-kit';

.toggleStyle {
  display: block;

  label {
    @extend .fieldLabel;
  }

  & > div {
    display: block;
    margin-top: 20px;
    min-height: 26px;
  }
}
