@import '../../../../ui';

.toggleStyle {
  display: block;

  label {
    color: #999999;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.02px;
    line-height: 15px;
  }

  & > div {
    display: block;
    margin-top: 20px;
  }
}
