.DayPicker-Month {
    width: 560px;
    height: 390px;
}
.DayPicker-Day {
    border: none;
}
@media screen and (max-width: 800px) {
    .DayPicker-Month {
        width: auto;
        height: auto;
    }
}