
@import '../../ui.scss';

.appointmentShowData{

  margin-top: -200px;
  width: 350px;
  height: 260px;
  max-height: 260px;
  padding: 2em 2em 2em 2em;

  text-align: left;
  color: $inactive-color;

  background-color: #ffffff;
  border-radius: 10px;

  -webkit-box-shadow: 0px 0px 5px 0px rgba(255,197,90,1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(255,197,90,1);
  box-shadow: 0px 0px 5px 0px rgba(255,197,90,1);
  border: 0.5px solid #ffc45a;

  &__nameAge{
    word-wrap: break-word;
    color: #ffc45a;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 0.5em;
  }

  &__time{
    @extend .font-medium-dark;
  }
  &__service  {
    color: $primary-dark;
    font-size: $medium-size;
    font-weight: $small-weight;
    border-bottom: 2px solid;
    border-bottom-color: $primary-grey;
  }
  &__phoneNumber{
    @extend .font-small;
    padding-top: 1em;
    padding-bottom: 0.5em;
  }
  &__email{
    @extend .font-small;
    padding-bottom: 0.5em;
  }
  &__insurance{
    @extend .font-small;
    padding-bottom: 2em;
  }
  &__note{
    @extend .font-small;
    margin-right: 1em;
    height: 105px;
    overflow-y: auto;


  }

  &__icons{
    color: #ffc45a;
    padding-right: 1em;
  }
}

.noteText{
  @extend .font-small-dark;
}