
@import '../../ui.scss';

.appointmentShowData{

  position: absolute;
  right:285px;
  top: 0px;
  width: 250px;
  height: 200px;
  max-height: 200px;
  border-radius: 5px;
  padding-top: 1em;
  padding-left: 1em;
  text-align: left;
  font-size: larger;
  background-color: #ffffff;

  font-family: "GothamCondensed-Book";

  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.10);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.10);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.10);

  &__nameAge{
    color: #ffc45a;
  }
  &__time{
  }
  &__service  {
    border-bottom: 1px solid;
    border-bottom-color: #bfbfbf;
    margin-right: 1.5em;
    opacity: 0.75;
  }
  &__phoneNumber{
    padding-top: 0.5em;
    font-size: small;
    opacity: 0.5;
  }
  &__email{
    font-size: small;
    opacity: 0.5;
  }
  &__insurance{
    font-size: small;
    opacity: 0.5;
  }
  &__note{
    word-wrap: break-word;
    padding-top: 0.5em;
    margin-right: 1.5em;
    font-size: small;
    opacity: 0.5;
  }
  &__icons{
    color: #ffc45a;
    padding-right: 1em;
  }
}

