
@import '../../ui.scss';

.backDrop {
  position: fixed;
  height: 100%;
  width:100%;
  background-color: $primary-grey;
  z-index: 199;
  display: flex;
  align-items: center;
  justify-content: center;
}

.centerWrapper {
  width: 650px;
  z-index: 200;
  border-top: $card-border-size $primary-color;
  overflow-y: auto;
  @media screen and (max-width: $medium-screen-width) {
    width: 100%;
    height: 100%;
  }
}

.section {
  margin: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer {
  background-color: #313131;
  height: 60px;
  font-size: 8px;
  color: #959596;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logoCareCru {
  width: 120px;
}

.logoClinic {
  height: 60px;
}
