@import "../../../ui.scss";
@import "../../../fonts.scss";

* {
  box-sizing: border-box;
}
.padding {
  padding: 0 5px;
  @media screen and (max-width: 900px) {
    margin-bottom: 15px;
  }
}

.listings {
}

.padding {
	padding-top: 10px;
}

.cardHeader {
	padding: 20px 20px 0 20px;
	margin-bottom: 20px;
  text-transform: uppercase;
	&__menu {
		width: 100%;
		display: flex;
		flex-direction: row;
    justify-content: flex-end;
		font-size: $small-size;
		span:first-child {
			cursor: pointer;
		}
		span:last-child {
			cursor: pointer;
		}
	}
}
