.headerTitle {
  margin-left: 30px;
}

.toggle {
  margin-left: 32px;
  display: -webkit-box;
  display: flex;
  align-items: center;
  align-content: center;
  padding-bottom: 25px;
  justify-content: space-between;
  max-width: 200px;
}
