@import '../../../../ui';

.headerTitle {
}

.toggle {
  display: -webkit-box;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  max-width: 200px;

  &_text {
    font-weight: $large-weight;
    padding-right: 10px;
    width: 80px;
  }
}

.listItem {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
}

.edit {
  margin-right: 30px;
  //background: $clr-dark-blue;
}

.createButtonContainer {
  padding-bottom: 20px;
}

.main {
  margin-right: 15px;
}

.list {
  font-family: "Gotham-Book";
  font-size: 1.0em;
}

.formContainer {
  padding-bottom: 15px;

  &_select {
    padding-top: 10px;
  }
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 1px solid #efefef;
  margin-right: 15px;
}


.fa-envelope {
  color: $primary-blue;
  &:hover {
    color: darken($primary-blue, 5%);
  }
}

.fa-phone {
  color: $primary-yellow;
  &:hover {
    color: darken($primary-yellow, 5%);
  }
}

.fa-comment {
  color: $primary-color;
  &:hover {
    color: darken($primary-color, 5%);
  }
}
