@import "../../../../../../ui";

.userItem {
  border-top: 5px solid $inactive-color;
  margin-bottom: 20px;
    max-height: 650px;
    &__header {
        display: flex;
        align-items: center;
        padding: 0 45px 0 15px;
        height: 60px;
    }
}
.patients {
    border-top: 1px solid $primary-grey;
    padding: 0;
    margin: 0;
    &__item {
        padding: 0 40px 0 15px;
        display: flex;
        align-items: center;
        position: relative;
        height: 110px;
        list-style: none;
        margin: 0;
        border-bottom: 1px solid $primary-lightgrey;
        &_wrapper {
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            color: $primary-dark;
            align-items: center;
            font-weight: $large-weight;

        }
        &_left {
            text-align: left;
        }
        &_right {
            margin-left: auto;
            text-align: right;
        }
        &_img {
            width: 44px;
            height: 44px;
            border-radius: 50%;
            margin-right: 10px;
        }
        &_number {
            font-size: 20px;
            font-weight: 600;
        }
    }
}
.padding {
    padding: 5px 15px 5px 5px;

    span:last-child {
      padding: 5px 0px 5px 0px;
    }
}

.paddingFill {
    padding: 5px 15px 5px 5px;
    min-width: 100%;

  span:last-child {
      padding: 5px 0px 5px 0px;
    }
}
