
@import '../../../../ui';

$tiny: 14px;

.tinyDeleteButton {
  padding-top: 2px;
  box-sizing: border-box;
  width: $tiny;
  height: $tiny;
  border-radius: $tiny / 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary-red;
  color: white;
}
