
@import '../../../../styles/ui';

$tiny: 14px;

.tinyDeleteButton {
  align-items: center;
  background-color: $primary-red;
  border-radius: $tiny / 2;
  box-sizing: border-box;
  color: white;
  display: flex;
  height: $tiny;
  justify-content: center;
  padding-top: 2px;
  width: $tiny;
}
