@import "../styles";

.caret {
  padding: 0 .5em;
}

.headerLink {
  color: $primary-dark;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.accoutLogo {
  max-width: 40px;
  max-height: 40px;
  padding-right: 1em;
}

.headerWithButtons {
  align-items: center;
}

.headerButtons {
  text-align: right;
}


