
@import '../../../styles/ui.scss';

.appBar {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: $top-nav-height;
  justify-content: flex-start;
  left: 0;
  padding-left: $side-nav-width;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
