@import '../../../ui.scss';
@import '../../../ui-kit';

.cbxContainer {
  display: flex;
  align-items: center;
  line-height: 13px;
  margin: 5px;
}

.cbx {
  position: relative;
  width: 14px;
  height: 13px;
  border: 2px solid $teal;
  border-radius: 3px;
  vertical-align: middle;
  transition: background 0.1s ease;
  cursor: pointer;

  input[type='checkbox'] {
    display: none;
  }

  span {
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 4px;
      width: 4px;
      height: 8px;
      opacity: 0;
      transform: rotate(45deg) scale(0);
      border-right: 2px solid #fff;
      border-bottom: 2px solid #fff;
      transition: all 0.2s ease;
      transition-delay: 0.1s;
    }
  }

  input[type='checkbox']:checked + span::after {
    opacity: 1;
    transform: rotate(45deg) scale(1);
    transition: all 0.2s ease;
    cursor: pointer;
  }

  input[type='checkbox'].cbxIndeterminate:checked + span::after {
    opacity: 1;
    top: 1px;
    transform: rotate(90deg) scale(1);
    transition: all 0.2s ease;
    border-bottom: 0;
    cursor: pointer;
  }
}

.cbxChecked {
  border-color: transparent;
  background-color: $teal;
}

.label {
  margin-left: 5px;
  cursor: pointer;
}

.hidden {
  display: none;
}
