@import '../../../../../ui';
@import '../../../../../fonts';

.total {
  height: 210px;
  &__header {
    display: flex;
    padding: 15px 10px;
    padding-left: 20px;
    border-bottom: 0px;
  }
  &__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 0 0 20px;
    @media screen and (max-width: 400px) {
      padding: 0 0 15px 20px;
    }
  }
  &__item {
    display: flex;
    width: 100%;
    &_wrapper {
      width: 40%;
      margin-right: 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      @media screen and (max-width: 1300px) {
        width: 50%;
        &:first-child {
          text-align: left;
        }
        &:last-child {
          text-align: right;
        }
      }
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
    &_item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 5px;
    }
    &_text {
      color: $primary-dark;
      composes: subHeaderMedium from '../../../../../fonts.scss';
    }
    &_data {
      color: lighten($primary-darkgrey, 20%);
    }
  }
  &__body {
    &_total {
      display: flex;
      justify-content: space-between;
      color: $primary-blue;
    }
  }
}
