@import '../../../../../styles/ui-reskin.scss';

.total {
  display: flex;
  flex-direction: column;
  height: 272px;
  justify-content: center;
  padding: 0px 16px;

  &__header {
    border-bottom: 0px;
    color: $color-grey-400;
    display: flex;
    font-size: $xxx-medium-size;
    padding: 15px 10px;
    padding-left: 20px;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 20px;
    @media screen and (max-width: 400px) {
      padding: 0 0 15px 20px;
    }
  }
  &__item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    &_wrapper {
      margin-right: 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 40%;
      @media screen and (max-width: 1300px) {
        width: 50%;
        &:first-child {
          text-align: left;
        }
        &:last-child {
          text-align: right;
        }
      }
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
    &_item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 8px;
    }
    &_text {
      color: $color-purple-400;
      font-weight: $bold-weight;
    }
    &_data {
      color: $color-grey-300;
      font-weight: $bold-weight;
    }
    &_total {
      color: $color-purple-400;
      display: flex;
      justify-content: space-between;
    }
  }
}
