@import '../../../ui.scss';

.flex {
  display: flex;
  align-items: center;
}

.smsWrapper {
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 8px 0 rgba(35, 47, 53, 0.09);
  width: 100%;
  max-width: 400px;
  min-width: 300px;
}

$width: 30px;

.smsIcon {
  @extend .flex;
  justify-content: center;
  background: -webkit-linear-gradient(#86fe65 0%, #06d315 100%);
  background: -moz-linear-gradient(#86fe65 0%, #06d315 100%);
  background: -ms-linear-gradient(#86fe65 0%, #06d315 100%);
  background: -o-linear-gradient(#86fe65 0%, #06d315 100%);
  background: linear-gradient(#86fe65 0%, #06d315 100%);
  box-shadow: 0 0 0 1px rgba(134, 254, 101, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.05) inset;
  color: white;
  border-radius: 5px;
  width: $width;
  height: $width;
}

.titleText {
  margin-top: 5px;
}

.title {
  @extend .titleText;
  margin-left: 10px;
}

.headerSection {
  @extend .flex;
  padding: 10px 20px;
  font-size: 13px;
  color: lighten(black, 30%);
  box-shadow: 0px 1px 4px 0px rgba(128, 128, 128, 0.11);
}

.leftSection {
  @extend .flex;
}

.rightSection {
  @extend .flex;
  margin-left: auto;
}

.body {
  padding: 28px;
  line-height: 20px;
}

.from {
  font-family: $medium-font;
  margin-bottom: 3px;
}

.message {
}
