@import '../../../ui';

.leftSectionContainer {
  top: $top-nav-height;
  left: 0;
  width: $side-nav-width;
  position: fixed;
  height: calc(100vh - 65px);
  background-color: $primary-dark;
  z-index: 20;
  overflow-y: auto;
}

.mainRegionContainer {
}

.navListWrapper {
}
