@import '../../../styles/ui';

.leftSectionContainer {
  background-color: $primary-dark;
  height: calc(100vh - 65px);
  left: 0;
  overflow-y: auto;
  position: fixed;
  top: $top-nav-height;
  width: $side-nav-width;
  z-index: 20;
}

.mainRegionContainer {
}

.navListWrapper {
}
