@import '../../../ui';

$default-table-space: 20px;

.mainContainer {
  padding: $container-padding;
}

.card {
  border-top: $card-border-size $primary-light-blue;
  overflow: inherit;
  padding-bottom: $default-table-space;
}

.cardHeader {
  padding: $default-table-space $default-table-space 0 $default-table-space;
  margin-bottom: $default-table-space;
}

.cardContent {
  margin: $default-table-space $default-table-space 0 $default-table-space;
}
