@import '../../../../../ui';

.reviewListItem {
  height: 100px;

  &:hover {
    .deleteButtonWrapper {
      display: block;
    }
  }
}

.deleteButtonWrapper {
  display: none;
  position: relative;
  top: 30px;
}

.secondaryLinesBox {
  margin-left: auto;
  width: 85%;
  height: 51px;
  border-top: 1px solid $primary-gray;
  border-left: 1px solid $primary-gray;
  border-bottom: 1px solid $primary-gray;
  position: relative;
  top: -39px;
}

.linesBoxSelected {
  boreder-top: 1px solid $primary-yellow;
}

.secondaryLinesBoxSelected {
  @extend .secondaryLinesBox;
  border-top: 1px solid $primary-yellow;
  border-left: 1px solid $primary-yellow;
  border-bottom: 1px solid $primary-yellow;
}

.dropdownsWrapper {
  margin-left: auto;
  width: 91%;
  position: relative;
  top: -10px;
}

.inputFont {
  color: $primary-darkgrey;
  font-size: 14px;
}

.inputFontSelected {
  @extend .inputFont;
  color: black;
}

$dheight: 30px;

.dropdownSelect {
  background-color: white;
  border: 1px solid $primary-gray;
  padding: 0;
  height: $dheight;
  // For inputs
  > input {
    @extend .inputFont;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: none;
    height: $dheight;
    font-size: 12px;
  }

  // For dropdowns
  > div:not(:last-child) {
    @extend .inputFont;
    border-bottom: none;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 12px;
    height: 100%;
    box-sizing: border-box;
  }

  > :global(.dd-menu-items) {
    margin: 2px 0 0;
  }
}

.dropdownSelectSelected {
  @extend .dropdownSelect;
  border: 1px solid $primary-yellow;
  > input {
    @extend .inputFontSelected;
  }
  // For dropdowns
  > div:not(:last-child) {
    @extend .inputFontSelected;
  }
}

.topRow {
  position: relative;
  top: -25px;
}

.bottomRow {
  display: flex;
  position: relative;
  bottom: 14px;
}

.bottomRowLeft {
  flex: 1;
  margin-right: 10px;
}

.bottomRowRight {
  flex: 3;
}

.rightDropdown {
  padding-left: 10px;
}

// Needs to be same as <IconCircle /> component
$width: 26px;
$wrapper-thickness: 6px;

.reviewIconContainer {
  position: relative;
  top: -($width + 2 * $wrapper-thickness) / 2;
  left: -($width + 2 * $wrapper-thickness) / 2;
}

.smallIconContainer {
  position: relative;
  top: 41px;
  left: -11px;
}

$small-icon-width: 20px;

.smallReviewSelectWrapperCircle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $small-icon-width + 1;
  height: $small-icon-width;
  border-radius: $small-icon-width / 2;
  color: white;
  background-color: $primary-gray;
  > i {
    font-size: 0.8em !important;
  }
}

.smallReviewSelectWrapperCircleSelected {
  @extend .smallReviewSelectWrapperCircle;
  background-color: $primary-yellow;
}

.toggleCol {
  padding-top: 15px;
}

.labelCol {
  padding-top: 10px;
}

.downIconWrapper {
  position: relative;
  bottom: -14px;
  left: -7px;
  > i {
    color: $primary-gray;
  }
}

.reviewLabel {
  padding-right: 12px;
}
