@import '../../../styles/ui.scss';

.summary {
  border-top: 1px solid $clr-bg-dark-grey;
  margin: 20px 0 0;
  overflow: hidden;
  padding: 20px 15px 0;
  text-align: left;

  strong {
    float: left;
    font-size: 11px;
    font-weight: bold;
  }
  span {
    float: right;
    font-size: 11px;
    max-width: 50%;
    text-align: right;
    &:first-letter {
      text-transform:capitalize;
    }
  }

}

.container {
  margin-top: 5px;
  overflow: hidden;
}


.title {
  color: $clr-dark-grey;
  font-size: 10px;
}
