@import '../../../ui.scss';

.formActionsWrapper {

}

.formActionsPull {
  display: flex;
}

.submitButton {
  font-size: 1em;
  margin-left: 50%;
  background-color: $primary-color;
  text-align: center;
  border-radius: 1.5px;
  height: 2em;
  color: $primary-white;

  -webkit-box-shadow: 0px 0px 1px 0px rgba(149,149,150,1);
  -moz-box-shadow: 0px 0px 1px 0px rgba(149,149,150,1);
  box-shadow: 0px 0px 1px 0px rgba(149,149,150,1);

  &__icon {
    padding-right: 5px;
  }

  &:disabled{
    background-color: $primary-lightgrey;
    color: $primary-darkgrey;
  }
}