@import '../../../ui.scss';

.formActionsWrapper {

}

.formActionsPull {
  display: flex;
}

.submitButton {
  margin: 0 auto;
}

.left {
  margin: 0;
}

.toggle {
  display: inline-flex;
  flex-direction: column;
  max-width: 200px;
  padding: 0.4rem 0.8rem;
  background: hsl(0, 0%, 27%);
  color: white;
  border-radius: 0.3rem;
}

.disabled {
  cursor: not-allowed;
  color: $inactive-color;
  background-color: $background-color !important;
  &:hover {
    color: $inactive-color !important;
    background-color: $background-color !important;
  }
}
