
.wrapper {
  border: 1px solid black;
  height: 500px;
}

.header {
  background-color: darkseagreen;
  border-bottom: 1px solid black;
  height: 40px;
}

.body {
  background-color: peachpuff;
  border-bottom: 1px solid black;
  padding: 10px;
}

.footer {
  background-color: darkgrey;
  border-top: 1px solid black;
  height: 40px;
}

