@import '../../../styles/ui-reskin.scss';

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
}

.header {
  border-bottom: 1px solid $color-lavender-150;
}

.body {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: auto;
}
