
@import '../../../styles/ui';

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
}

.header {
  border-bottom: 1px solid $background-color;
}

.body {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: auto;
}

.footer {

}
