@import '../../../styles/ui.scss';

.backDrop {
  align-items: center;
  background-color: $primary-dark;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  left: 0;
  padding-top: 60px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 199;
}

.loginForm {
  border-top: 3px solid $primary-blue;
  flex: 0 1 auto;
  padding: 60px 30px 20px;
  transition: all 0.1s ease, color 0.1s ease;

  .formTitle {
    font-size: 2em;
    margin: 35px 0 25px;
    text-align: center;
  }

  .formWrapper {
    padding: 0 150px;
    width: 350px;
    button {
      background: $primary-blue;
      font-size: 14px;
      text-transform: uppercase;
    }
  }
}

.footer {
  color: $primary-darkgrey;
  flex: 1;
  position: relative;
  & > div {
    color: $primary-darkgrey;
    position: static;
    text-align: center;
    width: 100%;
  }
}

.logoContainer {
  text-align: center;
}

.loginLogo {
  width: 100px;
}

.signInSubmitButton {
  margin-top: 20px;
  width: 100%;
}

.fbLoginButton {
  margin-top: 20px;
}

.secondaryLink {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 60px 0;
  width: 100%;
  &_text {
    background: none;
    color: $primary-darkgrey;
    composes: subHeaderExtraSmall from '../../../styles/fonts.scss';
    padding: 0;

    &:hover {
      color: $primary-color;
      cursor: pointer;
    }
  }
}

.versionFooter {
  color: $primary-darkgrey;
  text-align: center;
}
