@import '../../../styles/ui.scss';

.gaugeContainer {
  position: relative;
}

.addSegmentName {
  position: relative;
  width: 400px;
}

.addSegmentNameInput {
  margin: 0 0 0 20px;
  padding: 0;
}

.addSegmentNameRow {
  padding: 0 0 20px;
}

.gauge {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.info {
  color: $clr-dark-grey;
  font-size: 10px;
  margin-top: 40px;
  position: absolute;
  width: 100%;

  h2 {
    color: $primary-color;
    font-size: 24px;
    margin: 5px;
  }
}

.fieldLabel {
  font-weight: bold;
  padding-top: 10px;
}

.grid {
  :global .row {
    margin-bottom: 10px;
  }
}

.nav {
  border-right: 1px solid $clr-bg-dark-grey;
  box-sizing: border-box;
  display: inline-block;
  height: 365px;
  width: 25%;
}

.tab {
  display: block;
  text-align: right;
}

.buttons {
  bottom: 15px;
  position: absolute;
  right: 15px;
}

.formSection {
  height: 470px;
  position: relative;
}

.activeTab {
  background: $clr-bg-dark-grey;
  border-bottom: none;
  font-weight: bold;
  padding: 18px 30px;
  position: relative;

  &:before {
    border-bottom: 5px solid transparent;
    border-left: 5px solid $clr-bg-dark-grey;
    border-top: 5px solid transparent;
    content: ' ';
    height: 0;
    position: absolute;
    right: -6px;
    width: 0;
  }
}

.tabContent {
  box-sizing: border-box;
  float: right;
  padding: 12px 40px;
  width: 75%;
}

.rightPane {
  background: $primary-grey;
  height: 100%;
  height: 551px;
  padding-top: 49px;
  position: relative;
  text-align: center;
}

.formContainer {
  // border: .5px solid #ff715a;
  background: $primary-white;
  border-radius: calc(0.5rem * 1.6);
  height: 460px;
  position: relative;
  width: 1000px;
}

.title {
  font-size: $extra-medium-size;
  font-weight: $jumbo-weight;
  padding: 40px 0 30px 45px;
  // color: $primary-color;
}

.remoteSubmit {
  display: flex;
  padding-right: 100px;
  &_button {
    margin-left: auto;
  }
  &_buttonDelete {
    padding-left: 10px;
  }
}

.trashIcon {
  color: $primary-color;
  font-size: 1.4em;
  position: absolute;
  right: 5px;
  top: 5px;
}

.addNewSegment {
  border-radius: calc(0.5rem * 1.6);
  height: 545px;
  width: 1000px;

  &_mainContainer {
    min-width: 200px;
    &_left {
      padding-left: 60px;
      width: 450px;
    }

    &_right {
      background-color: #ff755e;
      border-bottom-right-radius: calc(0.5rem * 1.6);
      border-top-right-radius: calc(0.5rem * 1.6);
      height: 551px;
      padding-top: 49px;
      width: 301px;
      &_row {
        height: auto;
        padding-left: 20px;
        width: 250px;
      }
      &_rowSuggest {
        padding-left: 20px;
        width: 250px;
      }
    }
  }

  &_row {
    height: 95px;

    &_durBuff {
      height: 85px;
      width: 100%;
    }

    &_slider {
      height: 85px;
    }
  }

  &_col {
    align-items: center;
    display: flex;

    &_nearFields {
      width: 100%;
    }

    &_unit {
      align-items: center;
      display: flex;
      padding-left: 10px;
      padding-right: 10px;
    }

    &_select {
      align-items: center;
      display: flex;
      height: 80px;
    }

    &_textArea {
      padding-top: 20px;
    }

    &_confirmCancel {
      align-items: center;
      display: inline-block;
      &_label {
        color: $empty-grey;
        font-size: 16px;
        font-weight: normal;
        padding-bottom: 5px;
      }
    }
  }

  &_comment {
    background-color: $primary-color;
    border-color: $primary-grey;
    color: $primary-grey;
    max-height: 145px;
    max-width: 235px;
    width: 235px;
    &_label {
      color: $primary-grey;
      font-size: 16px;
      font-weight: normal;
      padding-bottom: 5px;
      pointer-events: none;
    }
  }
}

.suggestionContainer {
  align-items: center;
  display: flex;

  &_fullName {
    padding-left: 15px;
  }
}

.patientSearch {
  align-items: center;
  border: 0 solid $primary-white;
  display: inline-block;
  height: 145px;
  padding-bottom: 15px;
  width: 100%;

  &_avatar {
    display: flex;
    height: 90px;
    margin: 0 auto;
    width: 90px;
  }

  &_searchIcon {
    color: $primary-white;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    text-align: center;
  }
  &_name {
    color: $primary-white;
    padding-top: 15px;
    text-align: center;
  }

  &_email {
    color: $primary-white;
    text-align: center;
  }

  &_phone {
    color: $primary-white;
    text-align: center;
  }

  &_speel {
    color: $primary-white;
    text-align: center;
  }
}
