@import '../../../../ui.scss';

.list {
  color: $color-black;
  font-family: "Gotham-Book";
  font-size: 16px;
  font-weight: 900;
  text-decoration: none;
  margin-right: 10px;
}

.wrapper {
  display: flex;
}

.lastSyncDisplay {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
