@import '../../../ui';

.patients {
  display: flex;
  padding: 10px;
  height: 100%;
}

.topRow {
  background: #f7f7f7;
  min-height: 96px;
  max-height: 96px;
}

.header {
  width: 100%;
  margin-bottom: 10px;
  padding-left: 15px;
}

.input {
  margin-right: 5%;
  margin-left: 5%;
  width: 90%;
}

.send {
  display: flex;
  justify-content: space-between;
}

.sendButton {
  padding: 20px 0 0;
  opacity: 0.6;
}

.sendButtonOff {
  padding: 20px 0 0;
  opacity: 0.2;
}

.button {
  background: transparent;
  border: none;
  font-size: 0;
  padding-bottom: 10px;
}

.sendInput {
  flex-grow: 1;
  margin-right: 10px;
}

.listRow {
  flex: 1;
}

.upcomingHead {
  width: 100%;
}

.users {
  height: 85px;
  position: relative;
  display: flex;
  padding: 20px;
  border-bottom: 1px solid #e6e6e6;

  &__active {
    background: lighten(#e7e7e7, 2.6%);
  }

  &__photo {
    width: 100%;
    max-width: 50px;
    height: auto;
    max-height: 50px;
    margin-right: 10px;
    border-radius: 50%;
  }

  &__header {
    display: flex;
    align-items: center;
    height: 40px;
  }

  &__name {
    color: #2e3845;
    font-size: 14px;
    composes: listItemHeader from '../../../fonts.scss';
    max-width: 90%;
    display: flex;

    span {
      white-space: nowrap;
    }

    span:first-child {
      -ms-flex-negative: 1;
      flex-shrink: 1;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  &__body {
    display: flex;
    flex-direction: row;
  }

  &__text {
    //padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 10px;
    composes: subHeaderSmall from '../../../fonts.scss';
    word-break: break-all;
  }

  &__appointment {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #969696;
    font-size: 12px;
  }

  span {
    margin: auto;
  }
}

.messageNote {
  position: absolute;
  right: 10px;
  top: 35%;
  padding: 2px 6px 0;
  background-color: $primary-light-blue;
  border-radius: 4px;
  color: #fafafa;
}

.topInfo {
  min-width: 100%;
  border-bottom: 1.5px solid rgba(211, 211, 211, 0.5);
  height: 10vh;
  font-family: 'Gotham-Book';
  font-size: 16px;
  color: #b4b4b5;
  min-height: 94px;
  max-height: 94px;
  border-top: 5px solid $primary-darkgrey;
  font-weight: 900;

  span {
    color: #2e3845;
  }

  div {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    margin-left: 30px;
  }
}

.time {
  flex: 1 0 100%;
  text-align: center;
  margin-top: 10px;
  font-family: 'Gotham-Medium';
  font-size: 12px;
  color: $inactive-color;
}

.timeChat {
  position: absolute;
  right: 10px;
  top: 15px;
  font-size: 0.8em;
  font-family: 'Gotham-Medium';
  color: lighten($inactive-color, 10%);
}

.main {
  flex: 1;
  display: flex;
  background-color: #fafafa;
  flex-wrap: wrap;
  min-width: 100%;
}

.patientName {
  font-family: 'Gotham-Book';
  color: #2e3845;
  font-size: 16px;
  text-align: center;
  margin: 15px auto;
  font-weight: 900;
}

.allMessages {
  align-items: center;
  overflow-y: auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.container {
  position: relative;
  width: 70%;
}

.raise {
  padding: 42px;
}

.chatSearch {
  padding: 0;
}

.sendMessage {
  background-color: #fafafa;
  border-top: 1px solid #e6e6e6;
  position: absolute;
  bottom: 0;
  width: 96%;
  padding: 0 2%;
}

.text {
  padding: 20px;
  border-radius: 15px;
  background-color: #ff715a;
  color: #fafafa;
  font-size: 14px;
  font-family: 'Gotham-Book';
  text-space: 2px;
  width: 50%;
  margin: 10px 0;
}

.margin {
  margin: 20px;
}

.margin2 {
  margin: 35px;
}

.marginText {
  margin: 20px;
  width: 14%;
  font-family: 'Gotham-Medium';
  font-size: 12px;
  color: $inactive-color;
}

.textTime {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.textFrom {
  padding: 20px;
  border-radius: 15px;
  color: darken($primary-darkgrey, 20%);
  font-size: 16px;
  font-family: 'Gotham-Book';
  text-space: 2px;
  background-color: $primary-grey;
  width: 50%;
  margin: 10px 0;
}

.messages {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  background-clip: content-box;
  background-color: #fafafa;
}

.rightInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.fullName {
  //font-family: "Gotham-Book";
  //font-size: 18px;
  margin: 10px 0;
  //font-weight: 900;
  composes: header from '../../../fonts.scss';
}

.fullName2 {
  font-family: 'Gotham-Book';
  font-size: 18px;
  margin: 10px 0;
  font-weight: 900;
}

.fullName:hover {
  color: #ff715a;
  cursor: pointer;
}

.contact {
  margin-top: 10px;
  font-family: 'Gotham-Medium';
  font-size: 14px;
  color: #bfbfbf;
  font-weight: 200;
}

.fonts {
  composes: subHeaderSmall from '../../../fonts.scss';
  color: #bfbfbf;
  font-weight: bold;
}

.patInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 1.5px solid rgba(lightgrey, 0.5);
  border-bottom: 1.5px solid rgba(lightgrey, 0.5);
}

.infoAvatar {
  margin-top: 20px;
  height: 90px;
  width: 90px;
}

.bottomInfo {
  flex: 1;
  border-left: 1.5px solid rgba(lightgrey, 0.5);
}

.chatsList {
  position: relative;
  z-index: 0;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.patientsList {
  background: #e6e6e6;
  display: flex;
  flex-direction: column;
  height: 100%;

  &_title {
    padding-top: 20px;
    padding-left: 30px;
    font-size: 18px;
    font-weight: $large-weight;
  }

  &__search {
    display: flex;
    height: 70px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #e6e6e6;
    justify-content: center;
    align-items: center;

    .search {
      display: flex;
      align-items: center;
      justify-content: center;
      &__label {
        position: relative;
        left: 15px;
        top: -10px;
        cursor: pointer;
        color: #b3b2b1;
      }

      &__input {
        width: 100%;
        height: 30px;
        font-size: 12px;
        border: none;
        border-bottom: 2px solid #8cbcd6;
        background-color: inherit;
        &:focus {
          outline: none;
        }
      }

      &__edit {
        margin-left: auto;
        cursor: pointer;
        color: #b3b2b1;
      }
    }
  }
}

.leftCard {
  height: 100%;
}

.tab {
  height: 20px;
  border-right: 1px solid lighten($primary-gray, 10%);
  &:last-child {
    border-right: none;
  }
}

.activeTab {
  @extend .tab;
}

.inactiveTab {
  @extend .tab;
  background-color: $primary-lightgrey;
}
