@import '../../../../styles/ui';
@import '../../../../styles/ui-reskin.scss';

.chatListItem {
  box-sizing: border-box;
  height: 100px;
  padding: 20px;
  transition: all 0.2s ease;
  &:hover {
    > .hoverSection {
      display: block;
    }
  }
}

.hubListItem {
  @extend .chatListItem;
  border-bottom: 1px solid $electron-chat-items-bottom-border;
}

.hoverSection {
  align-self: center;
  cursor: pointer;
  display: none;
  margin-left: auto;

  & > button {
     width: auto !important;
  }

  @media (max-width: 576px) {
    display: block;
  }
}

.selectedChatItem {
  background-color: $color-lavender-100;
  border-left: none;
  cursor: pointer !important;
}

.avatar {
  margin-bottom: 46px;
  padding: 0 10px;
}

.filled {
  color: $color-yellow-500-N;
  -webkit-text-stroke: 1px $color-yellow-700;
}

.hallow {
  color: $super-white;
  -webkit-text-stroke: 1px $color-lavender-500;
  &:hover {
    color: $color-lavender-150;
  }
}

.flexSection {
  flex: 1;
}

.topSection {
  align-items: center;
  display: flex;
  margin-bottom: 32px;
  margin-left: -6px;
  width: 100%;
}
.topSectionNoBody {
  align-items: center;
  display: flex;
  margin-bottom: 44px;
  margin-left: -6px;
  width: 100%;
}

.bottomSection {
  -webkit-box-orient: vertical;
  color: $color-grey-400;
  display: -webkit-box;
  font-size: $small-size;
  font-weight: $medium-weight;
  -webkit-line-clamp: 1;
  line-height: 16px;
  margin-left: -44px;

  margin-top: 5px;

  overflow: hidden;
  padding-right: 45px;
}

.bottomSectionUnread {
  @extend .bottomSection;
  color: $color-grey-500;
  font-weight: 700;
}

.fullName {
  color: $color-grey-600;
  font-size: $medium-size;
  font-weight: $medium-weight;
  text-transform: capitalize;
}

.fullNameUnread {
  @extend .fullName;
  font-size: $medium-size;
  font-weight: $bold-weight;
}

.time {
  color: $color-grey-600;
  font-size: $x-small-size;
  font-weight: $medium-weight;
  margin-left: auto;
  margin-right: -15px;
  margin-top: -3px;
}

.unreadTime {
  @extend .time;
  font-weight: $bold-weight;
}

.nameAgeWrapper {
  align-items: center;
  display: flex;
}

.name {
  display: inline;
  letter-spacing: 0.3px;
  max-width: 140px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nameWithAge {
  @extend .name;
}

.age {
  min-width: 40px;
  &:before {
    content: ', ';
  }
}
.timesIcon {
  color: $color-lavender-500;
  font-size: $x-medium-size;
  font-weight: $normal-weight;
  width: 13px;
}

.renderStar {
  color: $color-lavender-500;
  font-size: $small-size;
  font-weight: $heavy-weight;
  height: 11px;
  line-height: 12px;
  width: 12px;
}
.avatar__failed {
  color: $error-600;
  font-size: $small-size;
  font-weight: $heavy-weight;
  margin-top: 2px;
}

.failedMessage {
  color: $error-600;
  font-size: $small-size;
  font-weight: $medium-weight;
  margin-left: 5px;
}
.bubbleAvatar {
  background: $color-lavender-200;
  border: 1px solid $color-lavender-200;
  display: flex;
  height: 20px;
  margin-left: -48px;
  margin-top: 48px;
  width: 20px;
  &_text {
    color: $color-grey-600;
    font-size: 8px;
    font-weight: $bold-weight;
  }
}
.pendingMessage {
  color: $color-grey-300;
  font-size: $small-size;
  font-weight: $medium-weight;
  margin-left: 20px;
}
.pendingIcon {
  color: $color-grey-300;
  font-size: $small-size;
  font-weight: $normal-weight;
  margin-left: -44px;
}
.avatarPending {
  margin-top: 47px;
}

.bottom_body {
  margin-left: 30px;
}
.bottom_avatar {
  margin-left: 0px;
}
