@import '../../../../styles/ui';
@import '../../../../styles/ui-reskin.scss';

.chatListItem {
  box-sizing: border-box;
  height: 100px;
  padding: 20px;
  transition: all 0.2s ease;
  &:hover {
    > .hoverSection {
      display: block;
    }
  }
}

.hubListItem {
  @extend .chatListItem;
  border-bottom: 1px solid $electron-chat-items-bottom-border;
}

.hoverSection {
  align-self: center;
  cursor: pointer;
  display: none;
  margin-left: auto;

  & > button {
    width: auto !important;
  }

  @media (max-width: 576px) {
    display: block;
  }
}

.selectedChatItem {
  background-color: $color-lavender-100;
  border-left: none;
  cursor: pointer !important;
}

.avatar {
  margin-bottom: 29px;
  padding: 0 10px;
}
.avatarIcon {
  border: 1px solid $color-grey-400;
  margin-top: 30px;
  min-height: 61px;
  min-width: 61px;
}
.avatarIconUser {
  border: 1px solid $color-grey-400;
  min-height: 48px;
  min-width: 48px;
}

.filled {
  color: $color-yellow-500-N;
  -webkit-text-stroke: 1px $color-yellow-700;
}

.hallow {
  color: $super-white;
  -webkit-text-stroke: 1px $color-lavender-500;
  &:hover {
    color: $color-lavender-150;
  }
}

.flexSection {
  flex: 1;
}

.topSection {
  align-items: center;
  display: flex;
  width: 100%;
}
.userTopSection {
  align-items: center;
  display: flex;
  margin-left: 7px;
}

.topSectionNoBody {
  align-items: center;
  display: flex;
  margin-left: -6px;
  width: 100%;
}

.bottomSection {
  -webkit-box-orient: vertical;
  color: $color-purple-300;
  display: -webkit-box;
  font-size: $small-size;
  font-weight: $medium-weight;
  -webkit-line-clamp: 1;
  line-height: 16px;
  margin-bottom: -18px;
  margin-left: -26px;

  overflow: hidden;
}
.noUserbottomSection {
  -webkit-box-orient: vertical;
  color: $color-purple-300;
  display: -webkit-box;
  font-size: $small-size;
  font-weight: $medium-weight;
  -webkit-line-clamp: 1;
  line-height: 12px;
  margin-bottom: -8px;
  margin-left: -26px;

  overflow: hidden;
}

.bottomSectionUnread {
  @extend .bottomSection;
  color: $color-grey-600;
  font-weight: $medium-weight;
}

.noUserbottomSectionUnread {
  @extend .noUserbottomSection;
  color: $color-grey-600;
  font-weight: $medium-weight;
}

.fullName {
  color: $color-grey-600;
  font-size: $medium-size;
  font-weight: $medium-weight;
  margin-bottom: 9px;
  text-transform: capitalize;
}

.fullNameUnread {
  @extend .fullName;
  font-size: $x-medium-size;
  font-weight: $bold-weight;
}

.time {
  color: $color-grey-600;
  font-size: $small-size;
  font-weight: $medium-weight;
  margin-left: auto;
  margin-right: -15px;
  margin-top: -30px;
}
.notSentMessage {
  margin-bottom: 10px;
}

.unreadTime {
  @extend .time;
  font-weight: $bold-weight;
}

.nameAgeWrapper {
  align-items: center;
  display: flex;
}

.name {
  display: inline;
  letter-spacing: 0.3px;
  max-width: 108px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nameWithAge {
  @extend .name;
}

.age {
  min-width: 40px;
  &:before {
    content: ', ';
  }
}
.timesIcon {
  color: $color-lavender-500;
  font-size: $x-medium-size;
  font-weight: $normal-weight;
  width: 13px;
}

.renderStar {
  color: $color-lavender-500;
  font-size: $small-size;
  font-weight: $heavy-weight;
  height: 11px;
  line-height: 12px;
  width: 12px;
}
.avatar__failed {
  color: $error-600;
  font-size: $small-size;
  font-weight: $heavy-weight;
  margin-left: 26px;
}

.failedMessage {
  color: $error-600;
  font-size: $small-size;
  font-weight: $medium-weight;
  margin-left: 5px;
}
.bubbleAvatar {
  background: $color-lavender-200;
  border: 1.45px solid $color-lavender-300;
  display: flex;
  height: 29px;
  width: 29px;
  &_text {
    color: $color-grey-600;
    font-size: 11.6px;
    font-weight: 700;
  }
}
.pendingMessage {
  color: $color-grey-300;
  font-size: $small-size;
  font-weight: $medium-weight;
  margin-left: 4px;
}
.pendingIcon {
  color: $color-grey-300;
  font-size: $small-size;
  font-weight: $normal-weight;
  margin-left: 30px;
}

.bottom_body {
  margin-left: 27px;
}
.lastUser_bottom_body {
  margin-left: 32px;
}
.bottom_Userbody {
  margin-left: 33px;
}
.bottom_avatar {
  margin-left: -33px;
  margin-top: 42px;
  position: relative;
}
.userName {
  color: $color-grey-050;
  font-size: 16px;
  font-weight: 500;
}
.tooltipLastMessage {
  color: $color-grey-300;
  font-size: 12px;
  font-weight: 700;
  &_patientName {
    text-transform: capitalize;
  }
}
.avatarTooltip {
  background: #342e43;
  border-radius: 8px;
  padding: 8px 12px;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.patientMessage {
  margin-left: 26px;
}
.avatarTooltipContainer {
  background-color: $color-grey-700;

  box-sizing: border-box;
  color: $super-white;

  opacity: 1;
  border-radius: 8px;
  font-size: $x-medium-size;
  font-weight: $normal-weight;
  margin-left: 66px;
  padding: 8px 12px;
  width: fit-content;
  line-height: 20px;
}

.popover_tip {
  z-index: 999999;

  > :global(svg.Popover-tip) {
    fill: $color-grey-700;
    margin-left: -16px;
  }
}
