@import '../../../../ui';

.chatListItem {
  height: 100px;
  padding: 20px;
  box-sizing: border-box;
  transition: all 0.2s ease;
  &:hover {
    > .hoverSection {
      display: block;
    }
  }
}

.hubListItem {
  @extend .chatListItem;
  border-bottom: 1px solid $electron-chat-items-bottom-border;
}

.hoverSection {
  display: none;
  cursor: pointer;
  align-self: center;
  margin-left: auto;

  & > button {
    width: auto !important;
  }

  @media (max-width: 576px) {
    display: block;
  }
}

.selectedChatItem {
  border-left: none;
  background-color: $chat-bluegrey-light !important;
  cursor: pointer !important;
}

.avatar {
  padding: 0 10px;
}

.filled {
  color: orange;
}

.hallow {
}

.flexSection {
  flex: 1;
}

.topSection {
  display: flex;
  align-items: center;
  width: 100%;
}

.bottomSection {
  height: 32px;
  font-size: 11px;
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative;
  /* use this value to count block height */
  /* max-height = line-height (1.2) * lines max number (3) */
  /* fix problem when last visible word doesn't adjoin right side  */

  /* place for '...' */
  margin-right: -1em;
  padding-right: 1em;
  display: block;
  display: -webkit-box;
  max-width: 100%;
  line-height: 16px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  margin-top: 5px;
  color: darken($primary-darkgrey, 10%);
}

.bottomSectionUnread {
  @extend .bottomSection;
  font-family: $medium-font;
  font-weight: bolder;
  color: black;
}

.fullName {
  font-size: 16px;
}

.fullNameUnread {
  @extend .fullName;
  font-family: $medium-font;
  font-weight: bolder;
  color: black;
}

.time {
  font-size: 11px;
  margin-left: auto;
  margin-top: -3px;
  color: $primary-darkgrey;
}

.nameAgeWrapper {
  display: flex;
  align-items: center;
}

.name {
  max-width: 140px;
  text-overflow: ellipsis;
  display: inline;
  overflow-x: hidden;
  white-space: nowrap;
}

.nameWithAge {
  @extend .name;
}

.age {
  min-width: 40px;
  &:before {
    content: ', ';
  }
}
.timesIcon {
  width: 13px;
}
