@import '../../../ui';
@import '../../../fonts';

.appLink {
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  color: $primary-blue;
  &:hover {
    transform: scale(1.02);
    color: lighten($primary-blue, 10%);
  }
}

.appPopover > :global(svg.Popover-tip) {
  fill: white;
}

.card {
  width: auto;
  box-shadow: -2px 0 45px -12px rgba(0, 0, 0, 0.75);
  min-width: 300px;
}

.header {
  display: flex;
  align-items: center;
  height: 40px;
  background-color: #313843;
  color: $primary-white;
  padding-left: 15px;
  padding-right: 15px;
  font-size: $small-size;

  &_text {
    @extend .fontDefault;
    padding-top: 4px;
    padding-left: 10px;
    font-size: 15px;
    margin-right: 10px;
  }
}

.closeIcon {
  margin-left: auto;
  width: 30px;
}

.body {
  background-color: $primary-white;
  padding: 15px 15px 10px;
  height: auto;
  min-height: 200px;
  max-height: 390px;
  max-width: 300px;
}

.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 10px;
  }
}

.subHeader {
  @extend .subHeaderExtraSmall;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.infoArrow {
  display: inline;
  margin-left: 10px;
}

.dataLink {
  @extend .fontMedium;
  font-size: 13px;
  padding: 0 0 2px;

  @at-root button#{&},
    a#{&} {
    color: $primary-dark;
    cursor: pointer;
    text-decoration: none;

    &,
    &:active,
    &:focus {
      outline: none;
      border: none;
    }

    &:hover {
      color: $primary-blue;
    }
  }
}

.data {
  @extend .fontMedium;
  display: flex;
  align-items: center;
  font-size: 13px;
  padding: 0 0 2px;

  &_note {
    width: 100%;
    max-height: 88px;
    overflow: auto;

    textarea {
      color: black;
      font-family: $medium-font;
      border-bottom: 0;
      padding: 0;
      height: auto;
    }
  }

  &_text {
    padding-left: 5px;
    padding-top: 1px;
  }
}

.textAreaGroup {
  padding: 0 !important;
}

.footer {
  box-sizing: border-box;
  display: flex;
  padding: 15px;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px solid $primary-grey;
}

.editButton {
  margin-left: 5px;
}

.patientLink {
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  color: $primary-blue;
  &:hover {
    transform: scale(1.02);
    color: lighten($primary-blue, 10%);
  }
}

.textWhite {
  color: white;
  &:hover {
    transform: scale(1.02);
    color: lighten(white, 10%);
  }
}
