@import '../../../../ui';
@import '../../../../ui-kit';

.bottomItem {
  cursor: default;
}

.outlineButton {
  background-color: transparent;
  color: $teal;
  border: 1px solid $teal;
}

.bottomBox {
  border-top: 1px solid $primary-blue;
}

.labelButton {
  background: $teal;
  border: 1px solid $teal;
  padding: 0.85714em 1.5em;
  margin: 0 0 0 12px;

  &:hover {
    background: $teal-dark;
    border-color: $teal-dark;
  }

  .labelIcon {
    color: $white;
    margin-left: 10px;
    position: relative;
    bottom: 2px;
  }
}

.listItem {
  background-color: $white;
  color: $grey-dark;
  width: 100%;
  border-bottom: 1px solid $grey-lighter;
  text-align: left;
  padding: 12px 10px;
  justify-content: space-between;
  display: flex;
  box-sizing: border-box;

  span {
    font-style: italic;
    font-size: 9px;
    margin-left: 20px;
  }

  &[disabled],
  &[disabled]:hover {
    background-color: $white !important;
    color: $grey-light !important;
  }

  &:hover {
    color: $teal;
    background: $grey-lightest;
  }
}

.bottomLabel {
  height: 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary-white;
  border: 1px solid $primary-blue;
  margin-left: 0;
  width: 77%;
  position: relative;
  top: -53px;
  float: right;

  > div {
    color: $primary-blue !important;
  }
}

// Needs to be same as IconCircle component
$width: 26px;
$wrapper-thickness: 6px;

.bottomIconContainer {
  position: relative;
  top: -($width + 2 * $wrapper-thickness) / 2;
  left: -($width + 2 * $wrapper-thickness) / 2;
}
