@use 'sass:math';
@import '../../../../styles/ui';
@import '../../../../styles/ui-kit';

.bottomItem {
  cursor: default;
}

.outlineButton {
  background-color: transparent;
  border: 1px solid $teal;
  color: $teal;
  margin-right: 12px;
}

.bottomBox {
  border-top: 1px solid $primary-blue;
}

.settingsButton {
  background: $teal;
  border: 1px solid $teal;

  &:hover {
    background: $teal-dark;
    border-color: $teal-dark;
  }
}

.caretIcon {
  bottom: 2px;
  margin-left: 10px;
  position: relative;
}

.listItem {
  background-color: $white;
  border-bottom: 1px solid $grey-lighter;
  box-sizing: border-box;
  color: $grey-dark;
  display: flex;
  justify-content: space-between;
  padding: 12px 10px;
  text-align: left;
  width: 100%;

  span {
    font-size: 9px;
    font-style: italic;
    margin-left: 20px;
  }

  &[disabled],
  &[disabled]:hover {
    background-color: $white !important;
    color: $grey-light !important;
  }

  &:hover {
    background: $grey-lightest;
    color: $teal;
  }
}

.bottomLabel {
  align-items: center;
  background-color: $primary-white;
  border: 1px solid $primary-blue;
  box-sizing: border-box;
  display: flex;
  float: right;
  height: 30px;
  justify-content: center;
  margin-left: 0;
  position: relative;
  top: -53px;
  width: 77%;

  > div {
    color: $primary-blue !important;
  }
}

// Needs to be same as IconCircle component
$width: 26px;
$wrapper-thickness: 6px;

.bottomIconContainer {
  left: math.div(-($width + 2 * $wrapper-thickness), 2);
  position: relative;
  top: math.div(-($width + 2 * $wrapper-thickness), 2);
}
