@import '../../styles/fonts.scss';
@import '../../styles/reskin-font.scss';
@import '../../styles/ui-reskin.scss';
@import './AppsRequestsContainer/reskin-styles.scss';
@import './AppsRequestsContainer/AppointmentsList/AppointmentPopover/reskin-styles.scss';
@import './DonnaToDoListContainer/reskin-styles.scss';
@import './DonnaToDoListContainer/DonnaToDoTabs/reskin-styles.scss';
@import './DonnaToDoListContainer/Tasks/reskin-styles.scss';
@import './DonnaToDoListContainer/Tasks/AppointmentReminders/reskin-styles.scss';
@import './DonnaToDoListContainer/Tasks/PatientRecalls/reskin-styles.scss';
@import './DonnaToDoListContainer/Tasks/ReviewsRequests/reskin-styles.scss';
@import './PatientInsightsContainer/reskin-styles.scss';
@import './PatientInsightsContainer/Insights/reskin-styles.scss';
@import './RevenueContainer/reskin-styles.scss';
@import './RevenueContainer/RevenueChart/reskin-styles.scss';
@import './RevenueContainer/RevenueDisplay/reskin-styles.scss';
@import './StatsContainer/reskin-styles.scss';
@import '../Requests/reskin-styles.scss';
@import '../WaitingRoom/WaitingRoomList/WaitingRoomListItem/reskin-styles.scss';
@import '../WaitingRoom/NotifyPatientForm/reskin-styles.scss';

.dashboard {
  background-color: $color-purple-050;
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
  padding: 16px;
  width: 100%;
}

.header {
  align-items: center;
  display: flex;
  padding-bottom: 15px;
  width: 100%;
}

.userName {
  background: $super-white;
  border: 1px solid $color-grey-200;
  border-radius: 4px;
  box-shadow: $box-shadow-3;
  color: $color-purple-600;
  font-size: 24px;
  padding: 8px 16px;
  @media screen and (max-width: 700px) {
    display: none;
  }
}

.dateInputRow {
  display: flex;
  flex-direction: row;
}

.dateInput {
  align-items: center;
  background-color: $super-white;
  border: 1px solid $color-grey-200;
  display: flex;
  justify-content: center;
  margin-left: auto;
  transition: border 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  &:hover {
    background-color: $color-lavender-050;
  }
}

.inputGroup {
  padding: 0;
  input {
    background-color: $super-white;
    border: 0;
    color: $color-grey-400;
    font-size: 14px;
    font-weight: 700;
    padding-left: 10px;
    &:focus {
      color: $color-purple-600;
    }
  }
}

.inputFilled {
  display: none;
}

.dateIconContainer {
  align-items: center;
  background-color: transparent;
  color: $super-white;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  height: 30px;
  justify-content: center;
  width: 30px;
}

.colPadding {
  padding-right: 10px;
}

.colFlex {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  width: 100%;
  @media screen and (max-width: 1000px) {
    flex-direction: column;
  }
}

.revenueColFlex {
  @extend .colFlex;
  padding-top: 0;
  @media screen and (max-width: 1266px) {
    flex-direction: column;
  }
}

.iconColor {
  color: $color-lavender-400;
  i {
    font-weight: 400;
  }
  &:hover {
    color: $color-lavender-400;
  }
}

.statsContainer {
  display: flex;
  width: 100%;
}

.statContainer {
  flex: 25%;
  padding: 0 15px 0 0;
  &:last-child {
    padding: 0px;
  }
}
