@import "../../styles/dashboard.scss";

.dashboardContainer {
  padding: $container-padding;
}

.dashboard {
  width: 100%;
  &__header {
    padding: 0 5px;
    @media screen and (max-width: 450px) {
      padding: 5px 10px 0;
    }
    &_title {
      display: flex;
      align-items: center;
      height: 35px;
      background: $primary-white;
      margin-bottom: 15px;
      padding-left: 10px;
      font-size: $medium-size;
      b {
        padding-left: 5px;
      }
    }
    &_cards {
      cursor: pointer;
      margin-bottom: 20px;
      div:not(:last-child) {
        margin-right: 10px;
        flex: 1;
      }
    }
  }
  &__body {
    &_table {
      height: 638px;
    }
    &_comments {
      height: 640px;
    }
    &_request {
      height: 640px;
      background-color: $primary-white;
    }
    @media screen and (max-width: 450px) {
      padding: 0 5px 45px 5px;
    }
  }
  &__patientList {
    &_item {
      padding: 0 5px;
      @media screen and (max-width: 650px) {
        min-width: 300px;
      }
      @media screen and (max-width: 300px) {
        min-width: auto;
      }
    }
  }
  &__requestContainer {
    padding: 5px;
  }
}
.primaryColor {
  background: $primary-color;
}
.primaryBlue {
  background: $primary-blue;
}
.primaryGreen {
  background: $primary-green;
}
.primaryYellow {
  background: $primary-yellow;
}

.loadingOuter {
  position: absolute;
  height: 100%;
  width: 100% ;
  background-color: white;
  opacity: .4;
  display: flex;
}

.loadingInner {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
}
.padding {
  padding: 0 5px;
  margin-bottom: 30px;
  @media screen and (max-width: 900px) {
    margin-bottom: 15px;
  }
}


.underspondedReviews {
  flexDirection: column;
  display: flex;
  justifyContent: center;
  overflow: hidden;
  &__mainContainer {
    flexDirection: row;
    justifyContent: space-around;
  }

  &__comment {
    max-height: 590px;
    overflow: auto;
  }
}

.cardHeader {
  padding-left: 15px;
}
