@import '../../ui.scss';

.dashboard {
  width: 100%;
  height: 100%;
  padding: 15px;
  box-sizing: border-box;
  overflow: auto;
}

.header {
  display: flex;
  width: 100%;
  align-items: center;
  padding-bottom: 15px;
}

.userName {
  composes: fontMedium from '../../fonts.scss';
  font-size: 19px;
  @media screen and (max-width: 700px) {
    display: none;
  }
}

.dateInput {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.inputGroup {
  padding: 0;
  input {
    border: 0;
    background-color: $primary-white;
    color: $primary-dark-grey;
    padding-left: 10px;
  }
}

.inputFilled {
  display: none;
}

.dateIconContainer {
  background-color: darken($clr-bg-dark-grey, 5%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  font-size: 14px;
  color: white;
  cursor: pointer;
}

.colPadding {
  padding-right: 10px;
}

.colFlex {
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  width: 100%;
  @media screen and (max-width: 1000px) {
    flex-direction: column;
  }
}

.revenueColFlex {
  @extend .colFlex;
  padding-top: 0;
  @media screen and (max-width: 1266px) {
    flex-direction: column;
  }
}

.iconColor {
  color: $primary-white;
}
