@import '../../../../../styles/ui';

.formContainer {
  background: $primary-white;
  min-height: 537px;
  overflow: auto;
  padding: 35px 0 25px;

  @media screen and (max-width: 576px) {
    height: auto;
  }
}

.familyFormContainer {
  display: flex;
  flex-direction: column;
}

.borderBottom {
  border-bottom: 1px solid $light-grey;
}

.withPadding {
  padding: 0 25px;
}

.patientSearchClass {
  border-bottom: 1px solid $primary-darkgrey;
  box-sizing: border-box;
  height: 50px;
  width: 100%;
}

.patientSearchInput {
  background-color: $color-white;
  height: 100%;

  > span::before,
  span::after {
    bottom: -1px;
  }

  > input {
    padding-left: 0;
    &::placeholder {
      color: $primary-darkgrey;
    }
  }
}

.patientInfoWrapper {
  align-items: center;
  background: $color-white;
  border: none;
  cursor: pointer;
  display: flex;
  flex: 10;
  font-size: $x-medium-size;
  height: 100%;
  justify-content: center;

  @media (max-width: 576px) {
    margin-left: -35px;
    padding-left: 0;
  }
}
