* {
    box-sizing: border-box;
}
.schedule_appointment {
    background-color: #fafafa;
    margin-top: 10px;
}

.appointment_header {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 40px;
    padding: 0 5px;
    border-bottom: 1px solid #e6e6e6;
    line-height: 40px;
    justify-content: center;
    &::before {
        position: absolute;
        display: block;
        width: 100%;
        top: -5px;
        height: 5px;
        content: "";
        background: #ffc45a;
    }

    &__title {
        justify-content: center;
    }

    &__icon {
        color: #b4b4b5;
        position: absolute;
        right: 20px;
    }
}

.appointment_practitioner {
    margin: 0 5px;
    &__title {
        margin-left: 5px;
        text-transform: uppercase;
        color: #b4b4b4;
        font-size: 9px;
        line-height: 30px;
    }

    &__wrapper {
        margin: 0;
        padding: 0;
        list-style: none;
        height: 280px;
        overflow: hidden;
        overflow-y: scroll;
    }
    &__item {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #e6e6e6;
        padding: 10px;
        position: relative;
        height: 90px;
    }
    .item {
        &__day {
            padding: 0 15px;
            display: flex;
            flex-direction: column;
            border-right: 2px solid #b5b5b5;
            height: 100%;
            align-items: center;
            justify-content: center;
            &_month {
                color: #2e3845;
                font-size: 12px;
                font-weight: 500;
            }
            &_number {
                color: #2e3845;
                font-size: 22px;
                font-weight: 500;
            }
        }
        &__information {
            padding: 0 15px;
            &_title {
                color: #2e3845;
                font-weight: 500;
                font-size: 1rem;
                line-height: 1.6;
            }
            &_patient {
                font-weight: 500;
                color: #b5b5b5;
                line-height: 1.2;
                font-size: .9rem;
            }
            &_phone {
                color: #b5b5b5;
                font-size: .7rem;
            }
            &_services {
                color: #b5b5b5;
                font-size: .7rem;
            }
            &_status {
                position: absolute;
                color: #b5b5b5;
                font-size: .9rem;
                top: 50%;
                transform: translateY(-50%);
                right: 20px;
            }
        }
    }
    &__list {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 12px;
        align-items: center;
        flex: 1 0 25%;
    }
}