@import '../../../../styles/ui-reskin.scss';

@mixin withBorder {
  border-bottom: 1px solid $super-white-100;
  content: '';
  display: block;
  margin: 0 auto;
  padding-top: 15px;
}

.familyMember {
  &_withBorder:after {
    @include withBorder;
    width: 100%;
  }

  &_row {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 16px;
  }

  &_name {
    font-size: $x-medium-size;
    margin-bottom: 8px;
    margin-right: 8px;
    text-align: left;
  }

  &_head {
    display: block;
  }

  &_headColumn {
    margin-right: 16px;
    padding-top: 16px;
  }
}

.familyMember_config {
  margin-bottom: 15px;

  &_withBorder:after {
    @include withBorder;
  }

  &_col {
    padding-left: 25px;
  }

  &_row {
    &_head {
      padding: 0;
    }
  }

  &_head {
    display: inline-block;
    width: auto;
  }

  &_bullet {
    color: $color-salmon-500;
    font-size: $x-small-size;
    padding: 0 10px;
  }

  &_button {
    font-weight: $medium-weight;
    &_remove {
      border-color: $error-500;
      color: $error-500;
      &:hover {
        background-color: $error-200;
      }
    }
  }
}

.patientLink {
  align-items: center;
  background: transparent;

  border: none;

  color: $color-purple-600;

  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-size: $medium-size;
  font-weight: $bold-weight;
  justify-content: flex-start;
  line-height: 20px;

  padding: 0;
  transition: all 0.1s ease-in-out;
  &:focus {
    outline: none;
  }
}
.actionIcon {
  font-size: 1.1em !important;
  margin-right: 8px;
}

.actionsButtonSmall {
  margin-right: 16px;
}
