@import '../../../ui';

.card {
  flex: 1;
  margin-left: 15px;
  height: 100%;
  @media screen and (max-width: 1000px) {
    margin-top: 10px;
    margin-left: 0px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  height: 535px;
}
