$empty-grey: darken(lightgrey, 5%);
$primary-color: #FF715A;


.label {
  color: $empty-grey;
  display: flex;
  font-size: 16px;
  font-weight: normal;
  padding-bottom: 5px;
  pointer-events: none;

  &_labelBuffer{
    color: $empty-grey;
    text-decoration: none;
  }

  &_valueUnit {
    color: $primary-color;
    display: flex;
    padding-left: 10px;
    &_duration {
      padding-right: 20px;
      text-decoration: underline;
    }

    &_buffer {
      padding-left: 10px;
      text-decoration: underline;
    }
  }
}

.inputContainer {
  align-items: center;
  display: flex;
  width: 70%;

  &_firstLabel {
    color: $empty-grey;
    font-size: 16px;
  }

  &_firstInput {
    padding-left: 10px;
    padding-right: 15px;
  }

  &_secondLabel {
    color: $empty-grey;
    font-size: 16px;
  }

  &_secondInput {
    padding-left: 10px;
  }
}
