@import '../../../styles/ui';

.icon {
  display: inline;
}
.pulse {
  display: inline-block;
}

.iconWrapper {
  position: relative;
}

.badgeWrapper {
  background-color: $badge-notification-background;
  border-radius: 1em;
  color: #fff;
  height: 1.5em;
  line-height: 1;
  max-width: 5em;
  min-width: 1.5em;
  overflow: hidden;
  padding: 0.25em;
  position: absolute;
  right: -13px;
  text-align: center;
  text-overflow: ellipsis;
  top: -13px;
  transform: scale(0.8);
  transform-origin: top right;

  .badge {
    color: white;
    font-size: 11px;
    line-height: 18px;
  }
}
