@import '../../../styles/ui';

.icon {
  display: inline;
}
.pulse {
  display: inline-block;
}

.iconWrapper {
  position: relative;
}

.badgeWrapper {
  align-items: center;
  background-color: $badge-notification-background;
  border-radius: 50px;
  color: #fff;
  display: flex;
  height: 19px;
  justify-content: center;
  line-height: 1;
  max-width: 63px;
  min-width: 19px;
  overflow: hidden;
  position: absolute;
  right: -12px;
  text-overflow: ellipsis;
  top: -12px;
  transform-origin: top right;

  .badge {
    color: white;
    font-size: 11px;
    line-height: 18px;
  }
}
