@import '../../../styles/ui-reskin.scss';

.iconButton {
  background-color: transparent !important;

  border-radius: 0;
  color: $color-grey-200;
  font-size: 1.4em;
  padding: 0 !important;
  width: 50px;

  &:hover {
    background-color: inherit;
    color: $color-lavender-500;
  }
}
