
@import '../../../ui.scss';

.iconButton {
  background-color: transparent;
  color: $primary-dark;
  width: 50px;
  font-size: 1.5em;
  &:focus, &:active {
    background-color: transparent;
    box-shadow: none;
  }

  &:hover {
    color: $primary-color-hover;
    background-color: transparent;
  }
}
