
@import '../../../ui.scss';

.iconButton {
  background-color: transparent !important;

  border-radius: 0 !important;
  color: #B4B4B4;
  font-size: 1.4em;
  padding: 0 !important;
  width: 50px !important;

  &:hover {
    background-color: inherit !important;
    color: $primary-blue;
  }
}
