.widthFull {
  width: 100%;
}

.root {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: calc(3rem * 1.6);
  text-align: center;
}

.name {
  margin-bottom: calc(1rem * 1.6);
  margin-top: calc(1rem * 1.6);
  width: 100%;
}

.row {
  margin-top: calc(1rem * 1.6);
  width: 100%;
}

.innerRow {
  display: flex;
  justify-content: space-around;
  padding-left: calc(3rem * 1.6);
  padding-right: calc(3rem * 1.6);
}

.leftPlaceholder {
  text-align: left;
  width: 50%;
}

.rightPlaceholder {
  margin-left: calc(3rem * 1.6);
  text-align: left;
  width: 50%;
}

.firstFooter {
  margin-top: calc(3rem * 1.6);
  padding: 0 calc(1.75rem * 1.6);
  text-align: left;
}

.secondFooter {
  margin-top: calc(1rem * 1.6);
  padding: 0 calc(1.75rem * 1.6);
  text-align: left;
}
