@import '../../../../ui.scss';

.userWrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.userContainer {
  display: flex;
  align-items: center;
  &:hover {
    color: var(--primaryColor) !important;
    .greeting {
      color: var(--primaryColor) !important;
    }

    .userAvatar {
      //width: 1.55rem;
      //height: 1.55rem;
      //max-width: 1.55rem;
      //max-height: 1.55rem;
    }
  }
}

.userMenuButton {
  display: flex;
  align-items: center;
  color: $primary-darkgrey;
}

.userMenuGreeting {
  display: inline-block;
  align-items: center;
  padding-right: 10px;
  text-align: right;
  @media screen and (max-width: $widget-mobile-width) {
    display: none;
  }
}

.greeting {
  font-family: $medium-font;
  color: black;
}

.userRole {
  text-transform: uppercase;
  font-size: 10px;
  color: $primary-darkgrey;
}

.businessName {
  font-size: 10px;
  color: $primary-darkgrey;
}

.userAvatar {
  margin-right: 2px;
  background: var(--primaryColor);
  font-weight: bold;
}

.dropdownUserMenu {
  /* used to target div.dd-menu-items */
  > div:last-child {
    width: 150px;
  }
}
