.spinner,
.pocBadge,
.pocBadge svg {
  height: 14px;
  width: 14px;
}

.spinner {
  animation: fadeOut 2.7s forwards ease-in-out;
  left: 0;
  opacity: 1;
  position: absolute;
  top: 0;
}

.pocBadge {
  color: #cdcdcd;
  display: inline-block;
  margin: 0 0 0 4px;
  position: relative;
  transform: translateY(-1px);
  vertical-align: middle;
  & svg {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.badge {
  animation: fadeIn 500ms forwards ease-in-out;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
}

.isPoC {
  color: #2cc4a7;
}

.double_bounce1,
.double_bounce2 {
  animation: bounce 2s infinite ease-in-out;
  background-color: #cdcdcd;
  border-radius: 50%;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.double_bounce2 {
  animation-delay: -1s;
  background-color: #efefef;
}

@keyframes bounce {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.lookupTooltipContainer {
  opacity: 1;
  :global div.rc-tooltip-content {
    & .rc-tooltip-arrow {
      border-bottom-color: #7b7b7b;
    }

    & .rc-tooltip-inner {
      background-color: #7b7b7b;
      border-radius: 4px;
      padding: 14px 16px;
    }
  }
}

.lookupTooltip {
  font-family: Gotham-Medium, serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  & .tooltipHead {
    color: #c9c9c9;
    font-size: 12px;
    height: 14px;
    line-height: 14px;
  }
  & .tooltipSupport {
    padding-bottom: 8px;
  }
  & .tooltipStatus,
  & .tooltipSupport {
    color: #ffffff;
    font-size: 14px;
    height: 17px;
    line-height: 17px;
  }
}
