
@import '../../ui';

.rightSectionContainer {
  padding-top: $top-nav-height;
}

.fullWidth {
  // padding-left: 0;
}

.notFullWidth {
  padding-left: $side-nav-width;
}

.mainRegionContainerCollapsed {
  padding-left: 0px;
}

.mainRegionContainer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
  background-color: $background-color;

  @media screen and (max-width: $medium-screen-width) {
    padding-left: 0;
  }

  @media screen and (min-width: $medium-screen-width) {
    padding-left: $side-nav-width;
  }
}
