@import '../../../../styles/ui-reskin.scss';
@import '../../../../styles/reskin-font.scss';

.filterContainer {
  background: $super-white;
  border: 1px solid $color-lavender-200;
  height: auto;
  width: 300px;
}

.header {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  font-size: $x-medium-size;
  font-weight: $bold-weight;
  padding: 15px;
  width: 100%;
  @extend .font-Medium;
}

.headerOptions {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

.selectClear {
  color: $color-grey-200;
  font-size: $x-small-size;
  outline: none;
}

.selectText {
  @extend .selectClear;
  margin-right: 10px;
  &:hover {
    color: $color-lavender-500;
    cursor: pointer;
  }
}

.clearText {
  @extend .selectClear;
  &:hover {
    color: $color-lavender-500;
    cursor: pointer;
  }
}

.body {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 5px 20px;
}

.subHeader {
  color: $color-purple-400;
  font-size: $small-size;
  font-weight: $normal-weight;
  margin-bottom: 15px;
  @extend .font-Medium;
}

.eventWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}

.singleEvent {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex: 1 0 50%;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  margin-right: 0px;
  outline: none;
}

.iconEvent {
  align-items: center;
  border: 2px solid $super-white;
  border-radius: 50%;
  color: $color-grey-400;
  display: flex;
  height: 26px;
  justify-content: center;
  width: 26px;
}

.filterIcon {
  font-size: 14px;
  margin-right: 10px;
  margin-top: 2px;
}

.textEvent {
  @extend .font-Medium;
  color: $color-purple-400;
  font-size: $x-small-size;
  font-weight: $normal-weight;
  margin-top: 10px;
  text-align: center;
  text-transform: capitalize;
}

.selectedBlue {
  border: 2px solid $color-lavender-200;
}

.selectedRed {
  border: 2px solid $color-salmon-200;
}

.selectedGreen {
  border: 2px solid $color-teal-200;
}

.selectedYellow {
  border: 2px solid $color-yellow-200;
}
