@import '../../../../styles/ui';

.filterContainer {
  background: white;
  border: 1px solid $primary-grey;
  box-shadow: 0 0 25px 1px rgba(209, 209, 209, 0.5) !important;
  height: auto;
  width: 300px;
}

.header {
  box-sizing: border-box;
  composes: fontMedium from '../../../../styles/fonts.scss';
  display: flex;
  flex-direction: row;
  font-size: 13px;
  padding: 15px;
  width: 100%;
}

.headerOptions {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

.selectClear {
  color: $primary-dark-grey;
  font-size: $x-small-size;
  outline: none;
}

.selectText {
  @extend .selectClear;
  margin-right: 10px;
  &:hover {
    color: $primary-blue;
    cursor: pointer;
  }
}

.clearText {
  @extend .selectClear;
  &:hover {
    color: $primary-blue;
    cursor: pointer;
  }
}

.body {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 5px 20px;
}

.subHeader {
  color: $primary-dark-grey;
  composes: fontMedium from '../../../../styles/fonts.scss';
  font-size: 10px;
  margin-bottom: 15px;
}

.eventWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}

.singleEvent {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex: 1 0 50%;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  margin-right: 0px;
  outline: none;
}

.iconEvent {
  align-items: center;
  border: 2px solid white;
  border-radius: 50%;
  color: $primary-dark-grey;
  display: flex;
  height: 26px;
  justify-content: center;
  width: 26px;
}

.filterIcon {
  margin-right: 5px;
}

.textEvent {
  composes: fontMedium from '../../../../styles/fonts.scss';
  font-size: 10px;
  margin-top: 10px;
  text-align: center;
  text-transform: capitalize;
}

.selectedBlue {
  border: 2px solid $primary-blue;
}

.selectedRed {
  border: 2px solid $primary-color;
}

.selectedGreen {
  border: 2px solid $primary-green;
}

.selectedYellow {
  border: 2px solid $primary-yellow;
}
