@import '../../../ui.scss';

@mixin dialogBodyMobile-mixin() {
  overflow: auto;
}

.dialogBody {
  display: flex;
  flex: 1;
  padding: 20px;
  min-width: 250px;
  max-height: 96%;
  flex-direction: column;
  overflow: unset;
  @media screen and (max-width: 700px) {
    @include dialogBodyMobile-mixin();
  }
}

.dialogBodyMobile {
  @include dialogBodyMobile-mixin();
}

.header {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  border-bottom: 0;
  background-color: #313843;
  height: 45px;
  color: $primary-white;
  padding: 0 20px;
  font-size: 18px;
}

.title {
  composes: fontMedium from '../../../fonts.scss';
}
.cardHeader {
  padding-top: 0 !important;
  color: $primary-white !important;
}

.closeIcon {
  font-size: 1rem;
  color: $primary-white;
  font-weight: 900;
  margin-left: auto;
  cursor: pointer;
  padding: 0;
  background: none;
}

.footer {
  width: 100%;
  display: flex;
  flex: 0 0 auto;
  padding: 20px;
  border-top: 1px solid $primary-grey;
  box-sizing: border-box;
  justify-content: flex-end;
  background: #fff;
}

.action {
  margin-left: 5px;
}
