@mixin dialogBodyMobile-mixin() {
  overflow: auto;
}

.dialogBody {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-height: 96%;
  min-width: 250px;
  overflow: unset;
  padding: 20px;
  @media screen and (max-width: 700px) {
    @include dialogBodyMobile-mixin();
  }
}

.dialogBodyMobile {
  @include dialogBodyMobile-mixin();
}

.header {
  align-items: center;
  background-color: #313843;
  border-bottom: 0;
  color: $primary-white;
  display: flex;
  flex: 0 0 auto;
  font-size: 18px;
  height: 45px;
  padding: 0 20px;
}

.title {
  @extend .font-Medium;
}
.cardHeader {
  color: $primary-white !important;
  padding-top: 0 !important;
}

.closeIcon {
  background: none;
  color: $primary-white;
  cursor: pointer;
  font-size: calc(1rem * 1.6);
  font-weight: 900;
  margin-left: auto;
  padding: 0;
}

.footer {
  background: #fff;
  border-top: 1px solid $primary-grey;
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  justify-content: flex-end;
  padding: 20px;
  width: 100%;
}

.action {
  margin-left: 5px;
}
