@import '../../../../../ui';

.addToContainer {
  height: auto;
  width: 500px;

  @media screen and (max-width: 576px) {
    width: auto;
  }
}

.responsiveFormWrapper {
  & > div:last-child {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.searchContainer {
  margin-bottom: 20px;
  height: 59px;
  text-align: left;
}

.dayContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}
.timeFrameContainer {
  @extend .dayContainer;
  margin-bottom: 8px;
  + .timeFrameContainer {
    padding-top: 20px;
    border-top: 1px solid #ccc;
  }
}

.subContainer {
  padding-left: 20px;
  padding-right: 20px;
}

.subHeader {
  font-size: 13px;
  composes: fontDefault from '../../../../../fonts.scss';
  color: $primary-dark;
  text-align: left;
}

.subHeaderExtended {
  @extend .subHeader;
  margin-bottom: 5px;
}

.subHeaderMargin {
  @extend .subHeader;
  margin-bottom: 12px;
}

.groupStyle {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
}

.suggestionOpen {
}

.errorStyle {
  left: 20px;
}

.iconStyle {
  font-size: 1em !important;
  margin-right: 20px;
  padding-bottom: 3px;
  color: #2f3844;
  opacity: 1;
  bottom: 5px;
}

.colSpacing {
  display: flex;
  padding-bottom: 10px;
  flex: 0 33%;
  justify-content: center;
}
.dialogBodyAdd {
  padding: 12px !important;
  overflow: auto !important;
}
.orWrapper {
  display: block;
  margin-bottom: 10px;
}
.colFrames {
  @extend .colSpacing;
  flex: 1;
}

.checkboxButton,
.wrapperCheckboxButton {
  width: 100%;
}
.wrapperCheckboxButton {
  margin: 0 10px;
}

.patientContainer {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid $primary-grey;
  cursor: pointer;

  &_name {
    padding-left: 10px;
    composes: fontMedium from '../../../../../fonts.scss';
    font-size: 15px;
    color: $primary-dark;
  }

  &_icon {
    margin-left: auto;
    font-size: 1em !important;
    color: #2f3844;
  }
}

.suggestionContainer {
  display: flex;
  align-items: center;
  color: $primary-dark;
  padding: 10px;

  &_details {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    composes: fontDefault from '../../../../../fonts.scss';
    color: #a7a9ac;
    line-height: 1.3;
    text-align: left;
  }

  &_fullName {
    font-size: 12px;
    color: $primary-dark;
  }

  &_date {
    font-size: 10px;
  }
}

.patientSearchClass {
  height: 50px;
  box-sizing: border-box;
  border-bottom: 1px solid $primary-darkgrey;
  width: 100%;
  padding: 0 12px;
}

.patientSearchInput {
  height: 100%;
  background-color: $color-white;

  > span::before,
  span::after {
    bottom: -1px;
  }

  > input {
    padding-left: 0;
    &::placeholder {
      color: $primary-darkgrey;
    }
  }
}
