
@import '../../../../ui';

.completedWrapper {
  padding: 20px;
  @media screen and (min-width: $widget-mobile-width) {
    padding: 40px;
  }
}

.label {
  text-align: left;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 10px;
  letter-spacing: 0.9px;
  height: 30px;
  display: flex;
  align-items: center;
  color: #C1D2D8;
}

.gridContainer {
  padding: 20px;
  box-sizing: border-box;
  clear: both;
}


.submitButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  // padding: 0 20px;
  > button {
    width: 100%;
    max-width: 300px;
  }
}

.well {
  color: $primary-dark;
  padding: 15px 10px;
  background-color: $primary-white;
  border: 1px solid darken($primary-white, 10%);
  margin-bottom: 10px;
  > div {
    padding: 5px 0;
    text-transform: capitalize;
  }
}

.bold {
  font-family: $medium-font;
  text-transform: none !important;
}

.service {
  @extend .bold;
}

.date {
  @extend .bold;
  color: var(--primaryColor);
}

.textArea {
  padding-top: 0;
  > textarea {
    padding: 10px;
    border: 1px solid $primary-gray;
    color: black;
  }
}

.message {
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  // margin-bottom: 20px;
  max-width: 245px;
  line-height: 20px;
  font-size: 12px;
  color: $primary-darkgrey;
  flex: 1;
  @media screen and (min-width: $widget-mobile-width) {
    margin-top: 20px;
    // margin-bottom: 20px;
    max-width: 350px;
  }
}

.header {
  composes: header from 'sass-loader!../../../../fonts.scss';
  padding: 10px 0;
  text-align: center;
  color: $primary-dark;
}

.doneButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  > button {
    width: 100%;
    max-width: 250px;
  }
}
