
@import '../../../../../styles/ui';

.wrapper {
  padding: 10px 20px;
}

.title {
  font-family: $medium-font;
  font-weight: bolder;
  margin-bottom: 5px;
}

.content {
  //padding: 20px;
  color: darken($primary-darkgrey, 10%);
}
