
@import '../../../ui.scss';

.loginWrapper {
  box-sizing: border-box;
  padding: 0px 10px 20px 10px;
}

.header {
  composes: cardHeaderTitle from 'sass-loader!../../../fonts.scss';
  padding: 20px 0;
  text-align: center;
  color: $primary-blue;
}

.subHeader {
  composes: listItemHeader from 'sass-loader!../../../fonts.scss';
  padding: 10px 0;
}

.customSubmitButton {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 10px;
}

.linkWrapper {
  text-align: center;
  padding-bottom: 20px;
}

.score {
  text-align: center;
  > hr {
    border: 0.5px solid $inactive-color;
  }
}

.scoreText {
  position: relative;
  top: -15px;
  background-color: white;
  color: $inactive-color;
  padding: 0 10px;
}

.loginFormWrapper {

}
