@font-face {
  font-family: "Gotham-Light";
  font-weight: "normal";
  font-style: "normal";
  src: url(/fonts/GothamSSm-Light.otf) format("opentype"),
  url(/fonts/Gotham-Light.woff) format("woff");
}
@font-face {
  font-family: "Gotham-Medium";
  font-weight: "normal";
  font-style: "normal";
  src: url(/fonts/GothamSSm-Medium.otf) format("opentype"),
  url(/fonts/Gotham-Medium.woff) format("woff");
}
@font-face {
  font-family: "Gotham-Book";
  font-weight: "normal";
  font-style: "normal";
  src: url(/fonts/GothamSSm-Book.otf) format("opentype"),
    url(/fonts/Gotham-Book.woff) format("woff");
}
@font-face {
  font-family: "Gotham-Medium";
  font-weight: normal;
  font-style: normal;
  src: url(/fonts/GothamSSm-Medium.otf) format("opentype"),
    url(/fonts/Gotham-Medium.woff) format("woff");
}
@font-face {
  font-family: "Gotham-Bold";
  font-weight: normal;
  font-style: normal;
  src: url(/fonts/GothamSSm-Bold.otf) format("opentype"),
    url(/fonts/Gotham-Bold.woff) format("woff");
}

body,
html {
  margin: 0;
  padding: 0;
  background: none;
}

.content {
  background: white;
  position: fixed;
  left: 7px;
  top: 0px;
  right: 7px;
  bottom: 14px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.14),
    -1px 1px 6px 0 rgba(0, 0, 0, 0.12);
}


.heading-wrapper {
  display: inline-block;
  vertical-align: top;
  margin-left: 7px;
}

.heading-wrapper h4,
.heading-wrapper h5 {
  margin: 0;
  color: white;
}

.heading-wrapper h4 {
  font-family: "Gotham-Medium";
  margin-bottom: 3px;
  font-size: 14px;
}

.heading-wrapper h5 {
  font-family: "Gotham-Book";
  font-style: italic;
  font-size: 11px;
}

header #avatar {
  display: inline-flex;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  font-size: 18px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  background: linear-gradient(#bebebe, #a2a2a2);
}

#avatar span {
  color: white;
  line-height: 2rem;
  font-family: "Gotham-Book";
}

ul.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  pointer-events: none;
  padding: 0;
  margin: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.14);
}

.link-icon {
  float: right;
  margin-right: 0;
}

.about-content {
  padding: 30px 20px 20px;
  user-select: none;
}

.about-content h2,
.about-content p {
  margin: 0
}

.about-content h2 {
  margin-top: 10px;
  font-family: "Gotham-Medium";
  font-weight: 500;
  font-size: 26px;
  color: #2F3844;
}

.about-content p {
  font-family: "Gotham-Light";
  font-weight: 300;
  font-size: 16px;
  color: #6E6E6E;
}

.bottom-row {
  margin-top: 7px;
  font-family: "Gotham-Book";
  font-weight: 400;
  color: #6E6E6E;
}

.bottom-row p {
  font-size: 12px;
  display: inline-block;
}

.bottom-row .links {
  float: right;
  margin-top: -5px;
}

.links > p {
  cursor: pointer;
  margin-left: 20px;
  padding-bottom: 1px;
  border-bottom: 1px solid #959595;
}
