@import "../../../ui.scss";


.bckGround {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.icon {
  color: white;
}

.backgroundColorGrey {
  background-color: #B4B4B4;
}

.backgroundColorBlueGreen {
  background-color: $primary-blue-green;
}

.backgroundColorDarkGrey {
  background-color: #2E3845;
}

.backgroundPowderBlue {
  background-color: $primary-blue;
}
