@import '../../../../styles/ui-reskin';

.card {
  background: $super-white;
  height: 100%;
  margin-top: 7px;
  width: 100%;
}

.content {
  height: 100%;
  width: 100%;
}

.imageContainer {
  background-color: $super-white;
  background-size: 100%;
  border-radius: 4px 4px 0px 0px;
  height: 40%;
  opacity: 1;

  img {
    display: none;
  }

  @media screen and (max-width: 576px) {
    height: 30%;
    position: relative;
    z-index: 5;
  }
}

.dataContainer {
  background-color: $super-white;
  border-radius: 4px;
  display: flex;
  height: 60%;
  position: relative;
  width: 100%;

  @media screen and (max-width: 576px) {
    height: 100%;
    margin-top: -45px;
  }
}

.badgeWrapper {
  display: flex;
  justify-content: flex-end;
}

.avatarUser {
  background: linear-gradient(310.85deg, #948da5 3.59%, #78708d 97.31%);
  font-weight: $bold-weight;
}
.avatarContainer {
  background-color: $super-white;
  border-radius: 4px;
  border-right: 1px solid $color-lavender-100;
  flex: 1 2;
  &_actionsButton {
    line-height: normal;
    margin-top: 8px;
  }

  &_avatar {
    left: 0;
    padding-left: 40px;
    position: absolute;
    top: -82px;
  }

  &_data {
    line-height: 2.2em;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 27px;
    &_nameAge {
      align-items: center;
      color: $color-purple-600;
      display: flex;
      font-size: $xxx-medium-size;
      font-weight: $bold-weight;
      height: 25px;
      justify-items: center;
      line-height: 36px;
      margin-bottom: 2px;
      white-space: nowrap;
      &_name {
        max-width: 260px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &_email {
      color: $color-grey-400;
      font-size: $small-size;
      font-weight: $medium-weight;
      line-height: 16px;
      margin-top: 8px;
    }

    &_phone {
      color: $color-grey-400;
      font-size: $small-size;
      font-weight: $medium-weight;
      line-height: 16px;
      margin-top: 8px;
    }

    &_icon {
      color: $color-grey-400;
      line-height: 16px;
      margin-top: 8px;
      padding-right: 10px;
    }

    &_badge {
      align-items: center;
      border: 1px solid transparent;
      border-radius: 20px;
      box-sizing: border-box;
      color: red;
      display: inline-flex;
      height: 18px;
      justify-content: center;
      margin: 16px 16px 0 auto;
      overflow: hidden;
      > div {
        font-size: 11px;
        padding: 0 8px;
        text-align: center;
        width: 100%;
      }

      &_inactive {
        background-color: $color-purple-050;
        border-color: $color-grey-400;
        color: $color-grey-400;
      }

      &_active {
        background-color: $color-teal-050;
        border-color: $color-teal-700;
        color: $color-teal-700;
      }
    }
  }

  @media screen and (max-width: 576px) {
    border-right: none;
    width: 100%;

    &_avatar {
      top: 20px;
      z-index: 6;
    }

    &_data {
      padding-top: 73px;

      &_name {
        font-size: 16px;
      }
    }
  }
}

.paddingStatus {
  @media screen and (max-width: 576px) {
    padding-top: 5px;
  }
}

.rightContainer {
  display: flex;
  flex: 2 1;
  flex-direction: column;
  justify-content: center;
  &_content {
    padding: 20px 20px 20px 30px;
  }

  @media screen and (max-width: 576px) {
    display: none;
  }
}

.displayFlex {
  align-items: center;
  display: flex;
  padding-top: 1px;
}

.fontStyle {
  color: $color-purple-600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.actionsButtonSmall {
  background: none;
  font-size: 12px;
  margin-top: 0;
  padding: 8px 12px;
  width: 40px;
}

.actionsButton {
  align-items: center;
  display: flex;
  margin-left: 0;
  margin-top: 5px;
  padding: 12px 18px;
  width: 170px;

  > i {
    margin-left: auto;
  }
}

.actionsButtonNormal {
  font-size: 12px !important;
  margin-left: 0;
  margin-top: 12px;
  padding: 7px 12px !important;
  width: 105px;
}
.backButton {
  font-size: $medium-size;
  font-weight: $bold-weight;
}
