@import '../../../../ui';

.card {
  height: 100%;
  width: 100%;
  background: #fafafa;
}

.content {
  height: 100%;
  width: 100%;
}

.imageContainer {
  height: 40%;
  opacity: 1;
  background-color: #e6e6e6;
  background-size: 100%;

  img {
    display: none;
  }

  @media screen and (max-width: 576px) {
    height: 30%;
    position: relative;
    z-index: 5;
  }
}

.dataContainer {
  position: relative;
  display: flex;
  height: 60%;
  width: 100%;
  background-color: #fafafa;

  @media screen and (max-width: 576px) {
    margin-top: -45px;
    height: 100%;
  }
}

.avatarContainer {
  width: 30%;
  border-right: 1px solid $primary-grey;
  background-color: #fafafa;
  &_avatar {
    top: -82px;
    left: 0px;
    position: absolute;
    padding-left: 40px;
  }

  &_data {
    line-height: 1.8em;
    padding-top: 60px;
    padding-left: 40px;
    padding-right: 40px;
    &_nameAge {
      color: #505c68;
      font-size: $extra-medium-size;
      composes: fontMedium from 'sass-loader!../../../../fonts.scss';
      margin-bottom: 2px;
      white-space: nowrap;
      height: 25px;
      display: flex;
      align-items: center;
      justify-items: center;
      &_name {
        overflow: hidden;
        max-width: 260px;
        text-overflow: ellipsis;
      }

      &_age {
      }
    }

    &_email {
      font-size: $extra-small-size;
      font-style: italic;
      composes: subHeaderSmall from 'sass-loader!../../../../fonts.scss';
    }

    &_phone {
      font-size: $extra-small-size;
      font-style: italic;
      composes: subHeaderSmall from 'sass-loader!../../../../fonts.scss';
    }

    &_icon {
      padding-right: 10px;
      composes: subHeaderSmall from 'sass-loader!../../../../fonts.scss';
    }

    &_badge {
      composes: subHeaderExtraSmall from 'sass-loader!../../../../fonts.scss';
      color: #fff;
      background: #a7a7a5;
      height: 18px;
      display: flex;
      align-items: center;
      border-radius: 20px;
      width: 60px;
      justify-content: center;
      box-sizing: border-box;
      overflow: hidden;
      margin-top: 4px;
      margin-bottom: 16px;
      > div {
        width: 100%;
        text-align: center;
      }

      &_active {
        background: $primary-blue;
      }

      &_inactive {
      }
    }
  }

  @media screen and (max-width: 576px) {
    border-right: none;
    width: 100%;

    &_avatar {
      top: 20px;
      z-index: 6;
    }

    &_data {
      padding-top: 73px;

      &_name {
        font-size: 16px;
      }
    }
  }
}

.paddingStatus {
  @media screen and (max-width: 576px) {
    padding-top: 5px;
  }
}

.rightContainer {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &_content {
    padding: 20px 20px 20px 30px;
  }

  @media screen and (max-width: 576px) {
    display: none;
  }
}

.displayFlex {
  display: flex;
  align-items: center;
  padding-top: 1px;
}

.fontStyle {
  color: $primary-dark !important;
  composes: fontMedium from 'sass-loader!../../../../fonts.scss';
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.actionsButtonSmall {
  margin-top: 0;
  font-size: 12px;
  padding: 8px 12px;
  width: 40px;
  background: none;
}
