@import '../../../ui';

.chatWrapper {
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  height: 100%;
}

.patients {
  display: flex;
  padding: 10px;
  height: 100%;
}

.topRow {
  background: #f7f7f7;
  min-height: 96px;
  max-height: 96px;
}

.header {
  width: 100%;
  margin-bottom: 10px;
  padding-left: 15px;
}

.send {
  display: flex;
  justify-content: space-between;
}

.sendButton {
  padding: 20px 0 0;
  opacity: 0.6;
}

.sendButtonOff {
  padding: 20px 0 0;
  opacity: 0.2;
}

.button {
  background: transparent;
  border: none;
  font-size: 0;
  padding-bottom: 10px;
}

.sendInput {
  flex-grow: 1;
  margin-right: 10px;
}

.listRow {
  flex: 1;
}

.upcomingHead {
  width: 100%;
}

.messageNote {
  position: absolute;
  right: 10px;
  top: 35%;
  padding: 2px 6px 0;
  background-color: $primary-light-blue;
  border-radius: 4px;
  color: white;
}

.topInfo {
  min-width: 100%;
  height: 10vh;
  font-family: 'Gotham-Book';
  font-size: 16px;
  color: #b4b4b5;
  min-height: 94px;
  max-height: 94px;
  font-weight: 900;

  span {
    color: #2e3845;
  }

  div {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    margin-left: 30px;
  }
}

.time {
  text-align: center;
  margin: 10px 0;
  font-size: 12px;
  color: $inactive-color;
}

.timeChat {
  position: absolute;
  right: 10px;
  top: 15px;
  font-size: 0.8em;
  font-family: 'Gotham-Medium';
  color: lighten($inactive-color, 10%);
}

.splitWrapper {
  flex: 1;
  display: flex;
}

.leftSplit {
  flex: 1;
}

.rightSplit {
  width: 350px;
  border-left: 1px solid $background-color;
  overflow: auto;
}

.patientName {
  font-family: 'Gotham-Book';
  color: #2e3845;
  font-size: 16px;
  text-align: center;
  margin: 15px auto;
  font-weight: 900;
}

.allMessages {
  align-items: center;
  overflow-y: auto;
  flex-direction: column;
  position: relative;
  width: 100%;
  background-color: #efefef6b;
}

.raise {
  padding: 42px;
}

.chatSearch {
  padding: 0;
}

.sendMessage {
  border-top: 1px solid #e6e6e6;
  height: 140px;
  > div {
    height: 100%;
    > form {
      height: 100%;
    }
  }
}

.text {
  padding: 20px;
  border-radius: 15px;
  background-color: #ff715a;
  color: #fafafa;
  font-size: 14px;
  font-family: 'Gotham-Book';
  text-space: 2px;
  width: 50%;
  margin: 10px 0;
}

.margin2 {
  margin: 35px;
}

.marginText {
  margin: 20px;
  width: 14%;
  font-family: 'Gotham-Medium';
  font-size: 12px;
  color: $inactive-color;
}

.messageWrapper {
  // display: flex;
  // flex-direction: row;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.sharedMessage {
  // width: 100%;
  display: flex;
  align-items: center;
}

.clinicMessage {
  @extend .sharedMessage;
  float: right;
}

.patientMessage {
  @extend .sharedMessage;
  float: left;
}

.textFrom {
  padding: 20px;
  border-radius: 15px;
  color: darken($primary-darkgrey, 20%);
  font-size: 16px;
  font-family: 'Gotham-Book';
  text-space: 2px;
  background-color: $primary-grey;
  width: 50%;
  margin: 10px 0;
}

.messages {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  background-clip: content-box;
}

.rightInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.fullName2 {
  font-family: 'Gotham-Book';
  font-size: 18px;
  margin: 10px 0;
  font-weight: 900;
}

.fullName:hover {
  color: #ff715a;
  cursor: pointer;
}

.contact {
  margin-top: 10px;
  font-family: 'Gotham-Medium';
  font-size: 14px;
  color: #bfbfbf;
  font-weight: 200;
}

.patInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoAvatar {
  margin-top: 20px;
  height: 90px;
  width: 90px;
}

.bottomInfo {
  flex: 1;
  border-left: 1.5px solid rgba(lightgrey, 0.5);
}

.chatsList {
  position: relative;
  z-index: 0;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.patientsList {
  background: #e6e6e6;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 400px;
  padding-right: 10px;

  &_title {
    padding-top: 20px;
    padding-left: 30px;
    font-size: 18px;
    font-weight: $large-weight;
  }

  &__search {
    display: flex;
    height: 70px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #e6e6e6;
    justify-content: center;
    align-items: center;

    .search {
      display: flex;
      align-items: center;
      justify-content: center;
      &__label {
        position: relative;
        left: 15px;
        top: -10px;
        cursor: pointer;
        color: #b3b2b1;
      }

      &__input {
        width: 100%;
        height: 30px;
        font-size: 12px;
        border: none;
        border-bottom: 2px solid #8cbcd6;
        background-color: inherit;
        &:focus {
          outline: none;
        }
      }

      &__edit {
        margin-left: auto;
        cursor: pointer;
        color: #b3b2b1;
      }
    }
  }
}

.leftCard {
  height: 100%;
}

.rightCard {
  height: 100%;
  flex: 1;
}

.searchSection {
  display: flex;
  align-items: center;
  height: 50px;
  box-sizing: border-box;
  padding: 10px;
}

.searchInputWrapper {
  flex: 1;
  padding: 0 10px;
  height: 100%;
}

.patientSearchClass {
  height: 100%;
}

.patientSearchInput {
  background-color: $primary-grey;
  > input {
    &::placeholder {
      color: $primary-darkgrey;
    }
  }
}

$size: 32px;

.addNewChatButton {
  width: $size;
  height: $size;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $size;
  border-bottom-left-radius: 0;
  > i {
    font-size: 14px;
  }
}

.messageHeader {
  height: 50px;
  box-sizing: border-box;
}

.tab {
  height: 30px;
  font-family: $medium-font;
  &:last-child {
    border-right: none;
  }
}

.activeTab {
  @extend .tab;
}

.inactiveTab {
  @extend .tab;
  background-color: $chat-tabs-color;
  color: $primary-dark;
}
