@import '../../../../ui';

.card {
  position: relative;
  background: white;
  min-height: 700px;
  height: 700px;
  flex: 1;
  overflow: hidden;
  box-sizing: border-box;

  @media screen and (max-width: 576px) {
    min-height: unset;
    border-top: none;
    height: 100%;
  }
}

.header {
  composes: fontMedium from '../../../../fonts.scss';
  color: $primary-dark;
  font-size: 23px;
  padding: 20px 0 10px 20px;
}

.eventsContainer {
  padding: 30px 30px 10px;
  display: flex;
  max-height: 100%;
  overflow: scroll;
  box-sizing: border-box;
  min-height: 100%;

  @media screen and (max-width: 576px) {
    padding: 20px 20px 10px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.fill {
  width: 100%;
}

.eventsList {
  width: 100%;
}

.verticalLine {
  position: absolute;
  margin-top: 70px;
  left: 16px;
  height: 100%;
  z-index: 1;
  border-left: 1px dashed darken($primary-grey, 10%);
}

.loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  z-index: 9999;
}

.eventSection {
  position: relative;
  padding-bottom: 30px;
}

.eventSection:last-child {
  padding-bottom: 50px;

  div.verticalLine {
    display: none;
  }
}

.dateHeader {
  font-family: $medium-font;
  font-size: 10px;
  color: $primary-dark-grey;
  padding-left: 55px;
  padding-top: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-left: 3px;

  @media screen and (max-width: 576px) {
    font-size: 10px;
    padding-left: 43px;
    padding-top: 10px;
  }
}

.today {
  color: $primary-blue;
  font-size: 10px;

  @media screen and (max-width: 576px) {
    padding-left: 0;
    padding-top: 5px;
    padding-bottom: 20px;
    font-size: 16px;
  }
}

.disclaimer {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  &_text {
    font-size: 14px;
    line-height: 1.5em;
    color: $inactive-color;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
}
