@import '../../../../ui';

.card {
  position: relative;
  border-top: 5px solid $inactive-color;
  overflow: auto;
  padding: 50px 50px 50px 50px;
}

.eventsContainer {
  position: relative;
  height: 100%;
  display:flex;
}

.eventsList {
  width: 100%;
  z-index: 2;
}

.verticalLine {
  position: absolute;
  margin-top: 50px;
  left: 16px;
  height: 100%;
  z-index: 1;
  border-left: 1px solid $primary-grey;
}
