@import "../../../ui.scss";
@import "../styles.scss";

* {
  box-sizing: border-box;
}
.card {
  border-radius: 5px;
}
.reviews {
}
.padding {
  padding: 0 5px;
  margin-bottom: 30px;
  @media screen and (max-width: 900px) {
    margin-bottom: 15px;
  }
}
.padding {
	padding-top: 10px;
}
.calendar {
    overflow-x: auto;
    border-top: $card-border-size $primary-dark-blue;
    margin-top: 10px;
    background-color: #fafafa;
}
