@import "../../../ui.scss";
@import "../styles.scss";

.reviews {

}

.card {
  border-radius: 5px;
}

.padding {
  padding: 10px 5px 0 5px;
  @media screen and (max-width: 900px) {
    margin-bottom: 15px;
  }
}

.calendar {
    background-color: #fafafa;
    border-top: $card-border-size $primary-dark-blue;
    margin-top: 10px;
    overflow-x: auto;
}

.googleMapsRespond {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 168px;
  padding-left: 20px;

  &__video {
    height: 120px;
    margin-right: 40px;
    min-width: 250px;
    width: 20%;
  }

  &__descr {
    align-items: space-around;
    display: flex;
    flex-direction: column;
    height: 120px;
    justify-content: center;
    width: 80%;
    div:first-child {
      font-weight: $large-weight;
      margin-bottom: 20px;
    }
    div:last-child {
      color: $primary-darkgrey;
    }
  }
}


.stats {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  min-height: 168px;
  min-width: 250px;
  padding: 10px 0;
  width: 80%;
  &__count {
    font-size: $x-large-size;
    font-weight: $small-weight;
  }

  &__title {
    font-size: $extra-medium-size;
    font-weight: $small-weight;
  }

  &__rating {
    color: $primary-darkgrey;
    font-weight: $small-weight;
  }

  &__bottom {
    border-top: 1px solid $primary-darkgrey;
    box-shadow: border-box;
    color: $primary-darkgrey;
    font-size: $medium-size;
    margin: 5px 0 0;
    padding-top: 15px;
    text-align: center;
    width: 100%;
  }
}

.content {
  align-items: center;
  display: flex;
  height: 16px;
  justify-content: center;
  width: 100%;
  &__stars {
    display: inline-block;
    text-align: right;
    width: 50%;
  }

  &__bar {
    align-items: center;
    color: $primary-blue;
    display: flex;
    text-align: left;
    width: 50%;
    &__percent {
      background-color: $primary-blue;
      display: inline-block;
      height: 16px;
      margin-right: 4px;
    }
  }
}


.tags {
  height: 168px;
  width: 100%;
  &__left {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 168px;
    justify-content: center;
    min-width: 250px;
    position: relative;
    width: 25%;

    &__update {
      color: $primary-darkgrey;
      margin-top: 10px;
    }
  }
}

.reviewsComments {
	margin-top: 20px;
	max-height: 745px;
	min-height: 168px;
	overflow: auto;

	width: 100%;

	&__container {
		border-right: 2px solid $primary-lightgrey;
		border-top: 2px solid $primary-lightgrey;
		padding: 10px 10px 0 0;
	}
  &__comment {

  }
}

