@import '../../../ui-kit.scss';

.toggleWrapper {
  display: flex;
  align-items: center;
  border-top: 1px solid $grey-lighter;
  padding-top: 20px;
  margin-bottom: 20px;
}

.toggleTitle {
  font-family: $inter;
  font-weight: 500;
  font-size: 14px;
  color: $grey;
  text-align: left;
  margin: 0 32px 0 0;
}

.wrapper {
  border: 1px solid $grey-lighter;
  border-bottom: 0;
  box-shadow: $shadow;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
}

.header {
  padding-left: 64px;
  display: flex;
  width: 100%;
}

.weekDayWrapper {
  min-height: 96px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.weekDay {
  font-family: $inter;
  font-weight: 500;
  font-size: 14px;
  color: $grey;
  margin: 0 0 8px;
}
.edit {
  font-family: $inter;
  font-weight: 500;
  font-size: 12px;
  color: $grey-light;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  transition: all 0.2s ease;
  svg {
    width: 12px;
    height: 12px;
    margin-right: 4px;
    fill: currentColor;
    position: relative;
    bottom: 1px;
  }
  &:hover {
    color: $grey;
    transition: all 0.2s ease;
  }
}
.body {
  width: 100%;
  display: flex;
  border-top: 1px solid $grey-ligthest;
  max-height: 775px;
  overflow: scroll;
}
.daysWrapper {
  display: block;
  width: 100%;
}
.hours {
  width: 64px;
  .hour {
    min-height: 75px;
    box-sizing: border-box;
    border-bottom: 1px solid transparent;
    text-align: center;
    font-family: $inter;
    font-weight: 500;
    font-size: 12px;
    color: $grey-light;
    line-height: 12px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    &:first-of-type {
      color: transparent;
    }
    span {
      position: relative;
      top: -6px;
    }
  }
}
.days {
  display: flex;
  flex: 1;
  .column {
    flex: 1;
    display: flex;
    align-items: center;
    border-left: 1px solid $grey-ligthest;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    .row {
      border-bottom: 1px solid $grey-ligthest;
      min-height: 75px;
      box-sizing: border-box;
      width: 100%;
      &:last-of-type {
        border-color: transparent;
      }
    }
  }
}
