@import '../../../styles/ui-reskin.scss';

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.servicesHeader {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 23.5px;

  &_counter {
    align-items: center;

    background-color: $super-white;
    border: 1px solid $color-grey-150;
    border-radius: 4px;
    box-shadow: $box-shadow-3;

    color: $color-purple-600;
    display: flex;
    flex-direction: row;
    font-size: $xxx-medium-size;
    height: 51px;
    justify-content: center;
    width: 160px;

    &_badge {
      align-items: center;
      background-color: $color-lavender-600;
      border-radius: 50%;

      color: $super-white;
      display: flex;
      font-size: $medium-size;
      font-weight: $bold-weight;

      height: 20px;
      justify-content: center;
      line-height: $xxx-medium-size;

      margin-left: 8px;
      text-align: center;
      width: 22px;
    }
  }
}

.servicesMainContainer {
  display: flex;
  height: 100%;
  width: 100%;
}

.servicesListContainer {
  display: inline-block;
  margin-right: 15px;
  max-width: 270px;
  min-width: 270px;
  width: 270px;
}

.modalContainer {
  align-items: center;
  border-bottom: 1px solid;
  display: inline-block;
  justify-content: center;
  width: 100%;
}

.header {
  margin-top: 35px;
}

.badgeHeader {
  padding: 15px 30px;
}

.addServiceButton {
  width: 188px;
}

.displayFlex {
  display: flex;
}

.displayFlexCenter {
  align-items: center;
  display: flex;
  justify-content: center;
}

.servicesListItem {
  color: $color-grey-400;
  display: -webkit-box;
  height: 62px;
  padding: 30px;

  &_text {
    font-size: $small-size;
    font-weight: $semi-bold-weight;
    letter-spacing: 0.06em;
    line-height: 23px;

    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: normal;
    &_active {
      color: $color-lavender-500;
    }
  }

  &_duration {
    font-weight: $medium-weight;
    line-height: 16px;

    &_text {
      color: $color-purple-600;
    }
  }

  &_icon {
    padding-right: 5px;
  }
}

.servicesDataContainer {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.serviceDataBody {
  padding: 40px;
}

.serviceDataHeader {
  height: auto !important;
  padding-bottom: 0 !important;
}

.servicesPractForm {
  display: inline-block;
  height: 100%;
  margin-bottom: 15px;
  padding-top: 15px;
  width: 100%;

  &_serviceList {
    padding-bottom: 15px;
  }

  &_all {
    align-items: center;
    display: flex;
    margin-bottom: 10px;
    width: 230px;

    &_text {
      padding-bottom: 5px;
    }

    &_toggle {
      margin-left: auto;
      padding-left: 5px;
    }
  }

  &_service {
    align-items: center;
    display: flex;
    padding-top: 5px;
    width: 230px;

    &_text {
      max-width: 200px;
      overflow: hidden;
      padding-bottom: 5px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &_toggle {
      margin-left: auto;
      padding-left: 5px;
    }
  }
}

.content {
  max-height: none;
  overflow: unset;
}

.trashButton {
  margin-left: auto;
}

.formContainer {
  display: flex;
  padding-left: 15px;

  &__createForm {
    height: 100%;
  }
}

.servicesFormRow {
  display: inline-block;
  min-width: 100px;
  width: 40%;

  &_hiddenText {
    align-content: center;
    align-items: center;

    color: $color-purple-600;
    display: flex;
    font-size: $medium-size;
    font-weight: $medium-weight;
    line-height: 20px;
    padding-bottom: 25px;
    width: 230px;

    &_text {
      width: 50%;
    }

    &_toggle {
      margin-left: 30px;
    }
  }

  &_widget {
    display: inline-block;

    &_content {
      padding-top: 15px;
    }
  }

  &_contentHeader {
    margin-top: 35px;
  }
}

.reasonHours {
  display: flex;
  width: 100%;
}

.scheduleWrapper {
  border: 1px solid $color-grey-100;
  border-radius: 4px;
  min-height: 300px;
  width: 100%;
}

.saveButton {
  margin-top: 40px;
}
.tooltipBody {
  width: 200px;
}

.tab {
  font-size: $medium-size;
  font-weight: $medium-weight;
  line-height: 20px;
  &_active {
    border-bottom: 2px solid $color-lavender-500;
  }
}
