@import '../../../ui.scss';

.servicesMainContainer {
  display: flex;
  height: 100%;
  width: 100%;
}

.servicesListContainer {
  display: inline-block;
  width: 270px;
  max-width: 270px;
  min-width: 270px;
  padding-top: 20px;
  margin-right: 15px;
}

.modalContainer {
  display: inline-block;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid;
  border-bottom-color: $primary-grey;
  background: $primary-white;
  width: 100%;
}

.header {
  margin-top: 35px;
}

.badgeHeader {
  padding: 15px 30px;
}

.addServiceButton {
  width: 188px;
}

.displayFlex {
  display: flex;
}

.displayFlexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.servicesListItem {
  display: -webkit-box;
  padding: 30px;

  &_text {
    composes: listItemHeader from '../../../fonts.scss';
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
  }

  &_duration {
    padding-top: 10px;
    composes: subHeaderExtraSmall from '../../../fonts.scss';

    &_text {
      color: $primary-dark;
    }
  }

  &_icon {
    padding-right: 5px;
  }
}

.servicesDataContainer {
  height: 100%;
  width: 100%;
  display: inline-block;
}

.serviceDataBody {
  padding: 40px;
}

.serviceDataHeader {
  padding-bottom: 0 !important;
  height: auto !important;
}

.servicesPractForm {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding-top: 15px;
  margin-bottom: 15px;

  &_serviceList {
    padding-bottom: 15px;
  }

  &_all {
    display: flex;
    align-items: center;
    width: 230px;
    margin-bottom: 10px;

    &_text {
      font-family: $medium-font;
      padding-bottom: 5px;
    }

    &_toggle {
      margin-left: auto;
      padding-left: 5px;
    }
  }

  &_service {
    display: flex;
    align-items: center;
    width: 230px;
    padding-top: 5px;

    &_text {
      padding-bottom: 5px;
      max-width: 200px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &_toggle {
      margin-left: auto;
      padding-left: 5px;
    }
  }
}

.content {
  overflow: unset;
  max-height: none;
}

.serviceHeaderContainer {
  display: flex;
  align-items: center;
  border-bottom: 1px solid;
  border-bottom-color: $primary-lightgrey;
  margin-left: 15px;
}

.trashButton {
  margin-left: auto;
}

.formContainer {
  display: flex;
  padding-left: 15px;

  &__createForm {
    height: 100%;
  }
}

.servicesFormRow {
  width: 40%;
  min-width: 100px;
  display: inline-block;

  &__createRow {
  }

  &_hiddenText {
    display: flex;
    align-items: center;
    align-content: center;
    padding-bottom: 25px;
    width: 230px;

    &_text {
      width: 50%;
    }

    &_toggle {
      margin-left: auto;
    }
  }

  &_widget {
    display: inline-block;

    &_content {
      padding-top: 15px;
    }
  }

  &_contentHeader {
    margin-top: 35px;
  }
}

.reasonHours {
  display: flex;
  width: 100%;
}

.scheduleWrapper {
  width: 100%;
  border: 1px solid #efefef;
  min-height: 300px;
  border-radius: 4px;
}

.saveButton {
  margin-top: 40px;
}
