@import '../../../styles/ui-reskin.scss';

.plainHeader {
  box-sizing: border-box;
  padding: 10px 5px 10px 0;
  text-transform: capitalize;
}

.headerTitle {
  color: $color-purple-600;
  display: inline-block;
  font-size: $xxx-medium-size;
  font-weight: $medium-weight;
}

.lightHeader {
  font-size: $xx-medium-size;
  font-weight: $medium-weight;
}
