
@import '../../../ui.scss';
@import '../../../fonts';

.plainHeader {
  box-sizing: border-box;
  // display: flex;
  // align-items: center;
  padding: 10px 5px 10px 0px;
  text-transform: capitalize;
}

.displayFlex {
  //display: flex;
  //align-items: center;
}

.headerTitle {
  display: inline-block;
  @extend .header;
}

.lightHeader {
  font-size: 22px;
  font-family: $dashboard-font;
  font-weight: 500;
}
