@import '../../../../styles/ui';

.columnHeader {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  max-height: 82px;
  min-height: 82px;
  overflow-x: hidden;

  &_empty {
    align-items: center;
    border-bottom: 0.13em solid $primary-grey;
    border-right: 0.13em solid $primary-grey;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    justify-content: center;
    min-width: 70px;
    overflow: hidden;
    padding-bottom: 2px;
    width: 70px;
  }

  &_body {
    animation: fadein 0.5s ease;
    box-sizing: border-box;
    display: flex;
    min-width: 100%;
    overflow-x: hidden;
  }

  &_item {
    border: 0.13em solid $primary-grey;
    border-left: 0;
    border-top: 0;
    box-sizing: border-box;
    flex: 1;
    min-width: 150px;
  }
}

.scrollDiv {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  padding-right: 8px;
  width: 100%;
}

.container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  justify-content: flex-start;
  padding: 10px;
}

.containerText {
  composes: fontDefault from '../../../../styles/fonts.scss';
  margin-left: 5px;
  overflow: hidden;
}

.practitionerName {
  composes: fontMedium from '../../../../styles/fonts.scss';
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.practitionerType {
  color: $primary-darkgrey;
  font-size: $extra-small-size;
}

.chairContainer {
  align-items: center;
  box-sizing: border-box;
  color: $primary-dark;
  composes: fontMedium from '../../../../styles/fonts.scss';
  display: flex;
  font-size: 15px;
  height: 100%;
  justify-content: center;
  padding: 5px;
  text-align: center;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
