@import '../../../ui';


body {
    margin: 0;
    padding: 0;
    background: #e6e6e6;
    font-family: sans-serif;
}

ul {
    list-style: none;
}

.loading {
  text-align: center;
  color: #959596;
}

.patients {
  height: 775px;
  max-height: 775px;
  display: flex;
  width: 100%;
  padding: 10px;
}

.patients_list {
    background: #f7f7f7;
    height: 100%;

    &_title {
      padding-top: 20px;
      padding-left: 30px;
      font-size: 18px;
      font-weight: $large-weight;
    }
    &::before {
        display: block;
        width: 100%;
        height: 5px;
        content: '';
        background: #8cbcd6;
    }

    &__search {
        display: flex;
        height: 70px;
        padding-left: 20px;
        padding-right: 20px;
        border-bottom: 1px solid #e6e6e6;
        justify-content: center;
        align-items: center;

        .search {
          display: flex;
          align-items: center;
          justify-content: center;
            &__label {
                position: relative;
                left: 15px;
                top: -10px;
                cursor: pointer;
                color: #b3b2b1;
            }

            &__input {
                width: 100%;
                height: 30px;
                font-size: 12px;
                border: none;
                border-bottom: 2px solid #8cbcd6;
                background-color: inherit;
                &:focus {
                  outline: none;
                }
            }

            &__edit {
                margin-left: auto;
                cursor: pointer;
                color: #b3b2b1;
            }
        }
    }

    .patients_list__users {
        overflow-y: auto;
        max-height: 450px;
        margin: 0;
        padding: 0;
    }

    .users {
        position: relative;
        display: flex;
        padding: 20px;
        border-bottom: 1px solid #e6e6e6;

        &:hover {
            background: #E7E7E7;
        }

        &__active {
            background: #E7E7E7;
        }

        &__photo {
            width: 100%;
            max-width: 50px;
            height: auto;
            max-height: 50px;
            margin-right: 10px;
            border-radius: 50%;
        }

        &__header {
            display: flex;
            align-items: center;
        }

        &__name {
            color: #2e3845;
            font-size: 14px;
            font-weight: 600;
        }

        &__body {
            display: flex;
            flex-direction: row;
        }

        &__text {
            padding-top: 10px;
            padding-right: 40px;
            padding-bottom: 10px;
            color: #969696;
            font-size: 12px;
        }

        &__appointment {
            padding-top: 10px;
            padding-bottom: 10px;
            color: #969696;
            font-size: 12px;
        }

        span {
            margin: auto;
        }
    }
}

.patients_content {
    position: relative;
    margin-left: 10px;
    background: #fafafa;
    height: 100%;

    &__addUser {
        position: absolute;
        top: 20px;
        right: 20px;
        display: flex;
        flex-direction: row;
        cursor: pointer;
        color: #F5F5F5;
        font-size: 12px;
        align-items: center;

        span {
            display: flex;
            width: 20px;
            height: 20px;
            margin-left: 5px;
            border: 2px solid #F5F5F5;
            border-radius: 20px;
            justify-content: center;
            align-items: center;
        }

        i {
            font-size: 12px;
        }
    }

    &__header {
        height: 310px;
        padding: 50px;
        background: url("https://s27.postimg.org/ovwezwahf/patients_bg.png") no-repeat;
        background-size: cover;
    }

    .patient_profile {
        display: none;
        width: 250px;
        background: #fafafa;

        &::before {
            display: block;
            width: 100%;
            height: 5px;
            content: '';
            background: #ff715a;
        }

        &__photo {
            img {
                width: 60px;
                height: 60px;
                border-radius: 50%;
            }
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: row;
        height: 345px;
        background: #cdcaca;
        width: 100%;
        .left {
          height: 345px;
          min-width: 250px;
          background-color: $primary-white;
          border-right: 2px solid $primary-grey;
            &::before {
                display: block;
                width: 100%;
                height: 3px;
                content: '';
                background: #ff715a;
            }
        }
        .middle {
           height: 345px;
           min-width: 250px;
           background-color: $primary-white;
           &::before {
             display: block;
             width: 100%;
             height: 3px;
             content: '';
             background: #ff715a;
           }
         }
       .right {
            height: 345px;
            min-width: 250px;
            background: #fafafa;
            font-size: 12px;
            margin-left: 5px;
            &::before {
                display: block;

              width: 100%;
                height: 3px;
                content: '';
                background: #8cbcd6;
            }

            &__header {
                display: flex;
                flex-direction: row;
                padding: 10px 0;
                color: #B4B4B4;
                justify-content: space-around;
            }

            .right__item {
                &__active {
                    color: black;
                    border-bottom: 2px solid #8cbcd6;
                }
            }
        }
    }
}

.personal {
    padding: 0 35px;

    &__table {
        position: relative;
        padding: 10px 20px;

        &:not(:last-child) {
            border-bottom: 1px solid #acacac;
        }
    }

    &__icon {
        position: absolute;
        left: 0;
        color: #8cbcd6;
    }
}

.edit_personal {
    margin-top: 10px;
    outline: none;

    &__icon {
        position: absolute;
        left: 20px;
        color: #8cbcd6;
    }

    input,
    select {
        margin-bottom: 5px;
        margin-bottom: 10px;
        margin-left: 3px;
        padding-bottom: 5px;
        padding-left: 10px;
        color: #B6B6B6;
        border: none;
        border-bottom: 1px solid #B6B6B6;
        background: none;

        &:focus {
            outline: none;
        }
    }

    &__table {
        position: relative;
        padding: 0 35px;
    }

    &__name {
        display: flex;
        align-items: baseline;

        &_first {
            width: 37%;
        }

        &_m {
            width: 20%;
        }

        &_last {
            width: 37%;
        }
    }

    &__info {
        &_header {
            display: flex;
        }
    }

    &__birthday {
        width: 50%;
    }

    &__age {
        width: 50%;
    }

    &__gender {
        select {
            width: 50%;
            margin-top: 5px;
        }
    }

    &__language {
        select {
            width: 100%;
        }
    }

    &__status {
        select {
            width: 100%;
        }
    }

    &__btn {
        display: flex;
        margin: 25px 10px 20px auto !important;
        cursor: pointer;
        border: none !important;

        &_enabled {
            color: red !important;
        }

        &:hover {
            color: #5a5656;
        }
    }
}

.insurance {
    position: relative;
    margin-top: 10px;
    padding: 0 30px;

    .icon {
        position: absolute;
        left: 0;
        color: #8cbcd6;
    }

    &__title {
        padding-left: 20px;
        color: #B5B5B5;
        text-transform: uppercase;
        font-size: 10px;
    }

    &__value {
        margin-bottom: 10px;
        padding-left: 20px;
    }

    &__header {
        position: relative;
        border-bottom: 1px solid #acacac;
    }

    &__footer {
        position: relative;
        margin-top: 20px;
    }

    &__name {
        display: flex;
        flex-direction: column;
    }
}

.edit_insurance {
    position: relative;
    margin-top: 10px;
    padding: 0 35px;

    .icon {
        position: absolute;
        left: 20px;
        color: #8cbcd6;
    }

    &__input {
        width: 100%;
        margin-bottom: 5px;
        margin-bottom: 10px;
        padding-bottom: 5px;
        padding-left: 10px;
        color: #B6B6B6;
        border: none;
        border-bottom: 1px solid #B6B6B6;
        background: none;

        &:focus {
            outline: none;
        }
    }

    &__footer {
        margin-top: 15px;
    }

    &__btn {
        display: flex;
        margin: 25px 10px 20px auto !important;
        cursor: pointer;
        color: #B6B6B6;
        border: none !important;
        background: none;

        &:hover {
            color: #5a5656;
        }
    }
}
