@import '../../../ui';

html {
  background: #e6e6e6;
}
body {
  margin: 0;
  padding: 0;
  background: #e6e6e6;
  font-family: sans-serif;
}

ul {
  list-style: none;
}

.tabs {
  padding: 8px;
  border-bottom-color: #8cbcd6;
  overflow-x: auto;
}

.nav {
  min-width: calc(33vw - 222px);
  overflow-x: hidden;
  white-space: nowrap;
  &:hover {
    overflow-x: auto;
  }
}

.grow {
  flex-grow: 1;
  margin-left: 10px;
}

.appointment {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px 0 20px;
}

.headerInput {
  width: 100%;
}

.input {
  margin-right: 5%;
  margin-left: 5%;
  width: 90%;
}

.rightCon {
  flex: 1;
  max-height: calc(62vh - 75px);
}

.upcoming{
  background-color: white;
  margin-bottom: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  div {
    text-align: center;
  }
}

.header {
  width: 100%;
  margin-bottom: 10px;
  padding-left: 15px;
}

.upcomingHead {
  width: 100%;
  &::before {
    padding-left: 0px;
    display: block;
    height: 5px;
    content: '';
    background: #8cbcd6;
  }
}

.searchList{
  display: flex;
  justify-content: space-between;
  img {
    margin-right: 20px;
  }
  div {
    text-align: left;
    font-family: "Gotham-Medium";
  }
}

.end {
  text-align: end;
}

.listRow {
  margin-top: 20px;
  flex: 1;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.stats {
  width: 500px;
  margin-top: 20px;
}

.formButton {
  float:right;
  margin-left: 10px;
}

.nameFields{
  font-size: 16px;
  font-family: Gotham-Book;
  padding: 10px 0px 10px 0px;
  display: block;
  width: 95%;
  border: none;
  border-bottom-width: medium;
  border-bottom-style: none;
  border-bottom-color: currentcolor;
  border-bottom: 1px solid #c6c6c6;
  background-color: #fafafa;

  &:focus {
    outline: none;
  }

  &:focus ~ label {
    top: 10px;
    left: 0px;
    font-size: 12px;
  }
}

.birthFields{
  margin-left: 4%;
  width: 100%;
}

.middleField {
  width: 20%;
  margin-right: 1%;
}
.firstField {
  flex-grow: 1;
}

.twoFields {
  display: flex;
  justify-content: space-between;
}

.drop {

}

.langaugeInput{
  position: relative;
  font-size: 16px;
  font-family: Gotham-Book;
  height: 28.89px;
  width: 95%;
  padding: 5px 5px 5px 0px;
  margin-right: 2%;
  cursor: pointer;
  border-bottom: 1px solid #d5d5d5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  transition: border 500ms ease-out;

}
.prefInput{
  position: relative;
  font-size: 16px;
  font-family: Gotham-Book;
  height: 28.89px;
  width: 95%;
  padding: 5px 5px 5px 0px;
  margin-left: 2.5%;
  margin-right: 2%;
  cursor: pointer;
  border-bottom: 1px solid #d5d5d5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  transition: border 500ms ease-out;
}
.genderInput{
  position: relative;
  font-size: 16px;
  font-family: Gotham-Book;
  height: 28.89px;
  width: 90%;
  padding: 5px 5px 5px 0px;
  cursor: pointer;
  border-bottom: 1px solid #d5d5d5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  transition: border 500ms ease-out;
  margin: 20px 2.5% 0 .5%;
}

.countryInput{
  position: relative;
  font-size: 16px;
  font-family: Gotham-Book;
  height: 28.89px;
  width: 95%;
  padding: 5px 5px 5px 0px;
  cursor: pointer;
  border-bottom: 1px solid #d5d5d5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  transition: border 500ms ease-out;
  margin: 20px 0 0 .5%;
}

.langaugeIcon {
  width: 17%;
  height: 100%;
  i {
    margin: 10% 20% 30% 0;
    font-size: 2.2em;
    color: #8cbcd6;
  }
}

.userIcon {
  height: 100%;
  margin-right: 7%;

  i {
    margin: 55% 20% 30% 0;
    font-size: 2.6em;
    color: #8cbcd6;
  }
}

.noIcon {
  width: 40%;
  height: 100%;

  i {
    margin: 55% 20% 30% 0;
    font-size: 2.4em;
    color: #8cbcd6;
  }
}
.noIcon2 {
  width: 52%;
  height: 100%;

  i {
    margin: 55% 20% 30% 0;
    font-size: 2.4em;
    color: #8cbcd6;
  }
}

.mailIcon {
  width: 20%;
  height: 100%;

  i {
    margin: 55% 10% 30% 0;
    font-size: 2.4em;
    color: #8cbcd6;
  }
}

.compref {
  margin-top: 30px;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.toggle{
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin: auto 0;
}

.checkbox{
  display: flex;
  justify-content: space-between;
  margin: auto 0;
}

.morning{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.marginZero {
  label {
    margin: 0 5px 5px 5px;
  }
}

.comprestitle {
  flex-grow: 1;
}

.calendarIcon {
  width: 25%;
  height: 100%;

  i {
    margin: 55% 20% 30% 0;
    font-size: 2.2em;
    color: #8cbcd6;
  }
}

.form {
  margin-right: 30px;
  margin-left: 30px;
  button {
    position: absolute;
    right:    10px;
    margin: 15px;
  }
}

.deleteButton {
  position: absolute;
  margin: 15px;
}


.background {
  background: url("https://s27.postimg.org/ovwezwahf/patients_bg.png") no-repeat;
  background-size: cover;
  max-height: calc(62vh - 75px);
  overflow-y: auto;
}

.tabdivs {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(51vh - 110px);
  height: calc(51vh - 110px);
}

.names {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.text {
  text-align: center;
}

.names2 {
  display: flex;
  justify-content: space-between;
  height: 60px;
}

.names3 {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.status {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.deleteInfo {
  float: right;
  color: red;
  height: 20px;
  margin: 20px 20px 0 0;
  i {
  font-size: 1.7em;
  }
}

.name {
  display:flex;
  font-family: "Gotham-Medium";
  font-size: 1.8em;
}
.name span:first-child {
  flex-shrink:1;
  text-overflow: ellipsis;
  overflow: hidden;
}

.name span {
  white-space: nowrap;
}

.name {
  font-family: "Gotham-Medium";
  font-size: 1.8em;
}

.statInfo {
  font-family: "Gotham-Book";
  color: grey;
  font-size: 0.9em;
}

.statData {
  font-family: "Gotham-Book";
  color: white;
  font-size: 1.1em;
  font-weight: bold;
}

.container1 {
  width: 50%;
  margin: 25% 0;
  text-align: center;
  border-right-style: solid;
  border-right-color: grey;
  float:left;
  position: relative;
}

.container2 {
  margin: 10% 0;
  width: 40%;
  float: right;
  text-align: left;
  position: relative;
}

.loyal {
  position: relative;
}

.loyality1 {
  font-family: "Gotham-Medium";
  color: white;
  font-size: 2.5em;
}
.loyality2 {
  font-family: "Gotham-Book";
  color: white;
  font-size: 1.0em;
}
.loyality3 {
  font-family: "Gotham-Medium";
  color: white;
  font-size: 1.2em;
}


.info {
  font-family: "Gotham-Book";
  font-size: 1em;
  color: #bfbfbf;
}

.contact {
  font-family: "Gotham-Book";
  font-size: 1.1em;
  color: #bfbfbf;
}

.loading {
  text-align: center;
  color: #959596;
}

.patients {
  height: 91%;
  position: absolute;
  display: flex;
  padding: 10px;
  background-color: #e6e6e6;
  box-sizing: unset;
}

.topRow {
  background: #f7f7f7;
  min-height: 115px;
  max-height: 115px;
}

.patients_list {
  background: #e6e6e6;
  max-height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  &_title {
    padding-top: 20px;
    padding-left: 30px;
    font-size: 18px;
    font-weight: $large-weight;
  }
  &::before {
    display: block;
    width: 100%;
    height: 5px;
    content: '';
    background: #8cbcd6;
  }

  &__search {
    display: flex;
    height: 70px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #e6e6e6;
    justify-content: center;
    align-items: center;

    .search {
      display: flex;
      align-items: center;
      justify-content: center;
      &__label {
        position: relative;
        left: 15px;
        top: -10px;
        cursor: pointer;
        color: #b3b2b1;
      }

      &__input {
        width: 100%;
        height: 30px;
        font-size: 12px;
        border: none;
        border-bottom: 2px solid #8cbcd6;
        background-color: inherit;
        &:focus {
          outline: none;
        }
      }

      &__edit {
        margin-left: auto;
        cursor: pointer;
        color: #b3b2b1;
      }
    }
  }

  .patients_list__users {
    position: relative;
    z-index: 0;
    overflow-y: auto;
    max-height: calc(96vh - 230px);
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .patients_list__users_loading {
    position: relative;
    z-index: 0;
    overflow-y: auto;
    max-height: calc(96vh - 230px);
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #E0E0E0;
  }

  .users {
    position: relative;
    display: flex;
    padding: 20px;
    border-bottom: 1px solid #e6e6e6;

    &__active {
      background: lighten(#E7E7E7, 2.6%);
    }

    &__photo {
      width: 100%;
      max-width: 50px;
      height: auto;
      max-height: 50px;
      margin-right: 10px;
      border-radius: 50%;
    }

    &__header {
      display: flex;
      align-items: center;
    }

    &__name {
      color: #2e3845;
      font-size: 14px;
      font-weight: 600;
    }

    &__body {
      display: flex;
      flex-direction: row;
    }

    &__text {
      padding-top: 10px;
      padding-right: 40px;
      padding-bottom: 10px;
      color: #969696;
      font-size: 12px;
    }

    &__appointment {
      padding-top: 10px;
      padding-bottom: 10px;
      color: #969696;
      font-size: 12px;
    }

    span {
      margin: auto;
    }
  }
}

.patients_content {
  position: relative;
  margin-left: 10px;
  background: #fafafa;
  height: calc(99vh - 75px);
  display: flex;
  width: calc(77vw - 222px);
  flex-direction: column;

  &__addUser {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    color: #F5F5F5;
    font-size: 12px;
    align-items: center;

    span {
      display: flex;
      width: 20px;
      height: 20px;
      margin-left: 5px;
      border: 2px solid #F5F5F5;
      border-radius: 20px;
      justify-content: center;
      align-items: center;
    }

    i {
      font-size: 12px;
    }
  }

  &__header {
    padding: 50px;
  }

  .patient_profile {
    width: 500px;
    background: #fafafa;
    margin-bottom: 10px;
    margin-left: 30px;


    &::before {
      display: block;
      width: 100%;
      height: 5px;
      content: '';
      background: #ff715a;
    }

    &__photo {
      width: 100px;
      height: 100px;
      margin: -50px 38% 0 auto;
      display: table;

      img {
        width: 100px;
        height: 100px;
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    background: #cdcaca;
    height: 100%;
    width: 100%;
    .left {
      height: 100%;
      min-width: 250px;
      background-color: $primary-white;
      border-right: 2px solid $primary-grey;
      &::before {
        display: block;
        width: 100%;
        height: 3px;
        content: '';
        background: #ff715a;
      }
    }
    .middle {
      height: 465px;
      min-width: 250px;
      background-color: $primary-white;
      &::before {
        display: block;
        width: 100%;
        height: 3px;
        content: '';
        background: #ff715a;
      }
    }
    .right {
      height: 100%;
      background: #fafafa;
      font-size: 12px;
      margin-left: 5px;
      &::before {
        display: block;

        width: 100%;
        height: 3px;
        content: '';
        background: #8cbcd6;
      }

      &__header {
        display: flex;
        flex-direction: row;
        padding: 10px 0;
        color: #B4B4B4;
        justify-content: space-around;
      }

      .right__item {
        &__active {
          color: black;
          border-bottom: 2px solid #8cbcd6;
        }
      }
    }
  }
}

.personal {
  padding: 0 35px;

  &__table {
    position: relative;
    padding: 10px 20px 0 20px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__table_info {
    position: relative;
    padding: 10px 20px;
    text-align: center;
  }

  &__icon {
    position: absolute;
    left: 0;
    color: #8cbcd6;
  }
}

.edit_personal {
  margin-top: 10px;
  outline: none;

  &__icon {
    position: absolute;
    left: 20px;
    color: #8cbcd6;
  }

  input,
  select {
    margin-bottom: 5px;
    margin-bottom: 10px;
    margin-left: 3px;
    padding-bottom: 5px;
    padding-left: 10px;
    color: #B6B6B6;
    border: none;
    border-bottom: 1px solid #B6B6B6;
    background: none;

    &:focus {
      outline: none;
    }
  }

  &__table {
    position: relative;
    padding: 0 35px;
  }

  &__name {
    display: flex;
    align-items: baseline;

    &_first {
      width: 37%;
    }

    &_m {
      width: 20%;
    }

    &_last {
      width: 37%;
    }
  }

  &__info {
    &_header {
      display: flex;
    }
  }

  &__birthday {
    width: 50%;
  }

  &__age {
    width: 50%;
  }

  &__gender {
    select {
      width: 50%;
      margin-top: 5px;
    }
  }

  &__language {
    select {
      width: 100%;
    }
  }

  &__status {
    select {
      width: 100%;
    }
  }

  &__btn {
    display: flex;
    margin: 25px 10px 20px auto !important;
    cursor: pointer;
    border: none !important;

    &_enabled {
      color: red !important;
    }

    &:hover {
      color: #5a5656;
    }
  }
}

.insurance {
  position: relative;
  margin-top: 10px;
  padding: 0 30px;

  .icon {
    position: absolute;
    left: 0;
    color: #8cbcd6;
  }

  &__title {
    padding-left: 20px;
    color: #B5B5B5;
    text-transform: uppercase;
    font-size: 10px;
  }

  &__value {
    margin-bottom: 10px;
    padding-left: 20px;
  }

  &__header {
    position: relative;
    border-bottom: 1px solid #acacac;
  }

  &__footer {
    position: relative;
    margin-top: 20px;
  }

  &__name {
    display: flex;
    flex-direction: column;
  }
}

.edit_insurance {
  position: relative;
  margin-top: 10px;
  padding: 0 35px;

  .icon {
    position: absolute;
    left: 20px;
    color: #8cbcd6;
  }

  &__input {
    width: 100%;
    margin-bottom: 5px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    color: #B6B6B6;
    border: none;
    border-bottom: 1px solid #B6B6B6;
    background: none;

    &:focus {
      outline: none;
    }
  }

  &__footer {
    margin-top: 15px;
  }

  &__btn {
    display: flex;
    margin: 25px 10px 20px auto !important;
    cursor: pointer;
    color: #B6B6B6;
    border: none !important;
    background: none;

    &:hover {
      color: #5a5656;
    }
  }
}
