@import '../../../../ui';

.editModal {
  width: 500px;
  padding-top: 15px;
  background: $primary-white;
  border-top: 5px solid $primary-color;
}

.header {
  padding-left: 15px;
  padding-bottom: 15px;
  composes: fontMedium from 'sass-loader!../../../../fonts.scss';
}

.content {
  padding: 0px 5px 0px 5px;
}
