@import '../../../ui';

.main {
  box-sizing: border-box;
  padding: 20px;
  @media screen and (min-width: $widget-mobile-width) {
    padding: 40px;
  }
}

$padding: 5px;

.colLeft {
  padding-right: $padding;
}

.colRight {
  padding-left: $padding;
}

.submitButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  // padding: 0 20px;
  > button {
    width: 100%;
    max-width: 300px;
    &:hover {
      background-color: var(--primaryColor);
    }
  }
}
