
@import '../../../ui';

.main {
  box-sizing: border-box;
  padding: 20px;
  @media screen and (min-width: $widget-mobile-width) {
    padding: 40px;
  }
}

$padding: 5px;

.colLeft {
  padding-right: $padding;
}

.colRight {
  padding-left: $padding;
}
