@import "../../../ui.scss";
@import "../styles.scss";

.business {
  &__header {
    @extend .header;
    &_title {
      @extend .title;
    }
    &_cards {
      @extend .cards;
    }
  }
  &__patientList {
    &_item {
      padding: 5px;
    }
  }
  &__body {
    @extend .padding;

    &_arrows {
      padding-right: 50px;
    }
    &_call {
      margin-bottom: 20px;
    }
    &_select {
      display: flex;
      flex-wrap: wrap;
      div:first-child {
        padding-left: 0;
        padding-right: 5px;
      }
      div:last-child {
        padding-right: 0;
        // padding-left: 5px;
      }

    }
    &_list {
      margin: 0 0 20px !important;
    }
  }
}

.checkbox{
  display: flex;
  justify-content: space-between;
  margin: auto 0;
}

.marginZero {
  label {
    margin: 0 5px 5px 5px;
  }
}
