@import '../../ui.scss';

:global(.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside)) {
  background-color: var(--primaryColor);
}
* {
  -webkit-font-smoothing: antialiased;
  font-family: Roboto;
}

.reviewsWidgetContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.reviewsWidgetCenter {
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  //max-height: 675px;
  > h1 {
    margin: 0px;
  }
}

.container {
  display: flex;
  flex: 1;
  width: 100%;
  overflow: auto;
  > div {
    display: flex;
    flex: 1;
    width: 100%;
    flex-direction: column;
  }
}

.tmpContainer {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.06), 0 2px 5px rgba(0, 0, 0, 0.16);
}

.col {
  padding: 5px 10px;
}

.service {
  font-size: 12px;
  font-family: 'Roboto';
  padding-bottom: 5px;
}

.date {
  font-size: 12px;
}

.poweredBy {
  padding-top: var(--widget-spacer);
  text-align: center;
  color: $widget-grey-light;
  background: $widget-white;
  border-top: 1px solid $widget-grey-lighter;
  padding-bottom: var(--widget-spacer);
  z-index: 2;
  transform: translateY(60px);
  animation: movePoweredBy 0.75s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  img {
    max-height: 16px;
    margin-bottom: -2px;
    margin-left: 3px;
  }
}
@keyframes movePoweredBy {
  100% {
    transform: translateY(0);
  }
}
