@import '../../../../styles/ui';
@import '../../../../styles/ui-kit';

.main {
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  max-width: 500px;
  min-height: 420px;
  padding: 20px;
  width: 100%;
}

.row {
  align-items: center;
  display: flex;
  justify-content: center;
}

.footer {
  @extend .row;
  flex-direction: column;
}

.textAreaWrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 400px;
  padding: 40px 0 20px;
  width: 100%;
}

.avatar {
  height: calc(4rem * 1.6);
  width: calc(4rem * 1.6);
}

.messageWrapper {
  margin: 0 auto;
  max-width: 400px;
  text-align: center;
  width: 75%;
}

.starsWrapper {
  box-sizing: border-box;
  padding: 40px 0 10px;
}

.text-centered {
  text-align: center;
}

.header {
  @extend .text-centered;
  @extend .row;
  box-sizing: border-box;
  color: $grey-darker;
  font-family: Roboto, sans-serif;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 0.04px;
  margin: 0 auto; // when you add max-width you need this
  padding: 20px 10px 10px;
}

.message {
  @extend .text-centered;
  color: $grey-dark;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  margin: 0 auto;
  max-width: 360px;
  padding: 5px 10px;
}
.poorShare {
  background-color: transparent;
  border-bottom: 1px solid $grey-light;
  color: $grey;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  margin-top: 16px;
  padding: 0 0 2px;
}

.button {
  @extend .fx;
  background: var(--primaryColor);
  border-radius: $rounded;
  box-shadow: $shadow;
  color: $white;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-right: 0;
  max-width: 300px;
  width: 100%;

  &[disabled] {
    background: $grey-lighter !important;
    color: $grey-light !important;
  }
  &:hover {
    opacity: 0.9;
    @extend .fx;
  }
}

.googleButton {
  @extend .button;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 1.75em;
  padding-right: 1.75em;

  > i {
    margin-left: auto;
  }
}

.from {
  @extend .message;
  padding-top: 0;
}

.blurBackground {
  align-items: center;
  background: linear-gradient(var(--primaryColor), white 70%);
  border-radius: 50%;
  display: flex;
  height: calc(4.4rem * 1.6);
  justify-content: center;
  // border-color: $primary-color;
  //transition-timing-function: ease-in;
  width: calc(4.4rem * 1.6);
}

.label {
  color: $grey;
  font-family: Roboto, sans-serif;
  font-size: 13px !important;
  font-weight: 300;
}

.textArea {
  padding-top: 0;
  width: 100%;

  > div {
    color: $primary-darkgrey;
    font-size: 12px;
    top: -20px;
  }

  > textarea {
    background: $white;
    border: 1px solid $grey-lighter;
    border-radius: $rounded;
    box-shadow: $shadow;
    box-sizing: border-box;
    color: $grey-dark;
    font-family: Roboto, sans-serif;
    font-size: 13px;
    height: 80px;
    line-height: 16px;
    padding: 10px;
  }
}
