@import '../../styles';

.waitlistIndex {
  font-size: 13px;
  font-family: $book-font;
  color: $widget-grey;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 8px;
}
.waitlistKey {
  width: 100%;
  display: block;
  font-family: $medium-font;
}
.waitlistValue {
  display: flex;
  align-items: center;
  font-size: 12px;
}
.rangeInputContainer {
  display: flex;
  margin: 0 -8px;
}

.inputsGroup {
  margin: 0 8px var(--widget-spacer);
  padding: 0;
  flex: 1;
}

.dateRangeButton {
  margin-top: var(--widget-spacer);
}

.today {
  color: var(--primaryColor);
}

.selectedDay {
  color: white;
  background: var(--primaryColor);

  &:hover:not(.outside) {
    opacity: 0.9;
    background: var(--primaryColor);
  }
}

.outside {
  cursor: default;
  color: #dce0e0;
  background: transparent;
}

.start {
  opacity: 0.75;
}

.end {
  opacity: 0.75;
}
