
@font-face {
  font-family: Gotham-Book;
  src: url(../statics/fonts/Gotham-Book.ttf);
}

@font-face {
  font-family: Gotham-Medium;
  src: url(../statics/fonts/Gotham-Medium.ttf);
}

body {
  font-family: Gotham-Book;
}

.input50{
  width: 50%;
}
