
@font-face {
  font-family: Gotham-Book;
  src: url(./fonts/Gotham-Book.ttf);
}

@font-face {
  font-family: Gotham-Medium;
  src: url(./fonts/Gotham-Medium.ttf);
}

body {
  font-family: Gotham-Book;
}

