@import '../../../../../ui';

.tagsContainer {
  margin-top: 15px;
  height: auto;
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-wrap: wrap;
}

.tagBody {
  display: flex;
  background: $primary-blue;
  box-sizing: border-box;
  padding: 8px;
  margin: 5px 5px 5px 0;
  align-items: center;
  flex: 0 0 1;
  justify-content: space-between;
  width: auto;
}

.tagText {
  composes: fontMedium from '../../../../../fonts.scss';
  color: $primary-white;
  padding-right: 10px;
}

.closeIcon {
  color: $primary-white;
  &:hover {
    color: darken($primary-white, 10%);
    cursor: pointer;
  }
}
