@import '../../../../../styles/ui-reskin.scss';
@import '../../../../../styles/reskin-font.scss';

.tagsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  list-style: none;
  margin-top: 15px;
}

.tagBody {
  align-items: center;
  border: 1px solid $color-lavender-500;
  border-radius: 44px;
  box-shadow: $box-shadow-4;
  box-sizing: border-box;
  color: $super-white;
  display: flex;
  flex: 0 0 1;
  font-size: $medium-size;
  font-weight: $medium-weight;
  justify-content: space-between;
  margin: 5px 5px 5px 0;
  padding: 8px;
  width: auto;
}

.tagText {
  color: $color-lavender-500;
  padding-right: 10px;
  @extend .font-Medium;
}

.closeIcon {
  color: $color-lavender-500;
  &:hover {
    color: $color-lavender-550;
    cursor: pointer;
  }
}
