
@import '../../../../ui.scss';

.appointment {
  &__table {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-self: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;

    &_btn {
      //font-size: 18px;
      color: var(--bookingWidgetPrimaryColor);
      /*cursor: pointer;
      &:focus {
        outline: none;
      }*/
    }

    &_elements {
      display: flex;
      // width: 100%;
      min-width: 370px;
      height: 200px;
      // overflow-y: scroll;


    }
  }

  &__list {
    box-sizing: border-box;
    padding: 0;
    margin: 0 5px;
    font-size: 18px;
    flex-grow: 1;
    @media screen and (max-width: 800px) {
      margin: 0 2px;
    }

    .list__header {
      margin-top: 5px;
      &_day {
        font-family: $medium-font;
        font-size: 12px;
        font-weight: 500;
        color: #2e3945;
        text-align: center;
      }

      &_number {
        font-size: 10px;
        color: #dddcdc;
        text-align: center;
      }
    }

    &_active {
      background-color: #e6e6e6 !important;
    }

    &_selected {
      background-color: #f3715c !important;
      background-color: var(--bookingWidgetPrimaryColor) !important;
      filter: grayscale(80%);
    }

    &_item {
      cursor: pointer;
      width: 100%;
      box-sizing: border-box;
      padding: 10px 0;
      margin: 5px 0;
      font-size: 10px;
      color: white;
      text-align: center;
      text-transform: lowercase;
      list-style: none;
      background-color: #f3715c;
      background-color: var(--bookingWidgetPrimaryColor);
      flex-grow: 1;
    }
  }
}

.centeredContent {
  display: flex;
  justify-content: center;
}

.columnsWrapper {
  overflow-x: auto;
}
