
@import '../../../../ui.scss';

.appointment {
  &__table {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-self: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;

    &_btn {
      position: absolute;
      font-size: 18px;
      color: #f3715c;
      color: var(--bookingWidgetPrimaryColor);
      cursor: pointer;
      background: none;
      border: none;
      &:focus {
        outline: none;
      }

      align-self: flex-start;
      &:first-child {
        top: 0;
        left: -25px;
      }

      &:last-child {
        top: 0;
        right: -25px;
      }

      @media screen and (max-width: 860px) {
        &:first-child {
          left: -20px;
        }

        &:last-child {
          right: -20px;
        }
      }

      @media screen and (max-width: 600px) {
        &:first-child {
          left: -25px;
        }

        &:last-child {
          right: -25px;
        }
      }
    }

    &_elements {
      display: flex;
      width: 100%;
      height: 200px;
      margin: 0 auto 30px;
      overflow-y: scroll;
      @media screen and (max-width: 600px) {
        margin: 0 auto 5px;
      }

      @media screen and (max-width: 800px) {
        margin: 0 20px 20px;
      }
    }
  }

  &__list {
    box-sizing: border-box;
    padding: 0;
    margin: 0 5px;
    font-size: 18px;
    flex-grow: 1;
    @media screen and (max-width: 800px) {
      margin: 0 2px;
    }

    .list__header {
      margin-top: 5px;
      &_day {
        font-family: $medium-font;
        font-size: 12px;
        font-weight: 500;
        color: #2e3945;
        text-align: center;
      }

      &_number {
        font-size: 10px;
        color: #dddcdc;
        text-align: center;
      }
    }

    &_active {
      background-color: #e6e6e6 !important;
    }

    &_selected {
      background-color: #f3715c !important;
      background-color: var(--bookingWidgetPrimaryColor) !important;
      filter: grayscale(80%);
    }

    &_item {
      cursor: pointer;
      width: 100%;
      box-sizing: border-box;
      padding: 10px 0;
      margin: 5px 0;
      font-size: 10px;
      color: white;
      text-align: center;
      text-transform: lowercase;
      list-style: none;
      background-color: #f3715c;
      background-color: var(--bookingWidgetPrimaryColor);
      flex-grow: 1;
    }
  }
}
