@import '../../styles/ui.scss';
@import '../../styles/ui-kit.scss';
@import '../../styles/fonts.scss';
.errorWrapper {
  align-items: center;
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 20%;
  max-height: 100%;
  padding: 10px;
  text-align: center;
}

.header {
  color: $primary-blue;
  font-size: 17px;
  margin: 15px 0;
}
.errorImg {
  height: 10rem;
  width: 15rem;
}
.retryButton {
  align-items: center;
  background: $primary-blue;
  border-radius: 4px;
  color: white;
  display: flex;
  font-size: 12px;
  font-weight: 500;
  height: 34px;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 30px;
  width: 153px;
}
.supportText {
  color: rgb(104, 110, 116);
  font-size: 12px;
  margin: 10px 25px;
}
.bottomText {
  align-items: center;
  bottom: 60px;
  color: rgb(104, 110, 116);
  display: flex;
  font-size: 11px;
  justify-content: center;
  margin: 20px;
  padding: 10px;
  position: absolute;
}
.highlight {
  color: $primary-blue;
  font-family: $medium-font;
  font-weight: bold;
  text-decoration: none;
}
