
@import '../../../ui.scss';

.headerContainer {
  width: 100%;
  background-color: $primary-lightgrey;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 5px solid $primary-color;
}

.pullRight {
  margin-left: auto;
}

.closeButton {
  width: 35px;
  font-size: 1em;

}
