.formContainer {
  padding-left: 10px;
  padding-top: 15px;

  &_content {
    padding-bottom: 10px;
    padding-top: 10px;
    width: 300px;
  }

  &_service {
    align-items: center;
    display: flex;
    padding-bottom: 5px;

    &_name {
      max-width: 250px;
      overflow: hidden;
      padding-right: 35px;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 300px;
    }

    &_toggle {
      margin-left: auto;
      padding-left: 5px;
    }
  }
}

.allText {
  font-family: 'Gotham-Medium';
  padding-right: 35px;
}

.allToggle {
  margin-left: auto;
}

.allContainer {
  align-items: center;
  display: flex;
  width: 300px;
}
