@import '../../../ui.scss';

.vcard {
  background-color: $color-white;
  border-top: 5px solid $clr-bg-dark-grey;
  padding: $padding-card-base;
}

.no-padding {
  padding: 0;
}

.default-title {
  font-size: em(18px, 14px);
  margin: 0 0 30px;
}
