@import '../../../../../ui.scss';


.booked {
  border-top: 5px solid $inactive-color;
  //margin:0 5px 20px;
  min-width: 250px;
  overflow: hidden;
  max-height: 500px;

  &__header {
    display: flex;
    align-items: center;
    //height: 30px;
    margin-left: 15px;
    padding-bottom: 17px;
  }
  &__body {
    position: relative;
    display: flex;
    height: 300px;
    canvas {
      max-width: 99%;
      max-height: 99%
    }
    @media screen and (max-width: 900px){
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
