@import '../../../styles/ui.scss';

.heading {
  font-size: 14px;
  margin-bottom: 20px;
}

.messageContainer {
  padding-bottom: 0;
  > div {
    top: 0;
  }
}

.messageTextArea {
  background-color: #f4f4f4;
  border: none;
  box-sizing: border-box;
  color: #2e3845;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  height: 150px;
  line-height: 19px;
  margin: 0;
  outline: none;
  padding: 16px 20px;
  resize: none;
  width: 100%;
}

.refreshTemplateButton {
  align-items: center;
  border: none;
  display: inline-block;
  font-size: 10px;
  justify-content: center;
  margin-left: 10px;
  padding: 0;
  &:hover {
    background-color: transparent;
    color: initial;
  }
  > i {
    font-size: 10px;
  }
}

.errorFetchingTemplateContainer {
  color: $danger-color;
  margin-top: 10px;
}
