
@import '../../../ui.scss';

.tab {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  color: $primary-darkgrey;
  font-family: $medium-font;
  font-weight: 400;
}

.activeTab {
  //border-bottom: $selection-border $primary-color;
  color: $primary-color;
}

.disabledTab {
  color: lighten($primary-darkgrey, 25%);
  cursor: not-allowed;
}

.nav {

}

.content {

}
