@import '../../../ui.scss';

.tab {
  padding: 10px;
  cursor: pointer;
  composes: tab from '../../../fonts.scss';
  display: flex;
  align-items: center;
  justify-content: center;
}

.noUnderLine {
  border-bottom: 0 !important;
}

.activeTab {
  border-bottom: $selection-border $primary-color;
  color: black;
  font-family: $medium-font;
}

.disabledTab {
  color: lighten($primary-darkgrey, 25%);
  cursor: not-allowed;
}

.fluidTab {
  flex: 1;
  text-align: center;
}

.nav {
  display: flex;
  flex: 0 0 auto;
}
.tabs {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  max-height: 520px;
  overflow: auto;
}

.tabCard {
  display: inline-flex;
  box-sizing: border-box;
  width: 50%;
  justify-content: center;
  background-color: $primary-grey;
  height: 50px;
  border-right: 1px solid $primary-light-grey;
  border-bottom: 1px solid $primary-light-grey;
  color: $primary-dark;
  composes: fontMedium from '../../../fonts.scss';
  align-items: center;
  cursor: pointer;

  &:last-child {
    border-right: 0;
  }
}

.activeTabCard {
  border-bottom: none;
  color: black;
  composes: fontMedium from '../../../fonts.scss';
  background-color: white;
  transition: ease 0.2s all;
}
