
@import '../../../ui.scss';

.tab {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  composes: tab from 'sass-loader!../../../fonts.scss';
}

.noUnderLine {
  border-bottom: 0px !important;
}

.activeTab {
  border-bottom: $selection-border $primary-color;
  color: $primary-color;
}

.disabledTab {
  color: lighten($primary-darkgrey, 25%);
  cursor: not-allowed;
}

.nav {

}

.content {

}
