
@import '../../../ui.scss';

.tab {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
}

.activeTab {
  border-bottom: $selection-border $primary-color;
}

.nav {

}

.content {
  padding: 5px;
}
