@import '../styles';

.wrapper {
  padding: 0;
}

.dropDownList {
  max-height: 220px;
  overflow-y: auto;
  position: relative;
  padding-bottom: 40px;
}
.labelPatient {
  flex: 1;
  padding: 13px;
  background: transparent;
  text-align: left;
  color: $widget-grey;
}
.slotButton {
  padding: 0;
  height: 48px;
  text-align: left;
  border-bottom: 0px;
}
.editLink {
  @extend .editLink;
  margin-right: 8px;
  margin-left: 0;
}
.editPatient {
  text-transform: uppercase;
  border: 0;
  color: $widget-grey;
  font-size: $small-size;
  margin: 0 13px;
  cursor: pointer;
  &:hover {
    color: $primary-dark;
  }
}
.addNewPatient {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  border: 0;
  background: $widget-grey-lightest;
  text-transform: uppercase;
  color: $widget-grey-dark;
  line-height: 40px;
  text-align: left;
  font-family: $medium-font;
  cursor: pointer;
  padding: 0 0 0 12px;
  &:hover {
    background: $primary-lightgrey;
  }
}
