@import '../styles';

.filled {
  top: -5px !important;
  width: 100%;
  position: relative;
  left: 0 !important;
}

.label {
  color: $empty-grey;
  font-weight: normal;
  pointer-events: none;
  font-family: $medium-font;
  transition: 0.2s ease all;
  top: 0;
  left: 0 !important;
}
.labelWrapper {
  left: 1px;
  position: absolute;
  width: calc((100% - 2px) - var(--widget-spacer));
  font-size: 14px;
  padding-top: 12px;
  padding-bottom: 2px;
  color: $widget-grey-light;
  background: #fff;
  top: 1px;
  border-radius: 4px;
  padding-left: var(--widget-spacer);
}
