.addressForm {
  width: 100%;
}
.addressRow {
  display: inline-block;
  width: 50%;
}

.addressCol{
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 0px;
  height: 50px;
  padding-bottom: 30px;
}

.addressColPlain{
  width: 40%;
  min-width: 200px;
}

.addressColSelect{
    width: 40%;
    min-width: 200px;
    margin-left: auto;
}
