.addressForm {
  width: 100%;
}



.addressRow {
  height: 100%;
}

.addressCol{
  padding-bottom: 0px;
  display: flex;
  height: 100%;

  &__select{
    margin-left: auto;
    padding-top: 39px;
  }
}


