@import '../../../../ui.scss';

.schedule_filter {
  min-height: 150px;
  box-shadow: 0 0 25px 1px rgba(209, 209, 209, 0.5);
  background-color: white;
}

.filter_header {
  padding: 0 10px 10px 0;
  position: relative;
  display: flex;
  flex-direction: row;
  height: 27px;
  line-height: 40px;
  justify-content: flex-start;
  width: 100%;

  @media screen and (max-width: 1350px) {
    justify-content: space-between;
  }

  &__title {
    justify-content: center;
    padding-right: 15px;
    //padding-left: 15px;
    font-weight: $large-weight;
    font-size: $title-size;
  }

  &__icon {
    padding-left: 10px;
    padding-right: 10px;
    @media screen and (max-width: 1250px) {
      display: none;
    }
  }

  &__link {
    display: flex;
    cursor: pointer;
    color: #b4b4b4;
    font-size: 10px;
    //padding-right: 5px;
    margin-left: auto;
    &__selectText {
      padding-right: 10px;
      &:hover {
        color: darken(#b4b4b4, 10%);
      }
    }

    &__clearText {
      &:hover {
        color: darken(#b4b4b4, 10%);
      }
    }
    @media screen and (max-width: 1250px) {
    }
  }
}

.filter_practitioner {
  padding: 15px 10px 10px;
  margin-bottom: 15px;
  background: $primary-white;
  height: 100%;
  max-height: 280px;
  overflow-y: scroll;
  max-width: 310px;

  &__name {
    font-size: 10px;
    composes: fontMedium from '../../../../fonts.scss';
  }

  &__type {
    font-size: 9px;
    composes: fontMedium from '../../../../fonts.scss';
    color: $empty-grey;
    padding-top: 4px;
  }

  &__title {
    margin-left: 5px;
    text-transform: uppercase;
    color: #b4b4b4;
    font-size: 9px;
    line-height: 30px;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  &__list {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
    align-items: center;
    //flex: 1 0 20%;
    flex: 0 0 23%;
    margin-bottom: 8px;
    min-width: 55px;
    margin: 3px;
  }
}

.filter_options {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;

  &__title {
    text-transform: uppercase;
    color: $primary-darkgrey;
    font-size: 9px;
    composes: fontMedium from '../../../../fonts.scss';
  }

  &__checkLabelContainer {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 9px;
    //composes: fontMedium from '../../../../fonts.scss';
    text-overflow: ellipsis;
    flex: 1 0 35%;
    //padding: 2px;
    &__all {
      font-weight: $large-weight;
    }
  }

  &__label {
    cursor: pointer;
  }

  &__item {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    select {
      border: none;
      border-bottom: 1px #ff715a solid;
      background: none;
      font-size: initial;
      &:focus {
        outline: none;
      }
    }
  }
}

.fillContainer {
  width: 100%;
}
