@import "../../../ui.scss";

.topServices {
    border-top: 5px solid $primary-blue;
    margin-bottom: 20px;
    min-width: 250px;
    max-height: 650px;
    &__header {
        display: flex;
        align-items: center;
        height: 40px;
        margin-left: 15px;
    }
}
.data {
    border-top: 1px solid $primary-grey;
    padding: 0;
    margin: 0;
    color: $primary-dark;
    &__item {
        min-width: 250px;
        padding: 0 40px 0 15px;
        display: flex;
        align-items: center;
        position: relative;
        height: 110px;
        list-style: none;
        margin: 0;
        border-bottom: 1px solid $primary-lightgrey;
        &_wrapper {
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
        }
        &_left {
            text-align: left;
        }
        &_right {
            margin-left: auto;
            text-align: right;
        }
    }
}