@import '../../../../../ui';

.draftMessageContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: left;
  width: 100%;
}

.responseMessageContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: left;
  width: 100%;
}

.responsePreviewWrapper {
  margin: 0 40px;
}

.draftMessageWrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  width: 48%;
}

.columnLabel {
  align-self: flex-start;
  color: #959595;
  font-size: 13px;
  font-weight: 500;
  height: 16px;
  margin-bottom: 7px;
}

.patientWrapper {
  display: inline;
  margin-right: 4px;
}

.tooltip_Popover {
  transform: translateY(5px) translateX(60px) !important;
  z-index: 999999;

  > :global(svg.Popover-tip) {
    fill: #7b7b7b;
  }
}

.tooltipWrapper {
  background: $primary-white;
  border: 1px solid $primary-grey;
  border-radius: 4px;
  box-shadow: 2px 2px 8px 0 rgba(128, 128, 128, 0.16);
  color: $primary-dark;
  display: flex;
  flex-direction: column;
  font-family: $medium-font;
  font-size: 12px;
  min-width: 200px;
  padding-top: 6px;
}

.columnBody {
  align-items: center;
  background: $chat-lightgrey;
  display: flex;
  height: 263px;
  justify-content: center;
}

.textArea {
  background: $chat-lightgrey;
  border: none;
  color: $primary-dark;
  font-family: $book-font;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  height: 80%;
  outline: none;
  resize: none;
  width: 90%;
}

.footer {
  align-items: center;
  border-top: 1px solid $chat-lightgrey;
  display: flex;
  height: 73px;
  justify-content: flex-end;
  margin-top: auto;
  padding: 0 10px;
}

.buttonWrapper {
  margin: 0 10px;
}

.redirect {
  color: $primary-blue;
  cursor: pointer;
  display: inline-flex;
  font-family: $medium-font;
  font-size: 12px;
  font-weight: 500;
  margin-left: 18px;
  margin-top: 24px;
}

.heading {
  color: #2e3845;
  font-family: $medium-font;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  margin: 20px 0 20px 40px;
}

.patientName {
  padding: 5px 16px 10px;
}

.patientTooltip {
  background-color: transparent;
  color: $primary-blue;
  font-family: $medium-font;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  line-height: 19px;
  margin: 0 4px 0 0;
  padding: 0;

  &:last-child {
    margin: 0 4px 0 0;
  }
}

.legend {
  color: #959595;
  font-family: $book-font;
  font-size: 11px;
  font-weight: 300;
  margin: 8px 0;
}

.iconWrapper {
  margin-right: 8px;
}
