@import '../../../../../styles/ui.scss';
@import '../WaitlistForm/styles.scss';
@import '../../../../../styles/ui-reskin.scss';

.draftMessageContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: left;
  width: 100%;
}

.responseMessageContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: left;
  width: 100%;
}

.responsePreviewWrapper {
  margin: 0 40px;
}

.draftMessageWrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  width: 48%;
}

.patientWrapper {
  display: inline;
  margin-right: 4px;
}

.tooltip_Popover {
  transform: translateY(5px) translateX(60px) !important;
  z-index: 999999;

  > :global(svg.Popover-tip) {
    fill: #7b7b7b;
  }
}

.tooltipWrapper {
  background: $super-white;
  border: 1px solid $color-lavender-200;
  border-radius: 4px;
  box-shadow: $box-shadow-2;
  color: $color-grey-400;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  min-width: 200px;
  padding-top: 6px;
}

.columnBody {
  align-items: center;
  background: $color-grey-050;
  border: 1px solid $color-lavender-100;
  display: flex;
  height: 263px;
  justify-content: center;
}

.heading {
  color: $color-purple-600;
  font-size: $x-medium-size;
  -webkit-font-smoothing: antialiased;
  font-weight: $medium-weight;
  margin: 20px 0 20px 40px;
}

.patientName {
  padding: 5px 16px 10px;

  &:not(:nth-last-of-type(1)) {
    border-bottom: 1px solid $color-lavender-100;
  }
}

.patientTooltip {
  background-color: transparent;
  color: $color-purple-300;
  font-size: $x-medium-size;
  -webkit-font-smoothing: antialiased;
  font-weight: $bold-weight;
  line-height: 19px;
  margin: 0 4px 0 0;
  padding: 0;

  &:last-child {
    margin: 0 4px 0 0;
  }
  &:hover {
    color: $color-lavender-500;
  }
  &:active,
  &:focus {
    color: $color-lavender-500;
  }
}

.legend {
  color: $color-grey-400;
  font-size: 11px;
  font-weight: 300;
  margin: 8px 0;
}
