@import '../../../../../../styles/ui-reskin.scss';
.waitListTableHeaderWrapper {
  align-items: flex-start;
  background-color: $color-purple-050;
  display: flex;
  flex-direction: column;
  padding: 24px 0px 16px 24px;
}

.waitListTableHeaderTitle {
  align-items: center;
  background: $super-white;
  border: 1px solid $color-grey-150;
  border-radius: 4px;

  box-shadow: $box-shadow-3;
  color: $color-purple-600;
  display: flex;
  font-family: $font-inter;
  font-size: $xxx-medium-size;
  font-weight: $medium-weight;
  justify-content: center;
  max-width: 200px;
  padding: 8px 16px;
  width: 100%;
}

.closingWrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 16px;
  width: 100%;
}

.closeButton {
  color: $color-lavender-500;
  font-weight: 500;
}

.redirect {
  color: $color-purple-300;
  cursor: pointer;
  display: inline-flex;
  font-size: $medium-size;
  font-weight: $bold-weight;
  &:hover {
    color: $color-lavender-500;
  }
  &:active {
    color: $color-lavender-550;
  }
}

.iconWrapper {
  color: $color-purple-300;
  font-size: $small-size;
  font-weight: $normal-weight;
  margin: 2px 8px 0px 0px;
  text-align: right;
  &:hover {
    color: $color-lavender-500;
  }
  &:active {
    color: $color-lavender-550;
  }
}
