@import '../../styles/ui';
@import '../../styles/ui-reskin.scss';

.tooltip {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  margin: 0 4px;
}

.tooltip_PopoverBody {
  background-color: $color-grey-700;
  border-radius: 4px;
  border-radius: 8px;
  box-sizing: border-box;
  color: $super-white;
  font-size: $x-medium-size;
  font-weight: $normal-weight;
  max-width: 300px;
  padding: 8px;
}
.light {
  background: $super-white;
  border: 1px solid $color-grey-150;
  border-radius: 4px;
  color: $color-text-2;
  font-size: $x-medium-size;
  font-weight: $normal-weight;
  padding: 8px;
  word-break: break-word;
}

.tooltip_Popover {
  z-index: 999999;

  > :global(svg.Popover-tip) {
    fill: $color-grey-700;
  }
}
