
@import '../../../../styles/ui';

$transform: 0.75;
$height: 100%;// / $transform;
$width: 100%;// / $transform;

.iframeWrapper {
  height: $height;
  width: $width;
}

.iframe {
  border: none;
  height: 100%;
  width: 100%;

  /*transform-origin: top center;
  -webkit-transform: scale($transform);
  -moz-transform: scale($transform);
  -ms-transform: scale($transform);
  -o-transform: scale($transform);
  transform: scale($transform);*/
}
