@import '../../../ui';

.eventContainer {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 100%;
  &:first-child {
    margin-top: 0;
  }
}

.event {
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 2;
}

.iconContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-right: 20px;
  height: 100%;

  @media screen and (max-width: 576px) {
    padding-top: 0;
    padding-right: 10px;
  }
}

.icon {
  color: $primary-dark-grey;
}

.bgIcon {
  background: white;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  border: 2px solid $primary-green;
  display: flex;
  align-items: center;
  justify-content: center;
}

.greenBorder {
  border: 2px solid $primary-green;
}
.blueBorder {
  border: 2px solid $primary-blue;
}
.redBorder {
  border: 2px solid $primary-color;
}
.yellowBorder {
  border: 2px solid $primary-yellow;
}

.body {
  @extend .secondaryBgColor;
  border: 1px solid $primary-grey;
  border-radius: 5px;
  width: 100%;
  padding: 20px;
  line-height: 1.5em;
  //box-shadow: 0px 5px 16px -8px rgba(0,0,0,0.6);

  &_header {
    composes: fontMedium from 'sass-loader!../../../fonts.scss';
  }

  &_subHeader {
    color: $primary-darkgrey;
  }

  &_subHeaderItalic {
    color: $primary-darkgrey;
    font-style: italic;
    composes: fontSmall from 'sass-loader!../../../fonts.scss';
  }

  @media screen and (max-width: 576px) {
    padding: 10px 15px;

    &_header {
      font-size: 11px;
    }

    &_subHeaderItalic {
      font-size: 10px;
    }
  }
}

.time {
  padding-top: 5px;
  width: 100%;
  display: flex;
  &_text {
    composes: fontExtraSmall from 'sass-loader!../../../fonts.scss';
    margin-left: auto;
    color: $primary-dark-grey;
    font-style: italic;
  }
}

.call {
  display: flex;
  align-items: center;
  @extend .primaryBgColor;
  border: 1px solid $primary-grey;
  border-radius: 5px;
  width: 100%;
  padding: 20px;
  line-height: 1.5em;

  &_header {
    composes: fontMedium from 'sass-loader!../../../fonts.scss';
  }

  &_subHeader {
    color: $primary-darkgrey;
  }

  &_subHeaderItalic {
    padding-left: 10px;
    color: $primary-darkgrey;
    font-style: italic;
    composes: fontSmall from 'sass-loader!../../../fonts.scss';
  }

  audio {
    padding-left: 20px;

    @media screen and (max-width: 576px) {
      width: 40px;
    }
  }

  &_duration {
  }

  @media screen and (max-width: 576px) {
    padding: 10px 15px;

    &_header {
      font-size: 11px;
    }

    &_subHeaderItalic {
      font-size: 10px;
    }
  }
}

.primaryBgColor {
  background-color: white;
}

.secondaryBgColor {
  background-color: #fafafa;
}
