@import "../../../../../ui";

.practitionerList {
  margin-bottom: 20px;
  min-height: 360px;
  &__body {
    display: flex;
    flex-direction: row;
    flex: 1;
  }
  &__header {
    padding: 0 45px 0 15px;
  }
}
.practitioner {
  display: flex;
  padding: 0;
  margin: 0;
  flex: 1;
  &__wrapper {
    width: 100%;
  }
  &__row {
    flex: 1;
  }
  &__item {
    height: 100%;
    padding: 25px 35px;
    display: flex;
    position: relative;
    list-style: none;
    margin: 0;
    //max-height: 300px; doesnt work with firefox
    &_wrapper {
      max-width: 400px;
      margin: 0 auto;
    }
    & > div {
      flex: 1;
    }
    &_wrapper {
      display: flex;
      width: 100%;
      flex-direction: column;
      margin-bottom: 20px;
    }
    &_header {
      display: flex;
      align-items: center;
      color: $primary-darkgrey;
      margin-bottom: 25px;
      padding-bottom: 25px;
    }
    &_about {
      display: flex;
    }
    &_footer {
      display: flex;
      flex-direction: column;
      //margin-bottom: 30px;
      color: $primary-dark;
    }
    &_img {
      display: flex;
      justify-content: center;
      align-items: center;
      //width: 48px;
      //height: 48px;
      border-radius: 50%;
      margin-right: 10px;
    }
    &_name {
      margin-right: 10px;
      color: #2e3845;
    }
    &_profession {
      font-size: 12px;
      align-self: center;
      opacity: 0.6;
    }
    &_text {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      padding-bottom: 10px;
      @media screen and (max-width: 1000px){
        font-size: 12px;
      }
    }
    &_gradient {
      position:relative;
      margin-bottom: 5px;
      display: inline-block;
      width: 80px;
      height: 80px;
    }

    &_avatar {
      position: absolute;
      left: 5px;
      top: 4.3px;
      height: 70px;
      width: 70px;
    }

    canvas {
      max-width: 290px !important;
      max-height: 290px !important;
      margin: 0 auto;
    }
  }
}

.primaryColor {
  background: linear-gradient(rgba(255, 113, 90, 1), white 70%);
  border-radius: 50%;
  border-color: $primary-color;
  //transition-timing-function: ease-in;
}
.primaryYellow {
  background: linear-gradient(rgba(255, 196, 90, 1), white 70% );
  border-radius: 50%;
  border-color: $primary-yellow;
}
.primaryGreen {
  background: linear-gradient(rgba(44, 196, 167, 1), white 70%);
  border-radius: 50%;
  border-color: $primary-green;
}
.primaryBlueGreen {
  background: linear-gradient(rgba(32,100,119,1), white 70%);
  border-radius: 50%;
  border-color: $primary-blue;
}
