@import '../../../../../ui';
@import '../../../../../fonts';

.score {
  border-top: $card-border-size $primary-light-blue;
  height: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  &__header {
    width: 80%;
    border-bottom: 1px solid $primary-lightgrey;
    padding-bottom: 10px;
    &_count {
      color: $primary-light-blue;
      @extend .font-jumbo;
    }
    &_title {
      color: $primary-dark;
      font-size: 20px;
      font-weight: 600;
    }
  }
  &__body {
    width: 80%;
    padding-top: 10px;
    &_listing {
      @extend .font-small;
      color: $primary-darkgrey;
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      span:last-child {
        font-weight: 600;
      }
    }
  }
}
