@import '../../../../../ui';
@import '../../../../../fonts';

.score {
  height: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  &__header {
    width: 80%;
    border-bottom: 1px solid $primary-lightgrey;
    padding-bottom: 10px;
    &_count {
      color: $primary-blue;
      composes: fontExtraLarge from '../../../../../fonts.scss';
    }
    &_title {
      color: $primary-dark;
      composes: fontMediumLarge from '../../../../../fonts.scss';
    }
  }
  &__body {
    width: 80%;
    padding-top: 10px;
    &_listing {
      composes: subHeaderSmall from '../../../../../fonts.scss';
      color: lighten($primary-darkgrey, 20%);
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      span:last-child {
        font-weight: 600;
      }
    }
  }
}
