@import '../../ui';

.pageHeading {
  background: $electron-content-heading-bg;
  box-sizing: border-box;
  height: 50px;
  padding-left: 20px;
  position: relative;
  width: 100%;

  p,
  .backButton {
    display: inline-block;
    font-size: 18px;
    line-height: 50px;
    padding: 0;
  }

  p {
    color: $primary-white;
    margin: 0;
  }

  .backButton {
    background: transparent !important;
    color: $primary-white;
    vertical-align: unset;
    width: auto !important;

    i {
      font-weight: 100;
    }
  }
}
