@import '../styles';

.filled {
  left: 0 !important;
  position: relative;
  top: -5px !important;
  width: 100%;
}

.label {
  color: $empty-grey;
  font-weight: normal;
  left: 0 !important;
  pointer-events: none;
  top: 0;
  transition: 0.2s ease all;
}
.labelWrapper {
  background: $widget-white;
  border-radius: 4px;
  color: $widget-grey-light;
  font-size: 14px;
  left: 1px;
  padding-bottom: 2px;
  padding-left: var(--widget-spacer);
  padding-top: 12px;
  position: absolute;
  top: 1px;
  width: calc((100% - 2px) - var(--widget-spacer));
}

.container {
  @extend .container;
  > div {
    width: 100%;
  }
}

.textarea {
  @extend .input;
  min-height: 150px;
  padding-top: 40px;
}
