.dropzone {
	border: 1px #666 dashed;
	border-radius: 5px;
	height: 200px;
	overflow: hidden;
	padding: 10px;
	position: relative;
	text-align: center;
	width: 200px;
	:global .loader {
		height: 100% !important;
	}
}

