
@import '../../../../ui';

.reviewAndBookWrapper {
  padding: 20px;
  @media screen and (min-width: $widget-mobile-width) {
    flex-direction: column;
    padding: 40px;
  }
}

.label {
  text-align: left;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 10px;
  letter-spacing: 0.9px;
  height: 30px;
  display: flex;
  align-items: center;
  color: #C1D2D8;
}

.gridContainer {
  padding: 20px;
  box-sizing: border-box;
  clear: both;
}


.submitButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  // padding: 0 20px;
  > button {
    width: 100%;
    max-width: 300px;
  }
}

.well {
  color: $primary-dark;
  padding: 15px 10px;
  background-color: $primary-white;
  border: 1px solid darken($primary-white, 10%);
  > div {
    padding: 5px 0;
    text-transform: capitalize;
  }
}

.bold {
  font-family: $medium-font;
  text-transform: none !important;
}

.service {
  @extend .bold;
}

.date {
  @extend .bold;
  color: var(--primaryColor);
}

.editWrapper {
  display: flex;
  flex-direction: row;
  > a {
    margin-left: auto;
    > button {
      font-family: $medium-font;
      color: $primary-blue;
      text-decoration: none;
      padding-right: 0 !important;
      padding-left: 0 !important;
    }
  }
}

.textArea {
  padding-top: 0;
  > textarea {
    padding: 10px;
    border: 1px solid $primary-gray;
    color: black;
  }
}
