@import '../styles';

.floating {
  bottom: 0;
  height: 41px;
  left: 0;
  opacity: 1;
  padding: 0;
  position: fixed;
  right: 0;
  transition: all 0.35s ease;
  width: 100%;
  z-index: 10;
  @media (min-width: 350px) {
    height: 49px;
  }
}

.enter {
  bottom: -50px;
  opacity: 0.5;
  transition: all 0.35s ease-in;
}
.enter-active {
  bottom: 0;
  opacity: 1;
  transition: all 0.35s ease-in;
}

.exit {
  bottom: -50px;
  opacity: 0;
  transition: all 0.35s ease-out;
}
