@import '../../styles/ui';

.card {
  background-color: transparent;
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
  padding: 16px;
  width: 100%;
}

.tab {
  background-color: $primary-grey;
  border-right: 1px solid #e3e3e3;
  box-sizing: border-box;
  color: $primary-dark;
  composes: fontMedium from '../../styles/fonts.scss';
  display: inline-flex;
  height: 50px;
  justify-content: center;
  padding-top: 12px;
  width: 50%;

  &:last-child {
    border-right: 0;
  }
}

.activeTab {
  background-color: $primary-white;
}

.container {
  background-color: $primary-white;
  height: 100%;
  width: 100%;
}
