@import '../../ui';

.card {
  width: 100%;
  height: 100%;
  padding: 15px;
  box-sizing: border-box;
  overflow: auto;
  background-color: transparent;
}

.tab {
  display: inline-flex;
  box-sizing: border-box;
  width: 50%;
  justify-content: center;
  padding-top: 12px;
  background-color: $primary-grey;
  height: 50px;
  border-right: 1px solid #e3e3e3;
  color: $primary-dark;
  composes: fontMedium from '../../fonts.scss';

  &:last-child {
    border-right: 0;
  }
}

.activeTab {
  background-color: $primary-white;
}

.container {
  background-color: $primary-white;
  width: 100%;
  height: 100%;
}
