@import '../../../../ui';

.PendingMessageWrapper {
  align-items: baseline;
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
  opacity: 0.5;
  padding: 10px 20px;
  width: 100%;

  &:hover,
  .visibleOptions {
    .dotsIcon {
      opacity: 1;
    }
  }
}

.PendingMessage {
  float: right;
  max-width: 350px;

  @media screen and (max-width: 576px) {
    max-width: 250px;
  }
}

.PendingMessage__Avatar {
  height: 1.5rem;
  width: 1.5rem;
}

.PendingMessage__Body {
  background-color: $primary-blue;
  border-radius: 18px 18px 0 18px;
  color: $primary-white;
  line-height: 18px;
  padding: 6px 12px;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.PendingMessage__Status {
  color: $primary-dark-grey;
  float: right;
  font-size: 9px;
  padding-top: 5px;
  text-align: right;
}
