@import '../../../ui';

.badgeWrapper {
  position: relative;
  width: 100%;
  height: 100%;

  &_badge {
    composes: fontBold from '../../../fonts.scss';
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    display: inline-block;
    min-width: 10px;
    padding: 3px 4px;
    font-size: $extra-small-size;
    color: $color-white;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: $primary-blue-green;
    border-radius: 10px;
  }
}
