
@import '../../../../ui';

.header {
  padding-left: 15px;
  border-bottom: 1px solid $primary-lightgrey;
}
.day {
  text-transform: capitalize;
}

.breaksDay {
  @extend .day;
  padding-top: 12px;
}

.disabledDay {
  @extend .day;
  color: lighten($primary-darkgrey, 25%);
}

.flexCentered {
  display: flex;
  align-items: center;
}

.inlineBlock {
  display: inline-block;
  margin-top: 7px;
  margin-bottom: 9px;
}

.toDiv {
  width: 50px;
  text-align: center;
}

.toDivDisabled {
  @extend .toDiv;
  color: lighten($primary-darkgrey, 25%);
}

.dayGrid {
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.dayRow {
  margin-top: 7px;
  margin-bottom: 9px;
  height: 40px;
}

.trashButton {
  margin: 0 auto;
}
