@import '../../../../ui';

.listItem {
  // min-height: 80px;
  // display: flex;
  // justify-content: space-between;
  cursor: pointer;
}

.gridSection {
  display: flex;
  flex-direction: row;
}

.leftSection {
  width: 175px;
  display: flex;
}

.flexSection {
  flex: 1;
}

.rightSection {
  width: 10%;
  min-width: 25px;
}

.linesBox {
  margin: 10px 0;
  height: 120px;
  border-top: 1px solid $primary-gray;
}

.boxSelected_green {
  @extend .linesBox;
  border-top: 1px solid $primary-green;
}

.boxSelected_yellow {
  @extend .linesBox;
  border-top: 1px solid $primary-yellow;
}

.boxSelected_red {
  @extend .linesBox;
  border-top: 1px solid $primary-red;
}

.linesBoxWithLines {
  @extend .linesBox;
  background-image: linear-gradient(to bottom, $primary-gray 50%, transparent 0%);
  background-position: left;
  background-size: 1px 14px;
  background-repeat: repeat-y;
}

.linesBoxSelected_green {
  @extend .linesBoxWithLines;
  border-top: 1px solid $primary-green;
}

.linesBoxSelected_yellow {
  @extend .linesBoxWithLines;
  border-top: 1px solid $primary-yellow;
}

.linesBoxSelected_red {
  @extend .linesBoxWithLines;
  border-top: 1px solid $primary-red;
}

.toggleCol {
  padding-top: 4px;
  width: 25px;
}

.labelCol {
  padding-top: 3px;
  padding-right: 10px;
  flex: 1;
}

.reminderLabel {
  text-align: center;
  composes: cardHeaderTitle from '../../../../fonts.scss';
  font-size: 14px;
  color: black;
  text-transform: capitalize;
}

.downIconWrapper {
  position: relative;
  bottom: -14px;
  left: -7px;
  > i {
    color: $primary-gray;
  }
}

.connectionLine {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.connectionLineSelected_green {
  @extend .connectionLine;
  border-top: 1px solid $primary-green;
}

.connectionLineSelected_yellow {
  @extend .connectionLine;
  border-top: 1px solid $primary-yellow;
}

.connectionLineSelected_red {
  @extend .connectionLine;
  border-top: 1px solid $primary-red;
}
