
@import '../../../../ui';

.listItem {
  // min-height: 80px;
  // display: flex;
  // justify-content: space-between;
  cursor: pointer;
}

.linesBox {
  margin: 20px 0;
  height: 150px;
  border-top: 1px solid $primary-gray;
  background-image: linear-gradient(to bottom, $primary-gray 50%, transparent 0%);
  background-position: left;
  background-size: 1px 14px;
  background-repeat: repeat-y;
}

.linesBoxSelected {
  @extend .linesBox;
  border-top: 1px solid $primary-green;
}

.toggleCol {
  padding-top: 14px;
}

.labelCol {
  padding-top: 13px;
  padding-right: 33px;
}

.reminderLabel {
  text-align: center;
  composes: cardHeaderTitle from 'sass-loader!../../../../fonts.scss';
  font-size: 15px;
  color: black;
}

.downIconWrapper {
  position: relative;
  bottom: -14px;
  left: -7px;
  > i {
    color: $primary-gray;
  }
}

.connectionLine {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.connectionLineSelected {
  @extend .connectionLine;
  border-top: 1px solid $primary-green;
}


