@import '../../../../../ui';

.grid {
  box-sizing: border-box;
  padding-bottom: 5px;
}

.row {
  align-items: center;
  border-bottom: 1px solid $primary-grey;
  padding-bottom: 10px;
}
.row:last-child {
  border-bottom: 0px;
  padding-bottom: 0px;
}

.colLeft {
  padding-right: 20px;
}

.colSelect {
  padding-right: 5px;
}

.formContainer {
  padding: 15px 25px 25px 25px;
  background: #FFFFFF;
}
