@import '../../../../styles/ui-reskin.scss';
.usersBodyClass {
  padding: 40px;
}

.userListItem {
  border: 1px solid $color-grey-100;
  border-bottom: 0;
  min-width: 560px;
  padding-bottom: 20px;
  padding-top: 20px;

  &:last-child {
    border-bottom: 1px solid $color-grey-100;
  }

  &:hover {
    background-color: #fbfbfc;
  }
}

.badge {
  background-color: lightgrey;
  border-radius: 25%;
  color: black;
  display: inline-block;
  font-size: 10px;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 5px;
  text-align: center;
}

.dropdown {
  margin-bottom: 10px;

  div {
    margin-right: 10px;
  }
}

.emailInvite {
  display: flex;
  flex-direction: column;
}

.emailHeader {
  font-size: 24px;
}

.inviteUser {
  margin-right: 10px;
  //margin: 25px 25px 25px 0;
  i {
    color: $primary-purple-100;
    font-size: 12px;
    font-weight: 400;
  }
}

.mainHead {
  display: flex;
  font-size: 16px;
  justify-content: space-between;
}

.mainHeadInvites {
  @extend .mainHead;
  margin-top: 15px;
}

.header {
  font-size: 16px;
}

.mainHeader {
  font-size: 16px;
  font-style: italic;
  margin-top: 35px;
}

.userHeaderTitle {
  border-bottom: 1px solid #f0f0f0;
}

.form {
  display: block;

  button {
    margin: 0 0 0 auto;
  }
}

.userList {
  background-color: inherit;
  flex: 1 1 100%;
  max-height: 405px;
  min-height: 81px;
  overflow: auto;
}

.userName {
  display: inline-grid;
}

.name {
  color: $color-purple-500;
  font-size: $x-medium-size;
  font-weight: $medium-weight;
  margin: 0 0 0 15px;
}

.email {
  color: $color-grey-400;
  font-weight: $medium-weight;
  margin: 0 15px;
}

.image {
  margin-left: 15px;

  img {
    height: 100%;
  }
}

.main {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.delete {
  display: flex;

  i {
    color: $color-purple-200;
    margin-top: -1.7px;
    &:hover {
      color: $color-lavender-500;
    }
  }
}

.edit {
  display: flex;
  margin-right: 25px;

  i {
    color: $color-purple-200;
    margin-top: -1px;
    &:hover {
      color: $color-lavender-500;
    }
  }
}

.cancel {
  display: flex;
  justify-content: center;
  line-height: normal;
  margin-left: 21px;
  padding: 8px 0px;
  width: 180px;

  + .cancel {
    margin-right: 16px;
  }

  i {
    font-weight: $normal-weight;
    margin-top: 1px;
  }
}

.inviteFormContainer {
  padding-bottom: 15px;
}

.buttonContainer {
  margin-bottom: 10px;

  &--pendingInvite {
    display: flex;
  }
}

.usernameInput {
  margin-top: 10px;
}

.icon {
  font-weight: $normal-weight;
  margin-right: 11px;
}
.userIcon {
  font-size: $x-small-size;
  margin-left: 4px;
  margin-right: 8px;
}

.inviteUserFormBody {
  min-height: 162px;
  overflow: visible;
}

.editUserFormBody {
  overflow: visible;
}
