.usersBodyClass {
  padding: 40px;
}

.userListItem {
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #f0f0f0;
  border-bottom: 0;

  &:last-child {
    border-bottom: 1px solid #f0f0f0;
  }
}

.badge {
  background-color: lightgrey;
  border-radius: 25%;
  color: black;
  display: inline-block;
  padding-left: 6px;
  padding-right: 6px;
  text-align: center;
  padding-top: 5px;
  font-size: 10px;
  font-family: 'Gotham-Medium';
  padding-bottom: 2px;
}

.dropdown {
  margin-bottom: 10px;
  div {
    margin-right: 10px;
  }
}

.emailInvite {
  display: flex;
  flex-direction: column;
}

.emailHeader {
  font-size: 24px;
}

.inviteUser {
  margin-right: 10px;
  //margin: 25px 25px 25px 0;
}

.mainHead {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  height: 60px;
}

.mainHeadInvites {
  @extend .mainHead;
  margin-top: 15px;
}

.header {
  font-size: 16px;
}

.mainHeader {
  font-style: italic;
  font-size: 16px;
  margin-top: 35px;
}

.userHeaderTitle {
  border-bottom: 1px solid #f0f0f0;
}

.form {
  display: block;
  button {
    margin: 0 0 0 auto;
  }
}

.userList {
  background-color: inherit;
  flex: 1 1 100%;
  max-height: 405px;
  min-height: 81px;
  overflow: auto;
}

.userName {
  display: inline-grid;
}

.name {
  font-family: 'Gotham-Medium';
  font-size: 1.3em;
  margin: 0 0 0 15px;
}

.email {
  font-family: 'Gotham-Medium';
  color: grey;
  margin: 0 0 0 15px;
}

.image {
  margin-left: 15px;
  img {
    height: 100%;
  }
}

.main {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.delete {
  display: flex;
  i {
    margin-top: -1.7px;
  }
}

.edit {
  margin-right: 25px;
  display: flex;
  i {
    margin-top: -1px;
  }
}

.cancel {
  margin-right: 10px !important;
  display: flex;
  i {
    margin-top: -1px;
  }
}

.inviteFormContainer {
  padding-bottom: 15px;
}
