@import '../../../../../styles/ui';

.footer {
  align-items: center;
  background-color: #313131;
  color: #959596;
  display: flex;
  flex-direction: column;
  font-size: 8px;
  height: 60px;
  justify-content: center;
  width: 100%;
}

.logoCareCru {
  width: 120px;
}
