@import '../../../../styles/ui-reskin.scss';

.button {
  background-color: $super-white;
  border: 1px solid $color-grey-100;
  border-radius: 4px;
  box-shadow: $box-shadow-2;
  color: $color-grey-400;
  cursor: pointer;
  font-size: $medium-size;
  font-weight: $medium-weight;
  line-height: 20px;
  min-width: 120px;
  outline: none;
  padding: 8px 20px;
  text-align: center;
  width: 100%;

  &:hover,
  &:focus {
    background-color: $color-lavender-050;
    border-color: $color-lavender-400;
    color: $color-lavender-400;
  }

  &[disabled] {
    background-color: $color-grey-100;
    color: $color-grey-200;
    cursor: not-allowed;
  }
}

.active {
  background-color: $color-lavender-050;
  border-color: $color-lavender-500;
  color: $color-lavender-500;
}
