@import '../../../../ui.scss';
@import '../../../../ui-kit.scss';

.button {
  @extend .ui-kit-smoother;
  @extend .fx;
  background-color: $white;
  border: 1px solid $grey-lighter;
  border-radius: $rounded;
  box-shadow: $shadow;
  color: $grey-dark;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  min-width: 120px;
  outline: none;
  padding: 11px 16px;
  text-align: center;
  width: 100%;

  &:hover,
  &:focus {
    @extend .fx;
    border-color: $grey;
    color: $grey-darker;
  }

  &[disabled] {
    background-color: $grey-lighter;
    color: $grey-dark;
    cursor: not-allowed;
  }
}
