@import '../../../../styles/ui.scss';
@import '../../../../styles/ui-kit.scss';

.button {
  @extend .ui-kit-smoother;
  @extend .fx;
  background-color: $white;
  border: 0;
  border-radius: $rounded;
  color: $grey;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  min-width: 120px;
  outline: none;
  padding: 0;
  text-align: center;
  text-decoration: underline;
  width: 100%;

  &:hover,
  &:focus {
    @extend .fx;
    color: $grey-dark;
  }

  &[disabled] {
    cursor: not-allowed;
    text-decoration: none;
  }
}
