@import '../../../../ui.scss';
@import '../../../../ui-kit.scss';

.confirm {
  @extend .ui-kit-smoother;
  width: 100%;
  border-radius: 4px;
  background-color: $teal;
  padding: 7px 12px;
  box-shadow: $shadow;
  font-weight: 500;
  font-size: 12px;
  line-height: 10px;
  color: $white;
  text-align: center;
  outline: none;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.2s ease all;

  &:hover {
    transition: 0.2s ease all;
    background: $teal-dark;
  }

  &[disabled] {
    background-color: $grey-lighter;
    color: $grey-dark;
    cursor: not-allowed;
  }
}

.cancel {
  @extend .ui-kit-smoother;
  width: 100%;
  border-radius: 4px;
  background-color: transparent;
  padding: 7px 12px;
  box-shadow: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 10px;
  color: $grey-dark;
  text-align: center;
  outline: none;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.2s ease all;

  &:hover {
    transition: 0.2s ease all;
    background: $grey-lighter;
    color: $grey-darker;
  }

  &[disabled] {
    background-color: $grey-lighter;
    color: $grey-dark;
    cursor: not-allowed;
  }
}
