@import '../../../../ui.scss';
@import '../../../../ui-kit.scss';

.confirm {
  @extend .ui-kit-smoother;
  background-color: $teal;
  border: none;
  border-radius: 4px;
  box-shadow: $shadow;
  box-sizing: border-box;
  color: $white;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  line-height: 10px;
  outline: none;
  padding: 7px 12px;
  text-align: center;
  transition: 0.2s ease all;
  width: 100%;

  &:hover {
    background: $teal-dark;
    transition: 0.2s ease all;
  }

  &[disabled] {
    background-color: $grey-lighter;
    color: $grey-dark;
    cursor: not-allowed;
  }
}

.cancel {
  @extend .ui-kit-smoother;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  color: $grey-dark;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  line-height: 10px;
  outline: none;
  padding: 7px 12px;
  text-align: center;
  transition: 0.2s ease all;
  width: 100%;

  &:hover {
    background: $grey-lighter;
    color: $grey-darker;
    transition: 0.2s ease all;
  }

  &[disabled] {
    background-color: $grey-lighter;
    color: $grey-dark;
    cursor: not-allowed;
  }
}
