@import '../../../../ui.scss';
@import '../../../../ui-kit.scss';

.button {
  @extend .ui-kit-smoother;
  width: 100%;
  min-width: 120px;
  border-radius: $rounded;
  background-color: $teal-dark;
  padding: 16px;
  box-shadow: $shadow;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.02px;
  line-height: 10px;
  color: $white;
  text-align: center;
  outline: none;
  border: none;
  cursor: pointer;

  &:hover {
    background: $teal;
  }

  &[disabled] {
    background-color: $grey-lighter;
    color: $grey-dark;
    cursor: not-allowed;
  }
}
