@import "../../../ui.scss";

.sideByside {
  margin: 0 5px 10px 5px;
  padding: 10px;
  &__title {
    font-size: $medium-size;
  }

  &__body {
    min-height: 180px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
  }

  &__leftCol {
    display: flex;
    align-items: flex-start;
    justify-content: center;

  }

  &__icon {
    margin-right: 10px;

    font-size: $large-size;
    color: #8CBCD6;
  }

  &__count {
    font-size: $large-size;
    text-align: center;
    font-weight: 600;
    color: #2e3845;
  }

  &__small {
    font-size: $small-size;
    color: #2e3845;
    font-weight: $normall-weight;
  }

  &__first {
    border-right: 1px solid #606060;
  }
  &__item {
    min-width: 250px;
  }

  &__vote_icons_block {
    margin: 0 10px 10px 0;
  }

  &__vote_icons {
    margin-right: 20px;
    font-size: $extra-medium-size;
    color: $primary-blue;
  }

  &__vote_icons_text {
    color: $primary-dark;
    margin-left: 10px;
  }

  &__split {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    @media screen and (max-width: 800px){
      justify-content: space-between;
      margin: 0;
      align-items: center;
      flex-direction: column;
      border: none;

    }
    .sideByside__item:not(:last-child) {
      border-right: 1px solid $primary-grey;
      @media screen and (max-width: 800px){
        border: none;
      }
    }
  }

}

@media (max-width: 450px) {
  .sideByside {
    &__icon {
      font-size: $extra-medium-size;
    }
    &__count {
      font-size: $extra-medium-size;
      font-weight: $small-weight;
    }
  }
}


@media (max-width: 320px) {
  .sideByside {
    &__chartLeftCol {
      flex-direction: column;
    }

    &__leftCol {
      align-items: center;
    }

    &__vote_icons {
      display: flex;
      width: 100%;
      justify-content: center;
    }
  }
}
