@import '../../../styles/ui.scss';
@import '../../../styles/fonts.scss';

.sideByside {
  border-top: 5px solid $inactive-color;

  margin: 0 5px 5px;
  padding: 10px;
  &__title {
    @extend .font-medium;
  }

  &__body {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    min-height: 180px;
    overflow: hidden;
  }

  &__leftCol {
    align-items: flex-start;
    display: flex;
    justify-content: center;
  }

  &__icon {
    color: $primary-light-blue;
    font-size: $jumbo-size;
    margin-right: 10px;
  }

  &__count {
    @extend .font-jumbo;
    color: #2e3845;
    font-weight: 600;
    text-align: center;
  }

  &__small {
    color: #2e3845;
    font-size: $small-size;
    font-weight: $normall-weight;
  }

  &__first {
    border-right: 1px solid #606060;
  }
  &__item {
    flex: 1 1;
    max-width: none;
    min-width: 300px;
  }

  &__vote_icons_block {
    margin: 0 10px 10px 0;
  }

  &__vote_icons {
    color: $primary-blue;
    font-size: $xxx-medium-size;
    margin-right: 20px;
  }

  &__vote_icons_text {
    color: $primary-dark;
    margin-left: 10px;
  }

  &__split {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
    @media screen and (max-width: 800px) {
      align-items: center;
      border: none;
      flex-direction: column;
      justify-content: space-between;
      margin: 0;
    }
    .sideByside__item:not(:last-child) {
      border-right: 1px solid $primary-grey;
      @media screen and (max-width: 800px) {
        border: none;
      }
    }
  }
}

@media (max-width: 450px) {
  .sideByside {
    &__icon {
      font-size: $xxx-medium-size;
    }
    &__count {
      font-size: $xxx-medium-size;
      font-weight: $normal-weight;
    }
  }
}

@media (max-width: 320px) {
  .sideByside {
    &__chartLeftCol {
      flex-direction: column;
    }

    &__leftCol {
      align-items: center;
    }

    &__vote_icons {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }
}
