@import '../../ui';

.navListWrapper {
  margin-top: 25px;
}

.navItem {
  display: flex;
  height: 65px;
  padding: 0;
  text-decoration: none;
  color: $inactive-color !important;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: #41464c;
    color: $primary-white !important;
  }

  &:active {
    color: $primary-white !important;
  }
}

.activeItem {
  color: $primary-white !important;
  border-left: $selection-border $primary-color;
  background-color: darken(#59616b, 5%);
}

.disabledItem {
  color: darken($inactive-color, 25%) !important;
  &:hover {
    background-color: transparent;
    color: darken($inactive-color, 25%) !important;
  }

  &:active {
    color: darken($inactive-color, 25%) !important;
  }
}

.icon {
  font-size: 1.5em;
}

.label {
  width: 95px;
  text-align: left;
  margin-top: 5px;
  margin-left: 20px;
}

.ulSubNav {
  margin-top: 10px;
  list-style-type: disc;
}

.liSubNavItem {
  height: 25px;
  color: $inactive-color;

  &:hover {
    border-bottom: 1px solid;
    color: $primary-white;
  }
}

.disabledSubNavItem {
  &:hover {
    border-bottom: none;
    color: $inactive-color;
  }
}

.activeSubNavItem {
  color: $primary-white;
}

.multiple_nav {
  position: relative;
  list-style: none;
  margin-bottom: 10px;
  padding-left: 55px;

  &__item {
    position: relative;
    width: 2px;
    padding-top: 20px;
    list-style-type: none;
    background: #fff;

    &::after {
      position: absolute;
      bottom: 0;
      width: 6px;
      height: 6px;
      margin-left: 1px;
      content: '';
      transform: translateX(-50%);
      border-radius: 50%;
      background: inherit;
    }
  }

  &__wrapper {
    width: 150px;
    margin-left: 15px;
    color: $primary-white;
  }

  &__active {
    border-bottom: 1px solid;

    &::after {
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;
      width: 6px;
      height: 6px;
      margin-left: 1px;
      content: '';
      transform: translateX(-50%);
      border-radius: 50%;
      background: $primary-color !important;
    }
  }
}

.comingSoon {
  fontsize: 1.2em;
}

.hiddenLabel {
  display: none;
}
