
@import '../../ui';

.navListWrapper {
  margin-top: 25px;
}

.navItem {
  padding: 0;
  height: 65px;
  color: $inactive-color !important;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  // line-height: 65px;
  // text-align: center;
}

.activeItem {
  border-left: 3px solid $primary-color;
  color: white !important;
  background-color: #41464c;
}

.icon {
  font-size: 1.5em;
  margin-left: 30px;
  margin-right: 20px;
}

.label {
  width: 85px;
  text-align: left;
}

.activeLabel {
  font-size: 16px;
}