
@import '../../ui';

.navListWrapper {
  margin-top: 25px;
}

.navItem {
  padding: .3rem .5rem .3rem 1rem;
  height: 65px;
  padding-top: 12px;
  width: 100%;
  color: $inactive-color !important;
  cursor: pointer;
  // line-height: 65px;
  // text-align: center;
}

.navItem > a {
  padding-top: 20px;
}

.activeItem {
  border-left: 3px solid $primary-color;
  color: white !important;
  background-color: #41464c;
}


