@import '../../../ui.scss';

.mainContainer {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
}

.tableProps {
  background: red;
}

.subHeaderMedium {
  composes: subHeaderMedium from 'sass-loader!../../../fonts.scss';
}

.subHeader {
  composes: subHeader from 'sass-loader!../../../fonts.scss';
}
.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  width: 100%;

  &_title {
    display: flex;
    align-items: center;
    composes: fontLarge from 'sass-loader!../../../fonts.scss';
    padding-right: 10px;

    &:hover {
      color: $primary-color;
      cursor: pointer;
    }
  }
  &_subHeader {
    padding-top: 10px;
    composes: subHeader from 'sass-loader!../../../fonts.scss';
    color: $primary-darkgrey;
  }

  &_icon {
    padding-left: 15px;
    font-size: 18px;
  }
}

.tableContainer {
  border-top: 5px solid $inactive-color;
}
.searchBar {
  width: 300px;
}
.buttonContainer {
  display: flex;
  justify-content: space-between;

  &_actions {
    box-sizing: border-box;
    margin-right: 10px;
  }
}
.spacing {
  margin: 10px 0;
}

.displayFlex {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.cellText {
  color: $primary-darkgrey;
  @extend .subHeader;
  &_lastAppt {
    padding-top: 3px;
    padding-left: 5px;
    @extend .subHeader;
    color: $primary-darkgrey;
  }
  &_revenue {
    color: $primary-darkgrey;
    @extend .subHeader;
  }
  &_status {
    @extend .subHeader;
  }
}

.colBg {
  background: white;
}

.filterMenuButton {
  height: auto;
}
