@import '../../../ui.scss';

.mainContainer {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
}

.tableProps {
  background: red;
}

.subHeaderMedium {
  composes: subHeaderMedium from 'sass-loader!../../../fonts.scss';
}
.header {
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 5px solid $inactive-color;
  &_title {
    composes: fontLarge from 'sass-loader!../../../fonts.scss';
    padding-right: 10px;
  }
  &_subHeader {
    composes: subHeader from 'sass-loader!../../../fonts.scss';
    color: $primary-darkgrey;
  }
}

.addNewButton {
  display: flex;
  margin-left: auto;
}

.spacing {
  margin: 10px 0;
}

.displayFlex {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.cellText {
  color: $primary-dark;
  @extend .subHeaderMedium;
  &_lastAppt {
    padding-top: 3px;
    padding-left: 5px;
    @extend .subHeaderMedium;
    color: $primary-dark;
  }
  &_revenue {
    color: $primary-blue;
    @extend .subHeaderMedium;
  }
  &_status {
    @extend .subHeaderMedium;
  }
}

.colBg {
  background: white;
}

.filterContainer {
}
