

.userListItem{
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f0f0f0;
}

.badge {
  background-color: lightgrey;
  border-radius: 25%;
  color: black;
  display: inline-block;
  padding-left: 6px;
  padding-right: 6px;
  text-align: center;
  padding-top: 5px;
  font-size: 10px;
  font-family: "Gotham-Medium";
  padding-bottom: 2px;
}

.dropdown {
  margin-bottom: 10px;
  div{
    margin-right: 10px;
  }
}

.emailInvite{
  display: flex;
  flex-direction: column;
}

.emailHeader{
  font-size: 24px;
}

.inviteUser{
  margin: 25px 25px 25px 0;
}

.mainHead {
  font-style: italic;
  font-size: 16px;
  font-family: "Gotham-Book";
  display: flex;
  justify-content: space-between;
}

.header{
  font-family: "Gotham-Book";
  font-style: italic;
  font-size: 16px;
  margin-top: 20px;
}

.mainHeader{
  font-family: "Gotham-Book";
  font-style: italic;
  font-size: 16px;
  margin-top: 35px;
}

.userHeaderTitle {
  border-bottom: 1px solid #f0f0f0;
}

.form {
  display: block;
  button {
    margin:0px 0px 0px auto;
  }
}

.userList{
  background-color: inherit;
}

.userName{
  display:inline-grid;
}

.name{
  font-family: "Gotham-Medium";
  font-size: 1.3em;
  margin: 0px 0px 0px 15px;
}

.email{
  font-family: "Gotham-Medium";
  color: grey;
  margin: 0px 0px 0px 15px;
}

.image {
  margin-left: 15px;
  img {
    height: 100%;
  }
}

.main {
  justify-content: space-between;
  width: 100%;
}

.edit {
  margin-right: 10px;
}
