@import '../../../ui.scss';

.pageTitle {
  font-size: 16px;
  color: $widget-white;
  letter-spacing: 0;
  text-align: center;
  line-height: 48px;
  font-weight: 500;
  margin: 0;
  @media (min-width: 350px) {
    font-size: 20px;
  }
}

.complete {
  padding-bottom: 0;
}

.headerContainer {
  width: 100%;
  background-color: var(--primaryColor);
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
  z-index: 1;
  transform: translateY(-80px);
  animation: move 0.75s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

@keyframes move {
  100% {
    transform: translateY(0);
  }
}

.headerLeftArea {
  min-width: 48px;
  align-self: flex-start;
  .backButton {
    @extend .iconButton;
  }
}

.hideBack {
  opacity: 0;
  visibility: hidden;
}

.headerRightArea {
  min-width: 48px;
  justify-content: flex-end;
  display: flex;
  margin-left: auto;
  align-self: flex-start;
  > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .closeButton {
    @extend .iconButton;
  }
}

.iconButton {
  justify-content: center;
  font-size: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  cursor: pointer;
  height: 48px;
  width: 48px;
  color: $widget-white;
  background-color: transparent;
  line-height: 29px;
  align-items: center;
  margin: 0;
  transition: all 0.15s ease-out;
  svg {
    fill: currentColor;
    height: 14px;
    width: 14px;
  }
  &:hover {
    transform: scale(1.15);
    transition: all 0.15s ease-out;
  }
}

.headerCenterArea {
  flex: 1;
  align-self: flex-start;
  .title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: $widget-grey-dark;
    text-align: center;
  }
}
