@import '../../styles/ui-reskin.scss';

.rowContainer {
  background-color: $color-purple-050;
  box-sizing: border-box;
  display: flex;
  height: calc(100vh - 65px);
  padding: 16px;
}

.subSettingsCol {
  background: $super-white;
  height: fit-content;
  margin-right: 15px;
  max-width: 270px;
  min-width: 270px;
  text-transform: uppercase;
  width: 270px;
}

.subSettingsCard {
  border-top: 1px solid $color-lavender-150;
}

.subSettingsListItem {
  color: $color-grey-400;
  font-size: $small-size;
  font-weight: $semi-bold-weight;
  height: 65px;
  padding-left: 15px;
}

.settingsFormsCol {
  overflow: auto;
  width: 100%;
}

.settingsFormsCard {
  height: 100%;
}
