
@import '../../ui.scss';

.rowContainer {
  height: 100%;
  background-color: $primary-white;
  padding: 15px 15px 0px 15px;
}

.subSettingsCol {
  border-right: 1px solid;
  border-right-color: $primary-dark;
}

.subSettingsCard {
  height: 100%;
}

.subSettingsListItem {
  height: 65px;
  padding-left: 5px;
  font-size: $medium-size;
}

.settingsFormsCol {
  padding-left: 15px;
}

.settingsFormsCard {
  height: 100%;
  //border-top: $card-border-size $primary-blue;
}
