@import '../../ui.scss';

.rowContainer {
  display: flex;
  height: calc(100vh - 65px);
  background-color: $background-color;
  box-sizing: border-box;
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.subSettingsCol {
  max-width: 270px;
  min-width: 270px;
  width: 270px;
  margin-right: 15px;
  //padding-top: 10px;
  background: $primary-white;
  height: fit-content;
}

.subSettingsCard {
  // height: 100%;
  border-top: 1px solid $primary-grey;
}

.subSettingsListItem {
  height: 65px;
  padding-left: 15px;
  color: $primary-darkgrey;
}

.settingsFormsCol {
  width: 100%;
  background: #fafafa;
  overflow: auto;
}

.settingsFormsCard {
  height: 100%;
  //border-top: $card-border-size $primary-blue;
}
