@import "../../ui.scss";

.mainIntelligenceContainer {
  padding: 15px 15px 0 10px;
}

.header {
  padding: 5px 5px 0;
  @media screen and (max-width: 450px) {
    padding: 5px 10px 0;
  }
}

.title {
  display: flex;
  align-items: center;
  height: 35px;
  background: $primary-white;
  padding-left: 10px;
  margin-bottom: 30px;
  font-size: $medium-size;
  b {
    padding-left: 5px;
  }
}

.cards {
  cursor: pointer;
  //margin-bottom: 20px;
  div:not(:last-child) {
    margin-right: 10px;
    flex: 1;
  }
}

.padding {
  padding: 5px;
}

.cardHeader {
  padding: 20px;
}

.disabledPage {
  width: 100%;
  height: calc(100vh - 160px);
  position: relative;
  overflow: hidden;
  &_text {
    font-size: 20px;
    line-height: 1.5em;
    width: 700px;
    color: $inactive-color;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }
}
