
@import '../../../ui.scss';

.default {
  cursor: pointer;
  border: none;
  font-size: $font-size;
  font-weight: 600;
  height: 40px;
}

.notFlat {
  color: $primary-white;
  background-color: $primary-color;
  text-transform: uppercase;
  &:hover {
    background-color: $primary-color-hover;
  }

  &:focus, &:active {
    outline: none;
    box-shadow: 0 0 0 2px lighten($primary-color, 20%);
  }
}


.flat {
  background-color: transparent;
  color: $primary-dark;
  &:not(.disabled) {
    &:hover {
      color: $primary-color-hover;
    }
  }

  &:focus, &:active {
    outline: none;
  }
}

.disabled {
  color: $disabled-color;
  cursor: not-allowed;
}
