
@import '../../../ui.scss';

.default {
  border: none;
  color: white;
  text-transform: uppercase;
  background-color: $primary-color;
  font-size: $font-size;
  font-weight: 600;
  height: 40px;
  &:active {
    border: none;
  }

  &:hover {
    border: none;
  }
}
