@import '../../../ui.scss';

:root {
  #{--primaryButtonColor}: $primary-color;
  #{--secondaryButtonColor}: $clr-dark-blue;
  #{--tertiaryButtonColor}: $primary-green;
}

.hub {
  #{--primaryButtonColor}: $electron-button-primary;
}

.baseline {
  font-size: 12px;

  font-family: $dashboard-font;
  background-color: var(--primaryButtonColor);
  color: white;

  vertical-align: middle;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  border: none;

  padding: em(12px) 1.5em;
  margin: 0 em(5px) 0 0;
  line-height: 1em;
  text-align: center;

  transition: background-color 0.3s ease, color 0.3s ease;
  composes: letterSpacing from '../../../fonts.scss';

  &:last-child {
    margin-right: 0;
  }
}

.default:hover {
  background-color: darken($primary-color, 5%);
  background-color: var(--primaryButtonColor);
  color: darken(white, 5%);
}

.secondary {
  color: white;
  background-color: var(--secondaryButtonColor);
}

.secondary:hover {
  color: white;
  background-color: darken($clr-dark-blue, 5%);
}

.tertiary {
  color: white;
  background-color: var(--tertiaryButtonColor);
}

.tertiary:hover {
  color: white;
  background-color: darken($primary-green, 5%);
}

.color-red {
  color: white;
  background-color: $primary-color;
}

.color-red:hover {
  color: white;
  background-color: $primary-color-hover;
}

.color-green {
  color: white;
  background-color: $primary-green;
}

.color-green:hover {
  color: white;
  background-color: darken($primary-green, 5%);
}

.color-blue {
  color: white;
  background-color: $primary-blue;
}

.color-blue:hover {
  color: white;
  background-color: darken($primary-blue, 5%);
}

.color-darkblue {
  color: white;
  background-color: $clr-dark-blue;
}

.color-darkblue:hover {
  color: white-white;
  background-color: darken($clr-dark-blue, 5%);
}

.color-yellow {
  color: white;
  background-color: $primary-yellow;
}

.color-yellow:hover {
  color: white;
  background-color: darken($primary-yellow, 5%);
}

.color-dark {
  color: white;
  background-color: $primary-dark;
}

.color-dark:hover {
  color: white;
  background-color: darken($primary-dark, 5%);
}

.color-grey {
  color: $primary-white;
  background-color: $background-color;
}

.color-grey:hover {
  color: $primary-white;
  background-color: darken($background-color, 5%);
}

.color-darkgrey {
  color: $clr-dark-grey;
  background-color: $clr-bg-dark-grey;
}

.color-darkgrey:hover {
  color: darken($clr-dark-grey, 5%);
  background-color: darken($clr-bg-dark-grey, 5%);
}

.color-white {
  color: $clr-dark-grey;
  background-color: $primary-white;
}

.color-white:hover {
  color: darken($clr-dark-grey, 5%);
  background-color: darken($primary-white, 5%);
}

.border-blue {
  border: 1px solid $primary-blue;
  color: $primary-blue;
  background-color: transparent;

  &[disabled] {
    border-color: $background-color;
  }
}

.border-blue:hover {
  color: white;
  background: $primary-blue;
}

.positive {
  composes: color-green;
}

.negative {
  composes: color-red;
}

.icon {
  margin-right: 0.5em;

  &:last-child {
    margin-right: 0;
  }
}

.iconRight {
  margin-left: 0.5em;
}

.text {
  display: inline-block;
}

.compact {
  padding: em(8px) em(14px);
}

.dense {
  text-transform: capitalize;
  padding-top: 0.65em;
  padding-bottom: 0.6em;
  height: 28px;
  font-size: 11px;
  composes: fontMedium from '../../../fonts.scss';
}

.size-sm {
  font-size: 11px;
}

.size-md {
  font-size: 14px;
}

.size-lg {
  font-size: 15px;
}

.size-xlg {
  font-size: 16px;
}

.rounded {
  border-radius: 2em;
}

.fluid {
  display: block;
  width: 100%;
  text-align: center;
}

.upper-case {
  text-transform: uppercase;
}

.disabled {
  cursor: not-allowed;
  color: $inactive-color;
  background-color: $background-color !important;

  &:hover {
    color: $inactive-color !important;
    background-color: $background-color !important;
  }
}

.flat {
  display: flex;
  background-color: transparent;
  color: $primary-dark;
  box-shadow: none;

  &:not(.disabled) {
    &:hover {
      color: $primary-color-hover;
      background-color: transparent;
    }
  }

  &:focus,
  &:active {
    outline: none;
  }
}

.raised {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.bordered {
  border: 1px solid;
}
