@import '../../../../ui.scss';

.container {
  display: flex;
  align-items: center;
  composes: fontMedium from '../../../../fonts.scss';
}

.dayOfWeek {
  font-size: 19px;
  margin-right: 10px;
  text-transform: uppercase;
  width: 133px;
}

.monthDay {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;

  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;

  border-right: 0.13em solid $primary-grey;
  box-sizing: border-box;
}

.month {
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

.number {
  font-size: 19px;
  text-align: center;
  width: 100%;
}

.icon {
  padding-left: 5px;
}
