@import '../../../../styles/ui-reskin.scss';

.wrapper {
  background-color: #fafafa;
  border-radius: 4px;
  box-shadow: $box-shadow-3;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pill {
  cursor: pointer;
  display: inline-block;

  & > button {
    background: transparent;
    border: none;
    color: $color-grey-400;
    cursor: pointer;
    font-size: $medium-size;
    font-weight: $medium-weight;
    letter-spacing: 0.02px;
    line-height: 20px;
    outline: none !important;
    padding: 8px 0px;
    text-align: center;
    width: 100px;
  }

  &.active,
  &:hover {
    background-color: $color-lavender-150;
    border-radius: 4px;
    box-shadow: $box-shadow-3;

    & > button {
      border: 1px solid $color-lavender-500;
      border-radius: 4px;
      color: $color-lavender-500;
    }
  }
  &:hover:not(.active) {
    background-color: $color-lavender-050;
    border-radius: 4px;
    box-shadow: $box-shadow-3;

    & > button {
      border: 1px solid $color-lavender-500;
      border-radius: 4px;
      color: $color-lavender-500;
    }
  }
}
