@import '../../../ui';

.alert {
  display: flex;
  align-items: center;
  position: absolute;
  max-width: 250px;
  width: 250px;
  height: auto;
  border-radius: 3px;
  top: 68px;
  left: 85%;
  visibility: hidden;
  //transition: opacity 0.3s, margin-top 0.3s;
  box-shadow: 10px 10px 15px -10px rgba(0, 0, 0, 0.75);
  animation: slidein 1.5s
}

.textContainer {
  max-width: 195px;
  word-wrap: break-word;
}

.iconContainer {
  margin-left: auto;
}
.alert--show--error {
  visibility: visible;
  opacity: 1;
  margin-top: 0px;
  border: 1px solid $primary-color;
  border-left: 10px solid $primary-color;
  background-color: $primary-white;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-color: $primary-dark;
  font-size: 18px;
  font-family: $medium-font;
}

.alert--show--success {
  visibility: visible;
  opacity: 1;
  margin-top: 0px;
  border: 1px solid $primary-green;
  border-left: 10px solid $primary-green;
  background-color: $primary-white;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-color: $primary-dark;
  font-size: 18px;
  font-family: $medium-font;
}

@keyframes slidein {
  from {
    opacity: 0.5;
    transform: translateX(20rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.alert--hidden {
  visibility: hidden;
}
