@import '../../../styles/ui';

.alert {
  align-items: center;
  border-radius: 3px;
  box-shadow: 10px 10px 15px -10px rgba(0, 0, 0, 0.75);
  display: flex;
  height: auto;
  margin-bottom: 5px;
  max-width: 250px;
  padding-bottom: 15px;

  padding-left: 20px;
  transform: translateX(0);
  transition: 0.1s;

  transition-timing-function: ease-in;
  visibility: hidden;
  width: 250px;
}

.title {
  color: $primary-dark;
  font-size: 16px;
  padding-bottom: 10px;
  padding-top: 15px;
  text-transform: capitalize;
}
.textContainer {
  max-width: 225px;
  word-wrap: break-word;
}

.alertBodyText {
}

.clickableLink {
  color: $primary-green;
  padding-top: 10px;
  text-decoration: none;
  &:hover {
    color: darken($primary-green, 10%);
    cursor: pointer;
  }
}
.iconContainer {
  color: $inactive-color;
  cursor: pointer;
  margin-left: auto;
  position: absolute;
  right: 20px;
  top: 2px;
}

.successHover {
  &:hover {
    color: $primary-green;
  }
}

.errorHover {
  &:hover {
    color: $primary-color;
  }
}

.alert--error {
  background-color: $primary-white;
  border: 1px solid $primary-color;
  border-left: 10px solid $primary-color;
  margin-top: 0;
  opacity: 1;
  transform: translateX(-5em);
  transition: 0.1s;

  transition-timing-function: ease-out;
  visibility: visible;
}

.alert--success {
  background-color: $primary-white;
  border: 1px solid $primary-green;
  border-left: 10px solid $primary-green;
  margin-top: 0;
  opacity: 1;
  transform: translateX(-5em);
  transition: 0.1s;

  transition-timing-function: ease-out;
  visibility: visible;
}

.alert--hidden {
  visibility: hidden;
}
