@import '../../styles/ui-reskin.scss';

.mainRowWrapper {
  align-items: center;

  background: $color-grey-050;
  box-shadow: 1px 1px 2px 0 rgba(128, 128, 128, 0.11);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 16px;
  padding: 16px;

  & > div {
    padding-left: 10px;
    padding-right: 10px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  .col {
    align-self: flex-end;
    flex: 3;
    max-width: 460px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
}

.navDropdownListWrapper {
  margin-bottom: 16px;
}
