@import '../../ui.scss';

.row {
  margin-bottom: 10px;
}

.wrapper {
  height: 100%;
}

.gridWrapper {
  height: auto;
  padding: 0;
}

.mainRowWrapper {
  @extend .row;
  padding: 0 20px;
  background: $primary-lightgray;
  border-radius: 0 0 4px 4px;
  box-shadow: 1px 1px 2px 0 rgba(128, 128, 128, 0.11);

  & > div {
    padding-left: 10px;
    padding-right: 10px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  .col {
    padding-top: 20px;
    padding-bottom: 20px;
    align-self: flex-end;
    flex: 3;
    max-width: 460px;
  }
}

.navDropdownListWrapper {
  margin-bottom: 1px;
  border-radius: 4px 4px 0 0;
  background-color: $primary-white;
  box-shadow: 1px 1px 2px 0 rgba(128, 128, 128, 0.11);
  padding: 22px 24px;
}
