@import '../../ui.scss';

.callDisplayContainer {
  background: $primary-white;
  box-sizing: border-box;
  height: auto;
  padding: 15px;
  position: relative;
  width: 450px;

  button {
    border-radius: 0;
    box-shadow: none;
    height: 50px;
    width: 100%;
  }
}

.incoming {
  border-top: 5px solid $primary-green;
}

.ended {
  border-top: 5px solid #bcbcbc;
}

.missed {
  border-top: 5px solid $primary-color;
}

.headerContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}

.headerContainerUnknown {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}

.callerAvatar {
  padding-bottom: 35px;
  position: absolute;

  > div > div {
    height: 8rem;
    min-height: 8rem;
    min-width: 8rem;
    width: 8rem;
  }
}

.callerAvatarUnknown {
  align-items: center;
  background: lighten($primary-darkgrey, 10%);
  border-radius: 50%;
  display: flex;
  height: 110px;
  justify-content: center;
  position: absolute;
  top: -58px;
  width: 110px;

  span {
    color: #fafafa;
    font-size: 3em;
  }

  img {
    height: 145px;
    width: 145px;
  }
}

.patientInfoContainer {
  display: inline-block;
  padding-bottom: 30px;
  width: 100%;
}

.patientInfoContainerUnknown {
  display: inline-block;
  width: 100%;
}

.patientNameAge {
  composes: header from '../../fonts.scss';
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  text-transform: capitalize;
}

.patientBirthday {
  composes: subHeaderMedium from '../../fonts.scss';
  display: flex;
  justify-content: center;
}

.iconContainer {
  animation: pulse 1s ease infinite;
  color: $primary-dark;
  //disabled for now!
  display: none;
  position: absolute;
  top: 0;
}

.callBody {
  padding-left: 10px;
  padding-right: 10px;
}

.appointmentInfoContainer {
  composes: subHeaderMediumSmall from '../../fonts.scss';
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  &_last {
    padding-bottom: 5px;
    text-align: center;
    width: 160px;
  }
  &_next {
    margin-left: auto;
    text-align: center;
    width: 160px;
  }

  &_date {
    composes: subHeaderMedium from '../../fonts.scss';
    padding-top: 5px;
    &_hover {
      &:hover {
        color: $primary-blue;
        cursor: pointer;
      }
    }
  }
  &_dateLast {
    composes: subHeaderMedium from '../../fonts.scss';
    padding-top: 5px;
    &_hover {
      &:hover {
        color: $primary-blue;
        cursor: pointer;
      }
    }
  }
}

.callInfo {
  display: flex;
  padding-bottom: 15px;
  &_header {
    border-top: 1px solid #efefef;
    composes: header from '../../fonts.scss';
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 20px;
  }
  &_content {
    height: 100%;
  }

  &_content2 {
    height: 100%;
    padding-left: 35px;
  }

  &_body {
    align-items: center;
    display: flex;
    padding-left: 10px;
    padding-top: 10px;
  }

  &_desc {
    composes: subHeader from '../../fonts.scss';
    width: 90px;
  }

  &_data {
    composes: subHeaderSmall from '../../fonts.scss';
  }
}

.toggleContainer {
  align-items: center;
  border-top: 1px solid $primary-grey;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  padding-top: 20px;
  width: 100%;
  &_text {
    composes: font-medium from '../../fonts.scss';
    margin-left: auto;
    padding-right: 5px;
  }
}

.closeIcon {
  color: grey;
  //margin-left: auto;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 900;
  padding-right: 10px;
  position: absolute;
  right: 0;
  top: 5px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
