@import '../../../../styles/ui.scss';

.header {
  color: $primary-dark;
  composes: header from '../../../../styles/fonts.scss';
  text-align: center;
}

.text {
  color: $primary-darkgrey;
  font-size: 14px;
  padding: 10px;
  text-align: center;
}

.backToLoginButton {
  font-size: 14px;
}
