@import '../../../../ui.scss';

.header {
  composes: header from '../../../../fonts.scss';
  text-align: center;
  color: $primary-dark;
}

.text {
  font-size: 14px;
  color: $primary-darkgrey;
  padding: 10px;
  text-align: center;
}

.backToLoginButton {
  font-size: 14px;
}
