@import '../../../../styles/ui.scss';

.appointmentContainer {
  align-items: stretch;
  background: none;
  border: none;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font: inherit;
  outline: inherit;
  padding: 0;
  position: absolute;
  text-align: left;
}

.showAppointment {
  border-color: $primary-white;
  border-style: solid;
  border-width: 1px 1px 0;
  box-sizing: border-box;
  margin-bottom: 2px;
  overflow: hidden;
  padding: 4px;
  transition: 300ms all cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}

.showMark {
  cursor: default;
}

.mark {
  cursor: default;
  font-size: $extra-small-size;
  letter-spacing: 0.5px;
  overflow: auto;
  &_note {
    white-space: normal;
  }
}

.note {
  box-sizing: border-box;
  composes: subHeaderExtraSmall from '../../../../styles/fonts.scss';
  display: flex;
  padding-left: 5px;
  padding-top: 2px;
  width: 100%;
  &_text {
    color: $primary-dark;
    white-space: normal;
    width: inherit;
    word-wrap: break-word;
  }
}

.box {
  color: $primary-white;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}

.nameContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;

  &_name {
    @extend .box;
    composes: subHeaderMediumSmall from '../../../../styles/fonts.scss';
    font-size: $extra-small-size;
  }

  &_hours {
    @extend .box;
    composes: subHeaderExtraSmall from '../../../../styles/fonts.scss';
    flex: 1;
    min-width: 56px;
  }
}

.icon {
  color: $primary-white;
  display: flex;
  float: right;
  font-size: $extra-small-size;
  opacity: 0.6;
  padding-left: 2px;
}

.paddingText {
  padding-right: 5px;
}

.appPopover > :global(svg.Popover-tip) {
  fill: white;
  filter: drop-shadow(0 2px 38px rgba(0, 0, 0, 0.14));
}

.patientNotFound {
  color: red;
}

.patientNotFoundIcon {
  position: absolute;
  right: 5px;
  top: 5px;
}
